<!--status-->
<!--<div ui-content-for="title"></div>-->
<div class="navbar navbar-app navbar-absolute-top">
	<div class="clearfix top-title">
		<div class="navbar-brand navbar-brand-center" >
			<span>Status({{acReg}})</span>
		</div>
		<div class="btn-group btn-group-left">
			<div class="btn" ng-click="go('back')">
				<i class="icon-maoc icon-back" ></i>
			</div>
		</div>
	</div>

</div>
<ul class=" flight-nav-status no-other">
	<li>DDI {{ddLen}}</li>
	<li>Pending {{pendLen}}</li>
	<!-- <li>others {{otherLen}}</li> -->
</ul>
<div class="flightInfo app-body">
	<div class="scrollable">
		<div class="scrollable-content">

			<!--下拉刷新时显示 -->
			<!--<div  ng-show="pullToRefreshActive && isList" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
				<i class="fa fa-refresh fa-spin fa-fw"></i>数据加载中...
			</div>-->

			<!-- 数据为空时显示 -->
			<div class="backup-airport no-data"
				 ng-hide="backRouter || (acStatus.length) || netWorkErr">
				<img src="dist/images/no-found.png" width="256" alt="未找到数据" />
			</div>


			<!--on-finish-render-filters-->
			<div class="flight-wrap">
				<div class="pubFlightList flightListStatus" ng-repeat="status in acStatus" on-finish-render-filters>
					<div class="first-row">
						<span class="jh cardType" ng-if="status.isNrc" ng-click="go('nrcDetail','',{nrcId:status.defectId,status:'',processId:''})"><span >Nrc No</span> : {{ status.defectNo }}</span>
						<span class="jh cardType"  ng-if="!status.isNrc"><span>defectNo</span> : {{ status.defectNo }}</span>
						<span class="jh cardType">Status: {{ status.status }}</span>
						<div class="pull-right flight-date">{{ status.dateFound | date:'yyyy-MM-dd'}}</div>
					</div>
					<div class="first-row" ng-if="!status.isNrc">
						<span ng-if="status.showDDno && status.ddNo">DDI NO.: {{status.ddNo}}</span>
						<span ng-if="status.showPendingno && status.pendNo">Pending NO.: {{status.pendNo}}</span>

					</div>
					<!-- <div class="status-description" ng-bind-html="renderHtml(status.descriptionZHCN)"></div> -->

					<!-- <div class="status-description">
                        <html-compile html="{{status.descriptionZHCN}}"></html-compile>
                   </div> -->
					<div class="status-description" ng-show="status.faultReportChn || status.faultReportEng">
						<span>Desc: </span>
						<p>{{status.faultReportChn}}{{status.faultReportEng}}</p>
					</div>
					<!--<div class="status-description" ng-show="status.type=='TLB'">-->
					<!--<div ng-show="status.rep">-->
					<!--<span>Rep:</span>-->
					<!--<p>{{status.rep}}</p>-->
					<!--</div>-->
					<!--<div ng-show="status.act">-->
					<!--<span>Act:</span>-->
					<!--<p>{{status.act}}</p>-->
					<!--</div>-->
					<!--</div>-->

					<div class="status-description">
						<!--<span>Desc:</span>-->
						<!--<p>{{status.faultReportChn}}</p>-->
						<switch-Log ng-show="status.logList.length">
							<div class="dash-border"></div>
							<span>Log:</span>
							<p>{{status.logList[0].workLog}}</p>
							<span class="angle-down"><i class="fa fa-angle-up"></i></span>
							<ul ng-show="isLogDisplayed">
								<li ng-repeat="workLog in status.logList" ng-show="$index > 0">{{workLog.workLog}}</li>
							</ul>
						</switch-Log>
					</div>

				</div>
			</div>

		</div>
	</div>


</div>
 
