
<div ui-content-for="title">
	<div class="clearfix">
		<div class="navbar-brand navbar-brand-center" >
			收藏
		</div>
		<div class="btn-group pull-left">
			<div  class="btn">
				<i class="icon-maoc icon-back" ng-click="go('back', 'slideRight')"></i>
			</div>
		</div>
	</div>
</div>
<div class="flightInfo app-body" ng-class="{loading: loading}">
		<div ng-show="loading && !flights || flights.length && loading" class="app-content-loading">
			<i class="fa fa-spinner fa-spin loading-spinner"></i>
		</div>
		<div class="scrollable">
			<div class="scrollable-content"  ui-scroll-bottom="getNextPage()"> <!--im-pull-to-refresh refresh-function="getAllFlightInfo({time:flightDate})"-->
				<div ng-show="pullToRefreshActive" class="text-center"><i class="fa fa-refresh fa-spin fa-2x fa-fw margin-bottom"></i></div>
					
				<!-- 数据为空时显示 -->
				<div class="backup-airport no-data" ng-hide="!flights||flights.length">
					<img src="dist/images/no-found.png" alt="未找到数据" />
				</div>
				
				<div class="flight-wrap"  on-finish-render-filters 
					ng-repeat="flight in flights | orderBy:['predicate1','predicate2']  ">
					

					<!-- 收藏按钮 -->
					<div class="icon-maoc flight-favorite"
						ng-class="{true:'icon-favorite-orange', false:'icon-favorite-blue'}[!!favorited]" 
						ng-click="favorite($event);favorited=!favorited">
						<input type="hidden" ng-model="flightId" ng-value="flight.flightId">
					</div>
					
					<div class="flightList" swipe-left
						ng-click = "go('/flightDetail/'+flight.flightId,'slideLeft',flight.flightId)" >
						<!-- 已收藏小图标 -->
						<i class="icon-maoc icon-favorited favorited" ng-if="favorited"></i>
						
						<div class="first-row">
							<span class="jh">{{ flight.flightNo }}</span> {{flight.acReg}}
							<div class="pull-right flight-date">{{ flight.flightDate | date:'yyyy-MM-dd'}}</div>
						</div>
						<div class="flight-time clearfix">
							<div class="pull-left">
								{{flight.atd || flight.etd || flight.std | date:'HH:mm'}}
								<i class="real" ng-show="flight.atd">实</i>
								<i class="advance" ng-show="!flight.atd && flight.etd">预</i>
								<i class="advance" ng-show="!flight.atd && !flight.etd && flight.std">计</i>
	
							</div>
							<div class="line pull-left">
	
								<div class="backup" >
									<span ng-show="flight.flgCs">撤</span>
									<span ng-show="!flight.flgCs && flight.flgVr">
										{{ (flight.flgVr | uppercase) == 'VC' ? '备' : '返'}}
									</span>
									
									<span ng-show="!flight.flgCs && !flight.flgVr && flight.flgDelay">延</span>
									
								</div>
	
							</div>
							<div class="pull-right">
								{{flight.ata || flight.eta || flight.sta | date:'HH:mm'}}
								<i class="real" ng-show="flight.ata">实</i>
								<i class="advance" ng-show="!flight.ata && flight.eta">预</i>
								<i class="advance" ng-show="!flight.ata && !flight.eta && flight.sta">计</i>
	
							</div>
							
						</div>
						
						<div class="place clearfix">
							<div class="pull-left">
								<div class=" text-ellipsis  inline-block vertical-bottom  city-width">	
									{{ _4codeCityName[flight.departureAirport] }}
								</div>
								<i class="air-position" ng-if="flight.departurePosition">{{ flight.departurePosition }}</i>
							</div>
							
							
							<div class="pull-right ">
								<div class=" text-ellipsis inline-block vertical-bottom city-width">
									{{ _4codeCityName[flight.arrivalAirport] }}
									
								</div>
								<i class="air-position" ng-if="flight.arrivalPosition">{{ flight.arrivalPosition }}</i>
							</div>
							
							
						</div>
					</div>	
					
				</div>
			</div>
	</div>
</div>