<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center">
		{{ currentCity }}<translate>flight.airport</translate>
	</div>
	<div class="btn-group btn-group-left">
		<div class="btn" ng-click="go('back', 'slideRight')">
			<i class="icon-maoc icon-back" ></i>
		</div>
	</div>
</div>
<div class="scrollable" >
	<div class="scrollable-content flight-detail-wrap flight-report">
		<h4 translate="flight.report"></h4>
		<div class="info-wrap" ng-repeat="report in flightWeather">			
			<div class="list-group-item no-bottom-border">
				<p>{{ report.weatherDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
				<span class="blue">{{ report.type=='SA' ? type.live : type.forecast}}：</span>{{ report.content }}
			</div>
		</div>	
	</div>
</div>