<div class="pubFlightList" swipe-left click-function="go('flightStatus.flightDetail', 'slideLeft', {
								flightId: flight.flightId,
								openInFlightInfo:true
					})">

	<!-- 已收藏小图标 -->
	<i class="icon-maoc icon-favorited favorited" ng-if="flight.favorite"></i>

	<div class="first-row">
		<span class="jh">{{ flight.flightNo }}</span> {{flight.acReg}}
		<div class="pull-right flight-date">{{ flight.flightDate | date:'yyyy-MM-dd'}}</div>
	</div>
	<div class="flight-time clearfix">
		<div class="pull-left">
			{{flight.atd || flight.etd || flight.std | date:'HH:mm'}}
			<i class="real" ng-show="flight.atd" translate="flight.actual"></i>
			<i class="advance" ng-show="!flight.atd && flight.etd" translate="flight.projected"></i>
			<i class="advance" ng-show="!flight.atd && !flight.etd && flight.std" translate="flight.planned"></i>

		</div>
		<div class="line pull-left" ng-class="{'gray-line':flight.flgCs, 'yellow-line':!flight.flgCs && !flight.flgVr && flight.flgDelay,'red-line': !flight.flgCs && flight.flgVr}">

			<div class="backup">
				<span ng-show="flight.flgCs" translate="flight.cancel"></span>
				<span ng-show="!flight.flgCs && flight.flgVr">
									{{ (flight.flgVr | uppercase) == 'VC' ? $parent.localConfig.vc : $parent.localConfig.rc}}
								</span>

				<span ng-show="!flight.flgCs && !flight.flgVr && flight.flgDelay" translate="flight.delay"></span>
			</div>

		</div>
		<div class="pull-right">
			{{flight.ata || flight.eta || flight.sta | date:'HH:mm'}}
			<i class="real" ng-show="flight.ata" translate="flight.actual"></i>
			<i class="advance" ng-show="!flight.ata && flight.eta" translate="flight.projected"></i>
			<i class="advance" ng-show="!flight.ata && !flight.eta && flight.sta" translate="flight.planned"></i>

		</div>

	</div>

	<div class="place clearfix">
		<div class="pull-left">
			<div ng-show="!lanZh" class=" text-ellipsis  inline-block vertical-bottom  city-width">
				{{ flight.departureAirport }}
			</div>
			<div ng-show="lanZh" class=" text-ellipsis  inline-block vertical-bottom  city-width">
				{{ _4codeCityName[flight.departureAirport]||flight.departureAirport }}
			</div>
			<i class="air-position" ng-if="flight.departurePosition">{{ flight.departurePosition }}</i>
		</div>

		<div class="pull-right ">
			<div ng-show="!lanZh" class=" text-ellipsis inline-block vertical-bottom city-width">
				{{flight.arrivalAirport}}
			</div>
			<div ng-show="lanZh" class=" text-ellipsis inline-block vertical-bottom city-width">
				{{ _4codeCityName[flight.arrivalAirport]||flight.arrivalAirport}}
			</div>
			<i class="air-position" ng-if="flight.arrivalPosition">{{ flight.arrivalPosition }}</i>
		</div>

	</div>
	</div>