<div class="flightList" swipe-left ng-class="{'background-even':(flights.indexOf(flight)+2)%2==0}"
     click-function="clickFunc(flight)">
    <!-- 已收藏小图标 go('faultFlight.newfault', '', {flight: flight, tr: true, dmStatus:true}) -->
    <i class="icon-maoc icon-favorited favorited-list" ng-if="flight.favorite"></i>
    <ul class="nav flight-nav-pills-list" ng-if="flight.jobType != 'STA'">
        <li class="custom-lineheight pill-li go-fault" ng-class="{'no-trpo': !flight.departureStationJob.jobType && !flight.jobType}"
            ng-if="isNewFault" ng-click="flei_click(flight)">
            {{flight.departureStationJob.jobType || flight.jobType}}
        </li>
        <li ng-class="{'pill-li':!flight.acReg}">
            <span style="text-overflow: inherit;">{{ flight.flightNo }}</span>
            <span style="text-overflow: inherit;" ng-show="flight.acReg">{{flight.acReg}}</span>
        </li>
        <li ng-class="{'pill-li': (!flight.departurePosition && !flight.Bay)}">
            <span ng-show="isNewFault">{{_4codeCityName[flight.departureAirport4Code] || flight.departureAirport4Code}}</span>
            <span ng-show="lanZh && !isNewFault">{{_4codeCityName[flight.departureAirport] || _4codeCityName[flight.departureAirport4Code] || flight.departureAirport}}</span>
            <span ng-show="flight.departurePosition || flight.Bay">{{flight.departurePosition || flight.Bay}}</span>
        </li>
        <li ng-class="{'pill-li': (!flight.arrivalPosition && !flightBay2)}">
            <span ng-show="isNewFault">{{_4codeCityName[flight.arrivalAirport4Code] || flight.arrivalAirport4Code}}</span>
            <span ng-show="lanZh && !isNewFault">{{_4codeCityName[flight.arrivalAirport] || _4codeCityName[flight.arrivalAirport4Code] || flight.arrivalAirport }}</span>
            <span ng-show="flight.arrivalPosition || flight.Bay2">{{flight.arrivalPosition || flightBay2}}</span>
        </li>
        <li><span>{{flight.atd || flight.etd || flight.std | date:'HH:mm'}}</span>
            <span>
								<i class="real" ng-show="flight.atd" translate="flight.actual"></i>
								<i class="advance" ng-show="!flight.atd && flight.etd" translate="flight.projected"></i>
								<i class="advance" ng-show="!flight.atd && !flight.etd && flight.std"
                                   translate="flight.planned"></i>
							</span></li>
        <li><span>{{flight.ata || flight.eta || flight.sta | date:'HH:mm'}}</span>
            <span>
                <i class="real" ng-show="flight.ata" translate="flight.actual"></i>
                <i class="advance" ng-show="!flight.ata && flight.eta" translate="flight.projected"></i>
                <i class="advance" ng-show="!flight.ata && !flight.eta && flight.sta"
                   translate="flight.planned"></i>
            </span></li>
        <li class="pill-li custom-lineheight">
            <span ng-show="flight.flgCs" class="gray" translate="cancel"></span>
            <span ng-show="!flight.flgCs && flight.flgVr" class="red">
								{{ (flight.flgVr | uppercase) === 'VC' ? $parent.localConfig.vc : $parent.localConfig.rc}}
							</span>

            <span ng-show="!flight.flgCs && !flight.flgVr && flight.flgDelay" class="yellow"
                  translate="flight.delay"></span>
            <span ng-show="!flight.flgCs && !flight.flgVr && !flight.flgDelay" translate="flight.normal"></span>
        </li>
<!--        go('faultFlight.newfault', '', {flight: flight,dmStatus:true})-->
        <li class="custom-lineheight pill-li go-fault" ng-class="{'no-trpo': !flight.arrivalStationJob.jobType}"
            ng-if="isNewFault" ng-click="right_click(flight)">
            {{flight.arrivalStationJob.jobType || '----'}}
        </li>
    </ul>

</div>