
<!--故障详情-->
<ui-view name=""></ui-view>


<!--标题栏-->
<!--标题栏-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{title}}
    </div>
    <div class="btn-group btn-back" style="z-index: 1000">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>

<div class="app-body scrollable damage-ref" ui-scroll-bottom="readPagePdf()">

    <img ng-src="data:image/{{data.type}};base64,{{data.content}}" ng-if="data.type">
    <img ng-src="{{data.content}}" ng-if="!data.type">
</div>
