<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        损伤报告
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('index')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
    <div class="btn-group btn-group-right" ng-click="go('damageDraftDetail','',{needRequest:false})">
        <div class="btn record-btn">
            <span class="record">报告</span>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()" >
        <div class="damage-list">
            <div class="damage-list-li" ng-repeat="item in draftList"
                 damage-swipe-del
                 ng-click="go('damageDraftDetail','',{listItemInfo: item,needRequest:true})"
                 >

                <!--ng-click="go('damageDraftDetail','',{listItemInfo: item,needRequest:true})"-->

                <div class="delete" ng-show="true"
                     ng-click="deleteDraft(item,$index,$event)"> 删除
                </div>
                <div>
                    <div class="first-line">
                        <span>{{item.drNo}}</span>
                        <span class="aircraft">{{item.aircraft}}</span>
                    </div>
                    <p class="sec-line">
                        DESC:&nbsp; {{item.cnDescribe}}
                    </p>
                    <div class="third-line">
                    <span ng-repeat="filterTypeNumber in item.filterTypes" class="damage-type">
                        <span ng-repeat="filerItem in damageTypeDicArr | filter:{value:filterTypeNumber}"
                              ng-if="filerItem.value == filterTypeNumber">
                            {{filerItem.name}}
                        </span>
                    </span>

                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
