<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        报告内容
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('damageDraftList',{})">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content">
    <form name="myForm" novalidate>
       <div class="damage-draft-detail">
           <div class="section-1">
               <div class="header">基础信息</div>
               <!--https://www.cnblogs.com/wolf-sun/p/4614532.html-->
               <flight-no info="info.toolInfos.flightNoInfo"></flight-no>
               <damage-ata info="info.toolInfos.ataInfo"></damage-ata>
               <div class="item">
                   <span class="title">区域</span>
                   <input class="right" ng-model="info.damageInfo.zone" type="text" placeholder="请填写区域">
               </div>

               <damage-workorder dr-date="info.toolInfos.drDate" info="info.toolInfos.workOrderInfo" flight-no-info="info.toolInfos.flightNoInfo"></damage-workorder>
               <div class="item">
                   <div class="title">
                       <span class="">维护级别</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">{{info.toolInfos.workOrderInfo.type}}</div>

                   <!--<input class="right" ng-model="info.toolInfos.workOrderInfo.type" type="text" disabled placeholder="">-->
               </div>
               <damage-workcard info="info.toolInfos.workcardInfo" work-order-info="info.toolInfos.workOrderInfo"></damage-workcard>
               <div class="item">
                   <div class="title" style="width: 35%!important;">
                       <span class="">接近方式</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right" style="width: 63% !important;">
                       <label><input type="radio" name="way" value="1" ng-model="info.damageInfo.checkType" ng-checked="info.damageInfo.checkType==1">内部检查</label>
                      <label>
                          <input type="radio" name="way" value="2" ng-model="info.damageInfo.checkType" ng-checked="info.damageInfo.checkType==2">
                          外部检查
                      </label>
                  </div>

               </div>
               <div class="item">
                   <div class="title" style="width: 35%!important;">
                       <span class="">外观是否可见</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right" style="width: 63% !important;">
                       <label>
                           <input type="radio" name="defect" value="1" ng-model="info.damageInfo.defect" ng-checked="info.damageInfo.defect==1">
                           可见
                       </label>
                       <label>
                           <input type="radio" name="defect" value="2" ng-model="info.damageInfo.defect" ng-checked="info.damageInfo.defect==2">
                           不可见
                       </label>
                   </div>

               </div>
               <div class="item">
                   <div class="title">
                       <span class="">检查方法</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">
                       <div class="check-method">
                          <span ng-repeat="item in info.toolInfos.checkMethods" ng-if="item.value == info.damageInfo.checkMethod">
                              {{item.name}}
                          </span>
                           <select ng-model="info.damageInfo.checkMethod" required>
                               <option value="1">一般目视</option>
                               <option value="2">详细目视</option>
                               <option value="3">NDT</option>
                               <option value="4">其他</option>
                               <option value="5">敲击检查</option>
                           </select>
                       </div>
                       <img class="triangle" src="dist/images/damage/Triangle@2x.png">

                   </div>
               </div>
               <div class="item" ng-if="info.damageInfo.checkMethod==3">
                   <span class="title">NDT类别</span>
                   <div class="right">
                       <div class="check-method">
                          <span ng-repeat="item in info.toolInfos.ndtCategorys" ng-if="item.value == info.damageInfo.checkMode">
                              {{item.name}}
                          </span>
                           <select ng-model="info.damageInfo.checkMode">
                               <option ng-repeat="item in info.toolInfos.ndtCategorys" ng-value="item.value">{{item.name}}</option>
                           </select>
                       </div>
                   </div>
               </div>
               <div class="textarea-item" ng-if="info.damageInfo.checkMethod == 4">
                   <div class="title">其它</div>
                   <textarea ng-model="info.damageInfo.checkModeOther" placeholder="勾选其它请输入详细内容">
                   </textarea>
               </div>
               <div class="item">
                   <div class="title">
                       <span class="">运营人</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">顺丰航空</div>
               </div>
               <div class="item">
                   <div class="title">
                       <span class="">发现日期</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">
                       <div class="check-method">
                           <input ng-if="!android" class="fount-date"
                                  ng-model="info.toolInfos.drDate"
                                  type="date">
                           <input ng-if="android" class="fount-date"
                                  ng-model="info.toolInfos.drDate"
                                  type="date">
                       </div>
                       <img class="triangle" src="dist/images/damage/Triangle@2x.png">

                   </div>
               </div>
               <div class="item">
                   <div class="title">
                       <span class="">维修站点</span>
                       <span class="red">*</span>
                   </div>
                   <input class="right" ng-model="info.damageInfo.repairSite" type="text" required placeholder="请输入维修站点">
               </div>
           </div>
           <div class="section-2">
               <div class="header"></div>
               <div class="textarea-item">
                   <div class="title">
                       <span>中文描述</span>
                   </div>
                   <div>
                       <textarea ng-model="info.damageInfo.cnDescribe"></textarea>
                   </div>
                   <div class="line"></div>
               </div>
               <div class="textarea-item">
                   <div class="title">
                       <span>English</span>
                   </div>
                   <div>
                       <textarea ng-model="info.damageInfo.enDescribe"></textarea>
                   </div>
               </div>

           </div>

           <div class="section-3">
               <div class="header"></div>
               <div class="textarea-item">
                   <div class="title">
                       <span>处置说明</span>
                   </div>
                   <div style="padding-top: 10px">
                       <textarea ng-model="info.damageInfo.disposalInstructions" placeholder="包含已经实施的措施及处置时限等信息"></textarea>
                   </div>
               </div>
           </div>

           <div class="section-4">
               <div>
                   <div class="header">缺陷描述</div>
                   <div class="item">
                       <div class="title">缺陷类型 <span class="red">*</span></div>
                       <div class="right">

                           <div class="check-method">
                               <span ng-repeat="selectTypeNumber in info.toolInfos.selectedDamageTypes | orderBy: sortNumberArray">
                                   <label ng-repeat="typeItem in info.toolInfos.damageTypes | filter:{value: selectTypeNumber}"
                                          ng-if="selectTypeNumber == typeItem.value && $parent.$index < info.toolInfos.selectedDamageTypes.length - 1">
                                        {{typeItem.name}}、
                                   </label>
                                   <label ng-repeat="typeItem in info.toolInfos.damageTypes | filter:{value: selectTypeNumber}"
                                          ng-if="selectTypeNumber == typeItem.value && $parent.$index == info.toolInfos.selectedDamageTypes.length - 1">
                                        {{typeItem.name}}
                                   </label>
                               </span>
                               <select multiple="true" ng-model="info.toolInfos.selectedDamageTypes">
                                   <option ng-repeat="typeItem in info.toolInfos.damageTypes"
                                           ng-value="typeItem.value"
                                           ng-selected="info.toolInfos.selectedDamageTypes.indexOf(typeItem.value) != -1">
                                       {{typeItem.name}}</option>
                               </select>
                           </div>
                           <img class="triangle" src="dist/images/damage/Triangle@2x.png">

                       </div>
                   </div>
               </div>
               <div class="textarea-item" ng-if="info.toolInfos.selectedDamageTypes.indexOf('12') != -1">
                   <div class="title">其它 <span class="red">*</span> </div>
                   <textarea required ng-model="info.damageInfo.defectTypeOther" placeholder="勾选其它请输入详细内容">
                   </textarea>
               </div>
               <div>
                   <div class="item">
                       <div class="title">缺陷原因 <span class="red">*</span></div>
                       <!--显示结果-->
                       <div class="right">
                           <div class="check-method">
                                <span ng-repeat="selectReasonNumber in info.toolInfos.selectedDamageReasons | orderBy:'value'">
                                   <label ng-repeat="reasonItem in info.toolInfos.damageReasons | filter:{value: selectReasonNumber}"
                                          ng-if="reasonItem.value == selectReasonNumber && $parent.$index < info.toolInfos.selectedDamageReasons.length - 1">
                                        {{reasonItem.name}}、
                                   </label>
                                  <label ng-repeat="reasonItem in info.toolInfos.damageReasons | filter:{value: selectReasonNumber}"
                                         ng-if="reasonItem.value == selectReasonNumber && $parent.$index == info.toolInfos.selectedDamageReasons.length - 1">
                                        {{reasonItem.name}}
                                   </label>
                               </span>
                               <select multiple="true" ng-model="info.toolInfos.selectedDamageReasons">
                                   <option ng-repeat="reasonItem in info.toolInfos.damageReasons"
                                           ng-value="reasonItem.value"
                                           ng-selected="info.toolInfos.selectedDamageReasons.indexOf(reasonItem.value) != -1">
                                       {{reasonItem.name}}
                                   </option>
                               </select>
                           </div>
                           <img class="triangle" src="dist/images/damage/Triangle@2x.png">

                       </div>
                       </div>
               </div>
               <div class="textarea-item"  ng-if="info.toolInfos.selectedDamageReasons.indexOf('12') != -1">
                   <div class="title">其它 <span class="red">*</span></div>
                   <textarea required ng-model="info.damageInfo.defectReasonOther" placeholder="勾选其它请输入详细内容">
                   </textarea>
               </div>
           </div>
           <div class="section-5" ng-show="info.damageInfo.drBaseDefectViewDTOS.length > 0">
               <div class="header">位置与尺寸信息</div>
               <div class="damage-location-item-wrapper">
                   <div ng-repeat="item in info.damageInfo.drBaseDefectViewDTOS" damage-swipe-del class="damage-location-item"
                        ng-click="go('damageLocation','',{listItemInfo:listItem,damageInfo:info,locationItem:item,
                        from:'damageDraftDetail',aircraftInfo:info.toolInfos.flightNoInfo})">

                       <div class="delete" ng-show="true"
                            ng-click="deleteSize(item,$index,$event)">删除
                       </div>
                       <div>
                           <div class="title">
                               <div class="left-title">
                                   <span>部件类型</span>
                                   <span class="">{{item.structureType}}</span>
                               </div>
                               <div class="right-title">
                                   <span class="">件号</span>
                                   <span>{{item.pn}}</span>
                               </div>
                           </div>
                           <div class="line"></div>
                           <div class="location-content">
                               <div class="left">
                                   <span class="loc-name">STA</span>&nbsp;
                                   <span class="loc-num">{{item.sta}}</span>
                               </div>
                               <div class="right">
                                   <span class="loc-name">WL</span> &nbsp;
                                   <span class="loc-num">{{item.wl}}</span>
                               </div>
                               <div>
                                   <span class="loc-name">BL</span>&nbsp;
                                   <span class="loc-num">{{item.bl}}</span>
                               </div>

                           </div>
                       </div>

                   </div>
               </div>
           </div>
           <div class="section-6">
               <div class="header"></div>
               <div class="add-size" ng-click="go('damageLocation','',{listItemInfo:listItem, damageInfo:info,locationItem:{},from:'damageDraftDetail'})">
                   <i class="button-add"></i>
                   <span>添加新增位置与尺寸信息</span>
               </div>
           </div>

           <div class="save-button-section">
               <button ng-class="{'button-active':myForm.$valid && info.damageInfo.checkType.length>0  && info.damageInfo.defect.length>0 && info.damageInfo.operator.length > 0
                                                    && info.toolInfos.drDate.getTime() <= info.toolInfos.today.getTime() && info.toolInfos.selectedDamageReasons.length > 0 && info.toolInfos.selectedDamageTypes.length > 0} "
                       ng-disabled="!myForm.$valid || info.damageInfo.checkType.length==0 || info.damageInfo.operator.length == 0 || info.toolInfos.drDate.getTime() > info.toolInfos.today.getTime() || info.toolInfos.selectedDamageReasons.length == 0 || info.toolInfos.selectedDamageTypes.length == 0"
                       ng-click="submit(false)">
                   保存
               </button>
               <button ng-if="info.damageInfo.id.length > 0"
                       ng-class="{'button-active':myForm.$valid && info.damageInfo.checkType.length>0 && info.damageInfo.defect.length>0&& info.damageInfo.operator.length > 0 && info.damageInfo.id.length > 0 && info.toolInfos.drDate.getTime() <= info.toolInfos.today.getTime() &&
                       info.toolInfos.selectedDamageReasons.length > 0 && info.toolInfos.selectedDamageTypes.length > 0}"
                       ng-disabled="!myForm.$valid || info.damageInfo.checkType.length==0 || info.damageInfo.defect.length==0 || info.damageInfo.operator.length == 0
                       ||info.damageInfo.id.length ==0 || info.toolInfos.drDate.getTime() > info.toolInfos.today.getTime()
                       ||info.toolInfos.selectedDamageReasons.length == 0 || info.toolInfos.selectedDamageTypes.length == 0"
                       ng-click="submit(true)">
                   提交
               </button>
           </div>
       </div>
    </form>
</div>
<div class="damage-confirm" ng-if="showConfirmState">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con">
            <div class="title">损伤编号{{info.damageInfo.drNo}}</div>
            <div class="advice">意见</div>
            <div>
                <textarea name="" ng-model=""></textarea>
            </div>
            <div class="notice">*提交后将不能被修改</div>
            <div class="buttons">
                <button class="ensure" ng-click="submit(true)">确认提交</button>
                <button ng-click="hideConfim()">取消</button>
            </div>
        </div>
    </div>

</div>



