<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        位置与尺寸详情
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('damageDraftDetail',{})">-->
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
    <div class="btn-group btn-group-right">
        <div class="btn" ng-click="openRegistration()">
            占位图
        </div>
    </div>
</div>
<div class="scrollable-content ">
    <form name="myForm" novalidate>
        <div class="damage-location-size">
            <div class="section-1">
                <div class="header">位置信息</div>
                <div class="item">
                    <div class="title">
                        <span>部件类型</span>
                        <span class="red">*</span>
                    </div>

                    <input ng-if="isEdit" class="right" required ng-model="info.structureType" type="text" placeholder="请填写部件类型">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.structureType}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>件号</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.pn" type="text" placeholder="请填写件号">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.pn}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>序号</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.sn" type="text" placeholder="请填写序号">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.sn}}</span>
                    </div>
                </div>
                <div class="item" ng-click="showSizeTemplate()">
                    <div class="title">
                        <span>坐标信息</span>
                    </div>
                    <div class="right">
                        <span>录入</span>
                        <i class="arrow"></i>
                    </div>
                    <div class="location-content" ng-if="from !='damageDetail' && info.staMin && info.staMax">
                        <div class="location-content-item">
                            <span class="loc-name">STA</span>&nbsp;
                            <span class="loc-num">{{info.staMin}} {{info.staMinSymbol}} {{info.staMinOffset}}&nbsp; TO &nbsp;{{info.staMax}}{{info.staMaxSymbol}}{{info.staMaxOffset}}</span>
                        </div>
                        <div class="location-content-item" style="text-align: right">
                            <span class="loc-name">WL</span> &nbsp;
                            <span class="loc-num">{{info.wlMin}}&nbsp; TO &nbsp;{{info.wlMax}}</span>
                        </div>
                        <div>
                            <span class="loc-name">BL</span>&nbsp;
                            <span class="loc-num">{{info.blMin}} <span ng-if="info.blMinSymbol=='+1'">L</span> <span ng-if="info.blMinSymbol=='-1'">R</span>&nbsp; TO &nbsp;{{info.blMax}}<span ng-if="info.blMaxSymbol=='+1'">L</span> <span ng-if="info.blMaxSymbol=='-1'">R</span></span>
                        </div>
                    </div>
                    <div class="location-content" ng-if="from =='damageDetail'">
                        <div class="location-content-item">
                            <span class="loc-name">STA</span>&nbsp;
                            <span class="loc-num">{{info.sta}}</span>
                        </div>
                        <div class="location-content-item" style="text-align: right">
                            <span class="loc-name">WL</span> &nbsp;
                            <span class="loc-num">{{info.wl}}</span>
                        </div>
                        <div>
                            <span class="loc-name">BL</span>&nbsp;
                            <span class="loc-num">{{info.bl}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-2">
                <div class="header">尺寸信息</div>
                <div class="item">
                    <div class="title">
                        <span>长度</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.length" type="text" placeholder="请填写长度">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.length}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>宽度</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.width" type="text" placeholder="请填写宽度">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.width}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>深度</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.depth"  type="text" placeholder="请填写深度">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.depth}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>单位</span>
                    </div>
                    <div ng-show="isEdit" class="right">
                        <label>
                            <input type="radio" value="1" ng-model="info.unit" ng-checked="info.unit==1" name="unit">
                            毫米
                        </label>
                        <label>
                            <input type="radio" value="2" ng-model="info.unit" ng-checked="info.unit==2" name="unit">
                            英寸
                        </label>
                    </div>
                    <div class="right" ng-show="!isEdit">
                        <span ng-if="info.unit==1">毫米</span>
                        <span ng-if="info.unit==2">英寸</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>原始厚度</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.originalThickness" type="text" placeholder="请填写原始厚度">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.originalThickness}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>剩余厚度</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.remainingThickness" type="text" placeholder="请填写剩余厚度">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.remainingThickness}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>其它</span>
                    </div>
                    <input ng-if="isEdit" class="right" ng-model="info.other" type="text" placeholder="请填写内容">
                    <div class="right" ng-if="!isEdit">
                        <span>{{info.other}}</span>
                    </div>
                </div>
            </div>

            <div class="section-3">
                <div class="header">添加图片&nbsp;
                    <span>(限6张)</span>
                </div>
                <div class="p-image">
                    <img-sel img-arr="imgArr" file-arr="fileArr" is-api-cloud="isApiCloud"
                             attachvo="attachvo" is-edit="isEdit" max-img-count="maxImgCount" del-img-id="delImgId"></img-sel>
                </div>
            </div>

            <div class="section-4" ng-if="!isCreate">
                <div class="header">附件</div>
                <div class="atta-item">
                    <div class="file-title" ng-repeat="file in files" ng-click="openNewPageWithData(file)">
                        <img class="file-img" src="dist/images/damage/file@2x.png" alt="">
                        <span>{{file.name}}</span>
                    </div>
                </div>
            </div>

            <div class="save-button-section" ng-if="isEdit">
                <button ng-class="{'button-active':myForm.$valid}"
                        ng-disabled="!myForm.$valid"
                        ng-click="submit()">
                    保存
                </button>
            </div>
        </div>
    </form>
</div>
<damage-location-detail ng-show="showSizeTemplateState" info="info" is-edit="isEdit"
                        show-size-template-state="showSizeTemplateState">
</damage-location-detail>
