<ui-view ng-class="pageAnimationClass"></ui-view>
<!--标题栏-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">损伤二维码扫描

    </div>
    <div class="btn-group btn-back" style="z-index: 1000" >
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>

<div class="scan-window scrollable">
    <div ng-click="go('damageDetail','slideLeft')" class="scan-window-img-wrapper">
        <img class="scan-window-img" src="dist/images/loading.png">
    </div>
    <div class="scan-bottom ">
        <!--<button class="illumine" ng-click="go('damageDetail','slideLeft',{acNumber:'DRS-201711-048'})">-->
        <button class="illumine" ng-click="go('searchDamageByHand.damageDetail','slideLeft',{acNumber:'DRS-201712-011'})">

        <!--<button class="illumine" ng-click="go('searchDamageByHand','slideLeft')">-->
        <!--<button class="illumine" ng-click="scanLineCode()">-->
            <img class="illumine-img" src="dist/images/loading.png">
            <p class="illumine-text">点击查询</p>
        </button>
        <button class="illumine" ng-click="go('searchDamageByHand')">
            <img class="illumine-img" src="dist/images/loading.png">
            <p class="illumine-text">照明</p>
        </button>

    </div>

</div>