<ui-view name=""></ui-view>

<div class="navbar navbar-app navbar-absolute-top">
    <div class="clearfix top-title">
        <div class="navbar-brand navbar-brand-center search-damage">
            <div class="damage-by-hand-search-wrap" style="display:inline-block">
                <img class="search-icon" src="dist/images/materialsearch.png">
                <form>
                    <input type="search" required placeholder="请输入损伤编码/飞机号"
                           ng-model="searchTxt" ng-keyup="enter($event,searchTxt)">
                </form>
            </div>
        </div>
        <div class="btn-group btn-back" style="z-index: 1000">
            <div class="btn" ng-click="goBackHome()">
                <i class="icon-maoc icon-back" ></i>
            </div>
        </div>
        <div class="btn-group btn-group-right">
            <div class="btn-scan" ng-click="goBackHome()">
                <img src="dist/images/damage/saomiaoshibie380@2x.png" alt="">
            </div>
        </div>
    </div>

</div>

<div class="scrollable">
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()" >
        <div class="damage-list">
            <div class="damage-list-li" ng-repeat="item in balanceInfo"
                 ng-class="{'none-border-bottom': $index == balanceInfo.length -1}"
                 ng-click="go('searchDamageByHand.damageDetail','slideLeft',{id:item.id,from:'searchDamageByHand'})">
                <div>
                    <div class="first-line">
                        <span>{{item.drAssessNo}}</span>
                        <span class="aircraft-font">{{item.aircraft}}</span>
                        <span class="approve-state" ng-switch="item.perfectStatus">
                            <span ng-switch-when="Perfect" class="damage-state-red">待完善</span>
                            <span ng-switch-when="Perfecting" class="damage-state-yellow">完善中</span>
                            <span ng-switch-when="Perfected" class="damage-state-gray">已完善</span>
                        </span>
                    </div>
                    <p class="sec-line" ng-if="item.drLicense != '' && item.dealType != ''">
                        <span ng-if="item.drLicense != ''">是否允许损伤:{{item.drLicense}}</span>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-if="item.dealType != ''">处理类型:{{item.dealType}}</span>
                    </p>
                    <p class="sec-line">
                        DESC:&nbsp; {{item.cnDescribe}}
                    </p>
                    <div class="third-line">
                <span ng-repeat="filterTypeNumber in item.filterTypes" class="damage-type">
                    <span ng-repeat="filerItem in damageTypeDicArr"
                          ng-if="filerItem.value == filterTypeNumber">
                        {{filerItem.name}}
                    </span>
                </span>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
