@charset "utf-8";
/*公共部分，以及各个页面头样式*/
body{width:100%;font-size:12px;font-family:Lucida Grande,Arial,sans-serif}
img{border:0;}
body,ul,li,p,dd,dt,dl{padding:0;margin:0;}
li{list-style:none;}
/*table 初始化*/
table{border-collapse:collapse;}
th{color:#444;}
td,th{
	border-color: #eee;
}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {*height: 1%;display: block;}
.red{color:#f00;}
.td-font-red {
    color: #FF0000;
}
.tar{text-align:right;}
input[type='text'],input[type=file],textarea,select{border:1px solid #ccc;}

#header{height:40px;padding:5px 0;background:url(../images/head_bg.gif) repeat-x;position:relative;*z-index:100;}
.logo{margin:0 0 0 10px;cursor:pointer;}
.logo,.system_name{float:left;}
.system_name{margin: 4px 0 0 20px;_margin: 5px 0 0 20px;font-family:Arial;font-size:20px;font-weight:bold;}
.system_name span{font-size:12px;}
/*.iframe_tree{overflow:auto;}
 ul.head_right{text-align:right;}*/
 .fr{float:right;}
/*.head_right a{font-weight:bold;font-size:12px;text-decoration:none;color:#ff7a04;margin-right:30px;float:left;}
*/
 ul.head_right li{display:inline-block;margin:0 5px;font-size:12px;float:right;}
 ul.head_right li a{font-size:12px;font-weight:normal;color:#454949;margin:0;}

.sysNotice{background:url(../images/system_notice.gif) no-repeat 0px 0px;padding-left:15px;position:relative;} 
.modify_psw{background:url(../images/change_psw.gif) no-repeat 0px 0px;padding-left:15px;}
.logout{background:url(../images/logout.gif) no-repeat 0px 0px;padding-left:15px;}
.myaccount{background:url(../images/my_account.gif) no-repeat 0px 0px;padding-left:15px;}
/*列表页搜索条件样式*/
a{color:#6e6e6e;text-decoration:none;}
.st_select{width:95px;}
.sec_select{width:50px;}
.t_input{width:100px;}
.st_select,.sec_select,.t_input{border:1px solid #9f9c93;}
.field{background:#cecece url(../images/ee_list_field.gif) repeat-x;height:80px;overflow:hidden;}
.field li{display:inline-block;;margin:5px;}
#qc_table ul {*width:650px;}
#qc_table ul li {*float:left;}
.btn{background:url(../images/btn_bg.gif) repeat-x;border:1px solid #ccc;border-radius:3px;padding:1px 10px;_padding:1px 5px;cursor:pointer;_height:23px;}
.img{margin-top:7px;margin-left:3px;}
#qc_table,.field_right{margin-top:11px;float:left;}
.field_right a img{vertical-align:middle;}
.tj{margin-top:5px;}

.edit{width:16px;height:16px;margin:0 auto;padding:0px;cursor:pointer; display:inline-block}
.pset{width:16px;height:16px;margin:0 auto;padding:0px;cursor:pointer;display:inline-block}

/*搜索样式二*/
.query-table-single{margin-top:-5px;}
.query-table td,.query-table-single td{text-align:left; line-height:30px;}
.query_box{height:64px;padding-top:6px;padding-left:10px;background: url("../images/ee_list_field.gif") repeat-x scroll 0 0 #EDEBEC;}


.list_btn_row{height:25px;padding-top:5px;padding-left:5px;background:url(../images/btn_rows_bg.gif) repeat-x;}
.list_btn_row .left_del{float:left;}
.list_btn_row .right_button{float:right;padding-right:5px;margin-left:5px;}
.list_btn_row .left_button{float:left;padding-right:5px;margin-left:5px;}

.list_btn_row_s{height:25px;padding-top:5px;margin-top:1px;_padding-top:5px;padding-left:5px;background:url(../images/btn_rows_bg_s.gif) repeat-x;border:1px solid #ccc;}
.list_btn_row_r{margin-top:1px;padding-left:5px;background:url(../images/btn_rows_bg_s.gif) repeat-x;border:1px solid #ccc;}
.edit{width:16px;height:16px;margin:0 auto;padding:0px;cursor:pointer;}

/*.edit{background:url(../images/list_edit.gif) no-repeat;width:9px;height:9px;display:block;margin-left:25px;}*/

/*表单校验错误div*/
div.error{color:red;text-align:left}
div.errorMessage{color: red;}

/*表单校验错误span*/
span.error{color:red;text-align:left}
span.errorMessage{color: red;}

/*设定 jqgrid 数据行高度 */
.ui-jqgrid tr.jqgrow td {  
	height:30px;    /* row 高度 */ 
}

/*update david 修改表头字体大小 */
.ui-jqgrid .ui-jqgrid-title {font-size:15px;}
.ui-jqgrid .ui-jqgrid-sortable {font-size:13px;}

/*jqgrid表格记录隔行变色 */
.oddClass{background:#f2f2f2;}

/*jqgrid表格数据显示 */
.norecords {  
    font-weight: bold;  
    text-align: center;
    line-height:45px;  
}

/*弹出窗口留10px空间隙 */
/*.post_table {margin: 5px auto;width: 98%;border: 1px solid #ccc;border-collapse:collapse;}
.post_table td {border: 1px solid #ccc;height: 24px;line-height: 24px;padding: 3px;}
.gridbox{margin-top:1px;}*/

/*grid表格内容居中*/
#ee_list_grid td,#source_list_grid td,#gridTable td{text-align:center}
.li_fl li{float:left}
.m10{margin-left:10px;margin-top:-2px;}
/*loading*/
.cover{overflow:hidden;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:10000;}
.loading{position:fixed;top:50%;margin-top:-80px;left:50%;margin-left:-70px;z-index:10001;color:#666;font:bold 14px Tahoma;width:105px;padding:10px 15px 7px;;border:5px solid #ccc;border-radius:4px;background:#fff;}
.loading img{vertical-align:middle;margin-right:6px;margin-top:-3px;}
/*重设easyui中样式*/
.combo .combo-text{vertical-align:top;}
.combo{border-color:#ccc;}
.select_input {
    background: url("../images/t_input.gif") no-repeat scroll 99% center #FFFFFF;
}
.no_edit{background-color: #FFFFEE;}
.word-break{
	word-break:break-all;
}
.task_red_alarm{background-color: rgb(214, 64, 64);}
.task_yellow_warning{background-color: rgb(255, 255, 0);}

.view_ipt input{
 width: 100px;
 vertical-align: middle;	
}

.view_ipt img{
	vertical-align: middle;
	padding-top: 2px;
}