/* ==== body ==== */
body {margin: 0;padding: 0;font-size: 12px;}

/* ==== div ==== */
.div_search {background-color: #F2F2F2;}
.div_btn {background: url("../images/btn_rows_bg.gif") repeat-x scroll 0 0 transparent;height: 25px;padding: 5px 3px 0 3px;}
.div_dialog {margin:0 5px; font-family: "微软雅黑";}

/* ==== table ==== */
.table_search {border: none;border-collapse: collapse;margin-top: 1px;}
.table_dialog {border: none;border-collapse: collapse;}

/* ==== td ==== */
.td_l {border: solid #CCCCCC 1px;padding: 3px;text-align: left;}
.td_c {border: solid #CCCCCC 1px;padding: 3px;text-align: center;}
.td_r {border: solid #CCCCCC 1px;padding: 3px;text-align: right;}
.td_btn {width: 100%;text-align: left;border-top: none;border-right: none;border-bottom: none;vertical-align: bottom;}
.td_title_l {border: solid #CCCCCC 1px;padding: 3px;height: 25px;background-color: #F2F2F2;}
.td_title_c {border: solid #CCCCCC 1px;padding: 3px;height: 25px;background-color: #F2F2F2;text-align: center;}
.td_title_r {border: solid #CCCCCC 1px;padding: 3px;height: 25px;background-color: #F2F2F2;text-align: right;}
.td_content {border: solid #CCCCCC 1px;padding: 3px;height: 25px;word-wrap: break-word;word-break: break-all;}
.td_content_c {border: solid #CCCCCC 1px;padding: 3px;height: 25px;word-wrap: break-word;word-break: break-all;text-align: center;}
.td_content_r {border: solid #CCCCCC 1px;padding: 3px;height: 25px;word-wrap: break-word;word-break: break-all;text-align: right;}

/* ==== ul li ==== */
ul,li {margin: 0;padding: 0;}
.li_btn_l {float: left;list-style: none outside none;}
.li_btn_r {float: right;list-style: none outside none;}

/* ==== form ==== */
input,select,textarea {border: solid #9F9C93 1px;font-size: 12px;}
input[type="checkbox"] {border: solid #9F9C93 0px;}
input[type="radio"] {border: solid #9F9C93 0px;}
input[readonly="readonly"] {background-color: #F0F0F0;}
.font_red {color: #FF0000;}
.errorMessage {color: #FF0000;}
.input_search {width: 120px;}
.textarea {width: 100%;resize: none;}
.cp {cursor: pointer;}
.btn {background: url("../images/btn_bg.gif") repeat-x scroll 0 0 transparent;
	border: solid #9F9C93 1px;border-radius: 3px 3px 3px 3px;cursor: pointer;padding: 1px 10px 1px 10px;}
.btn_img {cursor: pointer;width: 16px;height: 16px; vertical-align: middle;}

/* ==== jqGrid ==== */
.ui-jqgrid-htable {border: none;border-collapse: collapse;}
.ui-jqgrid .ui-jqgrid-bdiv {position: relative;margin: 0;padding: 0;overflow: auto;text-align: left;}
.ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column,
th.ui-th-column-header {border-right: solid #CCCCCC 1px;
	border-bottom: solid #CCCCCC 1px;border-top: 0 none;overflow: hidden;text-align: center;white-space: nowrap;}

.edit,.pset {width: 16px;height: 16px;margin: 0 auto;padding: 0px;cursor: pointer;display: inline-block}
.oddClass {background: #F7F7F7;}
a {text-decoration: none;color: #FF6600;}

.deck_btn_image{
			border: 0px solid #ccc;
			border-radius:0px;
			padding: 0px 0px;
			cursor: pointer;
			background-repeat:no-repeat;
			background-position:right;
			text-align:left;
			height: 20px;
		}
