<ui-view name="record" ></ui-view>
<div ng-show="!recordView" style="height: 100%">
    <div class="navbar navbar-app navbar-absolute-top" style="position: fixed">
    <div class="navbar-brand navbar-brand-center">
        NRC详情
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
    <div class="nrc-detail">
    <div class="fixed-head">
        <ul class="clearfix">
            <li ng-repeat="item in navArr" ng-click="clickNav($index)" ng-class="{active:$index == navIdx}">
                {{item.name}}
            </li>
        </ul>
    </div>
    <div class="main-content" >
        <div class="scrollable-content"  id="scroll">
            <div class="section" id="opneCard">
                <p class="title">
                    开卡信息
                </p>
                <div class="content">
                    <p>
                        <span class="left">NRC No.</span>
                        <span class="right">{{dataObj.nrcBase.nrcNo || ''}}</span>
                    </p>
                    <p>
                        <span class="left">流程状态</span>
                        <span class="right blue">{{dataObj.nrcBase.nrcProcessStatus || ''}}</span>
                    </p>
<!--                    <p>-->
<!--                        <span class="left">执行状态</span>-->
<!--                        <span class="right blue">{{dataObj.nrcBase.status || ''}}</span>-->
<!--                    </p>-->
                    <p>
                        <span class="left">来源</span>
                        <span class="right">{{dataObj.nrcBase.aeType || ''}}</span>
                    </p>
                    <p>
                        <span class="left">{{dataObj.nrcBase.aeType == 1 ?'机型':'件号'}}</span>
                        <span class="right">{{dataObj.nrcBase.modelEng || ''}}</span>
                    </p>
                    <p>
                        <span class="left">{{dataObj.nrcBase.aeType == 1 ?'飞机号':'序号'}}</span>
                        <span class="right">{{dataObj.nrcBase.acEng || ''}}</span>
                    </p>
                    <p>
                        <span class="left">SKILL</span>
                        <span class="right">{{dataObj.nrcBase.skill || ''}}</span>
                    </p>
                    <p>
                        <span class="left">STA/ZONE</span>
                        <span class="right">{{dataObj.nrcBase.stazone || ''}}</span>
                    </p>
                    <p>
                        <span class="left">工卡来源</span>
                        <span class="right" >{{dataObj.nrcCardDisplay || ''}} </span>
                    </p>
                    <p>
                        <span class="left">报告人</span>
                        <span class="right">{{dataObj.nrcBase.repName || ''}}{{dataObj.nrcBase.repSn || ''}}</span>
                    </p>
                    <p>
                        <span class="left">报告日期</span>
                        <span class="right">{{ dataObj.nrcBase.repTime | date:'yyyy/MM/dd HH:mm' }}</span>
                    </p>
                    <p>
                        <span class="left">ITEM CAT</span>
                        <span class="right">{{dataObj.nrcBase.itemCat || ''}}</span>
                    </p>
                    <p>
                        <span class="left">外观可见</span>
                        <span class="right blue">{{dataObj.nrcBase.defect || ''}}</span>
                    </p>
                    <p>
                        <span class="left">故障/缺陷或原因(中文)</span>
                        <span class="right blue">
                            {{dataObj.nrcBase.descChn || ''}}
                        </span>
                    </p>
                    <p>
                        <span class="left">故障/缺陷或原因(Eng)</span>
                        <span class="right blue">
                            {{dataObj.nrcBase.descEn || ''}}
                        </span>
                    </p>
                    <p>
                        <span class="left">方案制定人</span>
                        <span class="right">{{dataObj.nrcBase.rectPlanUpdatedName || ''}}{{dataObj.nrcBase.rectPlanUpdatedSn || ''}}</span>
                    </p>
                    <div class="tlb-oil-wrapper">
                        <oil-ewis  edit="false"
                                   is-has-ewis="oilEwisInfo.isHasEwis" ewis-show="oilEwisInfo.showEwis"
                                   ewis-state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO"
                                   ewis-index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo"
                                   is-has-oil="oilEwisInfo.isHasOil" oil-show="oilEwisInfo.showOil"
                                   oil-state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO"
                                   oil-index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo"
                        ></oil-ewis>
                    </div>


                    <div>
                        <span class="left">图片</span>
                        <div class="p-image">
                            <div class="ui-select-image">
                                <div class="img-item" ng-repeat="item in imgArr track by $index"  >
                                    <div ng-click="showBig(imgArr,$index)">
                                        <img ng-src="data:image/png;base64,{{item.content}}"
                                             alt="">
                                    </div>
                                </div>
                            </div>
<!--                            <img-scan  img-arr="imgArr" ></img-scan>-->

<!--                            <img-sel del-img-id="delImgId" img-arr="imgArr" file-arr="fileArr" attachvo="attachvo" is-edit="isEdit"></img-sel>-->
                        </div>
                    </div>
                    <div>
                        <span class="left">附件</span>
                        <div class="right blue" >
                            <p ng-repeat="file in dataObj.nrcBase.attachments track by $index" ng-if = "file.type =='application/pdf' " ng-click="openNewPageWithData(file)">附件:{{file.name}}</p>
                            <p ng-repeat="file in dataObj.nrcBase.attachments track by $index" ng-if = "file.type !='application/pdf' && file.type.indexOf('image') == '-1' " ng-click="alertFileTypeTips()">附件:{{file.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id ="basicInfo">
                <p class="title">
                    方案信息
                </p>
                <div class="content">
                    <p>
                        <span class="left">ATA</span>
                        <span class="right blue">{{dataObj.nrcBase.ata || ''}}</span>
                    </p>
                    <p>
                        <span class="left">RII</span>
                        <span class="right">{{dataObj.nrcBase.rii == 'y' ? 'YES' : 'NO'}}</span>
                    </p>
                    <p>
                        <span class="left">RCI</span>
                        <span class="right blue">{{dataObj.nrcBase.rci == 'y' ? 'YES' : 'NO'}}</span>
                    </p>
                    <p>
                        <span class="left">DM</span>
                        <span class="right blue">{{dataObj.nrcBase.dm == 'y' ? 'YES' : 'NO'}}</span>
                    </p>
                    <p>
                        <span class="left">通知机组</span>
                        <span class="right">{{dataObj.nrcBase.feedbackAircrew == 'y' ? 'YES' : 'NO'}}</span>
                    </p>
                    <p>
                        <span class="left">Feedback</span>
                        <span class="right">{{dataObj.nrcBase.feedbackTo || ''}}</span>
                    </p>
                    <p>
                        <span class="left">方案描述</span>
                        <span class="right">{{dataObj.nrcBase.rectChn || ''}}</span>
                    </p>
                    <p>
                        <span class="left">计划工时</span>
                        <span class="right" ng-show = "dataObj.nrcBase.planningmhPerson">{{dataObj.nrcBase.planningmhPerson || ''}}人*{{dataObj.nrcBase.planningmhHour || ''}}小时</span>
                    </p>
                    <p>
                        <span class="left">注意事项</span>
                        <p class="right" ng-bind-html="dataObj.nrcBase.attentionString"></p>
                    </p>



                </div>
            </div>

            <div class="section" id ="toolmr">
                <p class="title">
                    工具航材
                </p>
                <div class="content">
                    <p>
                        <span class="left">是否需要</span>
                        <span class="right blue">{{dataObj.nrcBase.mtrYn == 'y' ? 'YES' : 'NO'}}</span>
                    </p>
                    <p>
                        <span class="left">REF IPC</span>
                        <span class="right">{{dataObj.nrcBase.mtrIpc || ''}}</span>
                    </p>
                    <div class="tool-part" ng-repeat="item in dataObj.nrcBase.nrcMtrList track by $index">
                        <p>
                            <span class="left">类别</span>
                            <span class="right">{{item.mrType == 1 ? '工具' :'航材'}}</span>
                        </p>
                        <p>
                            <span class="left">P/N</span>
                            <span class="right">{{item.pn || ''}}</span>
                        </p>
                        <p>
                            <span class="left">数量</span>
                            <span class="right">{{item.qty || ''}}</span>
                        </p>
                        <p>
                            <span class="left">单位</span>
                            <span class="right">{{item.unit || ''}}</span>
                        </p>
                        <p>
                            <span class="left">描述</span>
                            <span class="right">{{item.mrDesc || ''}}</span>
                        </p>
                        <p>
                            <span class="left">需要料</span>
                            <span class="right">{{item.prepareMaterials == 'y' ? 'YES' :'NO'}}</span>
                        </p>
                    </div>




                </div>
            </div>
            <div class="section" id ="mr">
                <p class="title">
                    MR
                </p>
                <div class="content" ng-if="mrList">
                    <p ng-repeat="item in mrList">
                        <span class="left">MR号</span>
                        <span class="right blue">{{item.mrNum}}</span>
                    </p>
                </div>
            </div>
            <div class="section" id ="cws">
                <p class="title">
                    方案补充文件
                </p>
                <div class="content">
                    <div>
                        <span class="left">附件</span>
                        <div class="right blue" >
                            <p ng-repeat="file in dataObj.nrcBase.nueAttachments track by $index" ng-if = "file.type =='application/pdf' " ng-click="openNewPageWithData(file)">附件:{{file.name}}</p>
                            <p ng-repeat="file in dataObj.nrcBase.nueAttachments track by $index" ng-if = "file.type !='application/pdf' && file.type.indexOf('image') == '-1' " ng-click="alertFileTypeTips()">附件:{{file.name}}</p>
                        </div>
                    </div>
                    <div>
                        <span class="left">图片</span>
                        <div class="p-image">
                            <img-scan  img-arr="imgArr2" ></img-scan>
                        </div>
                    </div>


                </div>
            </div>
            <div class="section" id ="pend" style="padding: 1rem 0 0 0;">
                <p class="title" style="padding: 0 0.5rem">
                    推迟信息
                </p>
                <div class="content" style="padding: 0 0.5rem">
                    <p>
                        <span class="left">Suspending</span>
                        <span class="right blue">{{dataObj.nrcBase.isSuspending == 'y' ? 'YES':'NO'}}</span>
                    </p>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y'">
                        <span class="left">复检工单</span>
                        <span class="right">{{dataObj.nrcBase.isrepeat== '1' ? 'YES':'NO'}}</span>
                    </p>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y'" >
                        <span class="left">TASK NO</span>
                        <span class="right" ng-click="go('nrcTask' ,'slideLeft', {nrcId:nrcId})">{{dataObj.nrcTaskNo || ''}}</span>
                    </p>
                    <div ng-show = "dataObj.nrcBase.isSuspending == 'y'">
                        <span class="left">Reason</span>
                        <div class="right" ng-bind-html="dataObj.nrcBase.horea"></div>
                    </div>
                    <div ng-show = "dataObj.nrcBase.isSuspending == 'y'">
                        <span class="left">运行分类</span>
                        <div class="right" ng-switch="dataObj.nrcBase.suspending.runCategory">
                            <p ng-switch-when="1">运行飞机串件</p>
                            <p ng-switch-when="2">机组操作</p>
                            <p ng-switch-when="3">影响地服推行</p>
                            <p ng-switch-when="4">影响机组飞行品质</p>
                            <p ng-switch-when="5">液体渗漏</p>
                            <p ng-switch-when="6">10天（20FC/30FH）内纠正</p>
                            <p ng-switch-when="7">其他</p>
                            <p ng-switch-when="8">货舱装载系统缺陷</p>
                            <p ng-switch-when="9">下货舱门开关缺陷</p>
                            <p ng-switch-when="10">烤箱烧水杯故障</p>
                            <p ng-switch-when="11">厕所排放系统缺陷</p>
                        </div>
                    </div>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y'">
                        <span class="left">时限类型</span>
                        <span class="right">{{dataObj.nrcBase.suspending.timeLimitType == 1 ? '硬时限' :'软时限'}}</span>
                    </p>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y' && dataObj.nrcBase.suspending.timeLimitType == 1">
                        <span class="left">硬时限设置</span>
                        <span class="right">{{dataObj.nrcBase.suspending.manualOrTechnical == 1 ? '手册要求' :'技术评估'}}</span>
                    </p>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y' && dataObj.nrcBase.suspending.timeLimitType == 2">
                        <span class="left">软时限设置</span>
                        <span class="right" ng-switch="dataObj.nrcBase.suspending.adviseDoTimeType">
                            <span ng-switch-when="1">90天</span>
                            <span ng-switch-when="2">120天</span>
                            <span ng-switch-when="3">180天</span>
                            <span ng-switch-when="4">NEXT C</span>
                            <span ng-switch-when="6">送修时执行</span>
                        </span>
                    </p>
                    <p ng-show = "dataObj.nrcBase.isSuspending == 'y' && (dataObj.nrcBase.suspending.pn ||dataObj.nrcBase.suspending.sn)">
                        <span class="left">送修部件</span>
                        <span class="right">PN:{{dataObj.nrcBase.suspending.pn}}    SN:{{dataObj.nrcBase.suspending.sn}}</span>
                    </p>
                </div>
            </div>
            <div class="section" id ="toCorrect">
                <p class="title">
                    纠正措施
                </p>
                <div class="content">
                    <p>
                        <span class="left">中文</span>
                        <span class="right blue" style="word-break:break-all;">
                            {{dataObj.nrcBase.nrcClose.rectFinishChn || ''}}
                        </span>
                    </p>
                    <p style="word-break:break-all;">
                        <span class="left">Eng</span>
                        <span class="right blue" style="word-break:break-all;">
                            {{dataObj.nrcBase.nrcClose.rectFinishEn || ''}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="section" id ="cc">
                <p class="title">
                    CC
                </p>
                <div class="content" ng-if="dataObj.nrcBase.nrcClose && dataObj.nrcBase.nrcClose.componentCCList">
                    <p ng-repeat="item in dataObj.nrcBase.nrcClose.componentCCList">
                        <span class="left">CC NO</span>
                        <span class="right blue">{{item.ccNo}}</span>
                    </p>
                </div>
            </div>
            <div class="section" id ="completeInfo">
                <p class="title">
                    完工信息
                </p>
                <div class="content">
                    <p>
                        <span class="left">航站</span>
                        <span class="right">{{dataObj.feedbackInfo.station || ''}}</span>
                    </p>
                    <p>
                        <span class="left">完工日期</span>
                        <span class="right">{{dataObj.feedbackInfo.completeDate | date:'yyyy-MM-dd HH:mm'}}</span>
                    </p>
                    <p>
                        <span class="left">人工时</span>
                        <span class="right">{{dataObj.feedbackInfo.hours || ''}}</span>
                    </p>
                    <p>
                        <span class="left">工作者</span>
                        <span class="right" ng-if="dataObj.feedbackInfo.mechanicName">{{dataObj.feedbackInfo.mechanicName + '(' + dataObj.feedbackInfo.mechanicSn +')'}}</span>
                    </p>
                    <p>
                        <span class="left">校验类型</span>
                        <span class="right">{{dataObj.feedbackInfo.isRci ? '互检':'必检'}}</span>
                    </p>
                    <p>
                        <span class="left">校验员</span>
                        <span class="right" ng-if="dataObj.feedbackInfo.inspector">{{dataObj.feedbackInfo.inspector + '(' + dataObj.feedbackInfo.inspectorNo +')'}}</span>
                    </p>
                    <div class="p-closeFaultDtl">
                        <span class="left">附件</span>
                        <div class="content p-dtl">
                            <div class="p-main clearfix" style="overflow: visible">
                                <div style="float: left;position: relative" class="btn" ng-click="go('nrcDetail.fileRecord','',{imgArr:dataObj.feedbackInfo.attachmentList})">
                                    <i ng-if="dataObj.feedbackInfo.attachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                                    查看图片记录
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <span class="left">无照片备注</span>
                        <span class="right" ng-if="dataObj.feedbackInfo.mechanicNoPhotoRemark">{{dataObj.feedbackInfo.mechanicNoPhotoRemark}}</span>
                    </p>
                    <div class="p-closeFaultDtl">
                        <span class="left">必/互检结果</span>
                        <div class="content p-dtl">
                            <div class="p-main clearfix" style="overflow: visible">
                                <div style="float: left;position: relative" class="btn" ng-click="go('nrcDetail.fileRecord','',{imgArr:dataObj.feedbackInfo.apsAttachmentList})">
                                    <i ng-if="dataObj.feedbackInfo.apsAttachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                                    查看图片记录
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <span class="left">必/互检无照片备注</span>
                        <span class="right" ng-if="dataObj.feedbackInfo.inspectorNoPhotoRemark">{{dataObj.feedbackInfo.inspectorNoPhotoRemark}}</span>
                    </p>

                </div>

                <div style="background-color: #FFF;width: 100%;height: 18rem"></div>


            </div>
        </div>

        <div class="p-dtl-btn moshow" ng-if = "!difPerson && dataObj.nrcBase.nrcProcessStatus.toUpperCase() == 'EDITING'">
            <div class="item">
                <div ng-click="editTask()">
                    <i class="icon-edit"></i>
                    <span>编辑</span>
                </div>
            </div>

            <div class="item">
                <div ng-click="delTask()">
                    <i class="icon-del"></i>
                    <span>删除</span>
                </div>
            </div>
        </div>
        <div class="p-dtl-btn moshow" ng-if = "!difPerson && dataObj.nrcBase.nrcProcessStatus.toUpperCase() == 'CHECKING'">
            <div class="item">
                <div ng-click="refuseTask()">
                    <i class="icon-to-mcc"></i>
                    <span>驳回</span>
                </div>
            </div>

            <div class="item">
                <div ng-click="helpTask()">
                    <i class="icon-upload"></i>
                    <span>技术求援</span>
                </div>
            </div>

            <div class="item" >
                <div ng-click="makeTask()">
                    <i class="icon-edit"></i>
                    <span>方案制定</span>
                </div>
            </div>
        </div>
        <div class="p-dtl-btn moshow" ng-if = "!difPerson && dataObj.nrcBase.nrcProcessStatus.toUpperCase() == 'APPROVING'">
            <div class="item">
                <div ng-click="refusePendFlow()">
                    <i class="icon-to-mcc"></i>
                    <span>驳回</span>
                </div>
            </div>
            <div class="item" >
                <div ng-click="approvePend()">
                    <i class="icon-edit"></i>
                    <span>通过</span>
                </div>
            </div>
        </div>
    </div>





</div>
<ewis ng-show="oilEwisInfo.showEwis" ewis-show="oilEwisInfo.showEwis" state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO" index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo" is-edit="isCreatNrc"></ewis>
<oil ng-show="oilEwisInfo.showOil" oil-show="oilEwisInfo.showOil" state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO" index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo" is-edit="isCreatNrc"></oil>

<div class="damage-confirm" ng-if="showConfirmState">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con">
            <div class="title">提示</div>
            <div class="advice">删除原因：</div>
            <div>
                <textarea name="" ng-model="$parent.deleteReason"></textarea>
            </div>
            <div class="notice">*提交后将不能被修改</div>
            <div class="buttons">
                <button class="ensure" ng-click="deleteSure()">确认提交</button>
                <button ng-click="hideConfim()">取消</button>
            </div>
        </div>
    </div>

</div>

<div class="damage-confirm" ng-if="showRefuse">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con">
            <div class="title">提示</div>
            <div class="advice">驳回备注：</div>
            <div>
                <textarea name="" class="refuseText" placeholder="请输入驳回备注（限500字）"  maxlength="500" ng-model="$parent.refuseReason"></textarea>
            </div>
            <div class="notice">*提交后将不能被修改</div>
            <div class="buttons">
                <button class="ensure" ng-click="refuseSure()">确认提交</button>
                <button ng-click="hideRefuse()">取消</button>
            </div>
        </div>
    </div>

</div>

<div class="damage-confirm" ng-if="showRefusePend">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con">
            <div class="title">提示</div>
            <div class="advice">驳回备注：</div>
            <div>
                <textarea class="refuseText" placeholder="请输入驳回备注（限500字）" name="" maxlength="500" ng-model="$parent.refuseReasonPend"></textarea>
            </div>
            <div class="notice">*提交后将不能被修改</div>
            <div class="buttons">
                <button class="ensure" ng-click="refusePend()">确认提交</button>
                <button ng-click="hideRefuse()">取消</button>
            </div>
        </div>
    </div>

</div>
<div class="ewis-background" ng-if = "needHelp">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">技术求援
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="cancelHelp()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <div class="oil-scroll">
        <form name="myForm" novalidate>
            <div class="oil-form-wrapper">
                <div class="oil-add-li">
                    <span class="tail-eng-title">求援对象</span>
                    <div class="inline-block display-result">
                        <select-person is-required="true"  person-info="$parent.report"></select-person>
                    </div>
                </div>
                <div class="button-wrapper" >

                    <!--ng-disabled="!myForm.$valid || fileArr.length ==0"-->

                    <button class="submitAddMR"
                            ng-class="{
                           'orange-button':$parent.report.approverName.length > 0
                            }"
                            ng-disabled="$parent.report.approverName.length == 0 || !$parent.report.approverName"
                            ng-click="helpSure()" >
                        确定
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>