<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        NRC TASK
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault">


        <div class="">
            <form name="taskForm" novalidate>
                <div class="oil-form-wrapper" style="padding: 10px 0">
                    <div class="header" style="padding: 10px;background-color: #f8f8f8; font-size: 14px;border-bottom: 0.5px solid #f8f8f8">排故方案<span class="red">*</span></div>
                    <div class="oil-add-li" style="padding: 12px">
                        <div class="textarea-item">
                            <div class="title">
                                <span>中文描述</span>
                            </div>
                            <div>
                                <textarea ng-disabled="!taskEdit" style="width: 100%;border: 1px solid #d3dbdf;padding: 8px 10px;margin-bottom: 5px;font-size: 12px" rows="5" ng-model="info.program.nrcTask.chn"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px">
                        <div class="textarea-item">
                            <div class="title">
                                <span>英文描述</span>
                            </div>
                            <div>
                                <textarea ng-disabled="!taskEdit" style="width: 100%;border: 1px solid #d3dbdf;padding: 8px 10px;margin-bottom: 5px;font-size: 12px" rows="5" ng-model="info.program.nrcTask.en"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="header" style="padding: 10px;background-color: #f8f8f8; font-size: 14px;border-bottom: 0.5px solid #f8f8f8">间隔先后<span class="red">*</span></div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">先后</span>
                        <div class="inline-block display-result">
                            <label><input disabled="true" style="vertical-align: -10%" type="radio" name="taskInterval"  class="oil-input" ng-value = 1 ng-model = "info.program.nrcTask.interval" checked="info.program.nrcTask.interval == 1">first</label>
                            <label><input disabled="true" style="vertical-align: -10%" type="radio" name="taskInterval"  class="oil-input" ng-value = 2 ng-model = "info.program.nrcTask.interval" checked="info.program.nrcTask.interval == 2">last</label>
                        </div>
                    </div>
                    <div class="header" style="padding: 10px;background-color: #f8f8f8; font-size: 14px;border-bottom: 0.5px solid #f8f8f8">间隔期限（至少填写一项）<span class="red">*</span></div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">FH</span>
                        <div class="inline-block display-result">
                            <input type="text" disabled="true"  placeholder="请输入"   class="oil-input" ng-model = info.program.nrcTask.fh>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">FC</span>
                        <div class="inline-block display-result">
                            <input type="text" disabled="true"  placeholder="请输入"   class="oil-input" ng-model = info.program.nrcTask.fc>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">DAYS</span>
                        <div class="inline-block display-result">
                            <input type="text" disabled="true"  placeholder="请输入"   class="oil-input" ng-model = info.program.nrcTask.days>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">A</span>
                        <div class="inline-block display-result">
                            <input type="text" disabled="true"  placeholder="请输入"   class="oil-input" ng-model = info.program.nrcTask.aa>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px">
                        <span class="tail-eng-title">C</span>
                        <div class="inline-block display-result">
                            <input type="text"  disabled="true" placeholder="请输入"   class="oil-input" ng-model = info.program.nrcTask.cc>
                        </div>
                    </div>
                    <div class="header" style="padding: 10px;background-color: #f8f8f8; font-size: 14px;border-bottom: 0.5px solid #f8f8f8">方案补充文件</div>
                    <p style="padding-left: 0.5rem;color: coral; line-height: 1.5rem;margin-bottom: 0" ng-repeat="file in info.program.nrcTask.nueAttachments track by $index" ng-if = "file.type =='application/pdf' " ng-click="openNewPageWithData(file)">附件:{{file.name}}</p>

                    <div class="p-image">
                        <img-upload is-api-cloud="isApiCloud"  nrc-id="nrcTaskId" is-edit="false" up-way="taskupWay" img-array="imgArrTask" file-arr="fileArrTask" del-img-id="delImgId"  attachvo="attachvo"></img-upload>
                    </div>
                    <div class="header" style="padding: 10px;background-color: #f8f8f8; font-size: 14px;border-bottom: 0.5px solid #f8f8f8">工具航材清单<span class="red">*</span></div>
                    <div class="oil-add-li" style="padding: 12px">
                    <span class="tail-eng-title">
                        <span class="">工具航材需求</span>
                        <span class="red">*</span>
                    </span>
                        <div class="inline-block display-result">
                            <label><input disabled="true"  type="radio" name="nrcTaskmrRequest" value="y" ng-model="info.program.nrcTask.mrRequest" ng-checked="info.program.nrcTask.mrRequest=='y'">YES</label>
                            <label><input disabled="true"  type="radio" name="nrcTaskmrRequest" value="n"  ng-model="info.program.nrcTask.mrRequest" ng-checked="info.program.nrcTask.mrRequest=='n'">NO</label>
                        </div>
                    </div>
                    <div class="oil-add-li" style="padding: 12px" ng-show = "info.program.nrcTask.mrRequest == 'y'">
                     <span class="tail-eng-title">
                        <span class="">REF IPC</span>
                        <span class="red">*</span>
                     </span>
                        <div  class="inline-block display-result">
                            <input class="oil-input" ng-model="info.program.nrcTask.repIpc" type="text"  placeholder="请填写依据">
                            <!--                        <select-person is-required="false" show-title="false" person-info="info.program.shenpi" is-auto-loginercode="true"></select-person>-->
                        </div>
                    </div>
                    <div class="ui-list oil-list" ng-show = "info.program.nrcTask.mrRequest == 'y'">
                        <div class="ui-list-item">
                            <div>
                                <div class="list-content">
                                    <ul class="list-group oil-li-wrapper">
                                        <!--编辑状态-->
                                        <li class="list-group-item oil-li" ng-repeat="toolItem in info.program.nrcTask.toolDto track by $index" swipe-del >
                                            <div class="delete"  translate="delete" ng-click="deleteTool($event,$index,'NrcTask')"></div>
                                            <div ng-click="editTool($event,toolItem,$index,'NrcTask')" class="oil-float-wraper">
                                                <div class="oil-li-left">
                                                    <span>工具</span>
                                                </div>
                                                <div class="oil-li-right">
                                                    <span>P/N　{{toolItem.pn}}</span>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-list oil-list" ng-show = "info.program.nrcTask.mrRequest == 'y'">
                        <div class="ui-list-item">
                            <div>
                                <div class="list-content">
                                    <ul class="list-group oil-li-wrapper">
                                        <!--编辑状态-->
                                        <li class="list-group-item oil-li" ng-repeat="toolItem in info.program.nrcTask.mrDto track by $index" swipe-del >
                                            <div class="delete"  translate="delete" ng-click="deleteMr($event,$index,'NrcTask')"></div>
                                            <div ng-click="editMr($event,toolItem,$index,'NrcTask')" class="oil-float-wraper">
                                                <div class="oil-li-left">
                                                    <span>航材</span>
                                                </div>
                                                <div class="oil-li-right">
                                                    <span>P/N　{{toolItem.pn}}</span>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="oil-add-li"  ng-show = "info.program.nrcTask.mrRequest == 'y'">-->
<!--                        <div style="display:inline-block; width: 100%;text-align: center;vertical-align: middle;font-size: .7rem" ng-click = "addTool('NrcTask')">-->
<!--                            <img src="dist/images/Group2.png" width="20" style="max-width: 100%" alt="" />-->
<!--                            添加工具-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="oil-add-li"  ng-show = "info.program.nrcTask.mrRequest =='y'">-->
<!--                        <div style="display:inline-block; width: 100%;text-align: center;vertical-align: middle;font-size: .7rem" ng-click="addMr('NrcTask')">-->
<!--                            <img src="dist/images/Group2.png" width="20" style="max-width: 100%" alt="" />-->
<!--                            添加航材-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="button-wrapper" style="padding: 12px" ng-show = "taskEdit">-->

<!--                    -->

<!--                        <button class="submitAddMR orange-button" style="width: 45%;float: left;margin-left: 0" ng-click="saveNrcTaskSure('save')" >-->
<!--                            保存-->
<!--                        </button>-->
<!--                        <button class="submitAddMR"-->
<!--                                ng-class="{-->
<!--                            'orange-button': info.program.nrcTask.chn.length > 0 &&-->
<!--                                        info.program.nrcTask.en.length > 0 &&-->
<!--                                        info.program.nrcTask.interval &&-->
<!--                                        info.program.nrcTask.mrRequest &&-->
<!--                                        (info.program.nrcTask.fh.length > 0 || info.program.nrcTask.fc.length > 0 ||info.program.nrcTask.days.length > 0 || info.program.nrcTask.aa.length > 0 || info.program.nrcTask.cc.length > 0)-->

<!--                                        }"-->
<!--                                ng-disabled = "info.program.nrcTask.chn.length == 0 ||-->
<!--                                        !info.program.nrcTask.chn ||-->
<!--                                        info.program.nrcTask.en.length  == 0 ||-->
<!--                                        !info.program.nrcTask.en ||-->
<!--                                        info.program.nrcTask.interval.length  == 0 ||-->
<!--                                        !info.program.nrcTask.interval ||-->
<!--                                        info.program.nrcTask.mrRequest.length  == 0 ||-->
<!--                                        !info.program.nrcTask.mrRequest ||-->
<!--                                        (info.program.nrcTask.fh.length == 0 && info.program.nrcTask.fc.length == 0 && info.program.nrcTask.days.length == 0 && info.program.nrcTask.aa.length == 0 && info.program.nrcTask.cc.length == 0)-->

<!--                                        "-->
<!--                                style="width: 45%;float: right;margin-left: 0"  ng-click = "saveNrcTaskSure('submit')">-->
<!--                            提交-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </form>
        </div>
<!--    </div>-->
</div>
