<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>MAOC</title>
    <meta name="description" content="MAOC">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="viewport" ng-if="!scalEnabled" id="!scalEnabledMeta" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="viewport" ng-if="scalEnabled" id="scalEnabledMeta" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="./dist/css/mobile-angular-ui-base.min.css">
    <link rel="stylesheet" href="./dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="./dist/css/wysiwyg.css">
    <link rel="stylesheet" href="./dist/css/normalize.css">
    <link rel="stylesheet" id="switch" href="dist/css/maoc.min.css?v=1">
    <!--<link rel="stylesheet" href="dist/css/introjs.css">-->
</head>

<body id="body-id">
<!--WO No.弹窗-->
<div class="wonomber-wrap autoScroll" ng-class="{'displayBlock':errTip,'wonomber-height-errFixed':interfaceErr}">
    <div class="wonomber-tip wonomber-bottom" ng-show="interfaceErr" translate="errStatus.interfaceErr"></div>
    <div class="wonomber-body material-alert-title"
         ng-class="{'wonomber-body-radius':!interfaceErr,'wonomber-font':interfaceErr}">{{errTip}}
    </div>
    <div class="confirm-cancle">
        <div class="confirm" ng-click="errTip = false">
            <translate>confirm</translate>
        </div>
    </div>
</div>
<div class="mask" ng-class="{'displayBlock':errTip,'displayNone':!errTip}"></div>

<!--WO No.弹窗-->
<div class="wonomber-wrap autoScroll" ng-class="{'displayBlock':errAlert,'wonomber-height-errFixed':interfaceErr}">
    <div class="wonomber-tip wonomber-bottom" ng-show="interfaceErr" translate="errStatus.interfaceErr"></div>
    <div class="wonomber-body material-alert-title"
         ng-class="{'wonomber-body-radius':!interfaceErr,'wonomber-font':interfaceErr}">{{errAlert}}
    </div>
    <div class="confirm-cancle">
        <div class="confirm" ng-click="errAlertCallBack()">
            <translate>confirm</translate>
        </div>
    </div>
</div>
<div class="mask" ng-class="{'displayBlock':errAlert,'displayNone':!errAlert}"></div>


<div class="modal my-modal display-none" ng-style="{'display': 'block'}" ng-show="netWorkErr">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="network-err-wrap app-content-loading" translate="errStatus.networkErr">
        </div>
    </div>
</div>
<!-- 公共loading效果 -->
<div ng-hide="!loading" class="app-content-loading-wrapper">
    <div ng-class="{'app-content-loading': loading}" class=" loading-bg display-none">
        <i class="fa fa-spin loading-spinner">
            <img src="dist/images/loading.png" width="60%">
        </i>
    </div>
</div>

<!-- 公共图片 -->
<div class="ui-img" ng-class="{show:showImage}">
    <p ng-click="showImage = false"></p>
    <div>
        <img ng-src="{{rootImgUrl}}"/>
    </div>
</div>
<!--公共输入限制提示窗口-->
<div class="wonomber-wrap"
     ng-class="{'displayBlock':limitTip,'wonomber-height-fixed':!shortLimitTip,'short-wonomber-titile':shortLimitTip}">
    <div class="wonomber-title material-alert-title">{{limitTipContent}}</div>
    <div class="confirm-cancle">
        <div class="confirm" ng-click="limitTip = false">
            <translate>confirm</translate>
        </div>
    </div>
</div>
<div class="mask" ng-class="{'displayBlock':limitTip,'displayNone':!limitTip}"></div>

<!-- 公共confirm -->
<div class="modal my-modal display-none" ng-style="{'display': 'block'}" ng-if="confirmShow">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog ">
        <div class="modal-content app-content-loading modal-confirm">
            <div class="modal-body">
                <p class="ng-binding">{{confirmInfo}}</p>
            </div>
            <div class="confirm-cancle confirm-btn" ng-show="!isYes">
                <div class="confirm" ng-click="confirmOk();$parent.confirmShow = false;">
                    <translate>confirm</translate>
                </div>
                <div class="cancel" ng-click="confirmCancel();">
                    <translate>cancel</translate>
                </div>
            </div>
            <div class="confirm-cancle confirm-btn" ng-show="isYes">
                <div class="confirm" ng-click="confirmOk();$parent.confirmShow = false;">
                    是
                </div>
                <div class="cancel" ng-click="confirmCancel();">
                    否
                </div>
            </div>
        </div>
    </div>
</div>

<div class="damage-confirm display-none" ng-class="{'displayBlock':updateTip}">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con updateBg">
            <span class="appversion"> {{'V' + appVer}}</span>
            <div class="updateMes" ng-click="watchUpdate()" ng-bind-html = "updateTip ">
            </div>
            <span class="closeButton" ng-click="updateTip = false">
            </span>
        </div>
    </div>

</div>

<!--<div class="ios-css" ng-if="ios && !isMessageDetail"></div>-->
<div ui-view class="page-view" ng-class="pageAnimationClass"></div>
<script src="../script/api.js"></script>

<script type="text/javascript" src="../script/tokenManger/tokenManager.js"></script>
<script type="text/javascript" src="../script/tokenManger/requestHelper.js"></script>
<!-- build:minJS -->
<script src="dist/js/maoc.js"></script>
<!-- endbuild -->
<script src="dist/js/global-transfer.min.js"></script>

<script src="dist/js/intro.min.js"></script>
<script src="../script/angularBridge/base64.js"></script>
<script src="../script/angularHandler.js"></script>

<script src="dist/js/appOpenApi.min.js"></script>
<script src="dist/js/Umeng.min.js"></script>
<script src="dist/js/wysiwyg.min.js"></script>
<script src="dist/js/pdf.min.js"></script>
<script src="dist/js/pdf.worker.min.js"></script>
</body>

</html>