<ui-view ng-class="pageAnimationClass"></ui-view>
<!--mr列表-->
<!--<div ui-content-for="title"></div>-->
<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center" translate="mr.mr">

	</div>
	<div class="btn-group btn-group-left">
		<div class="btn" ng-click="go('back')">
			<i class="icon-maoc icon-back"></i>
		</div>
	</div>
	<div class="btn-group btn-group-right addMR" ng-hide="mrListLength != '0'&& card_data.workType != ''&& card_data.workType != 'DEFECT' && card_data.workType != 'DD'&& card_data.workType != 'defectAdd'" ng-click="go('mrAdd','', {timeId: curTimeParse,searchTxt:card_data,sapTaskId:card_data.sapTaskId,station:card_data.station,jobDate:card_data.jobDate,assetNum:card_data.assetNum })" ng-if="status_close">
		<span id="add-mr">Add MR</span>
	</div>
</div>
<!--<div class="list-contont-wrap" ng-show="!loading2">-->
	<div class="scrollable list-scrollable">
		<div class="scrollable-content" im-pull-to-refresh refresh-function="getData()">

			<!--下拉刷新时显示 -->
			<div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
				<i class="fa fa-refresh fa-spin fa-fw"></i><translate>loading</translate>...
			</div>
			<!-- 数据为空时显示 -->
			<div class="backup-airport no-data" ng-hide="mrListLength||pullToRefreshActive || loading2  || netWorkErr">
				<img src="dist/images/uncreat-mr.png" width="256" alt="No Data" />
			</div>

			<div class="list-content" ng-show="mrListLength && !loading2">
				<ul class="list-group">
					<li class="list-group-item"  swipe-delete ng-repeat="mrListItem in mrList | orderBy: '-createTime'">
						<div class="delete" ng-show="mrListItem.timeId" translate="delete"></div>
						<span ng-show="mrListItem.timeId" class="badge unsubmit">！</span>
						<!--						<span class="badge" ng-show="!mrListItem.timeId">{{mrListItem.status}}</span>-->
						<span class="mr-number" ng-hide="mrListItem.timeId">MR{{mrListItem.no | limitTo:-9 }}{{(mrListItem.acInfo && mrListItem.acInfo != 'undefined') ? '('+ mrListItem.acInfo + ')' : '' }}</span>
						<span class="mr-number" ng-show="mrListItem.timeId">{{mrListItem.no }}{{(mrListItem.acInfo && mrListItem.acInfo != 'undefined')? '('+ mrListItem.acInfo + ')' : '' }}</span><br />
						<span class="mr-date">{{mrListItem.createTime | date:'yyyy-MM-dd'}}</span>

					</li>

				</ul>
			</div>
		</div>
	</div>
<!--</div>-->