<moac-header>{{ mrDetail.partNo}}</moac-header>
<moac-body>
    <div class="p-mrNewDetail" ng-if="mrDetail">
        <div class="p-item">
            <div class="name">Item:</div>
            <div class="desc" ng-bind=" mrDetail.partNo"></div>
        </div>
        <div class="p-item">
            <div class="name">Available QTY:</div>
            <div class="desc" ng-bind=" mrDetail.availableQty"></div>
        </div>
        <div class="p-item">
            <div class="name">UNT:</div>
            <div class="desc" ng-bind=" mrDetail.orderUnit"></div>
        </div>
        <div class="p-item">
            <div class="name">Location:</div>
            <div class="desc" ng-bind=" mrDetail.location"></div>
        </div>
        <div class="p-item">
            <div class="name">Description:</div>
            <div class="desc" ng-bind=" mrDetail.description"></div>
        </div>
        <div class="p-item">
            <div class="name"> Prohibitive/Restrictive:</div>
            <div class="desc">
                {{mrDetail.prpetive}} {{mrDetail.restrictive}}
            </div>
        </div>
        <div class="p-item">
            <div class="name">库房:</div>
            <div class="desc">{{mrDetail.storeLoc}} {{mrDetail.storeDescription}}</div>
        </div>
        <div class="p-item">
            <div class="name">属性:</div>
            <div class="desc">{{mrDetail.pnType == "1"?"周转件":mrDetail.pnType == "3"?"消耗件":mrDetail.pnType == "2"?"控修件":""}}</div>
        </div>
    </div>
</moac-body>