<ui-view></ui-view>
<moac-header>航材查询<span ng-click="showFlow()" style="position: absolute;right: 2.5rem;z-index: 14;font-size: 16px">{{staInfo.station}}</span></moac-header>

<ui-search search-val="searchVal" is-accurate="isAccurate"  placeholder="{{holderValue}}" search="clickBtnSearch()" changesearch = "pnInputChange()"></ui-search>
    <div ng-show="pnListdropdown && pnList.length > 0" style="width: 90%;display: block;background-color: #adadad;margin:0 auto;position: relative;">
        <ul  class="dropdown-menu mr-dropdown" style="z-index:1000;max-height: 10rem;overflow-x: hidden;overflow-y: auto;">
            <li  ng-repeat="item in pnList" style="margin: .02rem 0 .02rem 0" ng-click="selectPn(item.partno )">
                <a >{{ item.partno }}</a>
            </li>
        </ul>
    </div>
<div class="scrollable p-mrSearch">
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()">
        <div class="material-content-wrap">
            <div class="backup-airport no-data"
                 ng-hide="!isSearch||!balanceInfo || loading2 || balanceInfo.length || netWorkErr"
                 translate="mr.noBalanceInfo"></div>
            <div class="backup-airport no-data"
                 ng-show="!isSearch"
                 ng-bind="errorTip"></div>
            <div class="p-item" ng-click="go('mrNewSearch.mrNewDtl','slideLeft',{mrId:item.partNo,station:item.location,storeLoc:item.storeLoc})"
                 ng-repeat="item in balanceInfo track by $index">
                <div class="p-item-main">
                    <div class="dtl">
                        <div>{{item.partNo}}</div>
                        <div>
                            <span class="location" >{{item.pnType == "1"?"周转件":item.pnType == "3"?"消耗件":item.pnType == "2"?"控修件":""}}&#8197;</span>
                            <span class="qty" style="display: block;width: 3.5rem;">Qty:{{item.availableQty}}</span>
                            <span class="location" style="display: block;">{{item.location}}</span>
                            <span class="location">&#8197;({{item.storeDescription}})</span>
                        </div>
                    </div>
                    <div class="desc">{{item.description}}</div>
                </div>
                <div class="p-item-to"></div>
            </div>
        </div>
        <div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
    </div>
</div>
<div class="more-operate">
    <div class="add-wrap operate" ng-click="showFlow()">
        <i class="icon-maoc icon-add">
            <!--                <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
        </i>
    </div>
    <!--        <div class="san text-center " >-->
    <!--            <div class="sai-wrap ng-hide " ng-class="{'slide-up': operate}" ng-show="operate"  ng-click="go('me.meFilter', 'slideLeft')">-->
    <!--                <i class="icon-maoc icon-sai">-->
    <!--                    <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
    <!--                </i>-->
    <!--                <br><translate>filter</translate>-->
    <!--            </div>-->
    <!--        </div>-->
</div>
<div class="damage-confirm" ng-show="showFilter">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con new-cc" style="overflow: visible;padding: 0 15px;">
            <!--                <div class="title text-center">筛选</div>-->
            <!--            <div class="advice">航站：</div>-->
            <div style="padding: 20px 0" class="cc-base">
                <div class="category clearfix" style="border: none">
                    <div class="left p-fl" style="width: 50%">航站/飞机仓：</div>
                    <div class="right normal p-fl" style="width: 50%">
                        <select-station-store is-must-select="mustSlect" title="toStation" station-info="staInfo"></select-station-store>
                    </div>
                </div>
                <!--                    <span class="p-fl">航站：</span>-->
                <!--                    <select-station-three title="toStation" station-info="staInfo"></select-station-three>-->
                <!--                <textarea class="refuseText" placeholder="请输入驳回备注（限500字）" name="" maxlength="500" ng-model="$parent.refuseReasonPend"></textarea>-->
            </div>
            <!--            <div class="notice">*提交后将不能被修改</div>-->
            <div class="buttons">
                <button class="ensure" ng-click="filterChange()">确认</button>
                <button ng-click="onclickClose()">取消</button>
            </div>
        </div>
    </div>

</div>