<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView" class="transfer-receiving">
    <div class="navbar navbar-app navbar-absolute-top fixbar">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                收料详情
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <!--        **********-->
        <div class="scrollable" style="position: absolute;top: 2rem">
            <div class="scrollable-content">
                <!--on-finish-render-filters-->
                <div class="flight-wrap"  >
                    <div class="pubFlightList" >
                        <div class="top clearfix">
                            <span class="pull-left"  style="font-size: .75rem;font-weight: 600;display: inline-block;width: 60%">调配合同:<span style="font-weight: 500">{{dataList.contract}}</span></span>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">合同行:</span>
                                <span style="width: 4rem">{{dataList.contractItem}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">件号:</span>
                                <span style="width: 4rem">{{dataList.pn}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">批次:</span>
                                <span style="width: 4rem">{{dataList.batchNo}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">序号:</span>
                                <span style="width: 4rem">{{dataList.sn}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发货数量:</span>
                                <span style="width: 4rem">{{dataList.planQty}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发货单位:</span>
                                <span style="width: 4rem">{{dataList.unit}}</span>
                            </div>
                        </div>
<!--                        <div class="category clearfix flex-layout-between" style="margin-bottom: .3rem">-->
<!--                            <div  style="width: 30%">架位</div>-->
<!--                            &lt;!&ndash;                            <input type="textarea" class="form-control search-textbox framecolor"   required style="width: 65% ;border-color: #C9C9C9"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                   ng-model="item.shelf" >&ndash;&gt;-->
<!--                            <textarea ng-model="item.shelf" required  style="width: 65% ;border-color: #C9C9C9"-->
<!--                                      maxlength="40"></textarea>-->
<!--                        </div>-->
                        <div style="display: flex;flex-direction: column;align-items: center;background-color:inherit;">
                            <span style="width: 100%;color: #C2C2C2;">架位:</span>
                            <textarea style="width: 97%;height: 3.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="dataList.shelf"></textarea>
                        </div>
                    </div>
                </div>

                <button class="submitAddMR orange-button" ng-disabled="disabledFlage" ng-click="submitMr()" style="position: fixed;bottom: 3.5rem;left: .22rem;background-color: #00b4ff">提交</button>

            </div>
        </div>
        <!--        **********-->
    </div>


</div>