<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView" class="transfer-receiving">
    <div class="navbar navbar-app navbar-absolute-top fixbar">
        <div class="clearfix top-title flex-layout-between">
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div ng-show="VIEW_MR || ADMIN" class="navbar-brand navbar-brand-center search-entry" style="width: 70%;text-align: center;background-color: #fff;height:1.6rem">
                <input type="text" ng-model="inputPn" class="form-control search-textbox framecolor" placeholder="请输入需求件号" ng-change="selectByPn()" style="width: 100%;border: none;text-align: center;" required />
            </div>
            <div class="btn-group btn-group-right">
                <div class="btn" ng-click="selectByPn()">
                    搜索
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <!--        **********-->
        <div class="scrollable" style="position: absolute;top: 2.5rem">
            <div class="scrollable-content"
                 im-pull-to-refresh refresh-function="getAllFlightInfo({time:flightDate})">
                <!--下拉刷新时显示 -->
                <div  ng-show="pullToRefreshActive && isList" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
                    <i class="fa fa-refresh fa-spin fa-fw"></i><translate>loading</translate>...
                </div>
                <!--on-finish-render-filters-->
                <div class="flight-wrap" ng-repeat="item in dataList track by $index" on-finish-render-filters >
                    <div class="pubFlightList" swipe-delete-sv ng-class="{'sv-swipe-left-hide': item.status == false}">
                        <div class="delete-sv " >
                            <div class="apu" ng-show="flight.type != 2 && !(flight.type == 0 && flight.departureStationJob && flight.departureStationJob.jobType == 'N/A')"
                                 ng-click="go('dispatchDetail', 'slideLeft',{pn:item.pn,mrNo:item.mrNo,needQty:item.needQty,unit:item.unit,sapTaskId:item.sapTaskId,mrItem:item.mrItem,sentQty:item.sentQty,sn:item.sn,batchNo:item.batchNo,station:station})"> 发料
                            </div>
                        </div>
                        <div class="top clearfix">
                            <span class="pull-left"  style="font-size: .75rem;font-weight: 600;display: inline-block;width: 60%">MR:<span style="font-weight: 500">{{item.mrNo}}</span></span>
                            <span class="pull-right" style="font-size: .75rem;font-weight: 600;display: inline-block;width: 33.33%;text-align: right">
                                     <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #cc2131 ;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-hide="item.status">
                                        <span>Close</span>
                                    </span>
                                    <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #5ddc71;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-show="item.status" >
                                         <span>Open</span>
                                    </span>
                            </span>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求件号:</span>
                                <span style="width: 4rem">{{item.pn}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求数量:</span>
                                <span style="width: 4rem">{{item.needQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求单位:</span>
                                <span style="width: 4rem">{{item.unit}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">已发数量:</span>
                                <span style="width: 4rem">{{item.sentQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发料批次:</span>
                                <span style="width: 4rem">{{item.batchNo}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">已发数量:</span>
                                <span style="width: 4rem">{{item.sendQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">文件编号:</span>
                                <span style="width: 4rem">{{item.workNumber}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">文件类型:</span>
                                <span style="width: 4rem">{{item.workType}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发料序号:</span>
                                <span style="width: 4rem">{{item.sn}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">&nbsp;</span>
                                <span style="width: 4rem">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="text-center" ng-if="noMoreData" translate="loadingDone"></div>
                </div>

                <div class="text-center" ng-if="noMoreData && flights.length" translate="loadingDone"></div>
            </div>
        </div>
        <!--        **********-->
    </div>


</div>