<div class="navbar navbar-app navbar-absolute-top">
	<div class="clearfix top-title">
		<div class="navbar-brand navbar-brand-center">
			Search Material
		</div>
		<div class="btn-group btn-group-left">
			<div class="btn" ng-click="go('back')">
				<i class="icon-maoc icon-back" ></i>
			</div>
		</div>
		<div class="btn-group btn-group-right">
			<div class="btn" ng-click="go('back')">
				<span style="color: #fff">完成</span>
			</div>
		</div>
	</div>
	<!--搜索页头-->
	<ui-search search-val="searchVal" is-accurate="isAccurate"  placeholder="{{holderValue}}" search="clickBtnSearch(searchVal)"></ui-search>

	<!--<div class="datebox" ng-hide="pnno">-->
	<!--<div class="btn-group search-btn-group mr-search-head">-->
	<!--<div class="datebox-wrap  wrap-right add-search" >-->
	<!--<form action="">-->
	<!--<input type="search" class="form-control"  ng-attr-placeholder="{{holderValue}}" ng-model="materialsearchTxt "-->
	<!--ng-keypress="enter($event,materialsearchTxt)">-->
	<!--</form>-->
	<!--<i class="icon-maoc icon-materialsearch"-->
	<!--ng-click="clickBtnSearch(materialsearchTxt)"></i>-->

	<!--</div>-->
	<!--<label><input type="checkbox" ng-model="isAccurate">精确搜索</label>-->
	<!--</div>-->
	<!--</div>-->
</div>
<div ng-show="pnListdropdown && pnList.length > 0" style="width: 90%;display: block;background-color: #adadad;margin:0 auto;position: relative;">
	<ul  class="dropdown-menu mr-dropdown" style="z-index:1000;max-height: 10rem;overflow-x: hidden;overflow-y: auto;">
		<li  ng-repeat="item in pnList" style="margin: .02rem 0 .02rem 0" ng-click="selectPn(item.partno )">
			<a >{{ item.partno }}</a>
		</li>
	</ul>
</div>
<div class="scrollable">
	<div class="scrollable-content" ui-scroll-bottom="getNextPage()">
		<div class="material-content-wrap">
			<div class="list-group material-content">
				<div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr" translate="mr.noBalanceInfo"></div>
				<div class="list-group-item materialitem" ng-repeat="item in balanceInfo track by $index" ng-if="!item.delCard" on-finish-render-filters ng-click="xuanzhong(item.partNo)">
					<div class="material-content-top">
						<div class="pull-left materialname">{{item.partNo}}</div>
						<!--					    <div class="pull-right materialposition">{{item.location}}</div>-->
					</div>
<!--					<div class="material-content-middle materialdescript">-->
<!--						<span class="material serial-num" ng-show="item.serialNum"><translate>mr.sn</translate> {{item.serialNum}}</span>-->
<!--						<span class="material" ng-show="item.lotNum"><translate>mr.lotNum</translate> {{item.lotNum}}</span>-->
<!--					</div>-->
					<div class="material-content-middle materialdescript">
						{{item.description}}
					</div>
					<div class="material-content-middle materialdescript">
						{{item.pnType == 1?"周转件":item.pnType == 2?"控修件":item.pnType == 3?"消耗件":""}}
					</div>

					<!--					<div class="material-content-bottom">-->
					<!--						<div class="pull-left">-->
					<!--							<span class="materialminus" ng-click="minusmaterial(item.availableQty,item.needMaterialNumber,item,1)" ng-class="{'forbidColorMinus':item.needMaterialNumber==0}">－</span>-->
					<!--		    					<input type="text" ng-change="overStock(item,$event)"  class="materialnumber" ng-model="item.needMaterialNumber" ng-init="item.needMaterialNumber=0"-->
					<!--		    						min="0" required/>-->
					<!--		    				<span class="materialplus" ng-click="plusmaterial(item.availableQty,item.needMaterialNumber,item,1)"  ng-class="{'forbidColorAdd':item.needMaterialNumber==item.availableQty}">＋</span>-->
					<!--		    				<span class="materialstock"><translate>mr.stock</translate> {{item.availableQty=='null' ? item.curbal : item.availableQty}}{{item.orderUnit}}</span>-->
					<!--						</div>-->
					<!--						<div class="pull-right materialsure-wrap">-->
					<!--							<button type="button" class="materialsure" sure-add date-base="mrDataBase" ng-disabled="item.needMaterialNumber == 0 || item.needMaterialNumber==undefined" ng-class="{'btngray':item.needMaterialNumber == 0 || item.needMaterialNumber==undefined}" translate="confirm"></button>-->

					<!--						</div>-->
					<!--					</div>-->
					<div class="material-content-bottom">
					<span style="display:none;"  ng-init="item.needMaterialNumber=1"></span>
<!--点击选择-->
					<div class="pull-right materialsure-wrap">
						<button type="button" class="materialsure" card-type = "'LM'" sure-add date-base="mrDataBase" ng-disabled="item.needMaterialNumber == 0 || item.needMaterialNumber==undefined" ng-class="{'btngray':item.needMaterialNumber == 0 || item.needMaterialNumber==undefined}" >选择</button>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
	</div>
</div>

<div class="wonomber-wrap" ng-class="{'displayBlock':showMask}">
	<div class="wonomber-title material-alert-title" translate="mr.blockNum" translate-values="blockNum"></div>
	<div class="confirm-cancle">
		<div class="confirm" ng-click="showMask = false" translate="confirm"></div>
	</div>
</div>
<div class="mask" ng-class="{'displayBlock':showMask}"></div>

