<div class="transfer-receiving">
    <div class="navbar navbar-app navbar-absolute-top fixbar">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                收料列表
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div class="btn-group btn-group-right">
                <div class="btn" style="width: 2.2rem;height: 2.2rem;margin-right: .5rem;" ng-click="go('searchByNumber', 'slideLeft',{})">
                    <i class="icon-search-find"   ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <div class="flex-layout-between" style="position: relative" >
            <div class="acSta clearfix" style="padding: 0;overflow: hidden;width: 100%;">
                <div class="pull-left" style="width: 33.33%;position: relative; text-align: center;background-color: inherit;">
                    <div class="check-method" style="display: inline-block;height: 2rem;width: 100%;position: relative;background-color: inherit;">
                        <span ng-click="showFilter = true"  style="display: inline-block;overflow: hidden;-ms-text-overflow: ellipsis;height: 2rem;text-overflow: ellipsis;white-space: nowrap;">
                            {{staInfo.station ? staInfo.station : '全部'}}
                        </span>
<!--                        <select  ng-model="mrInfo.station" style="z-index: 9; position: absolute;left: 0;top: 0;display: inline-block;height: 100%;width: 100%;border: none;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;opacity: 0"-->
<!--                                 ng-change="selectSearch()">-->
<!--                            &lt;!&ndash;<option value="">全部</option>&ndash;&gt;-->
<!--                            <option value="{{flawTypeItem}}"-->
<!--                                    ng-selected="flawTypeItem.selected"-->
<!--                                    ng-repeat="flawTypeItem in airportArr track by $index ">-->
<!--                                {{flawTypeItem}}-->
<!--                            </option>-->
<!--                        </select>-->
                    </div>
                    <img class="triangle" style="width: 10px;margin-right: .2rem" src="dist/images/oil/Shape1@2x.png">
                </div>
                <div class="pull-right" style="width: 33.33%;position: relative;text-align: center">
                    <div class="check-method" style="display: inline-block;height: 100%;width: 100%;">
                        <select  ng-model="status" style="display: inline-block;height: 100%;width: auto;border: none;"
                                 ng-change="selectSearch()">
                            <option value="Y">待收货</option>
                            <option value="">全部状态</option>
                            <option value="X">已收货</option>
                        </select>
                    </div>
                    <img class="triangle" style="width: 10px;margin-right: .3rem" src="dist/images/oil/Shape1@2x.png">
                </div>
            </div>
        </div>
        <div class="scrollable" style="position: absolute;top: 4.5rem">
            <div class="scrollable-content" ui-scroll-bottom="getNextPage()"
                 im-pull-to-refresh refresh-function="getAllFlightInfo({time:flightDate})">
                <!--下拉刷新时显示 -->
                <div  ng-show="pullToRefreshActive && isList" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
                    <i class="fa fa-refresh fa-spin fa-fw"></i><translate>loading</translate>...
                </div>
                <!--on-finish-render-filters-->
                <div class="flight-wrap" ng-repeat="item in dataList track by $index" on-finish-render-filters >
                    <div class="pubFlightList" swipe-delete-sv ng-class="{'sv-swipe-left-hide': item.status == 'X'}">
                        <div class="delete-sv " >
                            <div class="apu" ng-show="flight.type != 2 && !(flight.type == 0 && flight.departureStationJob && flight.departureStationJob.jobType == 'N/A')"
                                 ng-click="go('receivingDetail', 'slideLeft',{orderItem:item.orderItem,orderNo:item.orderNo})"> 收料
                            </div>
                        </div>
                        <div class="top clearfix">
                            <span class="pull-left"  style="font-size: .75rem;font-weight: 600;display: inline-block;width: 60%">调配合同:<span style="font-weight: 500">{{item.contract}}</span></span>
                            <span class="pull-right" style="font-size: .75rem;font-weight: 600;display: inline-block;width: 33.33%;text-align: right">
                                     <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #cc2131 ;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-if="item.status == ''">
                                        <span>待收货</span>
                                    </span>
                                    <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #5ddc71;text-align: center;padding: 0 .15rem;border-radius: .1rem"ng-if="item.status == 'X'" >
                                         <span>已收货</span>
                                    </span>
                                </span>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">合同行:</span>
                                <span style="width: 4rem">{{item.contractItem}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">件号:</span>
                                <span style="width: 4rem;word-wrap:break-word">{{item.pn}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">批次:</span>
                                <span style="width: 4rem">{{item.batchNo}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">序号:</span>
                                <span style="width: 4rem">{{item.sn}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发货数量:</span>
                                <span style="width: 4rem">{{item.planQty}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发货单位:</span>
                                <span style="width: 4rem">{{item.unit}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">收货人:</span>
                                <span style="width: 4rem">{{item.receiptSn+ '(' + item.receiptName + ')'}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">收货时间:</span>
                                <div style="width: 4rem" ng-show="item.receiptDay">
                                    <span style="width: 4rem">{{item.receiptDay | limitTo: 4 }}.{{item.receiptDay | limitTo: 2:4 }}.{{item.receiptDay | limitTo: -2 }}</span>

                                </div>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">收货航站:</span>
                                <span style="width: 4rem">{{item.station}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">&nbsp;&nbsp;</span>
                                <span style="width: 4rem" ng-show="item.receiptTime">{{item.receiptTime | limitTo: 2}}:{{item.receiptTime | limitTo: 2:2}}:{{item.receiptTime | limitTo:-2}}</span>
                            </div>
                        </div>
                        <div style="margin: .1rem 0;padding: 0 0;">
                            <div  style="width: 14rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">调配需求原因:</span>
                                <span style="width: 10rem">{{allReason[item.reason].TEXT}}</span>
                            </div>
                        </div>
                        <div style="margin: .1rem 0;padding: 0 0;">
                            <div  style="width: 14rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">仓库描述:</span>
                                <span style="width: 10rem">{{item.storeDescription}}</span>
                            </div>
                        </div>
                        <div style="margin: .1rem 0;padding: 0 0;">
                            <div  style="width: 14rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">架位:</span>
                                <span style="width: 10rem">{{item.shelf}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center" ng-if="noMoreData" translate="loadingDone"></div>
            </div>
        </div>
        <!-- 右侧图标  -->
<!--        <div class="more-operate"  ng-if="dataList" >-->
<!--            <div class="add-wrap" ng-class="{rote: operate}" direction-move>-->
<!--                <i class="icon-maoc icon-add">-->
<!--                    <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
<!--                </i>-->
<!--            </div>-->
<!--            <div class="san text-center " >-->
<!--                <div class="sai-wrap ng-hide" ng-class="{'slide-up': operate}" ng-show="operate"  ng-click="go('me.meFilter', 'slideLeft')">-->
<!--                    <i class="icon-maoc icon-sai">-->
<!--                        <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
<!--                    </i>-->
<!--                    <br><translate>filter</translate>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="search-wrap  ng-hide" ng-class="{'slide-up': operate}" ng-show="operate" ng-click="go('searchMeJob', 'slideLeft', {time:flightDate.getTime()})">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="icon-maoc icon-so"></i><br><translate>search</translate>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->
        <!--        **********-->
    </div>
    <div class="more-operate">
        <div class="add-wrap operate" ng-click="showFlow()">
            <i class="icon-maoc icon-add"></i>
        </div>
    </div>
    <div class="damage-confirm" ng-show="showFilter">
        <div class="background"></div>
        <div class="damage-confirm-box">
            <div class="damage-confirm-con new-cc" style="overflow: visible;padding: 0 15px;">
                <div style="padding: 20px 0" class="cc-base">
                    <div class="category clearfix" style="border: none">
                        <div class="left p-fl" style="width: 50%">航站/飞机仓：</div>
                        <div class="right normal p-fl" style="width: 50%">
                            <select-station title="toStation" station-info="staInfo"></select-station>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="ensure" ng-click="selectSearch()">确认</button>
                    <button ng-click="showFilter = false">取消</button>
                </div>
            </div>
        </div>

    </div>


</div>