<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
<!--        {{isEdit ? 'CC View' : 'Add CC'}}-->
        退库
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<moac-body>
    <div class="new-cc ddi-scrollable-content" ng-class="">
        <div class="cc-base" style="padding-top: 0">
            <div class="clearfix" style="line-height: 1.4rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">退料单:</span> {{insertJson.id}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">申请状态:</span> {{insertJson.cancelStockStatus ? '实物登记' : '新建'}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.4rem">
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">工作航站:</span> {{insertJson.fromStation}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">飞机号:</span> {{ccJson.onModel}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.4rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">件号:</span> {{insertJson.pn}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">序号:</span> {{insertJson.sn}}
                </div>
            </div>

            <div class="clearfix" style="line-height: 1.4rem">
                <div class="p-fr" style="width: 50%;">
<!--                    <span style="color: #999">航材状态:</span> {{ccJson.airMaterialState == 'B' ? '可用件': ccJson.airMaterialState == 'A'? '不可用件':'待观察件'}}-->
                    <span style="color: #999">航材状态:</span> {{insertJson.airMaterialState == 'B' ? '可用件': insertJson.airMaterialState == 'A'? '不可用件':'待观察件'}}
                </div>
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">计划性:</span> {{ccJson.planType == '1' ? '非计划性': '计划性'}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.4rem">

                <div class="p-fl" style="width: 100%;">
                    <span style="color: #999">关联CC:</span> {{ccJson.ccNo}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.4rem">
                <div class="p-fl" style="width: 100%;">
                    <span style="color: #999">退料类型:</span> {{insertJson.cancelStockType == 2 ? '领出未用退料':insertJson.cancelStockType == 4 ? '装机未用退料':'拆下件退料'}}
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <!--拆下部分-->
        <div class="cc-base" style="padding-top: 0">
            <div class="category clearfix" style="border: none">
                <div class="left p-fl">目的航站<span class="red">*</span></div>
                <div class="right normal p-fl">
                    <select-station-three title="toStation" station-info="staInfo"></select-station-three>
                </div>
            </div>
            <!--<div class="category clearfix">-->
                <!--<div class="left p-fl">工作航站<span class="red">*</span></div>-->
                <!--<div class="right normal p-fl">-->
                    <!--<input type="text" readonly ng-model="insertJson.fromStation">-->
                <!--</div>-->
            <!--</div>-->
            <div class="category clearfix">
                <div class="left p-fl">是否随机<span class="red">*</span></div>
                <div class="right normal p-fl" style="text-align: right">
                    <label style="font-weight: 400"><input type="radio" name="comStatus" ng-disabled="staInfo.station.toUpperCase() == insertJson.fromStation.toUpperCase()"  ng-value="1" ng-model="insertJson.transport" ng-checked="insertJson.transport == '1'">YES</label>
                    <label style="font-weight: 400"><input type="radio" name="comStatus" ng-disabled="staInfo.station.toUpperCase() == insertJson.fromStation.toUpperCase()" ng-value="2"  ng-model="insertJson.transport" ng-checked="insertJson.transport == '2'">NO</label>
                </div>
            </div>
<!--            <div class="category clearfix" ng-if="isEdit">-->
<!--                <div class="left p-fl">是否退料<span class="red">*</span></div>-->
<!--                <div class="right normal p-fl">-->
<!--                    &lt;!&ndash;这是反的 找人齐确认过&ndash;&gt;-->
<!--                    <label style="font-weight: 400"><input type="radio" name="noNeed"  ng-value="n" ng-model="insertJson.noNeed" ng-checked="insertJson.noNeed == 'n'">YES</label>-->
<!--                    <label style="font-weight: 400"><input type="radio" name="noNeed"  ng-value="y"  ng-model="insertJson.noNeed" ng-checked="insertJson.noNeed == 'y'">NO</label>-->
<!--                </div>-->
<!--            </div>-->


        </div>





        <div class="divider"></div>

        <!--其他信息-->
        <div class="cc-base" style="padding-top: 0">
            <div class="category clearfix" style="border: none">
                <div class="left p-fl" style="width: 20%;">退料人<span class="red">*</span></div>
                <div class="right normal p-fl" style="width: 80%;">
                    <select-person  is-auto-loginercode="!isEdit"  person-info="mech"></select-person>
                </div>
            </div>
            <div class="category clearfix" style="border-bottom: .5px solid #eee">
                <div class="left p-fl">退料时间<span class="red">*</span></div>
                <div class="right normal p-fl">
                    <input style="padding-left:0;width: 12em" ng-if="!android" name="dateFound" type="datetime-local" class="fount-date" ng-model="insertJson.sendBackTime" step="1800">
                    <input style="padding-left:0;width: 12em" ng-if="android" name="dateFound" type="datetime-local" class="fount-date" ng-model="insertJson.sendBackTime" step="1800">

                </div>
            </div>
            <div class=" clearfix input-block">
                <p>拆下原因<span class="red">*</span></p>
                <textarea ng-model="ccJson.reason" readonly maxlength="500" placeholder="最多可輸入500字"></textarea>
            </div>
            <div class=" clearfix input-block">
                <p>拆下挂签里的拆下故障原因<span class="red">*</span></p>
                <textarea ng-model="insertJson.reason"  maxlength="500" placeholder="最多可輸入500字"></textarea>
            </div>
            <div class="p-image" ng-if="isEdit">
                <div>附件：<span class="red">*</span></div>
                <img-upload file-id="$parent.$parent.fileId" up-way="$parent.$parent.upWay" is-edit="true"  nrc-id="$parent.$parent.insertJson.id" img-array="$parent.$parent.imgArr" file-arr="$parent.$parent.fileArr2" del-img-id="delImgId"  attachvo="attachvo"></img-upload>
            </div>
            <div class="p-cc" style="height: auto; background-color: #fff"  ng-click="submitMethod()" >
                <button  class="cc-submit  mt135 active"  style="background-color: #1a87ff;">
                    提交
                </button>

            </div>
            <!--<div class=p-cc" style="height: auto; background-color: #fff"  ng-click="submitSap()" >-->
                <!---->
            <!--</div>-->
            <div style="height:400px;background-color: #f8f8f8;"></div>
        </div>
        <div class="divider" style="height: 5rem"></div>
    </div>


</moac-body>


