<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        退库列表
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
    <div class="btn-group btn-group-right">
        <div class="btn btn-refresh" style="" ng-click="go('addEditReturn','',{workStation : workStation,returnOrderId:returnOrderId,rtFlightNo:rtFlightNo,rtFlightId:rtFlightId})">
            <i style="color: #fff;font-style: normal">新增退料</i>
        </div>
    </div>
</div>
<div class="scrollable-content p-newFault">
    <div class="content-rtStore">
        <div class="nodata" ng-show = "returnList.length == 0">
            暂无数据
        </div>
        <div class="list-rtstore"  ng-repeat="item in returnList track by $index"  style="background-color: #fff;padding: .5rem .4rem">
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl">
                    <span style="font-weight: 600">批次号:{{item.batchNo}}</span>
                </div>
                <div class="p-fr" ng-if=" item.cancelStockStatus == ''" ng-click="go('addEditReturn','',{returnId :item.id})" style="color: #007aff">编辑</div>
                <div class="p-fr" ng-if=" item.cancelStockStatus == ''" ng-click="deleteItem(item.id,$index)" style="color: #007aff;margin-right: 1rem">删除</div>

            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999" ng-switch="item.cancelStockType">退料类型:
                        <span ng-switch-when="2">
                            领出未用退料
                        </span>
                        <span ng-switch-when="3">
                            拆下无序号件退料
                        </span>
                        <span ng-switch-when="4">
                            装机未用退料
                        </span>
                        <span ng-switch-when="5">
                            改装包退料
                        </span>
                    </span>
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">件号:</span> {{item.pn}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">序号:</span> {{item.sn}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">MR编号:</span> {{item.mrNo}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">退料单位:</span> {{item.unit}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">发料数量:</span> <span ng-if="item.cancelStockType == 5"></span>
                    <span ng-if="item.cancelStockType != 5">{{item.qty}}</span>
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">退料数量:</span> {{item.cancelStockQty}}
                </div>
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">目的航站:</span> {{item.toStation}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999">是否随机:</span> {{item.transport == 1 ? '是' :'否'}}
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999">退料人:</span> {{item.sendBackName}}({{item.sendBackNumber}})
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 50%;">
                    <span style="color: #999" ng-switch="item.cancelStockStatus">退料单状态:
                        <span ng-switch-when="5">已关闭</span>
                        <span ng-switch-when="4">已上架</span>
                        <span ng-switch-when="3">待上架</span>
                        <span ng-switch-when="2">已入库</span>
                        <span ng-switch-when="1">实物登记</span>
                        <span ng-switch-when="">新建</span>
                    </span>
                </div>
                <div class="p-fr" style="width: 50%;">
                    <span style="color: #999" ng-switch="item.airMaterialState">航材状态:
                        <span ng-switch-when="A">不可用件</span>
                        <span ng-switch-when="B">可用件</span>
                        <span ng-switch-when="C">待观察件</span>

                    </span>
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 100%;">
                    <span style="color: #999">退料时间:</span> {{item.sendBackTime | date:'yyyy-MM-dd HH:mm'}}
                </div>
            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 100%;">
                    <span style="color: #999">拆下挂签里的拆下故障原因:</span>
                    {{item.reason}}
                </div>

            </div>
            <div class="clearfix" style="line-height: 1.3rem">
                <div class="p-fl" style="width: 100%;">
                    <p style="color: #999;margin-bottom: 0">附件:</p>
                    <!--<img-sel img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" attachvo="attachvo" is-edit="isEdit" ></img-sel>-->
                    <!--<img-sel img-arr="$parent.imgArr" file-arr="$parent.fileArr" del-img-id="delImgId" attachvo="attachvo" is-edit="$parent.isEdit" ></img-sel>-->
                    <div class="ui-select-image">
                        <div class="img-item" ng-repeat="src in imgArr[$index] track by $index">
                            <div ng-click="showBig(src)">
                                <img ng-src="{{src}}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<img-sel img-arr="$parent.$parent.imgArr" file-arr="$parent.$parent.fileArr" del-img-id="delImgId" attachvo="attachvo" is-edit="$parent.$parent.isEdit" ></img-sel>-->
            <!--<img-sel img-arr="$parent.imgArr" file-arr="$parent.fileArr" del-img-id="delImgId" attachvo="attachvo" is-edit="$parent.isEdit" ></img-sel>-->
            <!--<img-sel img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" attachvo="attachvo" is-edit="isEdit" ></img-sel>-->

        </div>

    </div>
</div>
