/* 按钮右侧对齐样式 */
.asms-action-button-right-layout{
    display: flex;
    justify-content:flex-end;
}

/* 按钮右侧对齐样式 */
.asms-note{
  display: flex;
  justify-content:flex-end;
  font-size: 12px;
  color:red;
}

.asms-picture{
  font-size: 16px;
}



/* 按钮左右两侧对齐 */
.asms-action-button-between-layout {
  display: flex;
  justify-content: space-between;
}

/* ag-grid列表在单操作栏下面的高度 */
.asms-single-action-button-grid{
  height: calc(100% - 45px);
  margin-top: 10px;

}

/*填写界面的form表单显示高度设置为22 为了有提示输入信息不完全 */
.asms-edit-view .el-form-item{
  margin-bottom:22px;
}
.el-tag--small{
  height: 18px;
  line-height: 18px;
}

.el-dialog__body .el-form-item{
  margin-bottom:22px;
}

/* .el-select__tags{
  top:103%;
} */

.el-form-item{
  margin-bottom:3px;
}

.el-form-item__label , .el-form-item__content{
  font-size: 12px;
  line-height: 25px;
}

.el-select-dropdown__item , .el-checkbox__label, .el-textarea__inner, .el-input__inner, .el-radio__label{
  font-size: 12px;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #409EFF !important;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #409EFF !important;
}
/* .el-form-item__label, .el-form-item__content{
  line-height: 27px;
} */

/*菜单弹出栏样式修改*/
 .el-message-box__btns{
  display: flex;
  justify-content:center;
  flex-direction: row-reverse;
}

.el-message-box__btns .el-button{
  margin-left: 20px;
}

/*checkBox的字体设置为正常样式*/
.el-checkbox{
  font-weight: normal;
}


/*表单标题 */
.el-form-title{
   padding: 7px 0;
   background-color: #eef1f6;
   border-right: 1px solid #dfe5e2;
 }
/*表单内容 */
.el-form-col-content{
  padding: 1px 0px;
 line-height: 30px;
}
/*日期控件宽度设置为依据父组件宽度设定*/
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100% !important;
}

/*将所有带有描述意义的div设置最高高度*/
.description {
  max-height: 90px;
  overflow:auto;
}

/*带下划线悬浮为指针可点击样式*/
.viewLink,
.linkStyle{
  text-decoration:none;
  cursor:pointer
}
/* 背景色 */
.main-content{
  background: #F6F7FB;
}
/* 头部模块 */
.header-part{
  background-color:#fff;
  border: 1px solid #DBDBDB;
  border-radius:6px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding:0 0 20px 15px;
  box-shadow: 1px 1px 5px #e1e1e1;
}
/* 头部标题 */
.header-title{
  font-family: "Microsoft YaHei";
  font-weight: 600;
  width: 100px;
  height: 48px;
  line-height: 48px;
  font-size:13px;
}
/* 头部正文 */
.header-title-text{
  margin-right:20px;
  border:1px solid #DBDBDB;
  border-radius: 4px;
}
/* 表头label颜色 */
.header-title-text .el-form-item__label{
  background: #F2F6FA;
}
.header-title-text .el-form-item{
  margin-bottom: 0px;
}
/* 普通模块标题 */
.module-title{
  font-family: "Microsoft YaHei";
  font-weight: 600;
  width: 100px;
  height: 24px;
  text-align: center;
  position: relative;
  top:-12px;
  left:20px;
  background-color: #fff;

}
/* 仅含列表的模块标题 */
.block-table-title{
  font-weight: 600;
  margin-bottom: 10px;
}
/* 有按钮的标题行 */
.inline-table-text{
  font-weight: 600;
  height: 48px;
  line-height: 48px;
}
/* 通用模块 */
.common-part{
  border: 1px solid #DBDBDB;
  border-radius:4px;
  margin-bottom: 30px;
  margin-top: 10px;
  background-color:#fff;
}
/* 仅含列表的模块 */
.table-part{
  margin-bottom: 30px;
  margin-top: 15px;
}
/* 首行 */
.first-line{
  margin-top:0 !important;
}
/* 最后一行 */
.last-line{
  margin-bottom:0 !important;
}
/* 折叠板相关通用样式 */
.el-collapse{
  border:none;
  margin-top:15px;
}
.el-collapse-item{
 border: 1px solid #DBDBDB;
 border-radius: 4px;
 margin-bottom: 15px;
 padding-left: 15px;
 background-color:#fff;
 box-shadow: 1px 1px 5px #e1e1e1;
}

/* 右边距注释 */
.el-collapse-item__wrap{
  border-radius: 4px;
  margin-right:20px;
}


.el-collapse-item__header{
  border-radius: 4px;
  font-weight: 600;
  height:44px;
  line-height: 44px;
}

/* 在btns-wrap时修正按钮位置 */
.btn-position{
  margin-right:10px;
  margin-top:-15px;
}
/* disabled状态下的checkbox样式 */
.el-checkbox__input.is-disabled+span.el-checkbox__label{
  color: #606266;
}
/* 页面内按钮的颜色 */
.el-button--primary.is-plain{
  color:#409EFF;
  background-color: #fff;
}
/* samll类型按钮大小 */
.el-button--small, .el-button--small.is-round{
  padding:7px 13px;
}
/*  */
.btn-moveUp{
margin-top:-40px;
}
/* 疲劳的表头 */
.fatigue-head{
	color:#606266;
	line-height:25px;
	font-size: 12px;
	min-width: 100px;
	display: inline-block;
	text-align: center;
}
.head-label{
	background-color: #F2F6FA;
}
/*  */
.el-checkbox+.el-checkbox{
  margin-left:0px;
}
/* .el-checkbox{
  width:100px;
} */
/* 提交按钮 */
.float-buttons{
  background-color: #fff;
  position: fixed;
  bottom: 10px;
  right:12.4%;
}

.ag-filter__select input {
  padding-left: 5px;
  padding-right: 5px!important;
}
