.custom_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
}

.custom_table table {
    width: 100%;
    border-collapse: collapse;
}

.custom_table td {
    padding: 3px;
    border: 1px solid #ccc;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
}

.custom_table a {
    color: #f60;
}

/*er_list*/
#gbox_gridTable {
    margin: 2px 2px 0 0;
}

/*Engineering Review Form*/
.itemTitle_tr {
    text-align: right;
}

.itemTitle_tc {
    text-align: center;
}

.itemTitle_tc, .itemTitle_tr {
    background: #eee;
    font-weight: bold;
    color: #555;
}

.form_title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/*add页面*/
.action {
    display: none;
}

.review_edit {
    cursor: pointer;
}

textarea, select, input[type=text] {
    border: 1px solid #ccc;
}

.add_data {
    font-size: 12px;
    line-height: 22px;
    margin: 5px auto;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 99%;
    table-layout: fixed;
}

.add_data input[type=text] {
    width: 150px;
}

textarea {
    height: 80px;
    width: 70%;
    resize: none;
}

.itemTitle {
    text-align: right;
    background: #f2f2f2;
}

input[type=text].ipt_show {
    width: 80px;
}

.tab_review .ipt_show {
    background: #f2f2f2;
}

.tab_review td {
    text-align: left;
    border: none;
}

.combo-text {
    background: #f2f2f2;
}

.div_content {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0 8px;
    vertical-align: middle;
}

.table_zi td {
    border: 1px solid #ccc;
    font-size: 12px;
}

/*jquery-ui样式修改*/
.ui-widget-header a {
    color: #666;
}

.ui-multiselect {
    border: 1px solid #ccc;
    overflow: hidden;
    height: 25px \9;
    line-height: 25px \9;
}

/*ztree*/
ul.ztree {
    background: none repeat scroll 0 0 #F0F6E4;
    border: 1px solid #617775;
    height: 360px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: scroll;
    width: 220px;
}

/**er查看页面与编辑页面样式*/
.er_main_content {
    padding: 3px;
}

.er_over_img_span {
    position: absolute;
    right: 10px;
    top: 10px;
}

.er_over_img_span_show {
    display: inline;
}

.er_over_img_span_hide {
    display: none;
}