<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        飞机选择
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<!--<div class="scrollable-content fault p-newFault">-->
<div class="fixed-his scrollable-content fault">
    <!--<div class="acSta" ng-click="go('me.meStatus','slideLeft',{acReg: title})">-->
    <div class="fixed-search" style="background-color: #ccc;padding: 0.5rem 1rem;">
        <div class="main" style="width: 100%">
            <!--            <div class="cont" moac-auto-focus="searchVal">-->
            <div class="cont">
                <input  type="text" ng-model="searchVal" name="searchVal" moac-ref="searchVal"
                       ng-attr-placeholder="{{placeholder}}"  ng-keypress="keyEvent($event)" style="padding: 0.2rem ;margin-left: .3rem;display: inline-block;width: 15rem"/>

            </div>
            <i  class="icon-maoc icon-flightSearch" ng-click="search()"></i>

        </div>
    </div>
    <div class="acSta" style="border-bottom: 0.5px solid #f1f1f1" ng-repeat="item in dataList | filter: {tail : searchVal}" ng-click="go('pitRepairList','slideLeft',{ac:item.tail})">
        {{item.tail}}
        <div class="next-fault-info icon-maoc icon-next-flight "></div>
    </div>
</div>
