<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
<!--        {{isEdit ? 'CC View' : 'Add CC'}}-->
        {{acReg}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<moac-body>
    <div class="new-cc ddi-scrollable-content ccinfo" ng-class="">
        <div class="cc-base">
            <div class="title">基本信息</div>
            <div class="info clearfix">
                <p class="p-fl">时间：{{info.taskVO.completeDate | date :'yyyy-MM-dd HH:mm'}}</p>
                <p class="p-fl" ng-if="info.taskVO.oxyenPressure">大气压：{{info.taskVO.oxyenPressure}} PSI</p>
            </div>
            <!--<div class="info clearfix">-->
                <!--<p class="p-fl">航班号：{{info.flightNo}}</p>-->
                <!--<p class="p-fl">飞机号：{{responObj.onModel}}</p>-->
            <!--</div>-->
            <div class="info clearfix">
                <p class="p-fl" ng-switch="responObj.ccType">FLB NO：
                    <span >{{info.flbNo}}</span>
                </p>
                <p class="p-fl">Touch & Go：{{info.touchgo}}</p>
            </div>
            <div class="info clearfix" style="margin-bottom: .5rem">
                <p class="p-fl" ng-if="info.taskVO.hasLifeRaft">两套救生筏是否在位：{{info.taskVO.hasLifeRaft}}</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="cc-base" style="padding-bottom: .2rem">
            <div class="title" style="margin-bottom: .5rem">Remaining</div>
            <div class="info clearfix">
                <p class="p-fl">ENG1：{{info.oilRemainL}}</p>
                <p class="p-fl text-ellipsis">ENG2：{{info.oilRemainR}}</p>
            </div>
            <div class="info clearfix" ng-if="show747Engin">
                <p class="p-fl">ENG3：{{info.oilRemain3}}</p>
                <p class="p-fl text-ellipsis">ENG4：{{info.oilRemain4}}</p>
            </div>
            <!--<div class="info clearfix">-->
                <!--<p class="p-fl">序号：{{responObj.offSn}}</p>-->
                <!--<p class="p-fl">构型：{{responObj.cin}}</p>-->
            <!--</div>-->
        </div>


        <div class="divider"></div>

        <div class="cc-base" >
            <div class="title" style="margin-bottom: .5rem">Uplift(QTS)</div>
            <div class="info clearfix">
                <p class="p-fl">ENG1：{{info.oilUpliftL}}</p>
                <p class="p-fl text-ellipsis">ENG2：{{info.oilUpliftR}}</p>
            </div>
            <div class="info clearfix" ng-if="show747Engin">
                <p class="p-fl">ENG3：{{info.oilUplift3}}</p>
                <p class="p-fl text-ellipsis">ENG4：{{info.oilUplift4}}</p>
            </div>

            <div class="info clearfix" style="margin-bottom: .5rem">
                <p class="p-fl" style="width: 100%">APU：{{info.oilUpliftApu}}</p>
            </div>

        </div>

        <div class="divider"></div>

        <!--其他信息-->
        <div class="cc-base" style="padding-bottom: .5rem">
            <div class="title" style="margin-bottom: .5rem">反馈信息</div>

            <div class="input-block clearfix">
                <p class="p-fl" style="width: 20%">备注：</p>
                <p class="p-fl" style="width: 80%">{{info.taskVO.remark}}</p>

            </div>
            <div class="input-block clearfix">
                <p class="p-fl" style="width: 30%">检验类型：</p>
                <p class="p-fl" style="width: 70%">互检</p>

            </div>
            <div class="input-block clearfix">
                <p class="p-fl" style="width: 40%">责任放行工程师：</p>
                <p class="p-fl" style="width: 60%">{{info.taskVO.checkName + '(' + info.taskVO.checkSn + ')'}}</p>
            </div>
            <div class="input-block clearfix p-closeFaultDtl">
                <p class="">反馈图片：</p>
                <div class="content p-dtl">
                    <div class="p-main" style="overflow: visible">
                        <div style="float: left;position: relative" class="btn" ng-click="$parent.writeSum = true">
                            <i ng-if="info.taskVO.attachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                            查看图片记录
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-block clearfix p-closeFaultDtl">
                <p class="">无照片备注：</p>
                <div class="content p-dtl">
                    <div class="p-main" style="overflow: visible">
                       {{info.taskVO.mechanicNoPhotoRemark}}
                    </div>
                </div>
            </div>
            <!--.p-closeFaultDtl .p-dtl .p-main .btn-->
            <div class="section"  style="margin-bottom:0;margin-left: 0;padding-left: 0">
                <p>
                    责任放行工程师复核
                </p>
                <div class="content">
                    <div class="checkList-group" style="border: none">
                        <ul class="list-group">
                            <li class="list-group-item checklist-item" ng-repeat="item in checkList">
                                <div class="check-list-title pull-left" style="font-size: .7rem">{{item.text}} : <span>{{item.isChecked ? '是' :'否'}}</span> </div>
<!--                                <div class="pull-right wrap-switch aps no-link">-->
<!--                                    <ui-switch ng-model="item.isChecked">-->
<!--                                        <div class="switch-handle"></div>-->
<!--                                    </ui-switch>-->
<!--                                </div>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
</moac-body>
<div class="ewis-background" ng-show = "writeSum" style="z-index:1002;background-color: #fff">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">图片记录
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="writeSum = false">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <div class="oil-scroll" style="background-color:#fff;-webkit-overflow-scrolling:touch;overflow: auto">
        <div class="p-faultFileRecord" style="height: auto">
            <div class="nodata" ng-if="relateImg.length<=0 && pdfList.length <=0">暂无数据</div>
            <div class="ui-img" ng-class="{show:imgUrl!=null}">
                <p ng-click="closeImg()"></p>
                <div>
                    <img ng-src="{{imgUrl}}"/>
                </div>
            </div>
            <div class="p-item" ng-if="relateImg.length>0 && item.type.indexOf('image') != -1" ng-repeat="item in relateImg track by $index">
                <div class="time" ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm'"></div>
                <div class="main left" >  <!--ng-class="{right:item.change,left:!item.change}"-->
                    <div class="icon" >  <!--ng-if="!item.change"   -->
                        <i class="icon-other"></i>
                    </div>
                    <div class="cont">
                        <div class="title" ng-bind="item.uploadByName"></div>
                        <div class="file">
                            <div class="img">
                                <div ng-click="showBig(relateImg, $index)">
                                    <p>
                                        <img ng-src="data:image/png;base64,{{item.content}}"
                                             alt="">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-item" ng-if="pdfList.length>0 " ng-repeat="item in pdfList track by $index">
                <div class="time" ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm'"></div>
                <div class="main left" >  <!--ng-class="{right:item.change,left:!item.change}"-->
                    <div class="icon" >  <!--ng-if="!item.change"   -->
                        <i class="icon-other"></i>
                    </div>
                    <div class="cont">
                        <div class="title" ng-bind="item.uploadByName"></div>
                        <div class="file">
                            <div class="img">
                                <p style="font-size: .7rem;color: #00b4ff;" ng-click="showPdf(item)">{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

