<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        CCO反馈
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault cco-process-content">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail " style="margin-bottom: 5px;background-color: #FFFFFF;">
            <div class="section-1">
                <div class="header" style="color: #000">
                    <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                        <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">飞机号:</span>
                            <span style="width: 4rem">{{ccoinfo.acReg}}</span>
                        </div>
                        <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">机型:</span>
                            <span style="width: 4rem">{{ccoinfo.modelSeries}}</span>
                        </div>
                    </div>
                    <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                        <div class="flex-layout-between"   style="width: 7.5rem;justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">航站:</span>
                            <span style="width: 4rem">{{ccoinfo.station}}</span>
                        </div>
                        <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">航班号:</span>
                            <span style="width: 4rem">{{ccoinfo.flightNo}}</span>
                        </div>
                    </div>
                    <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                        <div class="flex-layout-between"   style="width: 7.5rem;justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">航班日:</span>
                            <span style="width: 4rem">{{ccoinfo.flightDate | date:'yyyy/MM/dd'}}</span>
                        </div>
                        <div class="flex-layout-between"   style="width: 7.5rem;justify-content: flex-start;">
                            <span style="width: 3.5rem;color: #C2C2C2">航班类型:</span>
                            <span style="width: 4rem">{{ccoinfo.type}}</span>
                        </div>
                    </div>
<!--                    <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">-->
<!--                        <div class="flex-layout-between"   style="width: 7.5rem;justify-content: flex-start;">-->
<!--                            <span style="width: 3.5rem">任务状态:</span>-->
<!--                            <span style="width: 4rem">{{ccoinfo.workStatus}}</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="flex-layout-between "  style="margin: .1rem 0;padding: 0 0;justify-content: flex-start;">
                        <div style="width: 3.5rem;color: #C2C2C2">重要标识:</div>
                        <div style="width: 14rem" >
                            <span ng-show="ccoinfo.isDm"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">DM</span> &nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isRii == '1'"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox" checked="checked" disabled = "true"> <span style="vertical-align: middle;">RII</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isRci == '1'"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox" checked="checked" disabled = "true"> <span style="vertical-align: middle;">RCI</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isCmr"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">CMR</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isAli"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">ALI</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isSsi"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">SSI</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isRsc"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">RSC</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isFts"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">FTS</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isEwis"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">EWIS</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isCpcp"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">CPCP</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isSd"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">IFSD</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isCdccl"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">CDCCL</span>&nbsp;&nbsp;</span>
                            <span ng-show="ccoinfo.isImportantModification"><input type="checkbox" style="vertical-align: middle;margin-top:0;-webkit-appearance:checkbox;" checked="checked" disabled = "true"> <span style="vertical-align: middle;">重要改装</span></span>
                        </div>
                    </div>
                </div>
                <div class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.5rem;padding-right: .3rem;">
                    <div class="tail-eng-title">必检/互检<span class="red">*</span></div>
                    <div class="tail-eng-button averageArange">
                        <button type="button" ng-class="{beClicked: isRci_isRii == 1}" ng-click="isRci_isRii = 1"
                                ng-disabled="!ccoinfo.canEditRiiRci">必检
                        </button>
                        <button type="button" ng-class="{beClicked: isRci_isRii == 2}" ng-click="isRci_isRii = 2"
                                ng-disabled="!ccoinfo.canEditRiiRci">互检
                        </button>
                    </div>
                </div>
                <div style="background-color:  #f8f8f8;display: block;position: relative;height:.5rem;width: 100%;"></div>
                <div style="background-color:  #ffffff;position: relative;width: 100%;">
                    <div  style="width: 100%;background-color: #ffffff;padding: 0 0 .4rem 0;margin:.3rem 0;">
                        <div class="approver-content-wrap " ng-show="isRci_isRii" style="background-color: inherit;">
                            <select-person  person-info="ccoinfo" show-title="false" person-title="RII/RCI签名" is-auto-loginercode="true"></select-person>
                        </div>
                    </div>
                </div>
    <!--任务描述-->
                <div class="header" style="padding:.5rem .5rem;margin-top: .2rem ">
                    <div style="width: 100%; height: 4.5rem;">
                        <span style="margin-right: .2rem;top: 0;vertical-align: top;color: #C2C2C2">任务描述</span>
                        <textarea readonly="true" style="width: 80%;height: 100%;border: none;overflow:scroll; overflow-x:hidden; color: #000;background-color:  #f8f8f8;" maxlength="450">{{ccoinfo.description}}</textarea>
                    </div>
                </div>
    <!--反馈信息-->
                <div class="header" style="color: #C2C2C2;margin: .4rem 0;padding:.5rem .5rem;">
                    <span>反馈信息</span>
                </div>
                <div class="header" style="display: flex;flex-direction: column;align-items: center;background-color:inherit;margin: .4rem 0;padding:.5rem .5rem;color: #000;">
                     <span style="width: 100%;">中文</span>
                     <textarea style="width: 97%;height: 3.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="500"  ng-model="ccoSaveInfo.feedbackCh">反馈信息中文</textarea>
                     <span style="width: 100%;">English</span>
                     <textarea style="width: 97%;height: 3.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="500" ng-model="ccoSaveInfo.feedbackEn">反馈信息英文</textarea>
                </div>
    <!--新增cc和编辑cc-->
                <div  class="header" style="color: #000;margin: .4rem 0;padding:.5rem .5rem;">
                    <div class="flex-layout-between" style="padding: 0 0;margin: 0 0;">
                        <span style="margin: 0rem 0;padding:0rem 0rem;">CC</span>
                        <div class="add-cc-btn" style="padding: 0 0;margin: 0 0;"
                             ng-click="$root.go('newcc', 'slideLeft', {defectInfo:ccoinfo.defectInfo,tlbId:ccoinfo.defectInfo.tlbId,docType: ccoinfo.defectInfo.docType,docNo:ccoinfo.defectInfo.docNo,sapTaskId:sapTaskId})"  >
                            <p style="vertical-align: middle;padding:0rem 0rem;margin: 0 0;line-height: .8rem;height: .8rem;"><i class="icon-add-cc" style="line-height: .8rem;height: .8rem;margin: 0rem 0;padding:0rem 0rem;vertical-align: middle;"></i><span style="line-height: .6rem;height: .6rem;vertical-align: middle;color: #00b4ff;">Add CC</span></p>
                        </div>
                    </div>
                    <div class="ccno-info" ng-if="!isCreatTLB">
                        <div class="ccno-btn" ng-class="{'shake': longTouched && cc.middleStatus == 'O'}" ng-repeat="cc in ccoSaveInfo.ccVos " >
                            <span  style="background-color:#00b4ff;font-size: .53rem;border-radius: 1rem"
                                   ng-click="$root.go('newccInfo', 'slideLeft', {ccInfo: cc})"  >
                                CC No.{{cc.ccNo || 'view' + ($index + 1)}}
                                <i ng-if="cc.middleStatus != 'C'">待提交</i>
                                <i ng-if="cc.middleStatus == 'C' && cc.status =='n'">待确认</i>
                                <i ng-if="cc.middleStatus != 'C' && cc.status =='y'">已确认</i>
                            </span>

                            <!--<i class="ui-del cc-del" ng-if="cc.middleStatus == 'O'" ng-show="longTouched" ng-click="delCcno(cc.id)"></i>-->
                        </div>
                    </div>
                </div>

                <div style="width: 100%;position: relative;background-color:  #f8f8f8; ">
    <!--完工日期-->
                <div style="position: relative;display: block;padding:  .5rem .5rem ;margin:.3rem 0; width: 100%;background-color: #ffffff;">
                    <div class="select-require-date-wrap pad-style cco-data-border" style="position: relative;display: block; width: 100%;">
                        <div class="require-date-title" style="font: 0.7rem '微软雅黑';height: 2rem;line-height: 2rem;">完工日期<span class="red">*</span></div>
                        <input type="datetime-local"
                               class="form-control select-require-date framecolor padding-fixed"
                               name="dateFound"
                               ng-if="android"
                               ng-model="ccoinfo.completeDate"
                               style="width: 75%;height: 2rem;line-height: 2rem;padding: 0 0 ;"
                               ng-max="today"
                               required />
                        <input type="datetime-local"
                               class="form-control select-require-date framecolor padding-fixed"
                               name="dateFound"
                               ng-if="!android"
                               style="width: 80%;height: 2rem;line-height: 2rem;padding: 0 0 ;"
                               ng-model="ccoinfo.completeDate"
                               ng-max="today"
                               required />
                        <div class="triangle-down"></div>
                    </div>
                </div>
    <!--计划工时-->
                    <div class="flex-layout-between"  style="background-color: #ffffff;justify-content: space-between;position: relative;display: block; width: 100%;padding:  .5rem .6rem ;margin:.3rem 0;">
                        <div style="font: 0.7rem '微软雅黑';height: 2rem;line-height: 2rem;width: 5rem ;display: inline-block;">计划工时</div>
                        <div style="font: 0.7rem '微软雅黑';height: 2rem;line-height: 2rem;width: 3rem ;display: inline-block;float: right">{{nrcinfo.planeHours}}</div>
                    </div>
    <!--工时-->
                <div  class="flex-layout-between" style="background-color: #ffffff;justify-content: space-between;position: relative;display: block; width: 100%;padding:  .5rem .5rem ;margin:.3rem 0;">
                     <div class="approver-title" style="font: 0.7rem '微软雅黑';width: 3rem; color: #0d1e3a; height: 2rem;line-height: 2rem;">工时<span class="red">*</span></div>
                     <input type="number" class="form-control search-textbox " style="border: none;padding:0 0; height: 2rem;width: 80%;" placeholder="请输入人工时" required
                                   ng-model="ccoinfo.hours" name="hours" ng-pattern="/^([1-9]\d*|0)(\.\d{1,1})?$/" ng-blur="checkError(!myForm['hours'].$error.required && myForm['hours'].$invalid, 'hours')" >
                </div>
    <!--关卡人-->
                <div  style="background-color: #ffffff;display: block;width: 100%;padding: 0 0 .4rem 0;margin:.3rem 0;">
                    <div class="approver-content-wrap select-require-date-wrap" >
                        <select-person  person-info="ccoSaveInfo" show-title="false" person-title="关卡人" is-auto-loginercode="true"></select-person>
                    </div>
                </div>
                </div>
    <!--附件部分-->
                <div class="header" style="min-height: 12rem;">
                    <div>
                        <span style="color: #C2C2C2;">是否需要反馈附件</span>
                        <span style="color: #000;">{{ccoinfo.isFeedbackAttachment=='X'?"是":"否"}}</span>
                    </div>
    <!--上传图片部分-->
                    <div class="p-image">
                        <img-select img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud" attachvo="attachvo"></img-select>
                    </div>
                    <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
                        <div class="section-1">
                            <div class="header" style="color: #000">无照片备注</div>
                        </div>
                    </div>
                    <div class="add-remark-wrap">
                        <div class="add-remark-content">
                            <textarea ng-model="ccoinfo.mechanicNoPhotoRemark" maxlength="500"></textarea>
                        </div>
                    </div>
    <!--保存和关闭按钮-->
                    <div class="flex-layout-between">
                        <button class="submitAddMR " ng-click="subimt_nrc(1)" style="display:inline-block;width:45%;margin:.5rem 0 0 0.5rem;border-radius: .2rem; background-color:#00b4ff;">保存</button>
                        <button class="submitAddMR"  ng-click="subimt_nrc(2)" style="display:inline-block;width:45%;margin:.5rem .5rem 0 0;border-radius: .2rem;background-color:#00b4ff;">关闭任务</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
