<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        NRC TASK反馈
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault">
    <form name="myForm" novalidate>
        <div class="approver-content-wrap">
            <div class="datebox-wrap" >
                <div class="approver-title">航站<span class="red">*</span></div>
                <input type="tel" class="form-control search-textbox framecolor"  placeholder="请输入人工时" required
                       ng-model="mrInfo.atat" >
            </div>
            <select-person person-info="mrInfo" show-title="false" person-title="工作者" is-auto-loginercode="true"></select-person>

            <div class="select-require-date-wrap pad-style" ng-class="{'no-edit': !isCreateData}">
                <div class="require-date-title">完工日期<span class="red">*</span></div>
                <input type="datetime-local"
                       class="form-control select-require-date framecolor padding-fixed"
                       ng-model="mrInfo.dateFound"
                       ng-max="today"
                       ng-blur="checkDate()" required ng-disabled="!isCreateData"/>
                <div class="triangle-down"></div>
            </div>
            <div class="datebox-wrap" >
                <div class="approver-title">人工时<span class="red">*</span></div>
                <input type="tel" class="form-control search-textbox framecolor"  placeholder="请输入人工时" required
                       ng-model="mrInfo.ata" >
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">处理措施</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">中文</div>
            </div>
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.faultReportChn" maxlength="500"></textarea>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">English</div>
            </div>
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.faultReporteh" maxlength="500"></textarea>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">反馈信息</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.faultReportaaa" maxlength="500"></textarea>
            </div>
        </div>
        <div class="p-image">
            <img-select img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud" attachvo="attachvo"></img-select>
        </div>
        <div class="damage-draft-detail" style="margin-top: 10px;margin-bottom: 0px;">
            <div class="section-1">
                <div class="header" style="color: #000">部件拆换：</div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 0px;margin-top: 0px;border-bottom: 2px solid #CBCBCB">
            <div class="section-1">
                <div class="header" style="color: #000;background-color: #fff;">CC：<span>5689587</span><div style="text-align: center;line-height: 18px; float: right;margin-right: 12px;color: red;width: 22px;height: 22px;border-radius: 10px;border: 1.5px solid red;font-size: 20px;font-weight: bold">×</div></div>
            </div>
        </div>
        <div class="ui-edit ng-scope" >
<!--            <div class="add-cc-btn" ng-click="$root.go('cc', 'slideLeft', {defectInfo: dataBody.tlbDTO, tlbId: tlbId, docType: 'TLB', docNo: dataBody.tlbDTO.tlbNo})">-->
<!--                <p><i class="icon-add-cc"></i><span>Add CC</span></p>-->
<!--            </div>-->
            <div class="add-cc-btn" ng-click="$root.go('newcc', 'slideLeft', {defectInfo: dataBody.tlbDTO, tlbId: tlbId, docType: 'TLB', docNo: dataBody.tlbDTO.tlbNo})">
                <p><i class="icon-add-cc"></i><span>Add CC</span></p>
            </div>
        </div>
    </form>
    <button class="submitAddMR orange-button" ng-click="ceshi()">保存</button>
    <button class="submitAddMR orange-button" >关闭任务</button>

</div>
