<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        NRC TASK反馈
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">基础信息
                    <span  style="margin-left: 20px" ng-bind="mrInfo.acReg">132</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.flightNo">456</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.station">789</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.type">999</span></div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">NRC TASK NO：
                    <span  style="margin-left: 20px" ng-bind="cc_data.cardNumber">132</span>
                 </div>
            </div>
        </div>
        <div class="approver-content-wrap">
            <select-person person-info="mrInfo" show-title="false" person-title="工作者"></select-person>

            <div class="select-require-date-wrap pad-style" >   <!--        ng-class="{'no-edit': !isCreateData}"-->
                <div class="require-date-title">完工日期<span class="red">*</span></div>
                <input type="datetime-local"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateFound"
                       ng-if="android"
                       ng-model="mrInfo.completeDate"
                       ng-max="today"
                       required />
                <input type="datetime-local"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateFound"
                       ng-if="!android"
                        style="width: 80%"
                       ng-model="mrInfo.completeDate"
                       ng-max="today"
                       required />
                <div class="triangle-down"></div>
            </div>
            <div class="datebox-wrap" >
                <div class="approver-title">人工时<span class="red">*</span></div>
                <input type="number" class="form-control search-textbox framecolor"  placeholder="请输入人工时" required
                       ng-model="mrInfo.hours" name="hours" ng-pattern="/^([1-9]\d*|0)(\.\d{1,1})?$/" ng-blur="checkError(!myForm['hours'].$error.required && myForm['hours'].$invalid, 'hours')" >
            </div>
                <select-person person-info="inspector" show-title="false" person-title="检验员" ></select-person>
        </div>
        <div class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.35rem;padding-right: .3rem" >
            <div class="tail-eng-title">DM<span class="red" ng-if="mrInfo.dmStatus == 0">*</span></div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: mrInfo.isDm == 1}" ng-click="mrInfo.isDm = mrInfo.isDm == 1 ?  '' : 1;"
                >Y
                </button>
                <button type="button" ng-class="{beClicked: mrInfo.isDm == 0}" ng-click="mrInfo.isDm = mrInfo.isDm == 0 ?  '' : 0;"
                >N
                </button>
            </div>
        </div>
        <!--        //必捡isRii 互捡isRci-->
        <div class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.35rem;padding-right: .3rem">
            <div class="tail-eng-title">必检/互检<span class="red" ng-if="mrInfo.dmStatus == 0">*</span></div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: isRci_isRii ==1}" ng-click="isRci_isRii = 1"
                        ng-disabled="!mrInfo.canEditRiiRci">必检
                </button>
                <button type="button" ng-class="{beClicked: isRci_isRii == 2}" ng-click="isRci_isRii = 2"
                        ng-disabled="!mrInfo.canEditRiiRci">互检
                </button>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">处理措施</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">中文</div>
            </div>
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.rectChn" maxlength="500"></textarea>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">English</div>
            </div>
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.rectEn" maxlength="500"></textarea>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">反馈信息</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.feedbackCh" maxlength="500"></textarea>
            </div>
        </div>
        <div class="p-image">
            <!--<img-select img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud" attachvo="attachvo"></img-select>-->
            <newimg-upload is-api-cloud="false"  nrc-id="nrcId" is-edit="true" up-way="taskupWay" file-list = "fileList" img-array="imgArr" file-arr="fileArr" del-img-id="delImgId"  attachvo="attachvo"></newimg-upload>

        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">无照片备注</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.mechanicNoPhotoRemark" maxlength="500"></textarea>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-top: 10px;margin-bottom: 0px;">
            <div class="section-1">
                <div class="header" style="color: #000">部件拆换：</div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 0px;margin-top: 0px">
            <div class="section-1">
                <div class="header" style="color: #000;background-color: #fff;border-bottom: 2px solid #CBCBCB" ng-repeat="cc in cc_data.ccVos">CC：<span ng-bind="cc.ccNo" ng-if="cc.ccNo"  ng-click="goAddOrDetail(cc)" style="color: red"></span><span  ng-if="!cc.ccNo"  ng-click="goAddOrDetail(cc)" style="color: red">viwe{{$index+1}}</span><div ng-click="cc_delete(cc.id)" style="text-align: center;line-height: 18px; float: right;margin-right: 12px;color: red;width: 22px;height: 22px;border-radius: 10px;border: 1.5px solid red;font-size: 20px;font-weight: bold">×</div></div>
            </div>
        </div>
        <div class="ui-edit ng-scope" >
            <div class="add-cc-btn" ng-click="addcc()">
                <p><i class="icon-add-cc"></i><span>Add CC</span></p>
            </div>
        </div>
    </form>
    <button class="submitAddMR orange-button" ng-click="subimt_nrc(1)" style="display:inline-block;width:45%;margin:3rem 0 0 0.5rem;">保存</button>
    <button class="submitAddMR orange-button" ng-click="subimt_nrc(2)" style="display:inline-block;width:45%;margin:3rem 0 0 0.5rem;">关闭任务</button>

</div>
