<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        PCO 反馈
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">基础信息
                    <span  style="margin-left: 20px" ng-bind="mrInfo.acReg">132</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.flightNo">456</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.station">789</span>
                    <span style="margin-left: 20px"  ng-bind="mrInfo.type">999</span></div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">航班日期：
                    <span  style="margin-left: 20px" >{{mrInfo.flightDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">任务文件号：
                    <span  style="margin-left: 20px" ng-bind="cc_data.cardNumber">132</span>
                </div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">任务描述：
                    <span  style="margin-left: 20px" ng-bind="cc_data.description">132</span>
                </div>
            </div>
        </div>
        <div class="approver-content-wrap">
            <select-person person-info="mrInfo" show-title="false" person-title="工作者" ></select-person>

            <div class="select-require-date-wrap pad-style" >   <!--        ng-class="{'no-edit': !isCreateData}"-->
                <div class="require-date-title">完工日期<span class="red">*</span></div>
                <input type="datetime-local"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateFound"
                       ng-if="android"
                       ng-model="mrInfo.completeDate"
                       ng-max="today"
                       required />
                <input type="datetime-local"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateFound"
                       ng-if="!android"
                        style="width: 80%"
                       ng-model="mrInfo.completeDate"
                       ng-max="today"
                       required />
                <div class="triangle-down"></div>
            </div>
            <div class="flex-layout-between"  style="background-color: #ffffff;justify-content: space-between;position: relative;display: block; width: 98%;padding:  .09rem .2rem ;margin:.4rem 0;">
                <div style="font: 0.7rem '微软雅黑';height: 2rem;line-height: 2rem;width: 5rem ;display: inline-block;">计划工时</div>
                <div style="font: 0.7rem '微软雅黑';height: 2rem;line-height: 2rem;width: 3rem ;display: inline-block;float: right">{{nrcinfo.planeHours}}</div>
            </div>
            <div class="datebox-wrap" >
                <div class="approver-title">人工时<span class="red">*</span></div>
                <input type="number" class="form-control search-textbox framecolor"  placeholder="请输入人工时" required
                       ng-model="mrInfo.hours" name="hours" ng-pattern="/^([1-9]\d*|0)(\.\d{1,1})?$/" ng-blur="checkError(!myForm['hours'].$error.required && myForm['hours'].$invalid, 'hours')" >
            </div>
            <select-person person-info="inspector" show-title="false" person-title="检验员"  ng-show="isRci_isRii == 1 || isRci_isRii == 2"></select-person>

        </div>
        <div class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.35rem;padding-right: .3rem">
            <div class="tail-eng-title">必检/互检<span class="red">*</span></div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: isRci_isRii == 1}" ng-click="isRci_isRii = 1"
                        >必检
                </button>
                <button type="button" ng-class="{beClicked: isRci_isRii == 2}" ng-click="isRci_isRii = 2"
                        >互检
                </button>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">反馈信息</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.feedbackCh" maxlength="500"></textarea>
            </div>
        </div>
        <div class="p-image">
            <!--<img-select img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud" attachvo="attachvo"></img-select>-->
            <newimg-upload is-api-cloud="false"  nrc-id="nrcId" is-edit="true" up-way="taskupWay" file-list = "fileList" img-array="imgArr" file-arr="fileArr" del-img-id="delImgId"  attachvo="attachvo"></newimg-upload>

        </div>
        <div class="damage-draft-detail" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">无照片备注</div>
            </div>
        </div>
        <div class="add-remark-wrap">
            <div class="add-remark-content">
                <textarea ng-model="mrInfo.mechanicNoPhotoRemark" maxlength="500"></textarea>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-top: 10px;margin-bottom: 0px;">
            <div class="section-1">
                <div class="header" style="color: #000">TLB：</div>
            </div>
        </div>
        <div class="damage-draft-detail" style="margin-bottom: 0px;margin-top: 0px">
            <div class="section-1">
                <div class="header" style="color: #000;background-color: #fff;border-bottom: 2px solid #CBCBCB" ng-repeat="cc in cc_data.tlbList">TLB NO：<span ng-bind="cc.tlbNo"   ng-click="goAddOrDetail(cc)" style="color: red"></span><div ng-click="cc_delete(cc.tlbId)" style="text-align: center;line-height: 18px; float: right;margin-right: 12px;color: red;width: 22px;height: 22px;border-radius: 10px;border: 1.5px solid red;font-size: 20px;font-weight: bold">×</div></div>
            </div>
        </div>
        <div class="ui-edit ng-scope" >
            <div class="add-cc-btn" ng-click="addcc()">
                <p><i class="icon-add-cc"></i><span>Add TLB</span></p>
            </div>
        </div>
    </form>
    <button class="submitAddMR orange-button" ng-click="subimt_nrc(1)" style="display:inline-block;width:45%;margin:3rem 0 0 0.5rem;">保存</button>
    <button class="submitAddMR orange-button" ng-click="subimt_nrc(2)" style="display:inline-block;width:45%;margin:3rem 0 0 0.5rem;">关闭任务</button>

</div>
