<moac-header>图片记录</moac-header>
<moac-body>
    <div class="p-faultFileRecord">
        <div class="nodata" ng-if="relateImg.length<=0 && pdfList.length <=0">暂无数据</div>
        <div class="ui-img" ng-class="{show:imgUrl!=null}">
            <p ng-click="closeImg()"></p>
            <div>
                <img ng-src="{{imgUrl}}"/>
            </div>
        </div>
        <div class="p-item" ng-if="relateImg.length>0 && item.type.indexOf('image') != -1" ng-repeat="item in relateImg track by $index">
            <div class="time" ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm'"></div>
            <div class="main left" >  <!--ng-class="{right:item.change,left:!item.change}"-->
                <div class="icon" >  <!--ng-if="!item.change"   -->
                    <i class="icon-other"></i>
                </div>
                <div class="cont">
                    <div class="title" ng-bind="item.uploadByName"></div>
                    <div class="file">
                        <div class="img">
                            <div ng-click="showImg(relateImg, $index)">
                                <p>
                                    <img ng-src="data:image/png;base64,{{item.content}}"
                                         alt="">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-item" ng-if="pdfList.length>0 " ng-repeat="item in pdfList track by $index">
            <div class="time" ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm'"></div>
            <div class="main left" >  <!--ng-class="{right:item.change,left:!item.change}"-->
                <div class="icon" >  <!--ng-if="!item.change"   -->
                    <i class="icon-other"></i>
                </div>
                <div class="cont">
                    <div class="title" ng-bind="item.uploadByName"></div>
                    <div class="file">
                        <div class="img">
                            <p style="font-size: .7rem;color: #00b4ff;" ng-click="showPdf(item)">{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</moac-body>