.nrc_div {
    margin: 10px;
}

.addnrc_table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-width: 1px;
    display: table;
    border-collapse: collapse;
}

.addnrc_table td {
    height: 40px;
    border: 1px solid #ccc;
    word-break: break-all;
    text-align: center;
    position: relative;
}


#button_a a {
    padding: 3px 20px;
    background: #2465a8;
    color: #fff;
    border-radius: 4px;
}

.key {
    width: 150px;
    background: #F5F5F6;
    padding-right: 5px;
    font-family: 微软雅黑;
    font-size: 11px;
    color: rgb(50, 64, 75);
    text-align: right;
    font-weight: bold;
}

#attach_file {
    width: 100%;
    height: auto;
}

.beiliao {
    border: 1px solid #D4D4D4;
    height: 20px;
    width: 70%;
    border-radius: 5px;
    text-indent: 5px;
}

.beiliao:focus {
    border-color: #bbbbbb;
    -moz-box-shadow: 0 0 3px 0 #D4D4D4;
    -webkit-box-shadow: 0 0 3px 0 #D4D4D4;
    box-shadow: 0 0 3px 0 #D4D4D4;
    outline: 0;
}

.key span {
    color: red
}

.interval {
    width: 100%;
    height: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #F5F8F8;
    text-align: center;
    line-height: 40px;
}

textarea {
    resize: none;
    width: calc(100% - 12px);
    height: 100px;
    margin: 5px;
    border: 1px solid #D4D4D4;
}

.leixin {
    width: 70px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: left;
}

.acname {
    position: absolute;
    top: 16px;
    left: 35px;
}

.leixin input {
    margin-top: 5px;
}

input[type="radio"] {
    margin-left: 10px;
}

.zhezhao {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: #9999990d;
    top: 0px;
}

.ewis_div, .oil_div {
    display: none;
}

.add_jiahao {
    background: url(/css/easyui/icons/edit_add.png) no-repeat;
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer;
}

.jianhao {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 5px;
}

.file_duihao {
    float: left;
    margin-left: 11px;
    font-size: 20px;
    color: #2465a8;
    font-weight: 900;
    width: 24px;
    height: 30px;
    cursor: pointer;
}

.bianse td {
    background-color: #F5F5F6;
}

.download {
    font-size: 14px;
    color: #E33737;
    cursor: pointer;
}

.input_td input {
    margin-left: 10px;
    margin-top: 5px;
}

.input_div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.yin_div_1 {
    height: 100%;
    width: 90px;
    float: left;
    border-right: 1px solid #ccc;
}

.yin_div_1 input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.yin_div_2 {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    border-right: 1px solid #ccc;
    margin-left: 10px;
}

.yin_neizi {
    overflow: hidden;
    width: 100%;
}

.yin_div_2 .yin_neizi div {
    height: 30px;
    width: 90px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.yin_div_3 {
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: Center;
}

.fangdajin {
    position: absolute;
    right: 16px;
    top: 11px;
}

.atta_input_fliecss {
    width: 100%;
    height: 35px;
    padding-top: 5px;
}

.atta_input_fliecss input {
    width: 50%;
    border: 1px solid #ccc;
    float: left;
    margin-left: 10px;
}

.atta_input_fliecss div {
    float: left;
    margin-left: 10px;
}


.boumnn {
    text-align: right;
    margin-top: 13px;
}

.boumnn a {
    padding: 3px 18px;
    background: #2465a8;
    color: #fff;
    border-radius: 4px;
}

.title {
    font-size: 14px;
    width: 100%;
    height: 30px;
    background-color: #F5F8F8;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.button_a {
    text-align: right;
    margin-top: 10px;
}

.button_a a {
    display: inline-block;
    cursor: pointer;
    background: #2465a8;
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    border: none;
    font-size: 14px;
    margin-right: 12px;
}

.checkb {
    float: left;
}

.gongka_div {
    width: 32%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}
#button_zhe{
  display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}