<div class="item" style="position: relative">
    <div class="title">车牌号 <span class="red">*</span>  </div>
    <input class="right" type="text"
           ng-blur="blurEvent()"
           placeholder="请输入车牌号"
           ng-model="info.licensePlate" ng-if="edit" required>
    <span ng-if="!edit">{{info.licensePlate}}</span>
    <span class="loading-approver" ng-show="loadApprover">
            <i class="fa fa-spin loading-spinner" >
                <img src="dist/images/loading.png" width="60%">
            </i>
        </span>
    <ul ng-show="dropdown && list.length > 0" class="dropdown-menu mr-dropdown">
        <li ng-click="selectItem(item)"
            ng-repeat="item in list">
            <a>{{ item.licensePlate }}</a>
        </li>
    </ul>
</div>
