<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        车辆使用
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
    <div class="btn-group btn-group-right">
        <!--<div class="btn" ng-click="go('svDetail','slideLeft',{state:1})">-->
        <div class="btn" ng-click="showOptions = true">
            添加
        </div>
    </div>
</div>
<div class="scrollable-content">
    <div class="no-sv" ng-if="svList.length == 0">
        <div>
            <img src="dist/images/special-vehicle/no-sv.png">
        </div>
    </div>

    <div class="sv-list-wrapper">
        <ul>
            <li ng-repeat="item in svList" ng-if="item.status == 0" swipe-delete-sv-unstart>
                 <div class="first-line">
                    <div>
                        <span>{{item.vehicleTitle}}</span>
                    </div>
                    <div>
                        <button ng-if="item.status == 0" ng-click="startUseSv(item,$index)">开始使用</button>
                    </div>
                </div>
            </li>
            <li ng-repeat="item in svList" ng-if="item.status == 1 && item.creater == userCode" swipe-delete-sv-unstart>
                <div class="start-delete" ng-click="deleteSv(item,$event,$index)">删除</div>
                <div class="first-line">
                    <div>
                        <span>{{item.vehicleTitle}}</span>
                        <!--<span class="time-length">{{item.lengthDate | date:'HH:mm:ss'}}</span>-->
                        <span class="time-length">{{item.lengthDateStr}}</span>
                    </div>
                    <div>
                        <button ng-click="closeSv(item,$index)">结束使用</button>
                    </div>
                </div>
                <div class="sec-line">
                    <span>开始时间</span>
                    <img src="dist/images/special-vehicle/shijian@2x.png">
                </div>
                <div class="third-line">
                    <p>
                        <span >{{item.beginTime |date:'yyyy.MM.dd HH:mm'}}</span>
                    </p>
                </div>
            </li>
            <li ng-repeat="item in svList" ng-if="item.status == 1 && item.creater != userCode">
                <div class="first-line">
                    <div>
                        <span>{{item.vehicleTitle}}</span>
                        <!--<span class="time-length">{{item.lengthDate | date:'HH:mm:ss'}}</span>-->
                        <span class="time-length">{{item.lengthDateStr}}</span>
                    </div>
                </div>
                <div class="sec-line">
                    <span>开始时间</span>
                    <img src="dist/images/special-vehicle/shijian@2x.png">
                </div>
                <div class="third-line">
                    <p>
                        <span >{{item.beginTime |date:'yyyy.MM.dd HH:mm'}}</span>
                    </p>
                </div>
            </li>
            <li ng-repeat="item in svList" ng-click="goToSvDetail(item,$event)"
                ng-if="item.status == 2 && item.creater == userCode" swipe-delete-sv-started>
                <div class="start-edit">
                    <span class="edit" ng-click="editSv(item,$event)">编辑</span>
                    <span class="started-delete" ng-click="deleteSv(item,$event,$index)">删除</span>
                </div>
                <div class="first-line">
                    <div>
                        <span>{{item.vehicleTitle}}</span>
                        <span class="time-length">{{item.lengthDateStr}}</span>
                    </div>
                    <div>
                        <span class="description">{{item.checkType}}&nbsp;&nbsp;{{item.station}}</span>
                    </div>
                </div>
                <div class="sec-line">
                    <span>起始时间</span>
                    <img src="dist/images/special-vehicle/shijian@2x.png">
                </div>
                <div class="third-line">
                    <p>
                        <span >{{item.beginTime | date :'yyyy.MM.dd HH:mm'}}</span>
                        <span ng-if="item.endTime">——</span>
                        <span ng-if="item.endTime">{{item.endTime | date:'yyyy.MM.dd HH:mm'}}</span>
                    </p>
                </div>
            </li>
            <li ng-repeat="item in svList" ng-click="goToSvDetail(item,$event)"
                ng-if="item.status == 2 && item.creater != userCode">
                <div class="first-line">
                    <div>
                        <span>{{item.vehicleTitle}}</span>
                        <span class="time-length">{{item.lengthDateStr}}</span>
                    </div>
                    <div>
                        <span class="description">{{item.checkType}}&nbsp;&nbsp;{{item.station}}</span>
                    </div>
                </div>
                <div class="sec-line">
                    <span>起始时间</span>
                    <img src="dist/images/special-vehicle/shijian@2x.png">
                </div>
                <div class="third-line">
                    <p>
                        <span >{{item.beginTime | date :'yyyy.MM.dd HH:mm'}}</span>
                        <span ng-if="item.endTime">——</span>
                        <span ng-if="item.endTime">{{item.endTime | date:'yyyy.MM.dd HH:mm'}}</span>
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="sv-option-background" ng-show="showOptions">
    <div class="sv-option-wrapper">
        <div class="sv-options">
            <ul class="">
                <li ng-repeat="svTypeItem in svTypes" ng-click="selectOption(svTypeItem)">
                    {{svTypeItem.name}}
                </li>
            </ul>
        </div>

        <div class="sv-cancel" ng-click="showOptions = false">
            <div class="cancel">取消</div>
        </div>
    </div>
</div>
