td, th, li, p, span, input, textarea, select {
    font-size: 12px;
    font-family: "微软雅黑", "宋体", Verdana, Arial, Helvetica, sans-serif;
}

th {
    color: #444;
}

textarea {
    width: 99%;
}

table {
    border-collapse: collapse;
}

input, select, textarea {
    border: 1px solid #ccc;
    _border: none;
}

.word-break {
    word-break: break-all;
}

.post_table {
    margin: 1px auto;
    width: 100%;
}

.post_table td, .post_table th {
    border: 1px solid #ccc
}

.post_table td, .dwTable td {
    height: 27px;
    line-height: 27px;
    padding: 2px;
}

.post_table th, .dwTable th, .post_table td.tab_title_bg {
    background: #f2f2f2;
}

.post_table td.tab_title_bg {
    width: 110px;
    text-align: right;
}

.post_table td.tal {
    text-align: left;
}

.post_table a, .dwTable a {
    color: #f60;
}

select.source_select {
    width: 121px;
    height: 20px;
}

input.source_input {
    width: 120px;
    height: 20px;
    line-height: 20px;
}

.stit th {
    line-height: 27px;
}

/*重置jquery-ui-1.82.custom.css中属性*/
.ui-tabs .ui-tabs-panel {
    padding: 5px;
}

/*重置common_qc.css中属性*/
.qc_row {
    margin: 5px;
}

.qc_btns > div {
    vertical-align: middle;
    height: 25px;
    margin-top: 9px;
}

.table-zi td {
    border: 1px solid #ddd;
}

/*重置jqgird表格属性*/
/*#gbox_common_list_grid td,#gbox_common_list_grid th{border:inherit;}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{border-right:1px solid #ccc;}
#gview_common_list_grid  th.ui-th-column{border-right:1px solid #ccc;border-bottom:1px solid #ccc;}*/