<moac-header ng-show="!showEwis && !showOil">排故措施</moac-header>
<moac-body ng-show="!showEwis && !showOil">
    <div class="p-addFaultHandle" style="-webkit-overflow-scrolling:touch;">
        <form ng-submit="submitMethod()" name="addFaultHandle" novalidate>
            <div class="d-faultHandle">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item defect-no disabled">
                        <span>Defect</span>
                        <div ng-bind="defectDetail.defectNo"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Station.</span>
                        <div ng-bind="defectDetail.staStaion || ''"></div>
                        <!--<div ng-bind="defectDetail.station || ''"></div>-->
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>A/C No.</span>
                        <div ng-bind="defectDetail.acReg"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>机型</span>
                        <div ng-bind="defectDetail.minorModel"></div>
                    </div>
                </div>

                <div class="ui-list mobile-uilist-css">
                    <div class="ui-list-item ui-ipt-item" ng-class="{'disabled': info.noTlbNo}">
                        <span>TLB No</span>
                        <div moac-auto-focus="tlbNo" class="tlb-scan-wrapper tlbno-input-wrap">
                            <input type="tel" class="ipt-no-tlb"
                                   ng-change="change()"
                                   ng-model="info.tlbNo" ng-class="{'disabled': info.noTlbNo}"
                                   placeholder="请输入TLB No" ng-disabled="info.noTlbNo"
                                   moac-ref="tlbNo" ng-required="!info.noTlbNo"/>
                            <i class="tlb-scan" ng-click="scan()" ng-if="!info.noTlbNo"></i>
                        </div>
                        <label class="is-fill-tlb">
                            <input type="checkbox" class="ipt-no-tlb" ng-model="info.noTlbNo" ng-click="info.noTlbNo ? info.tlbNo='' : ''" /> 无TLB
                        </label>
                    </div>
                    <div class="ui-list-item ui-ipt-item">
                        <span>Action Date</span>
                        <input type="datetime-local" ng-model="info.completeDate" class="date-local"/>
                    </div>
                </div>
                <div class="ui-list mobile-uilist-css">
                    <div class="ui-list-item ui-ipt-item">
                        <span>Found Date</span>
                        <input type="datetime-local" ng-model="info.dateFound" class="date-local"/>
                    </div>
                </div>

<!--Finder Sign-->
                <div class="ui-list mobile-uilist-css" >
                    <span >Finder Sign<span class="require">*</span></span>
                    <select-person person-info="info.finderSign" show-title="true" is-auto-loginercode="true"></select-person>
                </div>

                <select-zone zone-info="zoneInfo" > </select-zone>

                <div class="ui-list">
<!--                        <span>ATA<span class="red">*</span></span>-->
<!--                        <div class="">-->
<!--                            <input type="tel" class="form-control search-textbox framecolor" name="ata" placeholder="4~8位" required maxlength="8"-->
<!--                                   ng-model="info.ata"  ng-pattern="/^[\w|-]{4,8}$/" >-->
<!--                        </div>-->
                    <div class="ui-list-item ui-ipt-item title" style="margin-top: .5rem">
                        <span>M-HRS<span class="require">*</span></span>
                        <div moac-auto-focus="manHours">
                            <input type="number" style="width:70%" ng-model="info.manHours" moac-ref="manHours" required
                                   ng-pattern="/^([1-9]\d*|0)(\.\d{1,1})?$/"/>小时
                        </div>
                    </div>
                </div>
                <div class="fault">
                    <div class="approver-content-wrap" style="margin-left: .3rem">
<!--                        <div class="datebox-wrap">-->
<!--                            <select-ata ata-info="info.ata"></select-ata>-->
<!--                        </div>-->
                        <div class="datebox-wrap" style="width: 100%;">
                            <select-ata-title ata-info="info.ata" model="acModel"></select-ata-title>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-check-item">
                        <span>RII</span>
                        <div class="checkbox">
                            <div class="item" ng-touchend="info.rii='y';info.rci='n'" ng-class="{active:info.rii=='y'}">YES</div>
                            <div class="item" ng-touchend="info.rii='n'" ng-class="{active:info.rii=='n'}">NO</div>
                        </div>
                    </div>
                    <div class="ui-list-item ui-check-item" ng-show="info.rii == 'n'">
                        <span>RCI</span>
                        <div class="checkbox">
                            <div class="item" ng-touchend="info.rci='y'" ng-class="{active:info.rci=='y'}">YES</div>
                            <div class="item" ng-touchend="info.rci='n'" ng-class="{active:info.rci=='n'}">NO</div>
                        </div>
                    </div>
                    <div class="ui-list-item ui-ipt-item visibility" ng-if="(info.rii == true || info.rii.toUpperCase() == 'Y')"></div>
                </div>

                <div class="ui-list" ng-if="(info.rii == 'y' || info.rci == 'y')">
                    <div class="ui-list-item">
                        <span class="name" ng-if="info.rii=='y'">RII Sign.<span class="require">*</span></span>
                        <span class="name" ng-if="info.rci=='y'">RCI Sign.<span class="require">*</span></span>
                        <div class="ipt">
                            <select-person person-info="info.inspector"></select-person>
                        </div>
                    </div>
                </div>

                <oil-ewis  edit="$parent.edit"
                           ac-reg = "defectDetail.acReg"
                          is-has-ewis="$parent.isHasEwis" ewis-show="$parent.showEwis"
                          ewis-state="$parent.ewisState" ewis-dto="$parent.ewisDTO"
                          ewis-index="$parent.selectedEwisIndex" ewis-info="$parent.ewisInfo"
                          is-has-oil="$parent.isHasOil" oil-show="$parent.showOil"
                          oil-state="$parent.oilState" oil-dto="$parent.oilDTO"
                          oil-index="$parent.selectedOilIndex" oil-info="$parent.oilInfo"
                ></oil-ewis>

                <div class="ui-list">
                    <div class="ui-list-item">
                        <span class="name">Mech Sign.<span class="require">*</span></span>
                        <div class="ipt">
                            <select-person person-info="info.tecnician" is-auto-loginercode="true"></select-person>
                        </div>
                    </div>

                    <!--新增DM选项-->
                    <div class="ui-list-item ui-check-item" >
                        <span>DM <span class="red" ng-if="info.dmStatus === 0">*</span></span>
                        <div class="checkbox new-cc" required>
                            <div class="item"  ng-click="info.dm = info.dm === 'y' ?  '' : 'y'" ng-class="{active:info.dm=='y','noPick': dmDisable}">Y</div>
                            <div class="item"  ng-click="info.dm= info.dm === 'n' ?  '' : 'n'" ng-class="{active:info.dm=='n','noPick': dmDisable}">N</div>
                        </div>
                    </div>

                </div>

                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>故障报告(Chinese)<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="faultReportChn"  ng-model="info.faultReportChn" required placeholder="故障报告(Chinese)"
                              cols="30" maxlength="1000" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>FAULT REPORT(ENG)<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="faultReportEng" maxlength="1000" ng-model="info.faultReportEng" placeholder="FAULT REPORT(ENG)"
                              required cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>处理措施<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="takenActionChn" ng-model="info.takenActionChn" required placeholder="处理措施"
                              cols="30" maxlength="1000" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>Taken Action<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="takenActionEng" maxlength="1000" ng-model="info.takenActionEng" placeholder="Taken Action"
                              required cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div ng-if="isShowTo == 'true'" class="to-title">录入TO</div>
                <div ng-if="isShowTo == 'true'" class="cont">
                    <div class="ui-list" ng-repeat="to in toList[0].totroubleShootings">
                        <div class="ui-list-item ui-textarea-item">
                            <span>{{to.step}}、{{to.suggestion}}</span>
                            <textarea name="tacke{{$index}}" required
                                      ng-model="toList[0].totroubleShootings[$index].remark" cols="30"
                                      rows="10"></textarea>
                            <span ng-if="to.producePrepareOrders&&to.producePrepareOrders.length>0">
                                计划工时
                                <span style="margin-left:20px" ng-bind="to.producePrepareOrders[0].expectStaff">2
                                </span>人X <span ng-bind="to.producePrepareOrders[0].expectHour">2</span>小时
                            </span>
                            <span>
                                实际工时
                                <input type="number"
                                       class=""style="margin-left:20px;padding:6px;width:20%;display:inline-block;border:
                                1px solid
                                 #ddd;border-radius: 5px" required ng-model="to.workOrderFeedbackDetails[0].realStaff"
                                       ng-blur="checkRealStaff(to.step)">
                                人 X
                                <input type="number" class=""
                                       style="padding:6px;width:20%;display:inline-block;border:1px solid #ddd;border-radius: 5px" required
                                       ng-model="to.workOrderFeedbackDetails[0].realHour"
                                       ng-blur="checkRealHour(to.step)">
                                小时
                            </span>
                        </div>

                    </div>
                    <div class="ui-list" style="margin-top: 10px">
                        <div class="ui-list-item ui-ipt-item defect-no disabled">
                            <span>计划总工时</span>
                            <div><span ng-bind="planTimeSum">9</span>小时</div>
                        </div>
                        <div class="ui-list-item ui-ipt-item disabled">
                            <span>实际总工时</span>
                            <div><span ng-bind="totalTimeSum">10</span>小时</div>
                        </div>
                    </div>
                </div>

                <div class="cont">
                    <div class="ui-list">
                        <div class="ui-list-item ui-textarea-item">
                            <span>Remark</span>
                            <div class="textarea">
                        <textarea name="Remark" ng-model="info.feedBack" cols="30"
                                  rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-list">
                        <!--<img-select img-arr="imgInfo.imgArr" file-arr="imgInfo.fileArr"-->
                                    <!--attachvo="imgInfo.attachvo" el-img-id="imgInfo.delImgId"></img-select>-->
                        <newimg-upload is-api-cloud="false"  nrc-id="imgInfo.nrcId" is-edit="true" up-way="imgInfo.upWay"
                                       file-list = "imgInfo.fileList" img-array="imgInfo.imgArr" file-arr="imgInfo.fileArr" del-img-id="delImgId"  attachvo="attachvo"></newimg-upload>

                    </div>
                    <div class="ui-list">
                        <div class="ui-list-item ui-textarea-item">
                            <span>无照片备注</span>
                            <div class="textarea">
                        <textarea name="Remark" ng-model="info.mechanicNoPhotoRemark" cols="30"
                                  rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-list">
                        <button class="ui-submit" ng-class="{'ui-disabled':!addFaultHandle.$valid||
                        (isHasOil == ''|| isHasEwis=='' || (isHasEwis=='y'&& ewisDTO.length==0)||(isHasOil == 'y'&& oilDTO.length==0))||
            ((defectDetail.rii == true || defectDetail.rii.toUpperCase() == 'Y')&&(info.inspector.diffName==true))||
            (info.tecnician.diffName==true) || (info.dmStatus == 0 && !info.dm)}"
                                ng-disabled="!addFaultHandle.$valid||
                        (isHasOil == ''|| isHasEwis=='' || (isHasEwis=='y'&& ewisDTO.length==0)||(isHasOil == 'y'&& oilDTO.length==0))||
            ((defectDetail.rii == true || defectDetail.rii.toUpperCase() == 'Y')&&(info.inspector.diffName==true))||
            (info.tecnician.diffName==true) || (info.dmStatus == 0 && !info.dm) || loading" type="submit">提交数据
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</moac-body>

<ewis ng-show="showEwis" ac-reg = "defectDetail.acReg" ewis-show="showEwis" state="ewisState" ewis-dto="ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="edit"></ewis>
<oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="edit"></oil>
