<moac-header fn-back="go('searchFault.faultClose', '', {navIdx: defectNavIdx, handleIdx: defectListIdx, defectId: info.cardId})">
<!--    {{mrInfo==null?'Add MR(故障)':'Edit MR(故障)'}}-->
    Add MR(故障)
</moac-header>
<moac-body>
    <div class="p-addFaultMr fault-mr-width" >
        <form ng-submit="submitMethod()" name="addFaultMr" style="width: 100%;">
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled defect-no">
                    <span>Defect No. </span>
                    <div ng-bind="info.cardNo"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled fault-status">
                    <span>A/C No.</span>
                    <div ng-bind="info.acInfo"></div>
                </div>
            </div>

            <div class="approver-content-wrap apply-date-info mobile-show">
                <div class="approver-title">Approver</div>
                <div class="require-date-title">Require Date</div>

                <select-person person-info="info.inspector" ng-if="!logId"  ng-class="{ 'no-trpo': !!logId }"></select-person>
                <div class="ipt edit-disabled" ng-if="!!logId">{{info.inspector.nameAndId}}</div>
                <div class="select-require-date-wrap">
                    <input type="datetime-local" ng-model="info.requireDate" ng-class="{ 'no-trpo': !!logId }"/>
                </div>
            </div>


            <div class="ui-list-ex approver-content-wrap apply-date-info pad-show" style="margin: 0 .1rem .5rem .05rem;width: 100%;position: relative;">
                <div class="ui-list-item" ng-class="{'ui-ipt-item disabled':mrInfo!=null}" style="width: 50%;margin:0 .2rem 0 0 ;">
                    <span class="name">Approver.<span class="require">*</span></span>
                    <div class="ipt" ng-if="!logId">
                        <select-person person-info="info.inspector" ng-if="mrInfo==null" ng-class="{ 'no-trpo': !!logId }"></select-person>
                    </div>
                    <div class="ipt" ng-if="!!logId">{{info.inspector.nameAndId}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item" style="width: 50%;margin:0 0 0 .5rem ;">
                    <span>Require Date.<span class="require">*</span></span>
                    <div>
                        <input type="datetime-local" ng-model="info.requireDate" ng-class="{ 'no-trpo': !!logId }"/>
                    </div>
                </div>
            </div>


            <div class="ui-list">
                <div class="ui-list-item" ng-class="{'ui-ipt-item disabled':mrInfo!=null,'ui-check-item':mrInfo==null}">
                    <span >MR Type.</span>
                    <div class="checkbox" ng-if="mrInfo==null">
                        <div class="item"  ng-click="mrTypeChange('DEFREQ')" ng-class="{active:info.mrType=='DEFREQ'}" >
                            DEFREQ
                        </div>
<!--                        <div class="item" ng-click="mrTypeChange('DEF')"-->
<!--                             ng-class="{active:info.mrType=='DEF',visibility:isCenter}">DEF-->
<!--                        </div>-->
                    </div>
                    <div class="checkbox" ng-if="mrInfo!=null">{{info.mrType}}</div>
                </div>
                <!--<div class="ui-list-item" ng-class="{'ui-ipt-item disabled':mrInfo!=null,'ui-check-item':mrInfo==null}"-->
                <!--ng-if="info.mrType=='DEFREQ'">-->
                <!--<span>AOG</span>-->
                <!--<div class="checkbox" ng-if="mrInfo==null">-->
                <!--<div class="item" ng-click="info.aogType='1'" ng-class="{active:info.aogType=='1'}">YES</div>-->
                <!--<div class="item" ng-click="info.aogType='0'" ng-class="{active:info.aogType=='0'}">NO</div>-->
                <!--</div>-->
                <!--<div class="checkbox" ng-if="mrInfo!=null">{{info.aogType=='1'?'YES':'NO'}}</div>-->
                <!--</div>-->
                <!--<div class="ui-list-item ui-check-item visibility" ng-if="info.mrType=='DEF'"></div>-->
            </div>

            <select-station station-info="info" ></select-station>

<!--            <div class="ui-list" >-->
<!--                <div class="ui-list-item ui-ipt-item disabled">-->
<!--                    <span>Station. </span>-->
<!--                    <div ng-bind="info.station"></div>-->
<!--                </div>-->
<!--                <div class="ui-list-item ui-ipt-item visibility"></div>-->
<!--            </div>-->
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div class="textarea">
                        <textarea name="remark" ng-model="info.remark" ng-maxlength="500" placeholder="最多可输入500字"  ng-class="{ 'no-trpo': !!logId }"
                                  cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-list" ng-if="mrInfo!=null">
                <div class="ui-list-item ui-textarea-item">
                    <span>Revise Reason<span class="red">*</span> </span>
                    <div class="textarea">
                        <textarea name="remark" ng-model="info.reason" ng-maxlength="500" placeholder="最多可输入500字"  ng-class="{ 'no-trpo': !!logId }"
                                  cols="30" rows="10" required></textarea>
                    </div>
                </div>
            </div>
<!--原有的航材-->
            <div class="d-faultMr-list" >
                <div class="title">
                    <div class="name">Materi/Tool Requirements<div style="color: #fc0d00;" ng-show="!!logId">提交未成功，请重新提交!!</div></div>
<!--点击添加航材-->
                    <!--                    <div class="addMrItem" >-->
                    <!--                        <div ng-click="selectMr()"></div>-->
                    <!--                    </div>-->
                </div>
                <div class="edit-item" ng-repeat="material in mrItem" ng-if="material.revRemark != 'D'">
                    <div class="main" swipe-del ng-class="{'swipe-del-left-hide': logId !=''}">
                        <div class="title">
                            <div class="num">{{material.pn}}</div>
                            <div class="staion">{{material.location}}</div>
                        </div>
                        <div class="flex-layout-between">
<!--件名-->
                            <div>{{material.pnname}}</div>
<!--单位-->
                            <div>unit: {{material.unit}}</div>
                        </div>
                        <div class="cont">
                            <div class="reduce" disabled="true" ></div>
                            <!--<div class="reduce active" ng-if="material.qty<2"></div>-->
                            <div class="number active">{{material.qty}}</div>
                            <div class="plus" disabled="true" ></div>
                            <!--                            <div class="del" >-->
                            <!--                                InventQty:{{material.availableQty}}{{material.unit}}-->
                            <!--                            </div>&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <!--                            <div class="del" > &lt;!&ndash;ng-if="material.availableQty>=0"&ndash;&gt;-->
                            <!--                                <span ng-if="material.qty>material.availableQty" style="color: #d22420;">Disatisfy</span>-->
                            <!--                                <span ng-if="material.qty<=material.availableQty">Satisfy</span>-->
                            <!--                            </div>-->
                            <!--                            <div class="ui-select mr-add-select" style = "width:3.5rem; height: 1.5rem ; line-height: 1.5rem;margin-top: .25rem;float: right;">-->
                            <!--                                <select ng-init="material.unit" ng-model="material.unit" >-->
                            <!--                                </select>-->
                            <!--                            </div>-->
                        </div>
                    </div>
 <!--原有数据删除按钮-->
                    <div class="edit-item-delete" ng-click="delItem(material,$index)">
                        <div>删除</div>
                    </div>
                </div>
            </div>
<!--再次提交条目-->
            <div class="add-maintenance-wrap"  ng-hide="!!logId">
                <div class="add-maintenance-header">
                    <div class="add-maintenance-title pull-left">Material Requirements</div>
 <!--航材需求添加-->
                    <div class="add-icon pull-right"  ng-click="selectMr()">
                        <i class="icon-maoc icon-plus"></i>
                    </div>
                </div>
<!--再次提交条目（可编辑）-->
                <div class="add-maintenance-content" ng-repeat="material in mrItemNew">
                    <div class="delete-addMaintenance" ng-click="deleteAdd($event,$index)" translate="delete">
                    </div>
                    <div class="maintenance-item" swipe-del>
                        <div class="maintenance-item-top">
                            <div class="maintenance-name pull-left">{{material.pn}}
                            </div>
                            <span class="maintenance-station pull-right">{{material.station}}
	    					</span>
                        </div>
                        <p>{{material.pnname}}</p>
                        <div class="maintenance-edit">
<!--减号-->
                            <span class="minus" ng-click="minusmaterials(material.qty,material,1,$event,$index)" ng-class="{'forbidColorMinus':material.qty==0}">－</span>
<!--数值输入框-->
                            <input type="text" ng-model="material.qty" min="0" input-material-num
                                   ng-change="overStock(material,$event,$index)" ng-focus="rememberNumber(material,$event,$index)"
                                   ng-blur="returnLastNumber(material,$event,$index)" required />
<!--减号-->
                            <span class="plus" ng-click="plusmaterials(material.qty,material,1)">＋</span>
                        </div>
<!--单位-->
                        <div class="ui-select mr-add-select" style = "width:3.5rem; height: 1.5rem ; line-height: 1.5rem;margin-top: .25rem;">
                            <select  ng-init="material.allunit = (material.allunits.length == 1)?material.allunits[0]:material.allunit" ng-model="material.allunit" required ng-options="x for x in material.allunits">
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui-list">
                <button class="ui-submit" ng-class="{'ui-disabled':submitState||(mrItemNew.length<1 && mrItem.length<1)|| !info.inspector.nameAndId}"
                        ng-disabled="submitState||(mrItemNew.length<1 && mrItem.length<1)|| !info.inspector.nameAndId" type="submit" ng-show="!logId">
                    {{submitState?'提交中':'提交'}}
                </button>
            </div>
        </form>
        <div class="ui-list">
            <button  class="ui-submit" ng-show="!!logId" ng-disabled="!abledclick"  ng-click="renewSubmit()">重新提交</button>
        </div>

    </div>
</moac-body>