<form name="myForm" action="" novalidate class="detail-baseinfo">
    <div class="approver-content-wrap">
        <!--基本信息-->
        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">Defect No.</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-value="mrInfo.defectNo"/>
        </div>
        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">Status</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-value="mrInfo.status"/>
        </div>
        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">Category.</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-value="mrInfo.category"/>
        </div>
    </div>

    <!--提交信息-->
    <div class="approver-content-wrap">
        <div class="select-require-date-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="require-date-title">Require Date<span class="red">*</span></div>
            <input type="date" class="form-control select-require-date framecolor padding-fixed"
                   ng-model="mrInfo.dateFound" ng-blur="checkDate()" required ng-disabled="!isCreateData" />
            <!--<input ng-if="android" type="date" class="form-control select-require-date framecolor"-->
            <!--ng-model="mrInfo.requireDate" ng-change="checkDate()" required />-->
            <div class="triangle-down"></div>
            <span class="red require-date-err" ng-show="showDateTip" translate="mr.dateLimit"></span>
        </div>

        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">FLT No.</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-model="mrInfo.flightNo"/>
        </div>
        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">STA No.</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-model="mrInfo.station"/>
        </div>
        <div class="select-require-date-wrap no-edit">
            <div class="require-date-title">A/C No.</div>
            <input type="text" class="form-control framecolor padding-fixed" disabled ng-model="mrInfo.acReg"/>

        </div>

        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Finder Sign<span class="red">*</span></div>

            <input type="text" on-input class="form-control search-textbox framecolor" ng-paste="searchNameOrId(mrInfo.nameAndId)"
                   ng-blur="dropdown=false;" ng-keyup="setNameId($event)"
                   ng-model="mrInfo.nameAndId"
                   ng-attr-placeholder="{{holderValue}}" required ng-disabled="!isCreateData"/>
					<span class="loading-approver" ng-show="loadApprover">
						<i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
            <span class="red require-date-err" ng-show="diffName" translate="mr.inputNameErr"></span>
            <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
            <ul ng-show="dropdown && workInfoList.length" class="dropdown-menu mr-dropdown">
                <li work-info-select ng-repeat="item in workInfoList">
                    <a>{{ item.cnName }} {{item.workNo}}</a>
                </li>
            </ul>

            <!--<input type="hidden" ng-model="mrInfo.approverName" />-->
            <input type="hidden" ng-model="mrInfo.creator" />

        </div>
        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">ATA <span class="red">*</span></div>
            <input type="text" class="form-control search-textbox framecolor" placeholder="请输入ATA" required
                   ng-model="mrInfo.ata" ng-disabled="!isCreateData" />
        </div>
        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Review Type</div>
            <input type="text" ng-value="mrInfo.reviewTypes" ng-show="!isCreateData" ng-disabled="!isCreateData">
            <select class="form-control review-type-select" ng-model="mrInfo.rewiewType" ng-show="isCreateData"  multiple>
                <option></option>
                <option>Pr/F</option>
                <option>T/R</option>
                <option>Po/F</option>
            </select>
            <div class="triangle-down"></div>
        </div>

        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Report By</div>
            <input type="text" ng-value="mrInfo.reportBy" ng-show="!isCreateData" ng-disabled="!isCreateData">
        </div>
        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">RII</div>
            <input type="text" ng-value="mrInfo.reportBy" ng-show="!isCreateData" ng-disabled="!isCreateData">
        </div>
        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Type</div>
            <input type="text" ng-value="mrInfo.type" ng-show="!isCreateData" ng-disabled="!isCreateData">
        </div>

        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Affected ENG</div>
            <input type="text" ng-value="mrInfo.eng" ng-show="!isCreateData" ng-disabled="!isCreateData">
        </div>
        <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
            <div class="approver-title">Affected ENG</div>
            <input type="text" ng-value="mrInfo.eng" ng-show="!isCreateData" ng-disabled="!isCreateData">
        </div>
    </div>
    <!--提交信息结束-->

    <!--编辑状态下显示-->
    <div ng-show="isCreateData">
        <div class="tail-eng-wrap pull-left fault-check-button" ng-init="active=0; riiActive=1"  ng-show="isCreateData">
            <div class="tail-eng-title">Report By</div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: active==0}" ng-click="reportType($event);active=0" ng-disabled="!isCreateData">PILOT</button>
                <button type="button" ng-class="{beClicked: active==1}" ng-click="reportType($event);active=1" ng-disabled="!isCreateData">Ground</button>
            </div>
        </div>

        <div class="tail-eng-wrap pull-left fault-check-button">
            <div class="tail-eng-title">RII</div>
            <div class="tail-eng-button">
                <button type="button" ng-class="{beClicked: riiActive==0}" ng-click="setRii($event);riiActive=0" ng-disabled="!isCreateData">YES</button>
                <button type="button" ng-class="{beClicked: riiActive==1}" ng-click="setRii($event);riiActive=1" ng-disabled="!isCreateData">NO</button>
            </div>
        </div>

        <div class="approver-content-wrap" >
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreateData}">
                <div class="approver-title">Affected ENG</div>
                <select class="form-control review-type-select" ng-model="mrInfo.engineType" ng-disabled="!isCreateData">
                    <option value=""></option>
                    <option value="1">ENG1</option>
                    <option value="2">ENG2</option>
                    <option value="4">ENG3</option>
                    <option value="5">ENG4</option>
                    <option value="3">APU</option>
                </select>
                <div class="triangle-down"></div>
            </div>
            <div class="select-require-date-wrap no-edit">
                <div class="require-date-title">SN</div>
                <input type="text" class="form-control framecolor padding-fixed" disabled ng-model="mrInfo.engineSn"/>

            </div>
        </div>
    </div>

    <div class="add-remark-wrap">
        <div class="add-remark-title">故障报告(Chinese)<span class="red">*</span></div>
        <div class="add-remark-content">
            <textarea ng-model="mrInfo.faultReportChn" required ng-disabled="!isCreateData"></textarea>
        </div>
    </div>
    <div class="add-remark-wrap">
        <div class="add-remark-title" style="word-break: break-all">Fault Report(Engish)<span class="red">*</span></div>
        <div class="add-remark-content">
            <textarea ng-model="mrInfo.faultReportEng" required ng-disabled="!isCreateData"></textarea>
        </div>
    </div>
</form>

<!--MCC worklog-->
<div class="mcc-worklog">
    <h4>MCC WorkLog</h4>
    <div class="media">
        <div class="media-left">
            Description:
        </div>
        <div class="media-body">
            10月9日晚深圳短停机组反馈进近时自动刹车1-5档位不能选择
        </div>
        TO FOC: Y
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Identify</th>
                <th>Date</th>
                <th>Station</th>
                <th>Section</th>
                <th>Worklog</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">跟进</th>
                <td>2017-10-10</td>
                <td> SZX </td>
                <td>T/R</td>
                <td>10月9日晚深圳地面有AUTOBRAKE
                    /ANTISKID信息，自检AACU无信息，
                    航后检查。随机了AACU以及自动刹
                    车选择电门过去</td>
                <td>刘顺奋</td>
            </tr>
        </tbody>
    </table>
</div>



<button class="submitAddMR" ng-show="isCreateData" ng-class="{'orange-button': myForm.$valid}" ng-disabled="!myForm.$valid" ng-click="submit(mrInfo)">Submit</button>
<button class="submitAddMR" ng-show="!isCreateData && isCanEdit" ng-class="{'orange-button': myForm.$valid}" ng-disabled="!myForm.$valid && !isCreateData" ng-click="submit(mrInfo)">Submit</button>

<p class="bg-danger" ng-show="mrError && mrInfo.cardType!='LM'">{{mrError}}</p>
<p class="bg-success" ng-show="submitSuccess" translate="mr.saveSuccess"></p>