
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        故障信息
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back','slideRight')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content mr-add">
        <form name="myForm" action="">
            <div class="approver-content-wrap">
                <div class="select-require-date-wrap">
                    <div class="require-date-title">Require Date</div>
                    <input type="date" ng-if="!android" class="form-control select-require-date framecolor padding-fixed"
                           ng-model="mrInfo.requireDate" ng-blur="checkDate()" required />
                    <input ng-if="android" type="date" class="form-control select-require-date framecolor"
                           ng-model="mrInfo.requireDate" ng-change="checkDate()" required />
                    <div class="triangle-down"></div>
                    <span class="red require-date-err" ng-show="showDateTip" translate="mr.dateLimit"></span>
                </div>
                <div class="select-require-date-wrap no-edit">
                    <div class="require-date-title">FLT No.</div>
                    <input type="text" class="form-control framecolor padding-fixed" disabled value="o38989"/>

                </div>
                <div class="select-require-date-wrap no-edit">
                    <div class="require-date-title">STA No.</div>
                    <input type="text" class="form-control framecolor padding-fixed" disabled value="szx"/>

                </div>
                <div class="select-require-date-wrap no-edit">
                    <div class="require-date-title">A/C No.</div>
                    <input type="text" class="form-control framecolor padding-fixed" disabled value="B-2829"/>

                </div>

                <div class="datebox-wrap">
                    <div class="approver-title">Approver</div>

                    <input type="text" on-input class="form-control search-textbox framecolor" ng-paste="searchNameOrId(mrInfo.nameAndId)"
                           ng-blur="dropdown=false;" ng-keyup="setNameId($event)"
                           ng-model="mrInfo.nameAndId"
                           ng-attr-placeholder="{{holderValue}}" required />
					<span class="loading-approver" ng-show="loadApprover">
						<i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
                    <span class="red require-date-err" ng-show="diffName" translate="mr.inputNameErr"></span>
                    <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
                    <ul ng-show="dropdown && workInfoList.length" class="dropdown-menu mr-dropdown">
                        <li work-info-select ng-repeat="item in workInfoList">
                            <a>{{ item.cnName }} {{item.workNo}}</a>
                        </li>
                    </ul>

                    <input type="hidden" ng-model="mrInfo.approverName" />
                    <input type="hidden" ng-model="mrInfo.approverSn" />

                </div>
                <div class="datebox-wrap">
                    <div class="approver-title">ATA</div>
                    <input type="text" class="form-control search-textbox framecolor" placeholder="请输入ATA" required />
                </div>
                <div class="datebox-wrap">
                    <div class="approver-title">Review Type</div>
                    <select class="form-control review-type-select">
                        <option>Pr/F</option>
                    </select>
                    <div class="triangle-down"></div>
                </div>
            </div>
            <div class="tail-eng-wrap pull-left fault-check-button">
                <div class="tail-eng-title">Report Type</div>
                <div class="tail-eng-button averageArange">
                    <button type="button" ng-class="{beClicked: active==0}" ng-click="active=0">PILOT</button>
                    <button type="button" ng-class="{beClicked: active==1}" ng-click="active=1">Ground</button>
                </div>
            </div>
            <div class="tail-eng-wrap pull-left fault-check-button">
                <div class="tail-eng-title">RII</div>
                <div class="tail-eng-button">
                    <button type="button" ng-class="{beClicked: riiActive==0}" ng-click="riiActive=0">YES</button>
                    <button type="button" ng-class="{beClicked: riiActive==1}" ng-click="riiActive=1">NO</button>
                </div>
            </div>

            <!-- Type -->
            <div class="tail-eng-wrap pull-left fault-type-button">
                <div class="tail-eng-title">Type</div>
                <div class="tail-eng-button">
                    <button type="button" ng-class="{beClicked: typeActive==0}" ng-click="typeActive=0">U</button>
                    <button type="button" ng-class="{beClicked: typeActive==1}" ng-click="typeActive=1">S</button>
                    <button type="button" ng-class="{beClicked: typeActive==2}" ng-click="typeActive=2">O</button>
                </div>
            </div>

            <div class="approver-content-wrap">
                <div class="datebox-wrap">
                    <div class="approver-title">Affected ENG</div>
                    <select class="form-control review-type-select">
                        <option>eng1</option>
                    </select>
                    <div class="triangle-down"></div>
                </div>
                <div class="select-require-date-wrap no-edit">
                    <div class="require-date-title">SN</div>
                    <input type="text" class="form-control framecolor padding-fixed" disabled value="o38989"/>

                </div>
            </div>

            <div class="add-remark-wrap">
                <div class="add-remark-title">故障报告(Chinese)</div>
                <div class="add-remark-content">
                    <textarea ng-model="mrInfo.remark"></textarea>
                </div>
            </div>
            <div class="add-remark-wrap">
                <div class="add-remark-title">Fault Report(Engish))</div>
                <div class="add-remark-content">
                    <textarea ng-model="mrInfo.remarkEn"></textarea>
                </div>
            </div>
        </form>

        <button class="submitAddMR" ng-disabled="!mrInfo.item.length || !myForm.$valid" ng-click="submitMr(mrInfo)">Submit</button>

        <p class="bg-danger" ng-show="mrError && mrInfo.cardType!='LM'">{{mrError}}</p>
        <p class="bg-success" ng-show="submitSuccess" translate="mr.saveSuccess"></p>
    </div>
</div>
