<moac-header>{{isHandle?'图片记录':'语音、图片记录'}}</moac-header>
<moac-body>
    <div class="p-faultFileRecord">
        <div class="nodata" ng-if="data.length<=0">暂无数据~</div>
        <div class="ui-img" ng-class="{show:imgUrl!=null}">
            <p ng-click="closeImg()"></p>
            <div>
                <img ng-src="{{imgUrl}}"/>
            </div>
        </div>
        <div class="p-item" ng-if="data.data.length>0" ng-repeat="item in data.data">
            <div class="time" ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm'"></div>
            <div class="main left" >  <!--ng-class="{right:item.change,left:!item.change}"-->
                <div class="icon" >  <!--ng-if="!item.change"   -->
                    <i class="icon-other"></i>
                </div>
                <div class="cont">
                    <div class="title" ng-bind="item.uploadByName"></div>
                    <div class="file">
                        <div class="sound" ng-if="item.type.toLowerCase()=='mp3'"
                             ng-click="playAudio(item.content, $index)">
                            <!--<span ng-if="item.change">{{(item.size/1000).toFixed(1)}}<sup>〃</sup></span>-->
                            <div ng-style="{width:'8rem'}">
                                <i class="icon-stop" ng-show="!isPlay || playIndex != $index"></i>
                                <img src="dist/images/Shape2@2x.gif" width="12"
                                     ng-show="playIndex == $index && isPlay" style="margin-left:.5rem;">
                            </div>
                            <span>{{(item.size/1000).toFixed(1)}}<sup>〃</sup></span>  <!--ng-if="!item.change"-->
                        </div>
                        <div class="img" ng-if="item.type!='mp3'">
                            <div ng-click="showImg(data.data, $index)">
                                <p>
                                    <img ng-src="data:image/png;base64,{{item.content}}"
                                         alt="">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="icon" ng-if="item.change">-->
                    <!--<i class="icon-other1"></i>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</moac-body>