<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        转NRC推迟
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content">
    <form name="myForm" novalidate>
       <div class="damage-draft-detail">
           <div class="section-1" style="font-size: .7rem">
               <div class="header" style="padding: 12px 10px">基本信息</div>
<!--               <div class="item clearfix" style="border: none;padding: 7px 10px 7px 0">-->
<!--                   <div class="p-fl" style="width: 50%">-->
<!--                       <span style="color: #999">-->
<!--                           来源:飞机-->
<!--                       </span>-->
<!--                   </div>-->
<!--                   <div class="p-fr" style="width: 50%">-->
<!--                       <span style="color: #999">-->
<!--                           飞机号:{{info.nrcBase.acEng}}-->
<!--                       </span>-->
<!--                   </div>-->
<!--               </div>-->
               <div class="item">
                   <div class="title" style="width: 35%!important;">
                       <span class="">来源</span>
                   </div>
                   <div class="right" style="width: 63% !important;">
                       <label><input  type="radio" name="way" value="1" ng-model="info.nrcBase.aeType" ng-checked="info.nrcBase.aeType==1">飞机</label>
                       <label><input  type="radio" name="way" value="2" ng-model="info.nrcBase.aeType" ng-checked="info.nrcBase.aeType==2">发动机</label>
                   </div>

               </div>
               <div class="item" ng-if="info.nrcBase.aeType==1">
                   <div class="title">
                       <span>飞机号</span>
                       <span class="red">*</span>
                   </div>
                   <input class="right" ng-model="info.nrcBase.acEng" type="text" readonly placeholder="">
               </div>
               <div class="item" ng-if="info.nrcBase.aeType==2">
                   <div class="title">
                       <span class="">发动机</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">
                       <div class="check-method">
                          <span ng-repeat="item in info.basic.engs" ng-if="item.id == info.withEng">
                              {{item.sn}}
                          </span>
                           <select ng-model="info.withEng" ng-change="engChange(info.withEng)">
                               <option ng-repeat="item in info.basic.engs" value="{{item.id}}" ng-selected="item.id== info.withEng">{{item.sn}}</option>
                           </select>
                       </div>
                       <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">
                   </div>
               </div>
               <div class="item clearfix" style="border: none;padding: 7px 10px 7px 0">
                   <div class="p-fl" style="width: 50%">
                       <span style="color: #999">
                           机型:{{info.nrcBase.modelEng}}
                       </span>
                   </div>
                   <div class="p-fl" style="width: 50%">
                       <span style="color: #999">
                           开卡日期:{{info.nrcBase.repTime | date:'yyyy-MM-dd'}}
                       </span>
                   </div>

               </div>

               <div class="item clearfix" style="border: none;padding: 7px 10px 7px 0">
                   <div class="p-fr" style="width: 100%">
                       <span style="color: #999">
                           报告者:{{info.nrcBase.repName + '(' +info.nrcBase.repSn + ')'}}
                       </span>
                   </div>
               </div>
               <div class="item clearfix" style="border: none;padding: 7px 10px 7px 0">
                   <div class="p-fr" style="width: 100%">
                       <span style="color: #999">
                           工卡来源:    <span> {{'[DEFECT]'+ info.nrcBase.nrcCardList[0].cardNo}}</span>
                           <span ng-if="tlbTechLog"> {{'[TLB]'+ tlbTechLog.tlbNo}}</span>
                       </span>
                   </div>
               </div>
           </div>
           <div class="section-1" style="font-size: .7rem">
               <div class="header" style="padding: 12px 10px">故障缺陷或中文描述</div>
               <div class="item">
                   <p style="word-break:break-all;">
                        <p style="color: #999">中文描述:</p>
                       {{info.nrcBase.descChn}}
                   </p>
               </div>
               <div class="item">
                   <p style="word-break:break-all;">
                        <p style="color: #999">英文描述:</p>
                         {{info.nrcBase.descEn}}
                   </p>
               </div>
           </div>
           <div class="section-1">
               <div class="header" style="padding: 12px 10px">其他信息</div>
               <div class="item">
                   <div class="title">
                       <span class="">Skill</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">
                       <div class="check-method">
                          <span ng-repeat="item in info.basic.skills" ng-if="item.value == info.nrcBase.skill">
                              {{item.name}}
                          </span>
                           <select ng-model="info.nrcBase.skill"  required>
                               <option ng-repeat="item in info.basic.skills" value="{{item.value}}" ng-selected="item.value== info.nrcBase.skill">{{item.name}}</option>
<!--                               <option value="1">ME</option>-->
<!--                               <option value="2">AV</option>-->
<!--                               <option value="3">STR</option>-->
                           </select>
                       </div>
                       <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">
                   </div>
               </div>
               <div class="item">
                   <span class="title">STA/ZONE</span>
                   <input class="right" ng-model="info.nrcBase.stazone" type="text" placeholder="请填写">
               </div>
               <div class="item">
                   <div class="title">
                       <span class="">ITEM CAT</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right">
                       <div class="check-method">
                          <span ng-repeat="item in info.basic.itemcats" ng-if="item.value == info.nrcBase.itemCat">
                              {{item.name}}
                          </span>
                           <select ng-model="info.nrcBase.itemCat" required>
                               <option ng-repeat="item in info.basic.itemcats" value="{{item.value}}" ng-selected="item.value== info.nrcBase.itemCat">{{item.name}}</option>
                           </select>
                       </div>
                       <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">
                   </div>
               </div>

               <div class="item">
                   <div class="title" style="width: 35%!important;">
                       <span class="">外观是否可见</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right" style="width: 63% !important;">
                       <label><input  type="radio" name="seen" value="y" ng-model="info.nrcBase.defect">YES</label>
                       <label><input  type="radio" name="seen" value="n" ng-model="info.nrcBase.defect">NO</label>
                   </div>

               </div>

               <div class="item">
                   <div class="title">
                       <span class="">方案制定人</span>
                       <span class="red">*</span>
                   </div>
                   <div class="right ipt">
                       <select-person is-required='false' show-title="false" person-info="info.mech"></select-person>
                   </div>

               </div>
           </div>
           <div class="section-2 item" style="overflow: hidden">
               <div class="tlb-oil-wrapper">
                   <oil-ewis  edit="isCreatTLB"
                              is-has-ewis="oilEwisInfo.isHasEwis" ewis-show="oilEwisInfo.showEwis"
                              ewis-state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO"
                              ewis-index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo"
                              is-has-oil="oilEwisInfo.isHasOil" oil-show="oilEwisInfo.showOil"
                              oil-state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO"
                              oil-index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo"
                   ></oil-ewis>
               </div>
           </div>


           <div class="section-4">
               <div class="header" style="padding: 12px 10px">附件&nbsp;</div>

               <div class="p-image">
                   <img-select  img-arr="imgArr" file-arr="fileArr" is-api-cloud="isApiCloud" del-img-id="delImgId"  attachvo="attachvo"></img-select>
               </div>

           </div>

           <div class="save-button-section" style="text-align: center">


               <button style="width: 80%;"  ng-class="{
                       'button-active':
                        info.nrcBase.skill &&
                        info.nrcBase.itemCat  &&
                        info.nrcBase.defect.length > 0 &&
                        info.mech.approverName.length > 0  &&
                       ((oilEwisInfo.isHasEwis == 'y' && oilEwisInfo.ewisDTO.length > 0) || oilEwisInfo.isHasEwis == 'n' )  &&
                       ((oilEwisInfo.isHasOil == 'y' && oilEwisInfo.oilDTO.length > 0) || oilEwisInfo.isHasOil == 'n' )
                       }"
                       ng-disabled="
                       info.nrcBase.skill.length == 0 ||
                       !info.nrcBase.skill ||
                       info.nrcBase.itemCat.length == 0  ||
                       !info.nrcBase.itemCat||
                       info.nrcBase.defect.length == 0  ||
                       !info.nrcBase.defect||
                       info.mech.approverName.length == 0 ||
                       !info.mech.approverName||
                       !((oilEwisInfo.isHasEwis == 'y' && oilEwisInfo.ewisDTO.length > 0) || oilEwisInfo.isHasEwis == 'n' ) ||
                       !((oilEwisInfo.isHasOil == 'y' && oilEwisInfo.oilDTO.length > 0) || oilEwisInfo.isHasOil == 'n' )"
                       ng-click="submit('submit')">
                   提交
               </button>

           </div>
       </div>
    </form>
</div>
<ewis ng-show="oilEwisInfo.showEwis" ewis-show="oilEwisInfo.showEwis" state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO" index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo" is-edit="isCreatTLB"></ewis>
<oil ng-show="oilEwisInfo.showOil" oil-show="oilEwisInfo.showOil" state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO" index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo" is-edit="isCreatTLB"></oil>



