<moac-header ng-show="!showEwis && !showOil">排故措施</moac-header>
<moac-body ng-show="!showEwis && !showOil">
    <div class="p-addFaultHandle">
        <form ng-submit="submitMethod()" name="addFaultHandle" novalidate>
            <div class="d-faultHandle">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item defect-no disabled">
                        <span>Defect</span>
                        <div ng-bind="defectDetail.defectNo"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Station.</span>
                        <div ng-bind="defectDetail.station"></div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>A/C No.</span>
                        <div ng-bind="defectDetail.acReg"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>机型</span>
                        <div ng-bind="defectDetail.minorModel"></div>
                    </div>

                </div>

                <div class="ui-list mobile-uilist-css">
                    <div class="ui-list-item ui-ipt-item" ng-class="{'disabled': info.noTlbNo}">
                        <span>TLB No</span><span class="red">*</span>
                        <div moac-auto-focus="tlbNo" class="tlb-scan-wrapper tlbno-input-wrap">
                            <input type="text" class="ipt-no-tlb"
                                   ng-change="change()"
                                   ng-model="info.tlbNo" ng-class="{'disabled': info.noTlbNo}"
                                   placeholder="请输入TLB No" ng-disabled="info.noTlbNo"
                                   moac-ref="tlbNo" ng-required="!info.noTlbNo"/>
                            <i class="tlb-scan" ng-click="scan()" ng-if="!info.noTlbNo"></i>
                        </div>
                    </div>
                    <div class="ui-list-item ui-ipt-item">
                        <span>Action Date</span>
                        <input type="datetime-local" ng-model="info.completeDate" class="date-local"/>
                    </div>
                </div>
                <div class="ui-list mobile-uilist-css">
                    <div class="ui-list-item ui-ipt-item">
                        <span>Found Date</span>
                        <input type="datetime-local" ng-model="info.dateFound" class="date-local"/>
                    </div>
                </div>
                <select-zone zone-info="zoneInfo" > </select-zone>


                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item title">
                        <span>ATA<span class="red">*</span></span>
                        <div class="">
                            <input type="tel" class="form-control search-textbox framecolor" name="ata" placeholder="4~8位" required maxlength="8"
                                   ng-model="info.ata"  ng-pattern="/^[\w|-]{4,8}$/" >
                        </div>
                    </div>
                    <div class="ui-list-item ui-ipt-item title">
                        <span>M-HRS<span class="require">*</span></span>
                        <div moac-auto-focus="manHours">
                            <input type="number" style="width:40%" ng-model="info.manHours" moac-ref="manHours" required
                                   ng-pattern="/^([1-9]\d*|0)(\.\d{1,1})?$/"/>小时
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-check-item">
                        <span>RII</span>
                        <div class="checkbox">
                            <div class="item" ng-click="info.rii='y';info.rci='n'" ng-class="{active:info.rii=='y'}">YES</div>
                            <div class="item" ng-click="info.rii='n'" ng-class="{active:info.rii=='n'}">NO</div>
                        </div>
                    </div>
                    <div class="ui-list-item ui-check-item" ng-show="info.rii == 'n'">
                        <span>RCI</span>
                        <div class="checkbox">
                            <div class="item" ng-click="info.rci='y'" ng-class="{active:info.rci=='y'}">YES</div>
                            <div class="item" ng-click="info.rci='n'" ng-class="{active:info.rci=='n'}">NO</div>
                        </div>
                    </div>
                    <div class="ui-list-item ui-ipt-item visibility" ng-if="(info.rii == true || info.rii.toUpperCase() == 'Y')"></div>
                </div>

                <div class="ui-list" ng-if="(info.rii == 'y' || info.rci == 'y')">
                    <div class="ui-list-item">
                        <span class="name" ng-if="info.rii=='y'">RII Sign.<span class="require">*</span></span>
                        <span class="name" ng-if="info.rci=='y'">RCI Sign.<span class="require">*</span></span>
                        <div class="ipt">
                            <select-person person-info="info.inspector"></select-person>
                        </div>
                    </div>
                </div>

                <oil-ewis  edit="$parent.edit"
                          is-has-ewis="$parent.isHasEwis" ewis-show="$parent.showEwis"
                          ewis-state="$parent.ewisState" ewis-dto="$parent.ewisDTO"
                          ewis-index="$parent.selectedEwisIndex" ewis-info="$parent.ewisInfo"
                          is-has-oil="$parent.isHasOil" oil-show="$parent.showOil"
                          oil-state="$parent.oilState" oil-dto="$parent.oilDTO"
                          oil-index="$parent.selectedOilIndex" oil-info="$parent.oilInfo"
                ></oil-ewis>

                <div class="ui-list">
                    <div class="ui-list-item">
                        <span class="name">Mech Sign.<span class="require">*</span></span>
                        <div class="ipt">
                            <select-person person-info="info.tecnician" is-auto-loginercode="true"></select-person>
                        </div>
                    </div>

                    <!--新增DM选项-->
                    <div class="ui-list-item ui-check-item" >
                        <span>DM <span class="red" ng-if="info.dmStatus === 0">*</span></span>
                        <div class="checkbox" required>
                            <div class="item" ng-click="info.dm = info.dm === 'y' ?  '' : 'y'" ng-class="{active:info.dm=='y'}">Y</div>
                            <div class="item" ng-click="info.dm= info.dm === 'n' ?  '' : 'n'" ng-class="{active:info.dm=='n'}">N</div>
                        </div>
                    </div>

                </div>

                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>故障报告(Chinese)<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="faultReportChn" ng-model="info.faultReportChn" required placeholder="故障报告(Chinese)"
                              cols="30" maxlength="500" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>FAULT REPORT(ENG)<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="faultReportEng" maxlength="500" ng-model="info.faultReportEng" placeholder="FAULT REPORT(ENG)"
                              required cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>处理措施<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="takenActionChn" ng-model="info.takenActionChn" required placeholder="处理措施"
                              cols="30" maxlength="500" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-textarea-item">
                        <span>Taken Action<span class="require">*</span></span>
                        <div class="textarea">
                    <textarea name="takenActionEng" maxlength="500" ng-model="info.takenActionEng" placeholder="Taken Action"
                              required cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="cont">
                    <div class="ui-list">
                        <div class="ui-list-item ui-textarea-item">
                            <span>Remark</span>
                            <div class="textarea">
                        <textarea name="Remark" ng-model="info.feedBack" cols="30"
                                  rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-list">
                        <img-select img-arr="imgInfo.imgArr" file-arr="imgInfo.fileArr"
                                    attachvo="imgInfo.attachvo" del-img-id="imgInfo.delImgId"></img-select>
                    </div>
                    <div class="ui-list">
                        <button class="ui-submit" ng-class="{'ui-disabled':!addFaultHandle.$valid||
                        (isHasOil == ''|| isHasEwis=='' || (isHasEwis=='y'&& ewisDTO.length==0)||(isHasOil == 'y'&& oilDTO.length==0))||
            ((defectDetail.rii == true || defectDetail.rii.toUpperCase() == 'Y')&&(info.inspector.diffName==true))||
            (info.tecnician.diffName==true) || (info.dmStatus == 0 && !info.dm)}"
                                ng-disabled="!addFaultHandle.$valid||
                        (isHasOil == ''|| isHasEwis=='' || (isHasEwis=='y'&& ewisDTO.length==0)||(isHasOil == 'y'&& oilDTO.length==0))||
            ((defectDetail.rii == true || defectDetail.rii.toUpperCase() == 'Y')&&(info.inspector.diffName==true))||
            (info.tecnician.diffName==true) || (info.dmStatus == 0 && !info.dm) || loading" type="submit">提交数据
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</moac-body>

<ewis ng-show="showEwis" ewis-show="showEwis" state="ewisState" ewis-dto="ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="edit"></ewis>
<oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="edit"></oil>
