<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
       忘打休息卡
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault" style="-webkit-overflow-scrolling:touch;">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail">
            <div class="section-1">
                <div class="add-remark-wrap left" style="font-weight: bold;margin-top: .5rem;font-size: 0.95rem;">
                    状态选择
                </div>
                <div style="margin-left: 1rem;">
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;"><input  type="radio" name="selectOperat" value="3" ng-disabled="submitDisabled"  ng-model="mrInfo.selectItem" ng-checked="mrInfo.selectItem=='3'">&#12288;&#12288;&#12288;忘打休息结束卡</label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;"><input  type="radio" name="selectOperat" value="4" ng-disabled="submitDisabled"  ng-model="mrInfo.selectItem" ng-checked="mrInfo.selectItem=='4'">&#12288;&#12288;&#12288;忘打休息开始和结束卡</label>
                        </div>
                    </div>
                    <div style="margin-top: 3rem;width: 100%;text-align: center;">
                        <div style="display: inline-block">友情提示:休息时间要超过两个小时哦！</div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <button class="submitAddMR ui-disabled"
            ng-class="{'orange-button':mrInfo.selectItem=='3' || mrInfo.selectItem=='4'}"
            ng-disabled="!(mrInfo.selectItem=='3' || mrInfo.selectItem=='4')"
            ng-click="submit(mrInfo)">Submit
    </button>
</div>