<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        <span ng-if="type.indexOf('MANGER') != -1 && getTimeData.userName">[{{getTimeData.userName}}]</span>
        工作状态反馈
    </div>
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <div class="btn" ng-click="gobackToRoot()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault" style="-webkit-overflow-scrolling:touch;">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail" ng-show="!msgErr">
            <div class="section-1">
                <div style="padding: .5rem 1.5rem;display: block;" ng-if = "type.indexOf('DAYS') == -1">
                    <div style="width: 100%;margin-top: .5rem;"><span style="font-weight: bold;">上班打卡时间:&#8195;</span>{{ mrInfo.workCardStart | date:'yyyy/MM/dd HH:mm:ss' }}</div>
                    <div style="width: 100%;margin-top: .5rem;"><span style="font-weight: bold;">上班卡累计时长:&#8195;</span>{{ mrInfo.workHours }}</div>
                </div>
                <div style="padding: .5rem 1.5rem;display: block;" ng-if = "type.indexOf('DAYS') != -1">
                    <div style="width: 100%;margin-top: .5rem;"><span style="font-weight: bold;">连续5天的日期:&#8195;</span>{{ mrInfo.fiveDaysStart  | date:'yyyy/MM/dd' }} ～ {{ mrInfo.workCardStart| date:'yyyy/MM/dd' }}</div>
                    <div style="width: 100%;margin-top: .5rem;"><span style="font-weight: bold;">连续5天的上班累计时长:&#8195;</span> {{ mrInfo.daysWorkHours }}</div>
                </div>
                <div ng-if="!mrInfo.alreadyFeed" class="add-remark-wrap left" style="font-weight: bold;margin-top: .5rem;font-size: 0.95rem;">
                    状态选择
                </div>
                <div style="padding: .5rem 1.5rem;display: block;" ng-if = "mrInfo.alreadyFeed">
                    <div style="width: 100%;margin-top: .5rem;"><span style="font-weight: bold;"><span ng-if="mrInfo.name">{{mrInfo.name}}</span>已反馈:&#8195;</span>{{mrInfo.typeText}}</div>
                </div>
<!--放行工程师-->
                <div style="margin-left: 1rem;" ng-if="(type == 'ATTENDANCE_REPORT_WARNING' || type == 'DAYS_ATTENDANCE_REPORT_WARNING') && !mrInfo.alreadyFeed">
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="1"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;已下班
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%;">
                        <div class="left" >
                            <label style="width:100%;display:inline-block;">
                                <input type="radio"
                                       name="selectOperat"
                                       value="2"
                                       ng-disabled="submitDisabled"
                                       ng-model="mrInfo.selectItem"
                                       >&#12288;&#12288;&#12288;可在正常时间内下班
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="3"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;忘打休息卡
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="5"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;立即开始休息
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="6"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;外站跟机
                            </label>
                        </div>
                    </div>
                </div>
<!--维修部门负责人-->
                <div style="margin-left: 1rem;" ng-if="(type == 'ATTENDANCE_REPORT_WARNING_MANGER' || type == 'DAYS_ATTENDANCE_REPORT_WARNING_MANGER') && !mrInfo.alreadyFeed">
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="1"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;已下班
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%;">
                        <div class="left" >
                            <label style="width:100%;display:inline-block;">
                                <input type="radio"
                                       name="selectOperat"
                                       value="2"
                                       ng-disabled="submitDisabled"
                                       ng-model="mrInfo.selectItem"
                                       >&#12288;&#12288;&#12288;可在正常时间内下班
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="7"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;可正常交接工作按时下班
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="8"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;可安排休息
                            </label>
                        </div>
                    </div>
                    <div class="item"  style="width: 95%">
                        <div class="left">
                            <label style="width:100%;display:inline-block;">
                                <input  type="radio"
                                        name="selectOperat"
                                        value="6"
                                        ng-disabled="submitDisabled"
                                        ng-model="mrInfo.selectItem"
                                        >&#12288;&#12288;&#12288;外站跟机
                            </label>
                        </div>
                    </div>
                </div>
                <div style="margin-top: .8rem;width: 100%;text-align: center;">
                    <div style="display: inline-block">友情提示:休息时间要超过两个小时哦！</div>
                </div>
            </div>
            <button class="submitAddMR ui-disabled"
                    ng-class="{'orange-button':mrInfo.selectItem}"
                    ng-disabled="!mrInfo.selectItem"
                    ng-show="!mrInfo.alreadyFeed"
                    ng-click="submit(mrInfo)">Submit
            </button>
        </div>

    </form>
    <div class="damage-draft-detail" ng-show="msgErr" style="position: absolute;top: 45%;text-align: center;width: 100%">
        <p style="text-align: center;">
            消息未找到，无需任何处理
        </p>
    </div>

</div>