<ui-view name="faultInfo"></ui-view>
<div ng-show="!faultInfoView && !ccInfoView && !recordView">
	<div class="navbar navbar-app navbar-absolute-top">
		<div class="clearfix top-title">
			<div class="navbar-brand navbar-brand-center">
				搜索故障
			</div>
			<div class="btn-group btn-group-left">
				<div class="btn" ng-click="goBack()">
					<i class="icon-maoc icon-back" ></i>
				</div>
			</div>
		</div>
		<header class="datebox">
			<div class="btn-group search-btn-group">
				<div class="datebox-wrap flight-datebox-wrap pull-left">
					<i class="icon-maoc icon-search-flight-date"></i>
					<input ng-if="!android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.searchDate" >
					<input ng-if="android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.searchDate" >
				</div>
				<div class="datebox-wrap pull-left wrap-right">
					<form>
						<input type="search" required class="form-control search-textbox fault-search-input" placeholder="飞机号/故障号/TLB/故障描述/ATA"
							   ng-model="searchTxt" ng-keypress="enter($event,searchTxt)">
					</form>
					<i class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch(searchTxt)"></i>
				</div>
			</div>
		</header>
	</div>
	<div class="scrollable search-fault">
		<div class="scrollable-content" ui-scroll-bottom="getNextPage()">
			<div class="material-content-wrap">
				<div class="list-group material-content">
					<div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">未搜索到相应的故障</div>
					<div class="list-group-item materialitem"
						 ng-click="go('searchFault.faultClose','',{defectId: item.id, pt: true, defectInfo: item, fromSearch: true})"
						 ng-repeat="item in balanceInfo | orderBy:'-defectNo'" ng-if="!item.delCard" on-finish-render-filters>
						<div class="material-content-top materialname">
							<div class="pull-left ">Defect NO:{{item.defectNo}}</div>
							<div class="pad-show"> <!--此行在pad上显示-->
								<div class="pull-left">A/C:{{item.acReg}}</div>
								<div class="pull-left ">{{item.station}}</div>
							</div>
							<div class="pull-right">
								<span class="blue" ng-if="item.status == 'O'">OPEN</span>
								<span class="blue" ng-if="item.status == 'C'">CLOSE</span>
								<span class="blue" ng-if="item.status == 'M'">MONITOR</span>
								&nbsp; {{item.category}}
							</div>

						</div>
						<!--此行在手机上显示-->
						<div class="material-content-top mobile-show">
							<div class="pull-left">A/C:{{item.acReg}}</div>
							<div class="pull-left ">{{item.station}}</div>
						</div>
						<div class="material-content-middle materialdescript ">
							<div class="pull-left materialname fault-descript">Description:{{item.faultReportChn}}</div>
							<div class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>
						</div>

						<!-- 右侧图标 -->
						<div class="next-fault-info icon-maoc icon-next-flight "></div>
					</div>
				</div>
			</div>
			<div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
		</div>
	</div>

	<div class="wonomber-wrap" ng-class="{'displayBlock':showMask}">
		<div class="wonomber-title material-alert-title" translate="mr.blockNum" translate-values="blockNum"></div>
		<div class="confirm-cancle">
			<div class="confirm" ng-click="showMask = false" translate="confirm"></div>
		</div>
	</div>
	<div class="mask" ng-class="{'displayBlock':showMask}"></div>
</div>