<ui-view name="detail"></ui-view>
<div  ng-show="!detailView" style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="clearfix">
        <div class="fixed-search">
            <div class="main" style="width: 95%">
                <!--            <div class="cont" moac-auto-focus="searchVal">-->
                <div class="cont">
                    <input type="text" ng-model="searchVal" name="searchVal" style = "margin-left: 0.5rem;width: 11rem"
                           ng-attr-placeholder="{{holderValue}}"  ng-keypress="keyEvent($event)" style="padding: 0.2rem 2rem 0.2rem 0rem;"/>

                </div>
<!--                <span style="margin-left: .4rem; color: #fff;font-size: .7rem" ng-click="go('pubLine','slideLeft')">发布经验</span>-->
                <span style="margin-left: .4rem; color: #fff;font-size: .7rem" ng-click="clickBtnSearch()">搜索</span>
<!--                <i  class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch()"></i>-->

            </div>
        </div>
        <div class="" style="position: absolute;top:0.3rem;left: 0">
            <div class="btn" ng-click="go('back')">
                <i class="icon-maoc icon-back" ></i>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault"  ng-show="!detailView">
<!--    <div class="scrollable-content" ui-scroll-bottom="getNextPage()">-->
    <div class="scrollable-content">
        <!--        <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}"-->
        <!--             class="refresh text-center">-->
        <!--            <i class="fa fa-refresh fa-spin fa-fw"></i>-->
        <!--            <translate>loading</translate>-->
        <!--            ...-->
        <!--        </div>-->
        <!--    <div class="scrollable-content">-->
        <div class="material-content-wrap">

            <div class="list-group material-content">
                <!--                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">-->
<!--                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">-->
<!--                    <div ng-hide= "!firstInit">-->
<!--                        <img src="dist/images/no-result.png" width="256" style="max-width: 100%" alt="未找到数据" />-->
<!--                    </div>-->
<!--                    <p ng-hide = "firstInit" style="font-size: .8rem;text-align: center;color:#999 ">暂无相关数据</p>-->
<!--                </div>-->
<!--                <div class="list-group-item materialitem"   ng-repeat="item in balanceInfo" ng-click="toDet(item.id,item.type)"  on-finish-render-filters>-->
<!--                    <div class="material-content-top materialname">-->
<!--                        <div class="pull-left " ng-bind-html="item.title"></div>-->
<!--                    </div>-->
<!--                    <div class="material-content-middle materialdescript ">-->
<!--                        <div class="pull-left materialname fixed-descript" style="color: #707070;font-size: .6rem" ng-switch="item.type">-->
<!--                            <span ng-switch-when="defect_info">故障经验</span>-->
<!--                            <span ng-switch-when="tmc_experience">TMC</span>-->
<!--                            <span ng-switch-when="airline_exp">航线经验</span>-->
<!--                            <span ng-switch-when="EO">EO</span>-->
<!--                            <span ng-switch-when="EA">EA</span>-->
<!--                            <span ng-switch-when="em_tb">TB</span>-->
<!--                            <span ng-switch-when="mp_jc">MP</span>-->
<!--                        </div>-->
<!--                        <div ng-if="item.praiseNum" class="pull-left materialname fixed-descript" style="color: #707070;font-size: .6rem;margin-left: .6rem">-->
<!--                            {{item.praiseNum}} 赞-->
<!--                        </div>-->
<!--                        <div class="pull-right fixedTime" style="color: #707070;font-size: .6rem">{{item.displayTime | date:'yyyy-MM-dd'}}</div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="ui-list-tb" ng-if="helpInfo.relatedDefectList.length > 0"  style="background-color:#fff;padding: 0 .2rem">
                    <div class="tit clearfix" style="height:1.8rem;line-height: 1.8rem;border-bottom: 0.5px solid #ddd ">
                        <span class="pull-left" style="font-size: 0.8rem;font-weight: 600">相关故障</span>
                        <span class="pull-right" style="color:#1989FA;font-size: .7rem" ng-click="lookMore('relatedDefectList')">查看更多<i class="icon-maoc icon-next-flight" style="color:#1989FA;margin-left: 0"></i></span>
                    </div>
                    <div class="" style="">
                        <div  class="sec-tit" ng-repeat="item in helpInfo.relatedDefectList" ng-click="tmcDetail(item.id,'relatedDefectList')" ng-bind-html = "item.title | to_trusted" ng-if="$index < 5" style="padding: 0.5rem 0;font-size: .7rem;line-height: 1.2rem;border-bottom: 0.5px solid #ddd ;color: #333">
                        </div>

                    </div>
                </div>
                <div class="ui-list-tb" ng-if="helpInfo.tmcExpList.length > 0"  style="background-color:#fff;padding: 0 .2rem">
                    <div class="tit clearfix" style="height:1.8rem;line-height: 1.8rem;border-bottom: 0.5px solid #ddd ">
                        <span class="pull-left" style="font-size: 0.8rem;font-weight: 600">TMC经验</span>
                        <!--                go('tmcExperienceList','',{ata:faultInfo.ata,acReg:faultInfo.acReg,acModel:faultInfo.model})-->
                        <span class="pull-right" style="color:#1989FA;font-size: .7rem"  ng-click="lookMore('tmcExperienceList')">查看更多<i class="icon-maoc icon-next-flight" style="color:#1989FA;margin-left: 0"></i></span>
                    </div>
                    <div class="" style="">
                        <!--                go('tmcExpDetail','',{id :item.id})-->
                        <div ng-repeat="item in helpInfo.tmcExpList" ng-if="$index < 3" ng-click="tmcDetail(item.id,'tmcExperienceList')" class="sec-tit" style="padding: 0.5rem 0;font-size: .7rem;line-height: 1.3rem;border-bottom: 0.5px solid #ddd ;color: #333">
                            <div ng-bind-html = "item.title | to_trusted" class="ellipsis-two"></div>
                            <div ng-bind-html = "item.content | to_trusted" class="ellipsis-two" style="font-size: .6rem;line-height: 1rem;color: #757575;"></div>
                        </div>
                    </div>
                </div>
                <div class="ui-list-tb" ng-if="helpInfo.airlineExpList.length > 0"  style="background-color:#fff;padding: 0 .2rem">
                    <div class="tit clearfix" style="height:1.8rem;line-height: 1.8rem;border-bottom: 0.5px solid #ddd ">
                        <span class="pull-left" style="font-size: 0.8rem;font-weight: 600">航线经验</span>
                        <span class="pull-right" style="color:#1989FA;font-size: .7rem" ng-click="lookMore('airlineExpList')">查看更多<i class="icon-maoc icon-next-flight" style="color:#1989FA;margin-left: 0"></i></span>
                    </div>
                    <div class="" style="">
                        <div ng-repeat="item in helpInfo.airlineExpList" ng-click="tmcDetail(item.id,'airlineExpList')" ng-if="$index < 3" class="sec-tit" style="padding: 0.5rem 0;font-size: .7rem;line-height: 1.3rem;border-bottom: 0.5px solid #ddd ;color: #333">
                            <div ng-bind-html = "item.title | to_trusted" class="ellipsis-two"></div>
                            <div ng-bind-html = "item.content | to_trusted" class="ellipsis-two" style="font-size: .6rem;line-height: 1rem;color: #757575;"></div>
                        </div>
                    </div>
                </div>
                <div class="ui-list-tb" ng-if="helpInfo.relatedDocList.length > 0"  style="background-color:#fff;padding: 0 .2rem">
                    <div class="tit clearfix" style="height:1.8rem;line-height: 1.8rem;border-bottom: 0.5px solid #ddd ">
                        <span class="pull-left" style="font-size: 0.8rem;font-weight: 600">相关文档</span>
                        <span class="pull-right" style="color:#1989FA;font-size: .7rem" ng-click="lookMore('relatedDocList')">查看更多<i class="icon-maoc icon-next-flight" style="color:#1989FA;margin-left: 0"></i></span>
                    </div>
                    <div class="" style="">

                        <div class="sec-tit ellipsis-two" ng-repeat="item in helpInfo.relatedDocList" ng-click="docDetail(item.id,item.type)" ng-bind-html = "item.title | to_trusted" ng-if="$index < 3" style="padding: 0.5rem 0;font-size: .7rem;line-height: 1.5rem;border-bottom: 0.5px solid #ddd ;color: #333">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
    </div>
</div>