<!--<ui-view name="detail"></ui-view>-->
<div class="navbar navbar-app navbar-absolute-top" style="position: fixed">
    <div class="navbar-brand navbar-brand-center">
        故障概要信息
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="nrc-detail">
    <div class="main-content" style="top: 2rem;">
        <div class="scrollable-content" >
            <div class="section">
                <p class="defectNum" style="font-weight: 600;font-size: .8rem">
                    {{dataObj.defectDetail.defectNo}}({{dataObj.defectDetail.model}}/{{dataObj.defectDetail.acReg}})
                    <span ng-if="from !== 'faultDetail'" ng-click="go('searchFault.faultClose','',{defectId:defectId,pt:true})"  class="pull-right" style="color: #1a87ff;font-weight: 500;font-size: .65rem;">故障详情<i class="next-fault-info icon-maoc icon-next-flight "></i></span>
                </p>
                <div class="clearfix" style="margin: 0.6rem 0;color: #8c8c8c;font-size: .65rem;" >
                    <p class="pull-left">ATA　{{dataObj.defectDetail.ata}}</p>
                    <p class="pull-right">{{dataObj.defectDetail.dateFound | date:'yyyy/MM/dd' }}</p>
                </div>
                <div class="desc" style="font-size: .75rem">
                    {{dataObj.defectDetail.faultReportChn}}
                </div>
            </div>
            <div class="section">
                <p class="title">
                    Worklog
                </p>
                <div class="content">
                    <div  ng-repeat="item in dataObj.logList" style="border-bottom: .5px solid #ddd;margin-bottom: .5rem">
                    <p class="action">{{item.workLog}}</p>
                    <p class="time" style="color: #8c8c8c;margin: 0.5rem 0">{{item.creatTime | date:'yyyy/MM/dd HH:mm'}}</p>
                    </div>
                </div>
            </div>

            <div class="section">
                <p class="title">
                    排故措施
                </p>
                <div class="content">
                    <div ng-repeat="item in dataObj.defectActionList" style="border-bottom: .5px solid #ddd;margin-bottom: .5rem">
                       <p class="action">{{item.takenActionChn}}</p>
                       <p class="time" style="color: #8c8c8c;margin: 0.5rem 0">{{item.dateAction | date:'yyyy/MM/dd HH:mm'}}</p>
                    </div>
                </div>
            </div>

            <div class="section" style="margin-bottom: 0">
                <p class="title">
                    航材
                </p>
                <div class="content">

                    <div class="cc" ng-repeat="item in newfood">
                        <p>Item No:{{item.onPn}} <span class="pull-right" style="color: #8c8c8c">×  {{item.amount}}</span></p>
                        <p style="color: #8c8c8c">{{item.onName}}</p>
                    </div>

                </div>
            </div>

           <div class="divider" style="padding: 0 .5rem;height: 2rem;line-height: 2rem;margin-top: 0">
               航线故障总结
           </div>
            <div class="summary" ng-show = "dataObj.defectSummaryList.length > 0" ng-repeat="item in dataObj.defectSummaryList" style="padding: 0.5rem;background-color: #fff;margin-bottom: .5rem;padding-bottom: 0">
                <div class="top clearfix">
                    <p class="pull-left">
                        <img style="width: 1.5rem;border-radius: 50%;" ng-src="http://srs.sf-express.com/filemange/{{item.creatorSn}}.jpg" alt="">
                        <span style="color: #666666;margin-left: .2rem;font-size: .65rem">{{item.creatorName}}({{item.creatorSn}})</span>
                    </p>
                   <p class="pull-right" style="vertical-align: middle;font-size: 0.65rem;color: #666666">
                       <img ng-click="praise(item, $index)" style="width: 1rem;margin-right: .2rem" ng-if="!item.isPraised" src="dist/images/damage/greyZan.png"><img style="width: 1rem;margin-right: .2rem" ng-if="item.isPraised" src="dist/images/damage/yellowZan.png">{{item.praiseNum}}
                   </p>
                </div>
                <div class="content" style="font-size: .7rem;line-height: 1rem;margin-top: 1rem;border-bottom: .5px solid #ddd">
                    <p>{{item.content}}</p>
                    <div class="p-image" ng-if ="item.attachments.length > 0">
                        <div class="ui-select-image">
                            <div class="img-item" ng-repeat="data in item.attachments track by $index"  >
                                <div ng-click="showBig(item.attachments,$index)">
                                    <img ng-src="data:image/png;base64,{{data.content}}"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="delet text-right" style="font-size: .8rem ;height: 1.8rem;line-height: 1.8rem;font-size: .7rem;color: #666">
                    <span ng-show = "userCode == item.creatorSn" ng-click="delete(item,$index)">删除</span>
                </div>
            </div>
            <div class="summary text-center" ng-show = "dataObj.defectSummaryList.length == 0"  style="background-color: #fff;width: 100%; height: 5rem;line-height: 5rem;font-size: .8rem">
                    暂无数据
            </div>



        </div>
        <div class="p-dtl-btn moshow">
            <div class="item" >
                <div ng-click="makeTask()">
                    <i class="icon-edit"></i>
                    <span>写总结</span>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="ewis-background" ng-show = "writeSum">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">写总结
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="cancelHelp()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <div class="oil-scroll">
        <form name="myForm" novalidate>
            <div class="oil-form-wrapper">
                <div class="oil-add-li">
                    <textarea style="width: 100%;border: none" name="" id=""  rows="12" ng-model="sumText" placeholder="分享经验"></textarea>
                </div>
                <div style="height: 1.5rem;line-height: 1.5rem;border-bottom: .5px solid #ddd;font-size: .7rem;background-color:#f1f1f1;text-indent: .5rem">图片</div>
                <div class="p-image">
                    <img-upload is-api-cloud="false"  nrc-id="" is-edit="true" up-way="taskupWay" file-id = "fileId" img-array="imgArrTask" file-arr="fileArrTask" del-img-id="delImgId"  attachvo="attachvo"></img-upload>
                </div>
                <div class="button-wrapper" >

                    <!--ng-disabled="!myForm.$valid || fileArr.length ==0"-->

                    <button class="submitAddMR"
                            ng-class="{
                           'orange-button':sumText.length > 0
                            }"
                            ng-disabled="sumText.length == 0 || !sumText"
                            ng-click="helpSure()" >
                        确定
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>