<ui-view name="detail"></ui-view>
<div  ng-show="!detailView" style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="clearfix">
        <div class="fixed-search">
            <div class="main" style="width: 95%">
                <!--            <div class="cont" moac-auto-focus="searchVal">-->
                <div class="cont">
                    <input type="text" ng-model="searchVal" name="searchVal" style = "margin-left: 0.5rem;width: 11rem"
                           ng-attr-placeholder="{{holderValue}}"  ng-keypress="keyEvent($event)" style="padding: 0.2rem 2rem 0.2rem 0rem;"/>

                </div>
<!--                <span style="margin-left: .4rem; color: #fff;font-size: .7rem" ng-click="go('pubLine','slideLeft')">发布经验</span>-->
                <span style="margin-left: .4rem; color: #fff;font-size: .7rem" ng-click="clickBtnSearch()">搜索</span>
<!--                <i  class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch()"></i>-->

            </div>
        </div>
        <div class="" style="position: absolute;top:0.3rem;left: 0">
            <div class="btn" ng-click="go('back')">
                <i class="icon-maoc icon-back" ></i>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault"  ng-show="!detailView">
    <div class="flow-pub text-center" style="z-index: 12;line-height: 2.9rem;position: absolute;width: 2.8rem;height: 2.8rem;border-radius: 50%;background-color: #fff;bottom: 1rem;right: 1rem;box-sizing: border-box">
        <span ng-click="go('pubLine','slideLeft')" class="text-center" style="display: inline-block; background-color: #1a87ff;font-size: .85rem;color: #fff;width: 2.6rem;height: 2.6rem;border-radius: 50%;line-height: 2.6rem;">发布</span>
    </div>
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()">
        <!--        <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}"-->
        <!--             class="refresh text-center">-->
        <!--            <i class="fa fa-refresh fa-spin fa-fw"></i>-->
        <!--            <translate>loading</translate>-->
        <!--            ...-->
        <!--        </div>-->
        <!--    <div class="scrollable-content">-->
        <div class="material-content-wrap">

            <div class="list-group material-content">
                <!--                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">-->
                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">
                    <div ng-hide= "!firstInit">
                        <img src="dist/images/no-result.png" width="256" style="max-width: 100%" alt="未找到数据" />
                    </div>
                    <p ng-hide = "firstInit" style="font-size: .8rem;text-align: center;color:#999 ">暂无相关数据</p>
                </div>
<!--                ng-click="go('lineExpDetail','',{id :26,isEdit:false})"-->
                <!--                    <div class="list-group-item materialitem"-->
                <!--                         ng-click="go('searchFault.faultClose','',{defectId: item.id, pt: true, defectInfo: item, fromSearch: true})"-->
                <!--                         ng-repeat="item in balanceInfo | orderBy:'-defectNo'" ng-if="!item.delCard" on-finish-render-filters>-->
                <div class="list-group-item materialitem"   ng-repeat="item in balanceInfo" ng-click="toDet(item.id,item.type)"  on-finish-render-filters>
                    <div class="material-content-top materialname">
                        <div class="pull-left ellipsis-two" ng-bind-html="item.title"></div>
                    </div>
                    <div class="material-content-middle materialdescript ">
                        <div class="pull-left materialname fixed-descript" style="color: #707070;font-size: .6rem" ng-switch="item.type">
                            <span ng-switch-when="defect_info">故障</span>
                            <span ng-switch-when="tmc_experience">TMC经验</span>
                            <span ng-switch-when="airline_exp">航线经验</span>
                            <span ng-switch-when="EO">EO</span>
                            <span ng-switch-when="EA">EA</span>
                            <span ng-switch-when="em_tb">TB</span>
                            <span ng-switch-when="mp_jc">MP</span>
                        </div>
                        <div ng-if="item.praiseNum" class="pull-left materialname fixed-descript" style="color: #707070;font-size: .6rem;margin-left: .6rem">
                            {{item.praiseNum}} 赞
                        </div>
                        <!--                            <div class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>-->
                        <div class="pull-right fixedTime" style="color: #707070;font-size: .6rem">{{item.displayTime | date:'yyyy-MM-dd'}}</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
    </div>
</div>