<ui-view></ui-view>
<div  style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                航线经验
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault" style="background-color: #fff;" >
    <div class="scrollable-content" style="padding: 0 0.3rem">
        <div class="title" style="font-size: .75rem;font-weight: 600;margin-bottom: .5rem">{{info.title}}</div>
        <div class="info clearfix" style="margin-bottom: 0.5rem;">
            <span class="pull-left" style="font-size: .65rem;color: #666">ATA:{{info.ata}}</span>
            <span class="pull-right" style="font-size: .65rem;margin-left: 1rem;color: #666">{{info.updateTime | date:'yyyy/MM/dd' }}</span>
        </div>
        <div class="model"  style="font-size: .65rem;margin-bottom: 1rem;color: #666">
            {{info.model}}
        </div>
        <div class="htmlcontent" style="padding-bottom: 3rem;word-wrap: break-word; overflow-x: hidden;overflow-y: auto;width: 100%;"  ng-bind-html = "info.content | to_trusted">

        </div>
        <div class="content">
            <p>
                <!--<span class="left">附件</span>-->
                <div class="right blue" >
                <p ng-repeat="file in info.attachments track by $index" ng-if = "file.type =='pdf' " ng-click="openNewPageWithData(file)">附件:{{file.name}}</p>

            </p>
            <p ng-if="imgArr.length > 0">
                <span class="left">图片</span>
                <div class="p-image">
                    <!--                            <div class="ui-select-image">-->
                    <!--                                <div class="img-item" ng-repeat="item in imgArr2 track by $index"  >-->
                    <!--                                    <div ng-click="showBig(imgArr2)">-->
                    <!--                                        <img ng-src="data:image/png;base64,{{item.content}}"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <img-sel del-img-id="delImgId" img-arr="imgArr" file-arr="fileArr" attachvo="attachvo" is-edit="isEdit"></img-sel>

                    <!--        <img-scan  img-arr="imgArr2" ></img-scan>-->
                </div>
            </p>
        </div>
        <div class="author clearfix" style="height: 1.8rem;line-height: 1.8rem;font-size: 0.6rem;margin-bottom: 5rem;border-top: 0.5px solid #ddd;border-bottom:0.5px solid #ddd;">
            <p class="pull-left" style="width: 30%;text-align: left">作者(参与制作)</p>
            <p class="pull-right"  style="width: 70%;text-align: right">{{author}}</p>
        </div>




    </div>

</div>
<div class="bot text-center" ng-click ="praise()" style="color: #333; position:fixed;bottom: 0;background-color: #fff;width: 100%;height: 2.5rem;line-height: 2.5rem;font-size: .75rem;border-top: 0.5px solid #ddd" >
    <img style="width: 1rem" ng-if="!info.isPraised" src="dist/images/damage/greyZan.png"><img style="width: 1rem" ng-if="info.isPraised" src="dist/images/damage/yellowZan.png"> 赞 {{info.praiseNum}}
</div>