<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                我的经验
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <div class="scrollable" style="position: absolute;top: 2.5rem">
            <div id="scroll" class="scrollable-content" ui-scroll-bottom="getNextPage()">
                <div class="material-content-wrap">
                    <div class="list-group material-content">
                        <div class="backup-airport no-data" ng-hide=" !dataList || loading2 || dataList.length || netWorkErr">暂无发布</div>
                        <div class="list-group-item materialitem" style="position:relative;" ng-repeat="item in dataList"  swipe-left >
                            <div ng-if="item.type != 'defectSummary'"  class="delete" style="background-color:#1a87ff;height: 3.9rem;line-height: 3.9rem"   ng-click="go('pubLine','slideLeft',{expId: item.tid,from:'myPub'})">编辑</div>
                            <div ng-click="toDetail(item)">
                                <div class="material-content-middle" style="margin: 0 0 0.5rem 0;font-size: 0.75rem">
                                    <div class="fixed-descript">{{item.title}} </div>
                                </div>
                                <div class="material-content-middle">
                                    <span style="margin-right: 0.8rem;font-size: 0.6rem">{{item.type == 'defectSummary' ? '故障经验' : '航线经验'}}</span>
                                    <span style="margin-right: 0.8rem;font-size: 0.6rem">{{item.praiseNum || '0'}}赞</span>
                                    <span style="font-size: 0.6rem">{{item.createTime | date:'yyyy/MM/dd HH:mm' }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center" ng-if="noMoreData && dataList.length" translate="loadingDone"></div>
            </div>
        </div>
    </div>
</div>