<ui-view></ui-view>
<div  style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                航线经验
                <span style="position: absolute;right: .5rem;z-index: 1001; color: #fff;font-size: .7rem" ng-click="submit()">确认发布</span>
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault">
    <div class="oil-scroll">
        <form name="toolForm" novalidate>
            <div class="oil-form-wrapper">
                <div class="oil-add-li">
                    <span class="tail-eng-title">标题<span class="red">*</span></span>
                    <div class="inline-block display-result">
                        <input type="text"  placeholder="请输入标题"   class="oil-input" ng-model = info.title>
                    </div>
                </div>
                <div class="oil-add-li">
                    <span class="tail-eng-title">机型</span>
                    <div class="inline-block display-result">

<!--                        <select name=""-->
<!--                                class="b-select-mel b-flex-box remove-type"-->
<!--                                ng-model="info.acModel"-->
<!--                                ng-options=" v.TEXT as v.TEXT for v in info.acModelList"-->
<!--                        >-->
<!--                        </select>-->


                          <span ng-repeat="item in info.selectModel | orderBy: sortNumberArray">
                              {{item}}
                          </span>
                            <select style="opacity: 0" multiple="true" ng-model="info.selectModel" ng-change="modelChanged()">
                                <option
                                        ng-repeat="item in info.acModelList"
                                        ng-value="item.TEXT">
                                    {{item.TEXT}}
                                </option>
                            </select>


                        <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">

                    </div>
                </div>
<!--                <div class="item">-->
<!--                    <div class="title">-->
<!--                        <span class="">机型</span>-->
<!--                    </div>-->
<!--                    <div class="right">-->
<!--                        <div class="check-method" style="display: inline-block;height: 100%;width: 100%;">-->
<!--                            <select  multiple="true" ng-model="info.acModel" style="display: inline-block;height: 100%;width: 100%;"-->
<!--                                     ng-change="noticesChanged()" required>-->
<!--                                <option value="{{item.TEXT}}"-->
<!--                                        ng-selected="item.selected"-->
<!--                                        ng-repeat="item in info.acModelList track by $index ">-->
<!--                                    {{item.TEXT}}-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item" ng-if = "info.program.notices.length > 0">-->
<!--                    <div style="width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">-->
<!--                        <span ng-repeat="item in info.program.selectedFlawTypesItems" style="font-size: .6rem">-->
<!--                            {{item.name}}-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="damage-draft-detail" style="margin-top: 0px">
                <div class="section-1" style="font-size: 0.75rem;color: rgb(102,102,102);">
                    <damage-ata info="info.ataInfo"></damage-ata>
<!--                    <div class="item">-->
<!--                         <textarea placeholder="分享经验（必填）" ng-model="info.text" name="" id="" rows="10" style="width: 100%">-->

<!--                        </textarea>-->
<!--                    </div>-->
                    <!--http://10.88.26.116:8083/apps/tdms_data/SF/PRINT/JOBCARD/PREVIEW/ MPJC-57-610-00-001_0/ MPJC-57-610-00-001_0_0.pdf-->

                    <div class="wysiwyg" id="look_content"  name="content" >
                        <textarea  placeholder="分享经验（必填）" style="width: 100%;height: auto"></textarea>
                    </div>
                    <div class="ui-list oil-list" >
                        <div class="ui-list-item">
                            <div>
                                <div class="list-content">
                                    <ul class="list-group oil-li-wrapper">
                                        <!--编辑状态-->
                                        <li class="list-group-item oil-li" ng-repeat="toolItem in editorDto track by $index" swipe-del >
                                            <div class="delete"  translate="delete" ng-click="deleteEditor($event,$index)"></div>
                                            <div class="oil-float-wraper">
                                                <div class="oil-li-left">
                                                    <span>{{toolItem.approverName}}</span>
                                                </div>
                                                <div class="oil-li-right">
                                                    <span>{{toolItem.approverSn}}</span>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="margin-top: 1rem;">
                        <div style="display:inline-block; width: 100%;text-align: center;vertical-align: middle;font-size: .7rem" ng-click = "addEditor()">
                            <img src="dist/images/Group2.png" width="20" style="max-width: 100%" alt="" />
                            添加作者（参与制作）
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ewis-background" ng-if = "addMrFlow" style="z-index: 1002">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">添加作者
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="cancelMr()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <div class="oil-scroll">
        <form name="mrForm" novalidate>
            <div class="oil-form-wrapper">
                <div class="oil-add-li">
                    <select-person is-required='false' person-info="inspector"></select-person>
                </div>
                <div class="button-wrapper" >


                    <button class="submitAddMR"
                            ng-class="{'orange-button':$parent.inspector.approverSn.length > 0 }"
                            ng-disabled="$parent.inspector.approverSn.length == 0 || !$parent.inspector.approverSn "
                            ng-click="addSure()" >
                        提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>