<ui-view></ui-view>
<div  style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                TMC经验
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault" style="background-color: #fff;" >
    <div class="scrollable-content" >
        <div style="padding: 0 0.3rem">
            <div class="title ellipsis-two" style="font-size: .8rem;margin-bottom: .5rem;line-height: 1.3rem">
               {{info.title}}
            </div>
            <div class="keyword" style="border-bottom: 0.5px solid #ddd;min-height: 1.8rem">
            <span ng-repeat="item in info.keyArr" class="text-center" style="margin-right: .2rem;color: #1989FA;font-size: .6rem;display: inline-block;padding: 0.12rem 0.2rem;background-color: #D7E4FF;border-radius: .1rem">
                {{item}}
            </span>
            </div>
            <div class="model clearfix" style="line-height: 1.8rem;border-bottom: 0.5px solid #ddd;font-size: .75rem">
                <span class="pull-left" style="width: 20%;">机型</span>
                <span class="pull-right text-right" style="width:80%;">{{info.model}}</span>
            </div>
            <div class="model clearfix" style="line-height: 1.8rem;border-bottom: 0.5px solid #ddd;font-size: .7rem">
                <span class="pull-left" style="width: 35%;">ATA<span style="color: #ec4f4d;padding-left: .5rem">{{info.ata}}</span></span>
                <span class="pull-right text-right" style="width:65%;color: #4F87CE;">{{info.createTime | date:'yyyy/MM/dd' }}</span>
            </div>
        </div>
        <div style="border-bottom:0.5px solid #ddd;width: 100%;line-height: 2rem;background-color:#f8f8f8;padding-left: .35rem;font-size: .75rem;color: #999">
            现象
        </div>
        <div class="htmlcontent" style="border-bottom:0.5px solid #ddd;min-height: 4rem;padding: 0 .3rem;"  ng-bind-html = "info.phenomenon | to_trusted">

        </div>
        <div style="border-bottom:0.5px solid #ddd;width: 100%;line-height: 2rem;background-color:#f8f8f8;padding-left: .35rem;font-size: .75rem;color: #999">
            措施
        </div>
        <div class="htmlcontent" style="border-bottom:0.5px solid #ddd;min-height: 4rem;padding: 0 .3rem;"  ng-bind-html = "info.treatmentMeasures | to_trusted">

        </div>
        <div class="content" style="margin-top: .5rem">
            <p>
                <span class="left" style="padding-left: .5rem;">附件:</span>
                <div class="right blue" >
                <p ng-repeat="file in info.attachments track by $index" ng-if = "file.type =='pdf' " ng-click="openNewPageWithData(file)">附件:{{file.name}}</p>

            </p>
            <p>
<!--                <span class="left">图片</span>-->
                <div class="p-image">
                    <!--                            <div class="ui-select-image">-->
                    <!--                                <div class="img-item" ng-repeat="item in imgArr2 track by $index"  >-->
                    <!--                                    <div ng-click="showBig(imgArr2)">-->
                    <!--                                        <img ng-src="data:image/png;base64,{{item.content}}"-->
                    <!--                                             alt="">-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <img-sel del-img-id="delImgId" img-arr="imgArr" file-arr="fileArr" attachvo="attachvo" is-edit="isEdit"></img-sel>

                    <!--        <img-scan  img-arr="imgArr2" ></img-scan>-->
                </div>
            </p>
        </div>

    </div>
</div>