<ui-view></ui-view>
<div  style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                {{title}}
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault">
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()">
        <!--        <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}"-->
        <!--             class="refresh text-center">-->
        <!--            <i class="fa fa-refresh fa-spin fa-fw"></i>-->
        <!--            <translate>loading</translate>-->
        <!--            ...-->
        <!--        </div>-->
        <!--    <div class="scrollable-content">-->
        <div class="material-content-wrap">

            <div class="list-group material-content">
                <!--                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">-->
                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">
                    <p  style="font-size: .8rem;text-align: center;color:#999 ">暂无相关数据</p>
                </div>
                <!--                    <div class="list-group-item materialitem"-->
                <!--                         ng-click="go('searchFault.faultClose','',{defectId: item.id, pt: true, defectInfo: item, fromSearch: true})"-->
                <!--                         ng-repeat="item in balanceInfo | orderBy:'-defectNo'" ng-if="!item.delCard" on-finish-render-filters>-->
<!--                go('tmcExpDetail','',{id :item.id})-->
                <div class="list-group-item materialitem" ng-repeat="item in balanceInfo "  ng-click="toDet(item.id,item.type)" on-finish-render-filters>
                    <div class="material-content-top materialname clearfix">
                        <div ng-if = "srcType == 'relatedDocList'" class="pull-left" style="font-size: .8rem;font-weight: 500" ng-switch="item.type">
                            <span ng-switch-when="EO">[EO]</span>
                            <span ng-switch-when="EA">[EA]</span>
                            <span ng-switch-when="em_tb">[TB]</span>
                            <span ng-switch-when="mp_jc">[MP]</span>
                        </div>
                        <div class="pull-left ellipsis-two" style="font-size: .8rem;font-weight: 500" ng-bind-html = "item.title | to_trusted">
                        </div>

                    </div>
                    <div class="material-content-middle"  ng-if = "srcType == 'tmcExperienceList' || srcType == 'airlineExpList' ">
                        <div class=" materialname ellipsis-two" ng-bind-html = "item.content | to_trusted" style="font-size: .7rem;line-height: 1.2rem;color: #757575">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="margin-top: .5rem" class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
    </div>
</div>