<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        新增叫车
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="new-cc" ng-class="">
    <form name="myForm" novalidate>

        <div class="cc-base" style="padding-top: 0;background-color: #fff;">
            <div class="category clearfix" style="border: none">
                <div class="left p-fl">航站名称<span class="red">*</span></div>
                <div class="right normal p-fl" style="text-align: right;position: relative">
                    <div class="zhezhao"></div>
                    <select-station-three title="toStation" station-info="staInfo"></select-station-three>
                </div>
            </div>
            <div class="category clearfix">
                <div class="left p-fl">任务类型<span class="red">*</span></div>
                <div class="right p-fl" style="text-align: right;padding-right: 14px">
                    <select ng-show ="!isEdit" ng-model="insertJson.taskTypeId"
                            class="cateSel"
                            ng-class = "{'noPick':isEdit}"
                            ng-options=" v.id as v.taskTypeName for v in typeData"
                    ng-change="changeType(insertJson.taskTypeId)"
                            ng-style="{'color' : insertJson.taskTypeId ? '#333':'#999'}"
                    required
                    >
                        <option  disabled selected value="">请选择任务类型</option>
                    </select>

                </div>
                <img style="width: 9px;top:.9rem;right:8px;" class="triangle" src="dist/images/oil/Shape1@2x.png">
            </div>
            <div class="category clearfix" ng-if="typeChnName == '摆渡车任务'">
                <div class="left p-fl">摆渡车类型<span class="red">*</span></div>
                <div class="right p-fl" style="text-align: right;padding-right: 14px">
                    <select ng-show ="!isEdit" ng-model="insertJson.ferryType"
                            class="cateSel"
                            ng-options=" v.VALUE as v.TEXT for v in bdType"
                    <!--ng-change="refChange(typeName)"-->
<!--                    required-->
                    >
                    </select>

                </div>
                <img style="width: 9px;top:.9rem;right:8px;" class="triangle" src="dist/images/oil/Shape1@2x.png">
            </div>
            <div class="category clearfix" ng-if="typeChnName == '摆渡车任务' && insertJson.ferryType == 1">
                <div class="left p-fl">摆渡人数<span class="red">*</span></div>
                <div class="right p-fl" style="text-align: right;">
                    <input type="tel" maxlength="2"  required style="text-align: right;width: 100%;"  ng-model="insertJson.personNum" placeholder="请输入摆渡人数" >
                </div>
            </div>


            <div class="category clearfix" ng-if="typeChnName != '叉车任务' && typeChnName != '摆渡车任务'">
                <div class="left p-fl">航班号<span class="red">*</span></div>
                <div class="right p-fl" style="text-align: right;padding-right: 14px">
                    <input type="text" readonly required style="text-align: right;width: 100%;"  ng-click = "toChooseFlight()" ng-model="showJson.flightNo" placeholder="请选择航班号" >
                </div>
                <img style="width: 9px;top:.9rem;right:8px;"  class="triangle" src="dist/images/oil/Shape1@2x.png">
            </div>
            <div class="category clearfix" ng-if="typeChnName != '叉车任务' && typeChnName != '摆渡车任务'">
                <div class="left p-fl">机型/机号</div>
                <div class="right p-fl" style="text-align: right;">
                    <span ng-if="showJson.acType">{{showJson.acType}}/{{showJson.acReg}}</span>
<!--                    <input type="text" readonly  required style="text-align: right"  ng-model="insertJson.model" placeholder="" >-->
                </div>
            </div>
            <div class="category clearfix" ng-if="typeChnName == '摆渡车任务' || typeChnName.indexOf('撤离任务') != -1 ">
                <div class="left p-fl">起始位置<span class="red">*</span></div>
                <div class="right  p-fl" style="text-align: right;">
                    <input style="width: 100%;" maxlength="20"  ng-readonly="flightHasBay" required type="text" ng-model="insertJson.startLocation" placeholder="请输入起始位置">
                </div>
            </div>
            <div class="category clearfix" style="border-bottom: .5px solid #eee" ng-if="typeChnName && typeChnName.indexOf('撤离任务') == -1">
                <div class="left p-fl">目的位置<span class="red">*</span></div>
                <div class="right  p-fl" style="text-align: right; ">
                    <input style="width: 100%;" maxlength="20" ng-readonly="flightHasBay" required type="text" ng-model="insertJson.endLocation" placeholder="请输入目的位置">
                </div>
            </div>
        </div>

        <!--其他信息-->
        <div class="cc-base" style="padding-top: 0;margin-top: 5rem">

            <div class="save-button-section">
                <button ng-class="{'button-active':myForm.$valid}"
                        ng-disabled="!myForm.$valid "
                        ng-click="submit(false)">
                    叫车
                </button>

            </div>

        </div>
    </form>

</div>



<div class="ewis-background" ng-if = "chooseFlight" style="z-index: 1002">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="fixed-search" style="padding-left: 1.8rem;box-sizing: border-box">
                <div class="main" style="width: 95%">
                    <!--            <div class="cont" moac-auto-focus="searchVal">-->
                    <div class="cont">
                        <input type="text" ng-model="$parent.searchVal" name="searchVal" style = "margin-left: 0.5rem;width:12.5rem"
                              placeholder="请输入航班号" ng-keypress="keyEvent($event)" style="padding: 0.2rem 2rem 0.2rem 0rem;"/>

                    </div>
                    <span style="margin-left: .4rem; color: #fff;font-size: .7rem" ng-click="clickBtnSearch()">搜索</span>
                </div>
            </div>
            <div class="" style="position: absolute;top:0rem;left: 0">
                <div class="btn" ng-click = "$parent.chooseFlight = false">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
        <div class="time-block" style="font-size: 12px;color: #4B5E76;padding-left: 8px;background-color:#fff;height: 25px;line-height: 25px;box-shadow: 0 1px 3px 0px rgba(219,230,243,1);background-color:#fff;text-align: left">
            {{preDay | date:'yyyy/MM/dd HH:mm'}} - {{nextDay | date:'yyyy/MM/dd HH:mm'}}时间范围内查询结果
        </div>
    </div>
   
    <div class="oil-scroll">
        <div class="backup-airport no-data" ng-hide="!flightList || loading2 || flightList.length || netWorkErr">
            <div ng-hide= "!firstInit">
                <img src="dist/images/no-result.png" width="256" style="max-width: 100%" alt="未找到数据" />
            </div>
            <p ng-hide = "firstInit" style="font-size: .8rem;text-align: center;color:#999 ">暂无相关数据</p>
        </div>
        <div class="list-group-item materialitem clearfix" style="border-radius: 4px;box-shadow: 0px 2px 5px 0px rgba(210,224,242,0.5);margin: .5rem .7rem;padding-right: 0"  ng-repeat="item in flightList" ng-click="toDet(item)"  on-finish-render-filters>
            <div class="left-block p-fl" style="background-color: #4f87ce;color: #fff;width: 44px;height: 44px;border-radius: 3px;text-align: center;padding-top: .1rem">
                <div style="font-weight: 600">
                    {{item.bay || '--'}}
                </div>
                <div>
                    机位
                </div>
            </div>
            <div class="right-block p-fl clearfix" style="margin-left: .5rem;width:80%;">
                <div class="top clearfix" style="color: #333;font-size: 16px;font-weight: 600">
                    <p class="p-fl" style="margin: 0">
                        {{item.flightNo}}
                    </p>
                    <p class="p-fr" style="margin: 0">
                        {{item.arrivalDeparture == 1 ? '出港': item.arrivalDeparture == 0 ? '进港':''}}
                    </p>
                </div>
                <div class="bottom clearfix" style="color: #333;font-size: 14px;margin-top: .2rem">
                    <p class="p-fl" style="margin: 0">
                        {{item.acType}}/{{item.acReg}}
                    </p>
                    <p class="p-fr" style="color: #757575;margin: 0">
                        {{item.flightDate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


