<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        任务详情
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="new-cc scrollable-content" ng-class="">
    <form name="myForm" novalidate>

        <div class="cc-base" style="padding-top: 0;background-color: #fff;">
            <div class="category clearfix" style="border: none">
                <div class="left p-fl">航站名称</div>
                <div class="right p-fl" style="text-align: right">
                    <input type="text" readonly style="text-align: right"   ng-model="insertJson.airportCode" placeholder="" >
                </div>
            </div>
            <div class="category clearfix">
                <div class="left p-fl">任务类型</div>
                <div class="right p-fl" style="text-align: right">
                    <input type="text" readonly style="text-align: right"   ng-model="insertJson.taskmTypeName" placeholder="" >
                </div>
            </div>
            <div class="category clearfix">
                <div class="left p-fl">任务状态</div>
                <div class="right p-fl" style="text-align: right" ng-switch = "insertJson.status">
                    <span style="color: #4f87ce;" ng-switch-when = "0">待接单</span>
                    <span style="color: #4f87ce;" ng-switch-when = "1">待接单</span>
                    <span style="color: #4f87ce;" ng-if="insertJson.taskmTypeName.indexOf('撤离任务') == -1" ng-switch-when = "2">已派车</span>
                    <span style="color: #4f87ce;" ng-if="insertJson.taskmTypeName.indexOf('撤离任务') != -1" ng-switch-when = "2">已派人</span>
                    <span style="color: #999;" ng-switch-when = "3">已完成</span>
                    <span style="color: #999;" ng-switch-when = "4">已取消</span>
                    <span style="color: #999;" ng-switch-when = "5">已取消</span>
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.execUsername">
                <div class="left p-fl">接单人</div>
                <div class="right p-fl" style="text-align: right">
                    <input type="text" readonly style="text-align: right"   ng-model="insertJson.execEmpname" placeholder="" >
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.taskmTypeName.indexOf('污') != -1 && (insertJson.execEmpname || insertJson.buddyEmpNames)">
                <div class="left p-fl">除污人</div>
                <div class="right p-fl" style="text-align: right">
<!--                    <input type="text" readonly style="text-align: right"   ng-model="insertJson.buddyEmpNames" placeholder="" >-->
                    <span ng-if="insertJson.execEmpname">{{insertJson.execEmpname}}</span><span ng-if="insertJson.execEmpname && insertJson.buddyEmpNames">/</span><span ng-if="insertJson.buddyEmpNames">{{insertJson.buddyEmpNames}}</span>
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.receiveTime">
                <div class="left p-fl">接单时间</div>
                <div class="right p-fl" style="text-align: right">
                    <span>{{insertJson.receiveTime | date:'yyyy-MM-dd HH:mm' }}</span>
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.ferryType">
                <div class="left p-fl">摆渡类型</div>
                <div class="right p-fl" style="text-align: right">
                    <span>{{insertJson.ferryType == 1 ? '摆渡人员':'摆渡航材' }}</span>
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.ferryType && insertJson.ferryType == 1">
                <div class="left p-fl">人数</div>
                <div class="right p-fl" style="text-align: right">
                    <span>{{insertJson.personNum || ''}}</span>
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.flightNo">
                <div class="left p-fl">航班号</div>
                <div class="right p-fl" style="text-align: right">
                    <input type="text" readonly style="text-align: right" ng-model="insertJson.flightNo" placeholder="" >
                </div>
            </div>
            <div class="category clearfix" ng-if="insertJson.acReg">
                <div class="left p-fl">机型/机号</div>
                <div class="right p-fl" style="text-align: right">
                    <span>{{insertJson.acType}}/{{insertJson.acReg}}</span>
                </div>
            </div>
            <div ng-if="insertJson.startLocation" class="category clearfix">
                <div class="left p-fl" style="width: 22%">起始位置</div>
                <div class="right p-fl" style="text-align: right; width: 76%">
                    <input style="width: 100%" readonly type="text" ng-model="insertJson.startLocation" placeholder="">
                </div>
            </div>

            <div ng-if="insertJson.endLocation" class="category clearfix">
                <div class="left p-fl" style="width: 22%">目的位置</div>
                <div class="right p-fl" style="text-align: right; width: 76%">
                    <input style="width: 100%" readonly type="text" ng-model="insertJson.endLocation" placeholder="">
                </div>
            </div>
            <div ng-if="insertJson.cancelTime" class="category clearfix">
                <div class="left p-fl">取消时间</div>
                <div class="right  p-fl" style="text-align: right; ">
                    <span>{{insertJson.cancelTime | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
            <div ng-if="insertJson.status == '2' && insertJson.taskmTypeName == '摆渡车任务'" class="category clearfix">
                <div class="left p-fl">预计到达时间</div>
                <div class="right  p-fl" style="text-align: right; ">
                    <span>{{insertJson.driverEta | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
            <div ng-if="insertJson.status == 4" class="category clearfix" style="border-bottom: .5px solid #eee;position: static;">
                <div class="left p-fl">取消原因</div>
                <div class="right  p-fl" style="text-align: right;overflow: scroll; ">
                    <div style="width: 100%;overflow-x: scroll;text-align: right;height: 2.2rem;line-height: 2rem">
                        {{insertJson.abnormalReason}}
                    </div>
                </div>
            </div>
        </div>

        <!--其他信息-->
        <div class="cc-base" ng-if="insertJson.status != 3 &&  insertJson.status != 4 && insertJson.status != 5" style="padding-top: 0;margin-top: 5rem">

            <div class="save-button-section">
                <button class="button-active"
                        ng-click="$parent.showRefusePend = true">
                    取消任务
                </button>

            </div>

        </div>
    </form>

</div>
<div class="damage-confirm" ng-if="showRefusePend">
    <div class="background"></div>
    <div class="damage-confirm-box">
        <div class="damage-confirm-con">
            <div class="title">取消任务</div>
            <div>
                <textarea style="padding: 5px;font-size: 14px" class="refuseText" placeholder="请输入取消任务原因（限30字）" name="" maxlength="30" ng-model="$parent.refuseReason"></textarea>
            </div>
            <div class="notice" style="margin-bottom: 10px">*提交后将不能被修改</div>
            <div class="buttons">
                <button class="ensure" ng-click="submitCancel()">提交</button>
                <button ng-click="$parent.showRefusePend = false">取消</button>
            </div>
        </div>
    </div>

</div>




