<div class="navbar navbar-app navbar-absolute-top">
<!--    <div class="navbar-brand navbar-brand-center" translate="message.module">-->
<!--    </div>-->
    <div ng-show="VIEW_MR || ADMIN" ng-click="go('experienceList')" class="navbar-brand navbar-brand-center search-entry" >
        <span class="search-entry-text">机务百科请输入搜索文本</span>
    </div>


</div>
<!--<div class="btn-group btn-group-right" ui-yield-to="navbarAction">
    <div class="btn ng-scope">
        <i class="icon-maoc icon-set"></i>
    </div>
</div>-->

<div class="scrollable list-scrollable" ng-hide="!loadAuthorityIng && !VIEW_ME && !ADMIN && !VIEW_MR && !VIEW_TOOLS">
    <div class="scrollable-content" im-pull-to-refresh refresh-function="reload()" style="padding-bottom: 4rem;">
        <!--下拉刷新时显示 -->
        <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}"
             class="refresh text-center">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
            <translate>loading</translate>
            ...
        </div>
        <!--测试新UI start-->
        <div class="placeholder-div"></div>
        <span class="row-title">常用工具</span>
        <ul class="rowList">
            <li name="me" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="goToRepairPage()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/repair-m@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/repair-m@2x.png">
                </span>
                <div>
                    <span>维修任务</span>
                </div>
            </li>
            <li name="mr" ng-show="VIEW_MR || ADMIN" ng-click="go('mr', 'slideLeft',{fromIndex:false})">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/material-apply@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/material-apply@2x.png">
                </span>
                <div>
                    <span>航材申请</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('faultFlight', 'slideLeft', {isNewFault: true})">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/new-damage@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/new-damage@2x.png">
                </span>
                <div>
                    <span>新建故障</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('fixedInspect', 'slideLeft')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/timing-check@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/timing-check@2x.png">
                </span>
                <div>
                    <span>定检管理</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="receivingGoods()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/transfer-receiving@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/transfer-receiving@2x.png">
                </span>
                <div>
                    <span>调拨收料</span>
                </div>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="dispatchGoods()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/transfer-sending@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/transfer-sending@2x.png">
                </span>
                <div>
                    <span>外站发料</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('addEditReturn','',{fromHome:true})">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/transfer-return@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/transfer-return@2x.png">
                </span>
                <div>
                    <span>航材退料</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('callCarList','')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/call-car@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/call-car@2x.png">
                </span>
                <div>
                    <span>机务叫车</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('clockInFeedbackList','')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/clock-in@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/clock-in@2x.png">
                </span>
                <div>
                    <span>打卡反馈</span>
                </div>
            </li>
        </ul>
        <span class="row-title">查询与搜索</span>
        <ul class="rowList">
            <li name="search-fault" ng-show="VIEW_MR || ADMIN" ng-click="go('searchFault', 'slideLeft', {fromIndex: true})">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/fault-search@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/fault-search@2x.png">
                </span>
                <div>
                    <span>故障查询</span>
                </div>
            </li>
            <li name="tlb-search" ng-show="VIEW_FLIGHTINFO || ADMIN"  ng-click="go('searchTlb','slideLeft',{searchTxt: acReg,from: 'index'})">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/tlb@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/tlb@2x.png">
                </span>
                <div>
                    <span>TLB查询</span>
                </div>
            </li>
            <li name="mr-search" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="mrNewSearchGoods()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/material-search@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/material-search@2x.png">
                </span>
                <div>
                    <span>航材查询</span>
                </div>
            </li>
            <li name="gjcx" ng-show="VIEW_TOOLS || ADMIN" ng-click="go('searchTool')">
                <span>
                     <img  class="pad-show"  src="dist/images/icon-mobile2/tool-search@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/tool-search@2x.png">
                </span>
                <div>
                    <span>工具查询</span>
                </div>
            </li>
            <li name="toolbox-remote" ng-click="openInBrowser('toolboxremote')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/toolbox@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/toolbox@2x.png">
                </span>
                <div>
                    <span>TOOLBOX</span>
                </div>
            </li>
            <li name="manual" ng-click="openInBrowser('manual')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/mel@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/mel@2x.png">
                </span>
                <div>
                    <span>程序/MEL</span>
                </div>
            </li>
            <li name="tdms" ng-click="openInBrowser('tdms')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/td-add@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/td-add@2x.png">
                </span>
                <div>
                    <span>TD补充手册</span>
                </div>
            </li>
<!--            <li name="damage-draft" ng-click="go('experienceList')">-->
<!--                <span>-->
<!--                    <img  class="pad-show"  src="dist/images/icon-mobile2/airplane-search@3x.png">-->
<!--                    <img class="mobile-show" src="dist/images/icon-mobile2/airplane-search@2x.png">-->
<!--                </span>-->
<!--                <div>-->
<!--                    <span>机务百科</span>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
        <span class="row-title">其他工具</span>
        <ul class="rowList">
            <li name="focmel" ng-click="openInBrowser('focmel')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/foc-mel@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/foc-mel@2x.png">
                </span>
                <div>
                    <span>FOC MEL</span>
                </div>
            </li>
            <li name="damage-draft" ng-click="go('damageDraftList')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/damage-report@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/damage-report@2x.png">
                </span>
                <div>
                    <span>损伤报告</span>
                </div>
            </li>
            <li name="qrcode" ng-click="scanLineCode()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/damage-code@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/damage-code@2x.png">
                </span>
                <div>
                    <span>损伤二维码</span>
                </div>
            </li>
            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('pitRepairFlight', 'slideLeft')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/pit-repair@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/pit-repair@2x.png">
                </span>
                <div>
                    <span>凹坑修理</span>
                </div>
            </li>
            <li name="qrcode" ng-click="scanUploadCode()">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/material-handover@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/material-handover@2x.png">
                </span>
                <div>
                    <span>航材交接确认</span>
                </div>
            </li>
            <li name="damage-draft" ng-click="go('planeMaintenance')">
                <span>
                    <img  class="pad-show"  src="dist/images/icon-mobile2/service-situation@3x.png">
                    <img class="mobile-show" src="dist/images/icon-mobile2/service-situation@2x.png">
                </span>
                <div>
                    <span>维修状况</span>
                </div>
            </li>
        </ul>
        <!--测试新UI End-->
        <!--旧的        -->
<!--        <ul id="navList">-->
<!--            <li name="me" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="goToRepairPage()">-->
<!--                <span>-->
<!--                    <i class="icon-repair pad-show" ></i>-->
<!--                    <i class="icon-repair-m mobile-show" ></i>-->
<!--                </span>-->
<!--                <a>维修任务</a>-->
<!--                &lt;!&ndash;<a  ng-click="go('flightStatus', 'slideLeft')" >维修任务</a>&ndash;&gt;-->
<!--            </li>-->
<!--            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('faultFlight', 'slideLeft', {isNewFault: true})">-->
<!--                <span>-->
<!--                    <i class="icon-newfault pad-show"></i>-->
<!--                    <i class="icon-new-fault-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>新建故障</a>-->
<!--                &lt;!&ndash;<a  ng-click="go('flightStatus', 'slideLeft')" >维修任务</a>&ndash;&gt;-->
<!--            </li>-->
<!--            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('fixedInspect', 'slideLeft')">-->
<!--                <span>-->
<!--                    <i class="icon-search-tlb pad-show"></i>-->
<!--                    <i class="icon-search-tlb-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>定检管理</a>-->
<!--            </li>-->
<!--            <li name="mr" ng-show="VIEW_MR || ADMIN" ng-click="go('mr', 'slideLeft')">-->
<!--                <span>-->
<!--                    <i class="icon-material pad-show"></i>-->
<!--                    <i class="icon-material-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>航材申请</a>-->
<!--            </li>-->
<!--            <li name="search-fault" ng-show="VIEW_MR || ADMIN" ng-click="go('searchFault', 'slideLeft', {fromIndex: true})">-->
<!--                <span>-->
<!--                    <i class="icon-search-fault pad-show"></i>-->
<!--                    <i class="icon-search-fault-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>故障查询</a>-->
<!--                &lt;!&ndash;<a ng-click="go('faultInfo', 'slideLeft')" >故障查询</a>&ndash;&gt;-->
<!--            </li>-->
<!--            <li name="qrcode" ng-click="scanLineCode()">-->
<!--            &lt;!&ndash;<li name="qrcode" ng-show="VIEW_MR || ADMIN" ng-click="go('searchDamage', 'slideLeft', {time:curTimeParse})">&ndash;&gt;-->
<!--                <span>-->
<!--                    <i class="icon-qrcode pad-show"></i>-->
<!--                    <i class="icon-qrcode-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>损伤二维码</a>-->
<!--            </li>-->

<!--            <li name="gjcx" ng-show="VIEW_TOOLS || ADMIN" ng-click="go('searchTool')">-->
<!--                <span>-->
<!--                    <i class="icon-tool-search pad-show"></i>-->
<!--                    <i class="icon-tool-search-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a translate="tool.tool">工具查询</a>-->
<!--            </li>-->
<!--            <li name="mr-search" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('mrNewSearch')">-->
<!--                <span>-->
<!--                    <i class="icon-search-mr pad-show"></i>-->
<!--                    <i class="icon-search-mr-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>航材查询</a>-->
<!--            </li>-->

<!--            <li name="tlb-search" ng-show="VIEW_FLIGHTINFO || ADMIN"  ng-click="go('searchTlb','slideLeft',{searchTxt: acReg,from: 'index'})">-->
<!--                <span>-->
<!--                    <i class="icon-search-tlb pad-show"></i>-->
<!--                    <i class="icon-search-tlb-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>TLB查询</a>-->
<!--            </li>-->
<!--&lt;!&ndash;            <li name="tlb-search" ng-show="VIEW_FLIGHTINFO || ADMIN"  ng-click="go('jcprocess','',{})">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="icon-search-tlb pad-show"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="icon-search-tlb-m mobile-show"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                <a>TO测试按钮</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li name="tlb-search" ng-show="VIEW_FLIGHTINFO || ADMIN"  ng-click="go('nrc_taskfeedbak','',{})">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="icon-search-tlb pad-show"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="icon-search-tlb-m mobile-show"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                <a>NRCTASK测试按钮</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--            <li name="qrcode" ng-click="scanUploadCode()">-->
<!--                &lt;!&ndash;<li name="qrcode" ng-show="VIEW_MR || ADMIN" ng-click="go('searchDamage', 'slideLeft', {time:curTimeParse})">&ndash;&gt;-->
<!--                <span>-->
<!--                    <i class="icon-qrcode pad-show"></i>-->
<!--                    <i class="icon-qrcode-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>航材交接确认</a>-->
<!--            </li>-->
<!--            <li name="damage-draft" ng-click="go('damageDraftList')">-->
<!--                <span>-->
<!--                    <i class="icon-damage-draft pad-show"></i>-->
<!--                    <i class="icon-damage-draft-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>损伤报告</a>-->
<!--            </li>-->
<!--            <li name="fault" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('pitRepairFlight', 'slideLeft')">-->
<!--                <span>-->
<!--                    <i class="icon-search-tlb pad-show"></i>-->
<!--                    <i class="icon-search-tlb-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>凹坑修理</a>-->
<!--            </li>-->
<!--            <li name="toolbox-remote" ng-click="openInBrowser('toolboxremote')">-->
<!--                <span>-->
<!--                    <i class="icon-tool-search pad-show"></i>-->
<!--                    <i class="icon-tool-search-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>Toolbox Remote</a>-->
<!--            </li>-->
<!--            <li name="manual" ng-click="openInBrowser('manual')">-->
<!--                <span>-->
<!--                    <i class="icon-search-tlb pad-show"></i>-->
<!--                    <i class="icon-search-tlb-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>程序/MEL</a>-->
<!--            </li>-->
<!--            <li name="tdms" ng-click="openInBrowser('tdms')">-->
<!--                <span>-->
<!--                    <i class="icon-damage-draft pad-show"></i>-->
<!--                    <i class="icon-damage-draft-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>TD补充手册</a>-->
<!--            </li>-->
<!--            <li name="focmel" ng-click="openInBrowser('focmel')">-->
<!--                <span>-->
<!--                    <i class="icon-damage-draft pad-show"></i>-->
<!--                    <i class="icon-damage-draft-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>FOC MEL</a>-->
<!--            </li>-->
<!--            <li name="damage-draft" ng-click="go('experienceList')">-->
<!--                <span>-->
<!--                    <i class="icon-damage-draft pad-show"></i>-->
<!--                    <i class="icon-damage-draft-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>机务百科</a>-->
<!--            </li>-->
<!--            <li name="damage-draft" ng-click="go('planeMaintenance')">-->
<!--                <span>-->
<!--                    <i class="icon-damage-draft pad-show"></i>-->
<!--                    <i class="icon-damage-draft-m mobile-show"></i>-->
<!--                </span>-->
<!--                <a>维修状况</a>-->
<!--            </li>-->

<!--            &lt;!&ndash;<li name="hbzt" ng-show="VIEW_FLIGHTINFO || ADMIN" ng-click="go('flightStatus', 'slideLeft')">-->
<!--                <span><i class="icon-repair"></i></span>-->
<!--                <a translate="flight.flights"></a>-->
<!--            </li>&ndash;&gt;-->
<!--        </ul>-->
    </div>
</div>

<!--只有航班动态权限时显示的内容-->
<div style="background-color:#4c5e76;height:100%;position:relative"
     ng-show="!loadAuthorityIng && !VIEW_ME && !ADMIN && !VIEW_MR && !VIEW_TOOLS">
    <img src="dist/images/app.jpg" class="app-start-img"/>
    <div class="flight-cover" ng-click="zs=true;" translate="flight.flights"></div>
    <div class="mr-cover" ng-click="zs=false;" ui-turn-on="modal2">MR</div>
    <div class="me-cover" ng-click="zs=false;" ui-turn-on="modal2" translate="me.me"></div>
    <div class="other-cover" ng-click="zs=false;" ui-turn-on="modal1">Other</div>

    <div ui-yield-to="modals"></div>
    <div ui-content-for="modals">
        <div class="modal my-modal" ui-if="modal1" ui-state='modal1'>
            <div class="modal-backdrop in" ui-turn-off="modal1"></div>
            <div class="modal-dialog pop-img" ui-turn-off="modal1">
                <img src="dist/images/pop-img.jpg"/>
            </div>
        </div>
        <div class="modal my-modal" ui-if="modal2" ui-state='modal2'>
            <div class="modal-backdrop in" ui-turn-off="modal2"></div>
            <div class="modal-dialog pop-img" ui-turn-off="modal2">
                <img src="dist/images/pop-img2.jpg"/>
            </div>
        </div>
    </div>
    <div class="down" ng-class="{zs: zs, zs2: zs}"><i class="fa fa-hand-o-down fa-2x vertical-middle"></i>
        <translate>message.clickHere</translate>
    </div>
</div> 