
<!--<div ui-content-for="title"></div>-->
<!-- 数据为空时显示 -->
<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center" >
		{{flightNo}}
	</div>
	<div class="btn-group btn-group-left">
		<div class="btn" ng-click="go('back')">
			<i class="icon-maoc icon-back"></i>
		</div>
	</div>
	<div class="btn-group btn-group-right" ng-click="gotoFlightDetail()">
		<div class="btn record-btn">
			<span class="record">航班详情</span>
		</div>
	</div>

</div>
<div class="info-content-body scrollable" ng-show="!messageList.length">
	<div class="scrollable-content" im-pull-to-refresh refresh-function="refreshMessage()">
		<!--下拉刷新时显示 -->
		<div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
			<i class="fa fa-refresh fa-spin fa-fw"></i> <translate>loading</translate>...
		</div>
		<div class="backup-airport no-data" ng-hide="loading2 || messageList.length || netWorkErr ">
			<div class="imgDeclare" translate="flight.noMessage"></div>
			<img src="dist/images/no-info-detail.png" width="256" alt="No Data" />
		</div>
	</div>
</div>

<div class="info-content-body scrollable" ng-show="messageList.length">
	<div class="scrollable-content" im-pull-to-refresh refresh-function="refreshMessage()">
		<!--下拉刷新时显示 -->
		<div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
			<i class="fa fa-refresh fa-spin fa-fw"></i> <translate>loading</translate>...
		</div>

		<div class="info-content" >
			<div class="new-info-tip" ng-if="unreadNumber">
				<span class="blue new-info"  > 
					{{ unreadNumber}}<translate>message.num</translate>
				</span>	
			</div>
											   
			<div class="panel panel-custom" ng-repeat="message in messageList | orderBy: '-eventTime'">
				<!--<div class="text-center time-info"><span>{{ message.createDate | date:'MM/dd HH:mm' }}</span></div>-->
				<div class="panel-content">
					<div class="panel-heading" ng-if="message.title" 
						ng-class="{'radius': !message.content,'radius-content':message.content, 
						'panel-heading-orange': message.subType == 'OIL' && !showDeepBackground && !message.isOut,'panel-heading-gray':showDeepBackground || message.isOut}">
						{{ message.title }}
					</div>
					<div class="panel-body" ng-if="message.content" ng-class="{'radius':!message.title, 'gray':showDeepBackground,'loseEffect':message.isOut}" ng-bind-html="renderHtml(message.content)">
					</div>
					<!--block图标-->
					
					<div class="time-line " ng-class="{'time-line-blue':!!message.read}">
						
						<div class="info-date text-center">{{message.eventTime | date:'yy/MM/dd'}}<br>{{message.eventTime | date:'HH:mm'}}</div>
						<div class="block-bg " ng-class="{'block-bg-blue':!!message.read}">
							<div class="icon-maoc icon-block"></div>
						</div>
					</div>
				</div>
				
			</div>			
			
			<div class="bottom-bg"></div>
		</div>
		<i class="icon-maoc icon-hj"></i>
	</div>
	
</div>
