<div class="ewis-background">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">EWIS
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="ewisBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <div class="oil-scroll">
        <form name="myForm" novalidate>
            <div class="oil-form-wrapper">

                <div class="oil-add-li" ng-if="isEdit">
                    <span class="tail-eng-title">部件类型<span class="red">*</span></span>
                    <div class="inline-block display-result">
                        <select ng-model="ewisInfo.componentType"  required>
                            <option ng-value="ewisTypeItem.componentType"
                                    ng-selected="ewisInfo.componentType == ewisTypeItem.componentType"
                                    ng-repeat="ewisTypeItem in info.ewisTypes track by $index"
                            >{{ewisTypeItem.componentName}}</option>
                        </select>
                    </div>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="oil-add-li" ng-if="!isEdit">
                    <span class="tail-eng-title">部件类型</span>
                    <div class="inline-block display-result">
                        {{ewisInfo.componentName || ewisInfo.componentType}}
                    </div>
                </div>


                <div class="oil-add-li" ng-if="isEdit">
                    <div class="zhezhao" ng-if="ewisInfo.componentType == '导线/电缆'"></div>
                    <span class="tail-eng-title">线号/设备号<span class="red">*</span></span>
                    <div class="inline-block display-result" >
                        <select ng-model="ewisInfo.lineEquipmentType"  required style="color: #333">
                            <option
                                    ng-repeat="cc in info.ewisSecTypes track by $index"
                                    value="{{cc.componentType}}"
                                    ng-selected="ewisInfo.lineEquipmentType == cc.componentType"
                            >{{cc.componentName}}</option>
                        </select>
                        <i class="fa fa-angle-down" style="color: #333"></i>
                    </div>
<!--                    <input style="width: 60%;margin-left: 1rem" ng-if="isEdit && ewisInfo.lineEquipmentType == 2" ng-model="ewisInfo.allNumber" class="oil-input" maxlength="2000"-->
<!--                           type="text" placeholder="请输入设备号或N/A">-->
                </div>
                <div class="oil-add-li" ng-if="!isEdit">
                    <span class="tail-eng-title">线号/设备号</span>
                    <div class="inline-block display-result">
                        {{ewisInfo.lineEquipmentType == 1 ?'线号':'设备号'}}
                    </div>
                </div>
                <div class="oil-add-li" ng-if=" ewisInfo.lineEquipmentType == 2">
                    <div class="zhezhao" ng-if="!isEdit"></div>
                    <input style="width: 100%;margin-left: 1rem" required ng-model="ewisInfo.allNumber" class="oil-input" maxlength="2000" placeholder="请输入设备号或无"
                           type="text" >
                </div>
                <div class="oil-add-li" ng-if=" ewisInfo.lineEquipmentType == 2">
                    <div class="zhezhao" ng-if="!isEdit"></div>
                    <input style="width: 100%;margin-left: 1rem"  ng-model="ewisInfo.pn" class="oil-input" maxlength="2000" placeholder="请输入件号"
                           type="text" >
                </div>
                <div class="oil-add-li" ng-show="isEdit && ewisInfo.lineEquipmentType == 1" ng-repeat="obj in info.extLineNumList track by $index" swipe-del>
                    <div class="delete" style="height: 2.7rem;line-height: 2.7rem;margin-top: -0.6rem"  translate="delete" ng-click="deleteLine($event,$index,obj)"></div>
                    <input ng-blur="checkFirst(obj.lineNum1,$index)" placeholder="首字母" class="oil-input" style="width: 15%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum1" class="oil-input" maxlength="1"  type="text"> -
                    <input ng-pattern="/^[0-9a-zA-Z]+$/" class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum2" class="oil-input" maxlength="10"  type="text"> -
                    <input ng-pattern="/^[0-9a-zA-Z]+$/" class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum3" class="oil-input" maxlength="10"  type="text"> -
                    <input ng-pattern="/^[0-9a-zA-Z]+$/" class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum4" class="oil-input" maxlength="10"  type="text">
                </div>
                <div class="oil-add-li"  ng-if="isEdit && ewisInfo.lineEquipmentType == 1">
                    <div style="display:inline-block; width: 100%;text-align: center;vertical-align: middle;font-size: .7rem" ng-click="addLine()">
                        <img src="dist/images/Group2.png" width="20" style="max-width: 100%" alt="" />
                        添加线号
                    </div>

                </div>
                <div class="oil-add-li" ng-if="!isEdit && ewisInfo.lineEquipmentType == 1" ng-repeat="obj in info.extLineNumList track by $index">
                    <input readonly class="oil-input" style="width: 15%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum1" class="oil-input" maxlength="1"  type="text"> -
                    <input readonly class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum2" class="oil-input" maxlength="10"  type="text"> -
                    <input readonly class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum3" class="oil-input" maxlength="10"  type="text"> -
                    <input readonly class="oil-input" style="width: 22%;border:.5px solid #eee;height: 1.5rem;line-height: 1.5rem;text-transform: uppercase;"  ng-model="obj.lineNum4" class="oil-input" maxlength="10"  type="text">
                </div>
                <div class="oil-add-li" ng-if="isEdit">
                    <span class="tail-eng-title">缺陷类型<span class="red">*</span></span>
                    <div class="inline-block mult-display-result-select">
                        <select  multiple="true" ng-model="info.selectedEwisTypes"
                                 ng-change="flawTypeChanged()" required>
                            <option value="{{flawTypeItem.number}}"
                                    ng-selected="flawTypeItem.selected"
                                    ng-repeat="flawTypeItem in info.flawTypes track by $index ">
                                {{flawTypeItem.flawType}}
                            </option>
                        </select>
                    </div>
                    <div class="inline-block mult-display-result">
                        <label class="oil-locaion" ng-repeat="item in info.selectedFlawTypesItems track by $index">{{item.flawType}}</label>
                    </div>
                    <i class="fa fa-angle-down" ng-click="showSelected()"></i>
                </div>

                <div ng-if="!isEdit" class="oil-add-li">
                    <span class="tail-eng-title">缺陷类型</span>

                    <div class="inline-block display-result">
                        <span ng-repeat="item in info.selectedFlawTypesItems track by $index">
                            {{item.flawType}} <span ng-if="info.selectedFlawTypesItems.length-1!=$index">、</span>
                        </span>
                    </div>

                    <!--<div class="inline-block mult-display-result">-->
                        <!--<label class="oil-locaion" ng-repeat="item in info.selectedFlawTypesItems">{{item.flawType}}</label>-->
                    <!--</div>-->

                </div>

                <div class="oil-add-li" ng-if="info.showOtherFlawTxt">
                    <span class="tail-eng-title">其它缺陷类型<span class="red">*</span></span>
                    <input ng-if="isEdit" ng-model="ewisInfo.otherDescription" class="oil-input" required
                           type="text" placeholder="请输入其它缺陷类型">
                    <div ng-if="!isEdit" class="inline-block">{{ewisInfo.otherDescription}}</div>
                </div>
                <div class="oil-add-li">
                    <div class="zhezhao" ng-if="!isEdit"></div>
                    <span class="tail-eng-title">处理方式<span class="red">*</span></span>
                    <div class="inline-block display-result">
                        <select ng-model="ewisInfo.treatmentMethod"  required>
                            <option
                                    ng-repeat="treat in info.treatType track by $index"
                                    value="{{treat.value}}"
                                    ng-selected="ewisInfo.treatmentMethod == treat.value"
                            >{{treat.text}}</option>
                        </select>
                    </div>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="oil-add-li">
                    <div class="zhezhao" ng-if="!isEdit"></div>
                    <span class="tail-eng-title">缺陷位置<span class="red">*</span></span>
                    <div class="inline-block display-result">
                        <select ng-model="ewisInfo.defectLocation"  required >
                            <option
                                    ng-repeat="treat in info.ewisDefectType track by $index"
                                    value="{{treat.VALUE}}"
                                    ng-selected="ewisInfo.defectLocation == treat.VALUE"
                            >{{treat.TEXT}}</option>
                        </select>
                    </div>
                    <i class="fa fa-angle-down" style="color: #3333"></i>
                </div>
                <div class="oil-add-li" ng-if="ewisInfo.defectLocation == 5">
                    <span class="tail-eng-title">其它缺陷位置<span class="red">*</span></span>
                    <input ng-if="isEdit" ng-model="ewisInfo.otherDflcDes" class="oil-input" required
                           type="text" placeholder="请输入其它缺陷位置">
                    <div ng-if="!isEdit" class="inline-block">{{ewisInfo.otherDflcDes}}</div>
                </div>
                <div class="oil-add-li">
                    <span class="tail-eng-title">STA/WL/BL</span>
                    <input ng-if="isEdit" ng-model="ewisInfo.staWlBl" class="oil-input" type="text">
                    <div ng-if="!isEdit" class="inline-block">{{ewisInfo.staWlBl}}</div>
                </div>
                <div>
                    <div class="tail-eng-title">EWIS具体图片（最多5张，最少两张，一张近景一张远景图片）<span class="red">*</span></div>
                    <div class="p-image">
                        <img-sel img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud"
                                 attachvo="attachvo" is-edit="isEdit" max-img-count="maxImgCount" del-img-id="delImgId"></img-sel>

                    </div>
                </div>

                <div class="button-wrapper" ng-if='isEdit'>

                    <!--ng-disabled="!myForm.$valid || fileArr.length ==0"-->

                    <button class="submitAddMR ui-disabled"
                            ng-click="ewisSure()"
                            ng-class="{'orange-button': myForm.$valid&&imgArr.length>1}"
                            ng-disabled="!myForm.$valid||imgArr.length ==0||imgArr.length ==1"
                    >
                        确定
                    </button>
                </div>

            </div>

        </form>

    </div>

</div>