<div>
    <div class="d-faultPadding" ng-show="!showEwis && !showOil">
        <div class="ui-list-table" style="background: #f8f8f8">
            <div class="item">
                <span>PEND No.</span>
                <div ng-bind="paddingInfo.pendNo"></div>
            </div>
            <div class="item">
                <span>Total FLT Hours</span>
                <div ng-bind="paddingInfo.totalFh"></div>
            </div>
            <div class="item">
                <span>Total FLT Cycle</span>
                <div ng-bind="paddingInfo.totalCy"></div>
            </div>
            <div class="item">
                <span>飞机号</span>
                <div ng-bind="faultInfo.acReg"></div>
            </div>
            <div class="item">
                <span>机型</span>
                <div ng-bind="faultInfo.minorModel"></div>
            </div>
            <div class="item">
                <span>Affected ENG</span>
                <div ng-bind="faultInfo.engineSn"></div>
            </div>
            <div class="item">
                <span>描述</span>
                <div ng-bind="paddingInfo.defectDescChn"></div>
            </div>
            <div class="item">
                <span>describe</span>
                <div ng-bind="paddingInfo.defectDescEng"></div>
            </div>
            <div class="item">
                <span>ZONE</span>
                <div ng-bind="paddingInfo.zoneNo"></div>
            </div>
        </div>

        <div class="d-faultPadding-ext">
            <oil-ewis  edit="edit"
                       is-has-ewis="paddingInfo.isHasEwis" ewis-show="showEwis"
                       ewis-state="ewisState" ewis-dto="paddingInfo.ewisDTO"
                       ewis-index="selectedEwisIndex" ewis-info="ewisInfo"
                       is-has-oil="paddingInfo.isHasOil" oil-show="showOil"
                       oil-state="oilState" oil-dto="paddingInfo.oilDTO"
                       oil-index="selectedOilIndex" oil-info="oilInfo"
            ></oil-ewis>

        </div>

        <div class="d-faultPadding-ext">
            <div class="ui-list">
                <div class="ui-list-item ui-check-item">
                    <span>Reported By</span>
                    <div class="checkbox">
                        <div class="item" ng-class="{active:paddingInfo.lackMater.toUpperCase()==='Y'}" ng-click="Reported_By('lackMater')">Material</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTime.toUpperCase()==='Y'}" ng-click="Reported_By('lackTime')">Ground Time</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTool.toUpperCase()==='Y'}" ng-click="Reported_By('lackTool')">Tooling</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTech.toUpperCase()==='Y'}" ng-click="Reported_By('lackTech')">Engineering</div>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Others Reason</span>
                    <div ng-bind="paddingInfo.reasonOther"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-single">
                    <span>Reference.</span>
                    <div class="ui-select disabled">
                        <span style="display: block;margin: 0 auto;" ng-bind="paddingInfo.reference"></span>
                    </div>
                    <div class="ui-ipt disabled">
                        <span style="display: block;margin: 0 auto;" ng-bind="paddingInfo.referItem"></span></div>
                </div>
            </div>
            <div class="apply-date-info">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Apply Date.</span>
                        <div ng-bind="paddingInfo.applyDate| date:'yyyy-MM-dd HH:mm:ss'"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled category-item">
                        <span class="category-title">category</span>
                        <span ng-show="paddingInfo.dfralCategory =='a'|| paddingInfo.ddDueDatas[0].category =='a'">A: <span ng-show="paddingInfo.reference != 'MEL' && paddingInfo.reference != 'CDL' && paddingInfo.reference != 'TE'">一天</span> </span>
                        <span ng-show="paddingInfo.dfralCategory =='b'|| paddingInfo.ddDueDatas[0].category =='b'">B:三天</span>
                        <span ng-show="paddingInfo.dfralCategory =='c'|| paddingInfo.ddDueDatas[0].category =='c'">C:十天</span>
                        <span ng-show="paddingInfo.dfralCategory =='d'|| paddingInfo.ddDueDatas[0].category =='d'">D:一百二十天</span>
                        <span ng-show="paddingInfo.dfralCategory =='other'|| paddingInfo.ddDueDatas.category =='other'">OTHER</span>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Expired Date：</span>
                    <div ng-style="styleCss">{{paddingInfo.expiredDate | date:'yyyy年MM月dd'}}截止</div>
                </div>
            </div>
        </div>
        <div style="background: #f3f3f3;padding:0.6rem;font-size:0.7rem;text-align:left;border-bottom:solid 1px #e6e6e6">
            Deferral Action
        </div>
        <div class="ui-list-table kt">
            <div class="item">
                <span>Placard.</span>
                <div class="r">{{paddingInfo.isPlacard.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Maintenace Caution ltem</span>
                <div class="r">{{paddingInfo.isCaution.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(M)Item</span>
                <div class="r">{{paddingInfo.isM.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Special Requirement</span>
                <div class="r">{{paddingInfo.isSpecial.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
<!--                <span>Review Before Each Take Off </span>-->
                <span>REVIEW EACH PREFLIGHT</span>
                <div class="r">{{paddingInfo.isCheck.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
<!--                <span>Review During Transit</span>-->
                <span>REVIEW EACH FLYING DAY</span>
                <div class="r">{{paddingInfo.isReview.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(O)Item</span>
                <div class="r">{{paddingInfo.isO.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Flight Crews Notified</span>
                <div class="r">{{paddingInfo.isNotify.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(DM)Dual Maintenance</span>
                <div class="r">{{paddingInfo.dm.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
        </div>
        <div style="border-bottom: 1px solid #e6e6e6;"></div>
        <div style="margin:1rem .5rem;" class="license-info">
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Requested by.</span>
                    <div>{{paddingInfo.requester}}{{paddingInfo.requesterNo}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>License No.</span>
                    <div>{{paddingInfo.requesterLice}}</div>
                </div>
            </div>
        </div>
        <div ng-show="faultInfo.btnFlag.isCanEditReasons" ng-click="isCanEditReasons()" style="width: 150px;height: 40px;text-align: center;line-height: 40px;color: #fff;border-radius: 5px;background-color: #fe9102;margin-bottom: 20px;margin: 0 auto">确定</div>
    </div>
    <ewis ng-show="showEwis" ewis-show="showEwis" state="ewisState" ewis-dto="ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="edit"></ewis>
    <oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="edit"></oil>

</div>

