<div>
    <div class="d-faultPadding" ng-show="!showEwis && !showOil">
        <div class="ui-list-table" style="background: #f8f8f8">
            <div class="item">
                <span>DDI No.</span>
                <div ng-bind="paddingInfo.deferredNo"></div>
            </div>
            <div class="item">
                <span>Total FLT Hours</span>
                <div ng-bind="paddingInfo.totalFh"></div>
            </div>
            <div class="item">
                <span>Total FLT Cycle</span>
                <div ng-bind="paddingInfo.totalCy"></div>
            </div>
            <div class="item">
                <span>飞机号</span>
                <div ng-bind="faultInfo.acReg"></div>
            </div>
            <div class="item">
                <span>机型</span>
                <div ng-bind="faultInfo.minorModel"></div>
            </div>
            <div class="item">
                <span>Affected ENG</span>
                <div ng-bind="faultInfo.engineSn"></div>
            </div>
            <div class="item">
                <span>描述</span>
                <div ng-bind="paddingInfo.defectDescChn"></div>
            </div>
            <div class="item">
                <span>describe</span>
                <div ng-bind="paddingInfo.defectDescEng"></div>
            </div>
            <div class="item">
                <span>ZONE</span>
                <div ng-bind="paddingInfo.zoneNo"></div>
            </div>
        </div>

        <div class="d-faultPadding-ext">
            <!--<oil-ewis oil-dto="oilDTO" ewis-dto="ewisDTO" edit="true"-->
            <!--is-has-oil="isHasOil" is-has-ewis="isHasEwis"></oil-ewis>-->
            <oil-ewis  edit="edit"
                       is-has-ewis="paddingInfo.isHasEwis" ewis-show="showEwis"
                       ewis-state="ewisState" ewis-dto="paddingInfo.ewisDTO"
                       ewis-index="selectedEwisIndex" ewis-info="ewisInfo"
                       is-has-oil="paddingInfo.isHasOil" oil-show="showOil"
                       oil-state="oilState" oil-dto="paddingInfo.oilDTO"
                       oil-index="selectedOilIndex" oil-info="oilInfo"
            ></oil-ewis>
        </div>

        <div class="d-faultPadding-ext">
            <div class="ui-list">
                <div class="ui-list-item ui-check-item">
                    <span>Reported By</span>
                    <div class="checkbox">
                        <div class="item" ng-class="{active:paddingInfo.lackMater.toUpperCase()==='Y'}">Material</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTime.toUpperCase()==='Y'}">Ground Time</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTool.toUpperCase()==='Y'}">Tooling</div>
                        <div class="item" ng-class="{active:paddingInfo.lackTech.toUpperCase()==='Y'}">Engineering</div>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Others Reason</span>
                    <div ng-bind="paddingInfo.reasonOther"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-single">
                    <span>Reference.</span>
                    <div class="ui-select disabled">
                        <span style="display: block;margin: 0 auto;" ng-bind="paddingInfo.reference"></span>
                    </div>
                    <div class="ui-ipt disabled">
                        <span style="display: block;margin: 0 auto;" ng-bind="paddingInfo.referItem"></span></div>
                </div>
            </div>
            <div class="apply-date-info">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Apply Date.</span>
                        <div ng-bind="paddingInfo.applyDate| date:'yyyy-MM-dd HH:mm:ss'"></div>
                    </div>
                    <div class="ui-list-item ui-ipt-item disabled category-item">
                        <span class="category-title">category</span>
                        <span ng-show="paddingInfo.dfralCategory =='a'|| paddingInfo.ddDueDatas[0].category =='a'">A</span>
                        <span ng-show="paddingInfo.dfralCategory =='b'|| paddingInfo.ddDueDatas[0].category =='b'">B:三天</span>
                        <span ng-show="paddingInfo.dfralCategory =='c'|| paddingInfo.ddDueDatas[0].category =='c'">C:十天</span>
                        <span ng-show="paddingInfo.dfralCategory =='d'|| paddingInfo.ddDueDatas[0].category =='d'">D:一百二十天</span>
                        <span ng-show="paddingInfo.dfralCategory =='other'|| paddingInfo.ddDueDatas.category =='other'">OTHER</span>
                    </div>
                </div>
            </div>

            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Expired Date：</span>
                    <div ng-style="styleCss">{{paddingInfo.expiredDate | date:'yyyy年MM月dd'}}截止</div>
                </div>
            </div>
        </div>
        <div style="background: #f3f3f3;padding:0.6rem;font-size:0.7rem;text-align:left;border-bottom:solid 1px #e6e6e6">
            Deferral Action
        </div>
        <div class="ui-list-table kt">
            <div class="item">
                <span>Placard.</span>
                <div class="r">{{paddingInfo.isPlacard.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Maintenace Caution ltem</span>
                <div class="r">{{paddingInfo.isCaution.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(M)Item</span>
                <div class="r">{{paddingInfo.isM.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Special Requirement</span>
                <div class="r">{{paddingInfo.isSpecial.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
<!--                <span>Review Before Each Take Off </span>-->
                <span>REVIEW EACH PREFLIGHT</span>
                <div class="r">{{paddingInfo.isCheck.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
<!--                <span>Review During Transit</span>-->
                <span>REVIEW EACH FLYING DAY</span>
                <div class="r">{{paddingInfo.isReview.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(O)Item</span>
                <div class="r">{{paddingInfo.isO.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>Flight Crews Notified</span>
                <div class="r">{{paddingInfo.isNotify.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
            <div class="item">
                <span>(DM)Dual Maintenance</span>
                <div class="r">{{paddingInfo.dm.toUpperCase()==='Y'?'YES':'NO'}}</div>
            </div>
        </div>
        <div style="border-bottom:solid 1px #e6e6e6 "></div>
        <div style="margin:1rem .5rem;" class="license-info">
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Requested by.</span>
                    <div>{{paddingInfo.requester}}&nbsp;&nbsp;{{paddingInfo.requesterNo}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>License No.</span>
                    <div>{{paddingInfo.requesterLice}}</div>
                </div>
            </div>

            <div class="ui-list" ng-if="paddingInfo.auditor">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Approved by.</span>
                    <div>{{paddingInfo.auditor}}&nbsp;&nbsp;{{paddingInfo.auditorNo}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>License No.</span>
                    <div>{{paddingInfo.auditorLice}}</div>
                </div>
            </div>
            <section ng-if="paddingInfo.qualApprover&&paddingInfo.caacApprover&&paddingInfo.extentionDate">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Approval by Quality Management DEPT.</span>
                        <div>{{paddingInfo.qualApprover}}&nbsp;&nbsp;{{paddingInfo.qualApproverNo}}</div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Approval by CAAC.</span>
                        <div>{{paddingInfo.caacApprover}}</div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item disabled">
                        <span>Extention Date.</span>
                        <div>{{paddingInfo.extentionDate| date:'yyyy年MM月dd日'}}</div>
                    </div>
                    <div class="ui-list-item ui-ipt-item visibility">
                    </div>
                </div>
            </section>
        </div>
        <section ng-if="paddingInfo.extentionReason">
            <div style="background: #f8f8f8;padding:0.6rem;font-size:0.7rem;text-align:left;border-bottom:solid 1px #e6e6e6">
                Extention Reason
            </div>
            <div style="background: #f3f3f3;">
                <div style="padding:1rem;">{{paddingInfo.extentionReason}}&nbsp;</div>
            </div>
        </section>
        <div class="ui-container" ng-show="faultInfo.btnFlag.closeDd">
            <div>
                <div class="ui-submit" ng-click="closeDDI(paddingInfo.id)">关闭DDI</div>
            </div>
        </div>
    </div>
    <ewis ng-show="showEwis" ewis-show="showEwis" state="ewisState" ewis-dto="ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="edit"></ewis>
    <oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="edit"></oil>
</div>