<form ng-submit="submitMethod()" name="editFaultMr">
    <div class="d-faultMr">
        <div class="ui-list">
            <div class="ui-list-item ui-ipt-item disabled">
                <span>MR No.</span>
                <div >{{mrInfo.no | limitTo:-9}}</div>
            </div>
            <div class="ui-list-item ui-ipt-item disabled">
                <span>Date</span> <!--Require -->
                <div ng-bind="mrInfo.requireDate|formatDate"></div>
            </div>
        </div>
        <div class="ui-list">
            <div class="ui-list-item ui-ipt-item disabled">
                <span>MR Type.</span>
                <div ng-bind="mrInfo.cardType"></div>
            </div>
<!--            <div class="ui-list-item ui-ipt-item disabled">-->
<!--                <span>Status.</span>-->
<!--                <div ng-bind="mrInfo.status"></div>-->
<!--            </div>-->
            <div class="ui-list-item ui-ipt-item disabled">
                <span>Approver.</span>
                <div>{{mrInfo.approverName}} {{mrInfo.approverSn}}</div>
            </div>
        </div>

        <div class="ui-list" ng-if="mrInfo.cardType !='DEFREQ'">
            <div class="ui-list-item ui-ipt-item disabled">
                <span>Satisfy</span>
                <div>
                    {{mrInfo.isSatisfy == 0 ? 'Waiting Process' : '' }}
                    {{mrInfo.isSatisfy == 1 ? 'Not Satisfied' : '' }}
                    {{mrInfo.isSatisfy == 2 ? 'Satisfied' : '' }}
                    {{(mrInfo.isSatisfy != 0 && mrInfo.isSatisfy != 1 && mrInfo.isSatisfy != 2) ? 'Partially Satisfied' : '' }}<br>
                </div>
            </div>
            <div class="ui-list-item ui-ipt-item visibility"></div>
        </div>
        <div class="ui-list" ng-if="mrInfo.cardType=='DEFREQ'">
            <div class="ui-list-item ui-ipt-item disabled">
                <span>AOG.</span>
                <div>{{mrInfo.aog=='1'?'YES':'NO'}}</div>
            </div>
            <div class="ui-list-item ui-ipt-item disabled">
                <span>Satisfy</span>
                <div>
                    {{mrInfo.isSatisfy == 0 ? 'Waiting Process' : '' }}
                    {{mrInfo.isSatisfy == 1 ? 'Not Satisfied' : '' }}
                    {{mrInfo.isSatisfy == 2 ? 'Satisfied' : '' }}
                    {{(mrInfo.isSatisfy != 0 && mrInfo.isSatisfy != 1 && mrInfo.isSatisfy != 2) ? 'Partially Satisfied' : '' }}<br>
                </div>
            </div>
        </div>
        <div class="ui-list">
            <div class="ui-list-item ui-ipt-item disabled">
                <span>Station.</span>
                <div>{{mrInfo.station}}</div>
            </div>
            <div class="ui-list-item ui-ipt-item disabled">

            </div>
        </div>
        <div class="ui-list">
            <div class="ui-list-item ui-textarea-item">
                <span>Remark</span>
                <div>
                    <p class="ui-remark" ng-bind="mrInfo.remark"></p>
                </div>
            </div>
        </div>
        <div class="ui-list">
            <div class="ui-list-item ui-textarea-item">
                <span>Revise Reason</span>
                <div>
                    <p class="ui-remark" ng-bind="mrInfo.reason"></p>
                </div>
            </div>
        </div>
        <div class="d-faultMr-list">
            <div class="title">
                <div class="name">Materi/Tool Requirements</div>
            </div>
            <div class="block" ng-repeat="item in mrInfo.itemList" ng-if="item.revRemark != 'D'">
                <div class="area">
                    <div class="item">
                        <span>Item No:</span>
                        <div ng-bind="item.pn"></div>
                    </div>
                    <div class="ext">
                        <div ng-bind="item.unit"></div>
                        <div ng-bind="item.station"></div>
                    </div>
                </div>
                <div class="area">
                    <span>Required Qty:</span>
                    <div>
                        &nbsp;&nbsp;{{item.qty}}
                    </div>
                </div>
                <div class="area">
                    <span>Short Qty:</span>
                    <div style="color: red">
                        &nbsp;&nbsp;{{item.shortageQty}}
<!--                        <span ng-if="item.shortageQty>0" style="color:#d22420;display: inline-block">Disatisfy</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-edit" ng-if="faultInfo.status.toUpperCase()==='O'&&mrInfo.isRevise==1 && mrInfo.isSend !== '0'">
            <div ng-click="changeEdit()"><p><i class="icon-edit"></i><span>编辑</span></p></div>
        </div>
        <div class="ui-edit" ng-show="mrInfo.isShort">
            <div ng-click="mrApprove(mrInfo)"><p><i class="icon-edit"></i><span>APPROVER</span></p></div>
        </div>
    </div>
</form>