<div>
    <form ng-show="!showEwis && !showOil" ng-submit="submitMethod()" name="addFaultHandle" novalidate>
        <div class="d-faultHandle" ng-click="cancelEvents($event)">
            <div class="ui-list mobile-uilist-css" style="margin-top: 0">
                <div class="ui-list-item ui-ipt-item" ng-class="{disabled: !isEdit}">
                    <span>Date Time</span>
                    <div ng-if="isEdit">
                        <input type="datetime-local" ng-model="info.dateAction"/>
                    </div>
                    <div ng-if="!isEdit">{{handleInfo.dateAction | date:'yyyy-MM-dd HH:mm'}}</div>
                </div>
            </div>
            <div class="ui-list mobile-uilist-css" style="margin-top: 0">
                <div class="ui-list-item ui-ipt-item" ng-class="{disabled: !isEdit}">
                    <span>Found Date</span>
                    <div ng-if="isEdit">
                        <input type="datetime-local" ng-model="info.dateFound" class="date-local"/>
                    </div>
                    <div ng-if="!isEdit">{{handleInfo.dateFound | date:'yyyy-MM-dd HH:mm'}}</div>
                </div>
            </div>
            <div class="ui-list mobile-uilist-css" style="margin-top: 0" ng-if="!isEdit">
                <div class="ui-list-item ui-ipt-item" ng-class="{disabled: !isEdit}">
                    <span ng-if="!isEdit">Zone</span>
                    <div ng-if="!isEdit">{{handleInfo.zone }}</div>
                </div>
            </div>
<!--Finder Sign-->
            <!--查看-->
            <div class="ui-list" ng-if="!isEdit">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span >Finder Sign.</span>
                    <div>{{handleInfo.technicianFound}}{{handleInfo.technicianFoundNo}}</div>
                </div>
            </div>
            <!--编辑-->
            <div class="ui-list" ng-if="isEdit">
                <div class="ui-list-item select-person-wrap">
                    <span class="name" >Finder Sign.<span class="require">*</span></span>
                    <div class="ipt">
                        <select-person person-info="info.finderSign"></select-person>
                    </div>
                </div>
            </div>
             <select-zone zone-info="info.zoneInfo" ng-if="isEdit"></select-zone>
            <div class="ui-list" ng-if="!isEdit">
                <!--TLB NO-->
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>TLB No</span>
                    <div>{{handleInfo.tlbNo}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>ATA</span>
                    <div>{{handleInfo.ata}}</div>
                </div>
            </div>
            <!--编辑状态下 TLB/ATA-->
            <div class="ui-list mobile-uilist-css" ng-if="isEdit">
                <div class="ui-list-item ui-ipt-item position-relative" ng-class="{'disabled': info.noTlbNo}">
                    <span>TLB No</span>
                    <div ng-if="isEdit" moac-auto-focus="tlbNo" class="tlb-scan-wrapper tlbno-input-wrap">
                        <input type="tel" ng-model="info.tlbNo" placeholder="请输入TLB No" ng-disabled="info.noTlbNo"
                               moac-ref="tlbNo" ng-required="!info.noTlbNo" ng-class="{'disabled': info.noTlbNo}"/>
                    </div>
                    <div class="div-accurate">
                        <label  for="accurate" ng-class="{'accurate-label': info.noTlbNo, 'accurate-label-nocheck': !info.noTlbNo }"></label>
                        <input type="checkbox" class="ipt-no-tlb" ng-model="info.noTlbNo" ng-click="info.noTlbNo ? info.tlbNo='' : ''"
                               style="width: auto" id="accurate">无TLB
                    </div>
                    <!--<label class="is-fill-tlb" ng-show="isEdit">-->
                    <!--<input type="checkbox" class="ipt-no-tlb" ng-model="info.noTlbNo" ng-click="info.noTlbNo ? info.tlbNo='' : ''" /> 无TLB-->
                    <!--</label>-->
                </div>
<!--                <div class="ui-list-item ui-ipt-item">-->
<!--                    <span>ATA<span class="red" ng-if="isEdit">*</span></span>-->
<!--                    <div ng-if="isEdit">-->
<!--                        <input type="tel" class="form-control search-textbox framecolor" name="ata" placeholder="4~8位" required maxlength="8"-->
<!--                               ng-model="info.ata"  ng-pattern="/^[\w|-]{4,8}$/" >-->
<!--                    </div>-->
<!--                </div>-->
                <div class="fault">
                    <div class="approver-content-wrap" style="margin: 0">
<!--                        <div class="datebox-wrap">-->
<!--                            <select-ata ata-info="info.ata"></select-ata>-->
<!--                        </div>-->
                        <div class="datebox-wrap" style="width: 100%;" ><select-ata-title ata-info="info.ata" model="acModel"></select-ata-title></div>
                    </div>
                </div>
            </div>
            <!--DLY/CNL-->
            <div class="ui-list">
                <div class="ui-list-item" ng-class="{'disabled ui-ipt-item':!isEdit,'ui-check-item':isEdit}">
                    <span>DLY/CNL</span>
                    <div class="checkbox" ng-if="isEdit">
                        <div class="item" ng-click="info.dlyCnl='y'" ng-class="{active:info.dlyCnl=='y'}">YES</div>
                        <div class="item" ng-click="info.dlyCnl='n'" ng-class="{active:info.dlyCnl=='n'}">NO</div>
                    </div>
                    <div ng-if="!isEdit">{{handleInfo.dlyCnl.toUpperCase()=='Y'?'YES':'NO'}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item" ng-class="{'disabled':!isEdit,'title':isEdit}">
                    <span>M-HRS<span style="color: red" ng-if="isEdit">*</span></span>
                    <div moac-auto-focus="manHours" ng-if="isEdit">
                        <input type="number" style="width:40%" ng-model="info.manHours" moac-ref="manHours" required
                               ng-pattern="/^([1-9]\d*|0)(\.\d)?$/"/>小时
                    </div>
                    <div ng-if="!isEdit">{{handleInfo.manHours}}小时</div>
                </div>
            </div>

            <!--review Type--->
            <!--<div class="ui-list" ng-if="!isEdit && handleInfo.reviewType">-->
            <!--<div class="ui-list-item ui-ipt-item disabled">-->
            <!--<span>Review Type</span>-->
            <!--<div>{{handleInfo.reviewType}}</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui-list" ng-if="isEdit">-->
            <!--<div class="ui-list-item ui-check-item">-->
            <!--<span>Review Type</span>-->
            <!--<div class="checkbox">-->
            <!--<div class="item" class="item" ng-class="{active: info.reviewType.indexOf('Pr/F')!=-1}"-->
            <!--ng-click="changeReviewType($event);">Pr/F</div>-->
            <!--<div class="item" ng-class="{active: info.reviewType.indexOf('T/R')!=-1}"-->
            <!--ng-click="changeReviewType($event);">T/R</div>-->
            <!--<div class="item" ng-class="{active: info.reviewType.indexOf('Po/F')!=-1}"-->
            <!--ng-click="changeReviewType($event);">Po/F</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--Mech Sign-->
            <div class="ui-list" ng-if="!isEdit">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Mech Sign.</span>
                    <div>{{handleInfo.technicianActSign}} {{handleInfo.technicianActNo}}</div>
                </div>

                <div class="ui-list-item ui-ipt-item disabled">
                    <span>DM</span>
                    <div>{{info.dm | uppercase}}</div>
                </div>
            </div>
            <div class="ui-list " ng-if="isEdit">
                <div class="ui-list-item select-person-wrap">
                    <span class="name">Mech Sign.<span class="require">*</span></span>
                    <div class="ipt">
                        <select-person person-info="info.tecnician"></select-person>
                    </div>
                </div>
                <div class="ui-list-item ui-check-item">
                    <span>DM <span class="red" ng-if="info.dmStatus == 0">*</span></span>
                    <div class="checkbox new-cc" ng-if="isEdit">
                        <div class="item" ng-click="info.dm = info.dm === 'y' ?  '' : 'y' "
                             ng-class="{active:info.dm==='y','noPick': dmDisable}">Y
                        </div>
                        <div class="item" ng-click="info.dm= info.dm === 'n' ?  '' : 'n'"
                             ng-class="{active:info.dm==='n','noPick': dmDisable}">N
                        </div>
                    </div>
                </div>

            </div>
            <!--RII-->
            <div class="ui-list" ng-if="!isEdit">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>RII.</span>
                    <div>{{handleInfo.rii.toUpperCase()=='Y'?'YES':'NO'}}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>RCI.</span>
                    <div>{{handleInfo.rci.toUpperCase()=='Y'?'YES':'NO'}}</div>
                </div>
            </div>
            <div class="ui-list" ng-if="!isEdit && (handleInfo.rii.toUpperCase()=='Y' || handleInfo.rci.toUpperCase()=='Y')">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span ng-if="handleInfo.rii == 'y'">RII Sign.</span>
                    <span ng-if="handleInfo.rci == 'y'">RCI Sign.</span>
                    <div>{{handleInfo.inspector}}{{handleInfo.inspectorNo}}</div>
                </div>
            </div>

            <div class="ui-list" ng-if="isEdit">
                <div class="ui-list-item ui-check-item">
                    <span>RII</span>
                    <div class="checkbox">
<!--                        <div class="item" ng-click="info.rii='y';info.rci='n'" ng-class="{active:info.rii=='y'}">YES</div>-->
<!--                        <div class="item" ng-click="info.rii='n'" ng-class="{active:info.rii=='n'}">NO</div>-->
                        <div class="item" ng-click="doAlert()" ng-class="{active:info.rii=='y'}">YES</div>
                        <div class="item" ng-click="doAlert()" ng-class="{active:info.rii=='n'}">NO</div>
                    </div>
                </div>
                <div class="ui-list-item ui-check-item" ng-if="info.rii == 'n'">
                    <span>RCI</span>
                    <div class="checkbox">
<!--                        <div class="item" ng-click="info.rci='y'" ng-class="{active:info.rci=='y'}">YES</div>-->
<!--                        <div class="item" ng-click="info.rci='n'" ng-class="{active:info.rci=='n'}">NO</div>-->
                        <div class="item" ng-click="doAlert()" ng-class="{active:info.rci=='y'}">YES</div>
                        <div class="item" ng-click="doAlert()" ng-class="{active:info.rci=='n'}">NO</div>
                    </div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility" ng-if="(info.rii == 'y')"></div>
            </div>

            <div class="ui-list" ng-if="isEdit && (info.rii.toUpperCase()=='Y' || info.rci.toUpperCase()=='Y')">

                <div class="ui-list-item select-person-wrap">
                    <span class="name" ng-if="info.rii == 'y'">RII Sign.<span class="require">*</span></span>
                    <span class="name" ng-if="info.rci == 'y'">RCI Sign.<span class="require">*</span></span>
                    <div class="ipt" style="position:relative;">
                        <div class="zhezhao"></div>
                        <select-person person-info="info.inspector"></select-person>
                    </div>
                </div>
            </div>

            <!--<oil-ewis oil-dto="oilDTO" ewis-dto="ewisDTO" edit="edit"-->
            <!--is-has-oil="isHasOil" is-has-ewis="isHasEwis"></oil-ewis>-->
            <oil-ewis  edit="isEdit"
                       ac-reg="handleInfo.acReg"
                       is-has-ewis="handleInfo.isHasEwis" ewis-show="showEwis"
                       ewis-state="ewisState" ewis-dto="handleInfo.ewisDTO"
                       ewis-index="selectedEwisIndex" ewis-info="ewisInfo"
                       is-has-oil="handleInfo.isHasOil" oil-show="showOil"
                       oil-state="oilState" oil-dto="handleInfo.oilDTO"
                       oil-index="selectedOilIndex" oil-info="oilInfo"
            ></oil-ewis>

            <!--故障报告-->
            <div class="ui-list-tb" ng-if="!isEdit">
                <div class="title">
                    <div>故障报告(Chinese)</div>
                </div>
                <div><p class="ui-remark">{{handleInfo.faultReportChn}}&nbsp;</p></div>
            </div>
            <div class="ui-list" ng-if="isEdit">
                <div class="ui-list-item ui-textarea-item">
                    <span>故障报告(Chinese) <span class="require">*</span></span>
                    <div class="textarea" ng-if="isEdit">
                    <textarea name="faultReportChn" ng-model="info.faultReportChn" required placeholder="处理措施"
                              cols="30" maxlength="500"
                              rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Fault Report(Engish)<span class="require" ng-if="isEdit">*</span></span>
                    <div class="textarea" ng-if="isEdit">
                    <textarea name="faultReportEng" ng-model="info.faultReportEng" placeholder="Taken Action"
                              required  cols="30" maxlength="500" rows="10"></textarea>
                    </div>
                    <div ng-if="!isEdit" style="background:#f3f3f3">
                        <p class="ui-remark">{{handleInfo.faultReportEng}}&nbsp;</p>
                    </div>
                </div>
            </div>

            <!--处理措施-->
            <div class="ui-list-tb" ng-if="!isEdit">
                <div class="title">
                    <div>处理措施</div>
                    <div  style="overflow: visible">
                        <div class="btn" style="position: relative" ng-click="faultHandleFile()">
                            <i ng-if="showFileIdentifer" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                            查看图片记录
                        </div>
                    </div>
                </div>
                <div><p class="ui-remark">{{handleInfo.action.takenActionChn}}&nbsp;</p></div>
            </div>
            <div class="ui-list-tb" ng-if="!isEdit">
                <div class="title">
                    <div>无照片备注</div>
                </div>
                <div><p class="ui-remark">{{handleInfo.action.mechanicNoPhotoRemark}}&nbsp;</p></div>
            </div>
            <div class="ui-list" ng-if="isEdit">
                <div class="ui-list-item ui-textarea-item">
                    <span>处理措施 <span class="require">*</span></span>
                    <div class="textarea" ng-if="isEdit">
                    <textarea name="takenActionChn" ng-model="info.takenActionChn" required placeholder="处理措施"
                              cols="30" maxlength="500"
                              rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Taken Action<span class="require" ng-if="isEdit">*</span></span>
                    <div class="textarea" ng-if="isEdit">
                    <textarea name="takenActionEng" ng-model="info.takenActionEng" placeholder="Taken Action"
                              required  cols="30" maxlength="500" rows="10"></textarea>
                    </div>
                    <div ng-if="!isEdit" style="background:#f3f3f3">
                        <p class="ui-remark">{{handleInfo.action.takenActionEng}}&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="ui-list-tb" ng-if="!isEdit">
                <div class="title">
                    <div>必/互检记录</div>
                    <div style="overflow: visible">
                        <div style="position: relative" class="btn" ng-click = "$parent.$root.go('searchFault.faultClose.fileRecord','',{imgArr:handleInfo.apsAttachmentList})">
                            <i ng-if="handleInfo.apsAttachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                            查看图片记录
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-list-tb" ng-if="!isEdit">
                <div class="title">
                    <div>必/互检无照片备注</div>
                </div>
                <div><p class="ui-remark">{{handleInfo.action.inspectorNoPhotoRemark}}&nbsp;</p></div>
            </div>


            <div ng-if="isEdit&&toInfo&&toInfo.totroubleShootings" class="to-title">录入TO</div>
            <div ng-if="isEdit&&toInfo&&toInfo.totroubleShootings" class="cont">
                <div class="ui-list" ng-repeat="to in toInfo.totroubleShootings">
                    <div class="ui-list-item ui-textarea-item">
                        <span>{{to.step}}、{{to.suggestion}} </span><span class="red">*</span>
                        <textarea name="tacke{{$index}}" ng-model="toInfo.totroubleShootings[$index].remark" required
                                  cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="cont">
                <div class="ui-list" ng-if="isEdit || !isEdit && handleInfo.remark">
                    <div class="ui-list-item ui-textarea-item">
                        <span>Remark</span>
                        <div class="textarea" ng-if="isEdit">
                        <textarea name="Remark" ng-model="info.remark" cols="30"
                                  rows="10"></textarea>
                        </div>
                        <div ng-if="!isEdit">
                            <p class="ui-remark">{{handleInfo.remark}}</p>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <img-select img-arr="imgInfo.imgArr" file-arr="imgInfo.fileArr" attachvo="imgInfo.attachvo" del-img-id="imgInfo.delImgId"
                                ng-if="isEdit"></img-select>
                </div>
                <div class="ui-list" ng-if="isEdit">
                    <div class="ui-list-item ui-textarea-item">
                        <span>无照片备注</span>
                        <div class="textarea" ng-if="isEdit">
                    <textarea name="takenActionChn" ng-model="info.mechanicNoPhotoRemark" placeholder="无照片备注"
                              cols="30" maxlength="500"
                              rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui-edit" ng-if="!isEdit&&faultInfo.status.toUpperCase()==='O' || faultInfo.status.toUpperCase()==='M'">
<!--                    <div class="add-cc-btn" ng-if="handleInfo.tlbNo"-->
<!--                         ng-click="$parent.$root.go('cc', 'slideLeft',-->
<!--                     {defectInfo: faultInfo, tlbId: handleInfo.tlbId, tlbNo: handleInfo.tlbNo, docNo: handleInfo.tlbNo, docType: 'tlb'})">-->
<!--                        <p><i class="icon-add-cc"></i><span>Add CC</span></p>-->
<!--                    </div>-->
                    <div class="add-cc-btn" ng-if="handleInfo.tlbNo"
                         ng-click="$parent.$root.go('newcc', 'slideLeft',
                     {defectInfo: faultInfo, tlbId: handleInfo.tlbId, tlbNo: handleInfo.tlbNo, docNo: handleInfo.tlbNo, docType: 'tlb'})">
                        <p><i class="icon-add-cc"></i><span>Add CC</span></p>
                    </div>
                    <div ng-click="changeEdit()"><p><i class="icon-edit"></i><span>编辑</span></p></div>
                    <div ng-show="faultInfo.status.toUpperCase()==='O' && !handleInfo.tlbNo" ng-click="deleteHandle(handleInfo.actionId)"><p><i class="icon-del"></i><span>删除</span></p></div>
                </div>


                <!--&lt;!&ndash;ccNo信息 &ndash;&gt;-->
                <!--<div class="ccno-info" ng-if="!isEdit">-->
                    <!--<div class="ccno-btn" ng-class="{'shake': longTouched && cc.middleStatus == 'O'}" ng-repeat="cc in ccList | filter: {tlbId: handleInfo.tlbId}" >-->
                    <!--<span  ng-touchstart="ccTouchstart()" ng-touchend="ccTouchend()" ng-click="goAddOrDetail(cc, handleInfo, faultInfo)">-->
                        <!--CC No. {{cc.ccNo || 'view' + ($index + 1)}}-->
                    <!--</span>-->
                        <!--<i class="ui-del cc-del" ng-if="cc.middleStatus == 'O'" ng-show="longTouched" ng-click="delCcno(cc.id)"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--ccNo信息 -->
                <div class="ccno-info" ng-if="!isEdit">
                    <div class="ccno-btn" ng-class="{'shake': longTouched && cc.middleStatus == 'O'}" ng-repeat="cc in ccList | filter: {tlbId: handleInfo.tlbId}" >
                    <span  ng-touchstart="ccTouchstart()" ng-touchend="ccTouchend()"
                           style="font-size: .53rem;border-radius: 1rem"
                           ng-click="goAddOrDetail(cc, handleInfo, faultInfo)"  >
                        CC No.{{cc.ccNo || 'view' + ($index + 1)}}
                        <i ng-if="cc.middleStatus != 'C'">待提交</i>
                        <i ng-if="cc.middleStatus == 'C' && cc.status =='n'">待确认</i>
                        <i ng-if="cc.middleStatus != 'C' && cc.status =='y'">已确认</i>
                    </span>

                        <!--<i class="ui-del cc-del" ng-if="cc.middleStatus == 'O'" ng-show="longTouched" ng-click="delCcno(cc.id)"></i>-->
                    </div>
                </div>

                <div class="ui-container" ng-if="isEdit">
                    <div>
                        <button class="ui-submit"

                                ng-class="{'ui-disabled':!addFaultHandle.$valid||
                                handleInfo.isHasEwis ==''||handleInfo.isHasOil=='' || (handleInfo.isHasEwis=='y' && handleInfo.ewisDTO.length==0)||(handleInfo.isHasOil == 'y'&& handleInfo.oilDTO.length==0)  ||
                    (faultInfo.rii.toUpperCase()=='Y'&&info.inspector.diffName==true)||
                    (info.tecnician.diffName==true) || (info.dmStatus ==0 && !info.dm )}"

                                ng-disabled="!addFaultHandle.$valid||
                                handleInfo.isHasEwis ==''||handleInfo.isHasOil=='' || (handleInfo.isHasEwis=='y' && handleInfo.ewisDTO.length==0)||(handleInfo.isHasOil == 'y'&& handleInfo.oilDTO.length==0)||
                    (faultInfo.rii.toUpperCase()=='Y'&&info.inspector.diffName==true)||
                    (info.tecnician.diffName==true) || (info.dmStatus == 0 && !info.dm)" type="submit">提交数据
                        </button>
                    </div>
                    <div>
                        <div class="ui-submit" ng-click="cancelEdit()">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-transclude></ng-transclude>
    <ewis ac-reg="handleInfo.acReg" ng-show="showEwis" ewis-show="showEwis" state="ewisState" ewis-dto="handleInfo.ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="isEdit"></ewis>
    <oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="handleInfo.oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="isEdit"></oil>

</div>