
<div class="d-faultCC">
    <div class="ui-list">
        <div class="ui-list-item ui-ipt-item disabled">
            <span>CC No. </span>
            <div ng-bind="ccInfo.ccNo"></div>
        </div>
        <div class="ui-list-item ui-ipt-item disabled">
            <span>Date Time.</span>
            <div ng-bind="ccInfo.completeDate|formatDate"></div>
        </div>
    </div>
    <div class="ui-list">
        <div class="ui-list-item ui-ipt-item disabled" ng-switch="ccInfo.ccType">
            <span>Type. </span>
            <div ng-switch-when="1">Remove</div>
            <div ng-switch-when="2">Install</div>
            <div ng-switch-when="3">Replace</div>
            <div ng-switch-when="4">Swap</div>
        </div>
        <div class="ui-list-item ui-ipt-item visibility"></div>
    </div>
    <div ng-switch="ccInfo.ccType.toString()">
        <div ng-switch-when="1">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="ccInfo.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.offPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{ccInfo.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="next" ng-if="ccInfo.componentCCSubSet.length>0">
                <div class="ui-list">该部件存在以下下级部件一起拆换：</div>
                <div>
                    <table border="0" class="ui-table ccdetail-table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>P/N</td>
                            <td>S/N</td>
                            <td>Position</td>
                            <td>是否随上级母件一起拆下</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="n in ccInfo.componentCCSubSet">
                            <td ng-bind="n.name"></td>
                            <td ng-bind="n.offPn"></td>
                            <td ng-bind="n.offSn"></td>
                            <td ng-bind="n.offPosition"></td>
                            <td>{{n.flag.toUpperCase()=='Y'?'YES':'NO'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-switch-when="2">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="ccInfo.onName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.onPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{ccInfo.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="3">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="ccInfo.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.offPosition"></div>
                </div>
            </div>
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.onPosition"></div>
                </div>
            </div>
            <div class="next" ng-if="ccInfo.componentCCSubSet.length>0">
                <div class="ui-list">该部件存在以下下级部件一起拆换：</div>
                <div>
                    <table border="0" class="ui-table ccdetail-table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>P/N</td>
                            <td>S/N</td>
                            <td>Position</td>
                            <td>是否随上级母件一起拆下</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="n in ccInfo.componentCCSubSet">
                            <td ng-bind="n.name"></td>
                            <td ng-bind="n.offPn"></td>
                            <td ng-bind="n.offSn"></td>
                            <td ng-bind="n.offPosition"></td>
                            <td>{{n.flag.toUpperCase()=='Y'?'YES':'NO'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{ccInfo.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="4">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="ccInfo.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.offPosition"></div>
                </div>
            </div>
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>A/C.</span>
                    <div ng-bind="ccInfo.onAc"></div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility">
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="ccInfo.onName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="ccInfo.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="ccInfo.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="ccInfo.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="ccInfo.onPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                        <p class="ui-remark">{{ccInfo.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="btn pull-right" ng-click="ccFile()">查看图片记录</div>
    </div>