<form name="editTo">
    <div class="d-faultTO">
        <div class="ui-list-table" style="margin-bottom: 18px;">
            <div class="item">
                <span>TO No. </span>
                <div>{{toInfo.number==''?'View':toInfo.number}}</div>
            </div>
            <div class="item" ng-switch="toInfo.editStatus.toString()">
                <span>Edit Status.</span>
                <div ng-switch-when="1">Editing</div>
                <div ng-switch-when="2">Checking</div>
                <div ng-switch-when="3">Approving</div>
                <div ng-switch-when="4">Approved</div>
                <div ng-switch-when="5">Active</div>
                <div ng-switch-when="6">Superseded</div>
                <div ng-switch-when="7">Cancelling</div>
                <div ng-switch-when="8">Canceled</div>
                <div ng-switch-default>{{toInfo.editStatus}}</div>
            </div>
            <div class="item" ng-switch="toInfo.type.toString()">
                <span>Type.</span>
                <div ng-switch-when="1">排故类</div>
                <div ng-switch-when="2">普查类</div>
                <div ng-switch-when="3">飞机检查维护类</div>
                <div ng-switch-when="4">非维修生产任务类</div>
                <div ng-switch-default>{{toInfo.type}}</div>
            </div>
            <div class="item" ng-switch="toInfo.executionStatus.toString()">
                <span>Execution Status </span>
                <div ng-switch-when="1">open</div>
                <div ng-switch-when="2">process</div>
                <div ng-switch-when="3">complete</div>
                <div ng-switch-when="4">close</div>
                <div ng-switch-default>未知</div>
            </div>
            <div class="item">
                <span>Rev#</span>
                <div ng-bind="toInfo.revNo"></div>
            </div>
            <div class="item">
                <span>Skill</span>
                <div ng-bind="toInfo.skill"></div>
            </div>

            <div class="item" ng-switch="toInfo.feedbackRequests.toString()">
                <span>Feedback Requests</span>
                <div ng-switch-when="0">NO</div>
                <div ng-switch-when="1">YES</div>
                <div ng-switch-default>{{toInfo.feedbackRequests}}</div>
            </div>

            <div class="item" ng-switch="toInfo.sourceType.toString()">
                <span>Source Type</span>
                <div ng-switch-when="0">MCC</div>
                <div ng-switch-when="1">PPC</div>
                <div ng-switch-default>{{toInfo.sourceType}}</div>
            </div>

            <div class="item" ng-switch="toInfo.dm">
                <span>DM</span>
                <div ng-switch-when="y">Y</div>
                <div ng-switch-when="n">N</div>
                <div ng-switch-default> </div>
            </div>
        </div>
        <div class="ui-babel" ng-repeat="item in toInfo.totroubleShootings">
            <div class="ui-babel-title" ng-click="item.isShow=!item.isShow">
                <div class="name">Step{{item.step}}</div>
                <div class="name">STA: {{item.sta}}</div>
                <div class="cont" ng-class="{close:item.isShow}"><i class="icon-Shape" style="margin-left: 22px;"></i></div>
            </div>
            <div class="ui-babel-body" ng-show="item.isShow">
                <div class="to-item" style="background: #f8f8f8;">
                    <div class="to-item-title">
                        <div>Suggestion</div>
                        <div ng-bind="item.engineNameSn"></div>
                        <div ng-bind="item.editDate|formatDate"></div>
                    </div>
                    <div class="to-item-cont" ng-bind-html="item.suggestion"></div>
                </div>
                <div class="to-item" style="background: #f8f8f8;">
                    <div class="to-item-title">
                        <div>Action&FeedBack</div>
                        <div ng-bind="item.mechNameSn"></div>
                        <div ng-bind="item.mechDate|formatDate"></div>
                    </div>
                    <div class="to-item-cont" ng-show="!editFeedback" ng-bind-html="item.actionAndFeedback"></div>
                <textarea ng-show="editFeedback" ng-model="item.actionAndFeedback"
                          required></textarea>
                </div>
            </div>
        </div>
        <div class="ui-edit"
             ng-show="!editFeedback && faultInfo.status == 'O'
                  && toInfo.totroubleShootings.length && toInfo.totroubleShootings[0].actionAndFeedback">
            <div ng-click="fnEditFeedback()">
                <p><i class="icon-edit"></i><span>编辑</span></p>
            </div>
        </div>

        <div class="ui-container" ng-show="editFeedback">
            <div>
                <button class="ui-submit" ng-class="{'ui-disabled': !editTo.$valid}"
                        ng-click="submitData(toInfo.totroubleShootings)" ng-disabled="!editTo.$valid">提交</button>
            </div>
            <div>
                <div class="ui-submit" ng-click="cancelEditFeedback()">取消</div>
            </div>
        </div>
    </div>
</form>
