<div>
    <div class="fixed-search">
        <div class="main">
<!--            <div class="cont" moac-auto-focus="searchVal">-->
            <div class="cont">
                <i class="flow-sel" ng-click = "changetip()">{{searchName}}</i>
                <input type="text" ng-model="searchVal" name="searchVal" moac-ref="searchVal"
                       ng-attr-placeholder="{{placeholder}}"  ng-keypress="keyEvent($event)" style="padding: 0.2rem 2rem 0.2rem 0rem;"/>

            </div>
            <i  class="icon-maoc icon-flightSearch" ng-click="search()"></i>

        </div>
    </div>

</div>
