<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        <ng-transclude></ng-transclude>
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back','slideRight')" ng-show="!isFromNewfault">
            <i class="icon-maoc icon-back"></i>
        </div>
        <!--<div class="btn" ng-click="go('flightStatus.newfault','slideRight',{flight: faultFlight, tr: faultTr})" ng-if="isFromNewfault">-->
            <!--<i class="icon-maoc icon-back"></i>-->
        <!--</div>-->
    </div>
</div>