<div class="ui-select-image">
    <div class="img-item" ng-repeat="src in imgArr track by $index">
        <i ng-click="delCurUpload(src)" ng-if="isEdit"></i>
        <div ng-click="showBig(src)">
            <img ng-src="{{src}}">
        </div>
    </div>

    <!--<div ng-if="isEdit && imgArr.length < maxImgCount">-->
    <!--<div ng-if="isEdit">-->
        <!--<div class="item add-file" ng-if="isApiCloud">-->
            <!--<select style="width: 4.8rem;height: 4.8rem;opacity:0"-->
                    <!--ng-file-select="$parent.fileSelect($parent.selectImgItem, $event)" ng-model="$parent.selectImgItem">-->
                <!--<option value=""></option>-->
                <!--<option value="camera">拍照</option>-->
                <!--<option value="library">照片图库</option>-->
            <!--</select>-->
            <!--&lt;!&ndash;<input type="file" accept="image/*" multiple="multiple" ng-file-select="fileSelect($files, $event)"/>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="item add-file" ng-show="!isApiCloud">-->
            <!--<input type="file" accept="image/*" multiple="multiple" nrc-file-select="fileSelect($files, $event)"/>-->
        <!--</div>-->
    <!--</div>-->

    <div class="img-item add-file" ng-if="isApiCloud && isEdit && imgArr.length < maxImgCount">
        <img src="dist/images/camera.png"/>
        <select style="width: 4.8rem;height: 4.8rem;opacity:0"
                ng-file-select="$parent.fileSelect($parent.selectImgItem, $event)" ng-model="$parent.selectImgItem">
            <option value=""></option>
            <option value="camera">拍照</option>
            <option value="library">照片图库</option>
        </select>
        <!--<input type="file" accept="image/*" multiple="multiple" ng-file-select="fileSelect($files, $event)"/>-->
    </div>
    <div class="img-item add-file" ng-show="!isApiCloud && isEdit && imgArr.length < maxImgCount">
        <img src="dist/images/camera.png"/>
        <input type="file" accept="image/*" multiple="multiple" nrc-file-select="fileSelect($files, $event)"/>
    </div>

</div>