<div class="ui-select-image">
    <div class="img-item" ng-repeat="src in imgArray track by $index">
        <i ng-click="delCurUpload(src)" ng-if="isEdit"></i>
        <div ng-click="showBig(src)">
            <img ng-src="{{src}}">
        </div>
    </div>

    <div class="img-item add-file" ng-show = "isEdit">
        <img src="dist/images/camera.png"/>
        <input type="file" accept="image/*"  multiple="multiple" ng-show="!android" nrc-file-select="fileSelect($files, $event)"/>
        <span style="opacity: 0;position: absolute;left: 0;top: 0;display: inline-block;width: 100%;height: 100%"  ng-show="android" android-file-select="fileSelect($files, $event)"></span>
    </div>

</div>