<div>

    <!--ewis标题行-->
    <div class="ui-list">
        <div class="ui-list-item ui-check-item">
            <span>EWIS<span class="red">*</span></span>
            <!--编辑状态-->
            <div class="checkbox" ng-if="edit">
                <div class="item" ng-click="ewisChanged(1)" ng-class="{active:isHasEwis=='y'}">YES</div>
                <div class="item" ng-click="ewisChanged(2)" ng-class="{active:isHasEwis=='n'}">NO</div>
            </div>
            <!--非编辑状态-->
            <div class="checkbox" ng-if="!edit">
                <div class="item" ng-class="{active:isHasEwis=='y'}">YES</div>
                <div class="item" ng-class="{active:isHasEwis=='n'}">NO</div>
            </div>
        </div>
        <div class="ui-list-item ui-check-item" >
            <div class="spil-oil-wraper" ng-if="isHasEwis =='y' && edit" ng-click="goToAddEwis($event,{},0, 0)">
                <i class="icon-add-cc"></i>
                <span>新增EWIS</span>
            </div>
        </div>
    </div>
    <!--ewis列表-->
    <div class="ui-list oil-list">
        <div class="ui-list-item">
            <div ng-if="isHasEwis == 'y'">
                <!--<div>-->
                <div class="list-content">
                    <ul class="list-group oil-li-wrapper">
                        <!--编辑状态-->
                        <li class="list-group-item oil-li" ng-if="edit" swipe-del ng-repeat="ewisItem in ewisDto"
                        >
                            <div class="delete" ng-show="true" translate="delete"
                                 ng-click="swipeDeleteEwis($event,$index)"></div>
                            <div ng-click="goToAddEwis($event,ewisItem,1,$index)" class="oil-float-wraper">
                                <div class="oil-li-left">
                                    <span>{{ewisItem.componentName || ewisItem.componentType}}</span>
                                </div>
                            </div>

                        </li>
                        <!--非编辑状态-->
                        <li class="list-group-item oil-li-disabled" ng-if="!edit" ng-repeat="ewisItem in ewisDto track by $index"
                        >
                            <div ng-click="goToAddEwis($event,ewisItem,2,$index)" class="oil-float-wraper">
                                <div class="oil-li-left">
                                    {{ewisItem.componentName || ewisItem.componentType}}
                                &nbsp;</div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--油液渗漏标题行-->
    <div class="ui-list">
        <div class="ui-list-item ui-check-item">
            <span>是否有油液渗漏<span class="red">*</span></span>
            <div class="checkbox" ng-if="edit">
                <div class="item" ng-click="spilOilChanged(1)" ng-class="{active:isHasOil=='y'}">YES</div>
                <div class="item" ng-click="spilOilChanged(2)" ng-class="{active:isHasOil=='n'}">NO</div>
            </div>
            <div class="checkbox" ng-if="!edit">
                <div class="item" ng-class="{active:isHasOil=='y'}">YES</div>
                <div class="item" ng-class="{active:isHasOil=='n'}">NO</div>
            </div>
        </div>
        <div class="ui-list-item ui-check-item" >
            <div class="spil-oil-wraper" ng-if="isHasOil =='y' && edit" ng-click="goToAddSpilOil($event,{},0,0)">
                <i class="icon-add-cc"></i>
                <span>新增油液渗漏处</span>
            </div>
        </div>
    </div>
    <!--油液渗漏列表-->
    <div class="ui-list oil-list">
        <div class="ui-list-item">
            <div ng-if="isHasOil == 'y'">
                <!--<div>-->
                <div class="list-content">
                    <ul class="list-group oil-li-wrapper">
                        <!--编辑状态-->
                        <li class="list-group-item oil-li" ng-if="edit" swipe-del ng-repeat="spilItem in oilDto"
                        >
                            <div class="delete" ng-show="true" translate="delete"
                                 ng-click="swipeDeleteOil($event,$index)"></div>

                            <div ng-click="goToAddSpilOil($event,spilItem,1,$index)" class="oil-float-wraper">
                                <div class="oil-li-left">
                                    <section  ng-switch="spilItem.oilComponent">
                                        <span ng-switch-when="1">液压油</span>
                                        <span ng-switch-when="2">燃油</span>
                                        <span ng-switch-when="3">滑油</span>
                                        <span ng-switch-default></span>
                                    </section>
                                &nbsp;</div>
                                <!--<div class="oil-li-right">-->
                                    <!--<span>{{spilItem.oilRecord}}</span>-->
                                <!--</div>-->
                            </div>

                        </li>
                        <!--非编辑状态-->
                        <li class="list-group-item oil-li-disabled" ng-if="!edit" ng-repeat="spilItem in oilDto"
                        >
                            <div ng-click="goToAddSpilOil($event,spilItem,2,$index)" class="oil-float-wraper">
                                <div class="oil-li-left">
                                    <section  ng-switch="spilItem.oilComponent">
                                        <div ng-switch-when="1">液压油</div>
                                        <div ng-switch-when="2">燃油</div>
                                        <div ng-switch-when="3">滑油</div>
                                        <div ng-switch-default></div>
                                    </section>
                                &nbsp;</div>
                                <!--<div class="oil-li-right">-->
                                    <!--<span>{{spilItem.oilRecord}}</span>-->
                                <!--</div>-->
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>