<div class="oil-background">
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">新增油液渗漏处
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="oilBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="scrollable-content">-->
    <div class="oil-scroll">
        <form name="myForm" novalidate>
            <div class="oil-form-wrapper">
                <div class="oil-add-li" ng-if="isEdit">
                    <span class="tail-eng-title">选择燃油类型<span class="red">*</span></span>
                    <div class="inline-block display-result">
                        <select ng-model="oilInfo.oilComponent" ng-change="oilTypeChanged()" required>
                            <option ng-value="oilTypeItem.number"
                                    ng-selected="oilInfo.oilComponent - 1==$index"
                                    ng-repeat="oilTypeItem in info.oilTypes track by $index"
                            >{{oilTypeItem.name}}</option>
                        </select>
                    </div>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="oil-add-li" ng-if="!isEdit">
                    <span class="tail-eng-title">选择燃油类型</span>
                    <div class="inline-block display-result">
                        <section ng-if="!isEdit" ng-switch="oilInfo.oilComponent">
                            <div ng-switch-when="1">液压油</div>
                            <div ng-switch-when="2">燃油</div>
                            <div ng-switch-when="3">滑油</div>
                        </section>
                    </div>
                </div>


                <div class="oil-add-li">
                    <span class="tail-eng-title">油液渗漏数值记录</span>
                    <input ng-if="isEdit" class="oil-input" ng-model="oilInfo.oilRecord" type="text" placeholder="请输入油液渗漏数值">
                    <div class="inline-block" ng-if="!isEdit">
                        {{oilInfo.oilRecord}}
                    </div>
                </div>

                <div ng-if="isEdit" class="oil-add-li">
                    <span class="tail-eng-title">油液渗漏部件<span class="red">*</span></span>
                    <div class="inline-block mult-display-result-select">
                        <select  multiple="true"
                                 ng-model="info.selectedLocations"
                                 ng-change="selectedLocationChanged()" required
                        >
                            <option value="{{oilLocationItem.number}}"
                                    ng-selected="oilLocationItem.selected"
                                    ng-repeat="oilLocationItem in info.locations track by $index">

                                {{oilLocationItem.location}}
                            </option>
                        </select>
                    </div>
                    <div class="inline-block mult-display-result">
                        <label class="oil-locaion" ng-repeat="item in info.selectedLocationItems track by $index">{{item.location}}</label>
                    </div>
                    <i class="fa fa-angle-down"></i>
                </div>

                <div ng-if="!isEdit" class="oil-add-li">
                    <span class="tail-eng-title">油液渗漏部件</span>
                    <div class="inline-block display-result">
                        <span ng-repeat="item in info.selectedLocationItems track by $index">
                            {{item.location}}<span ng-if="info.selectedLocationItems.length-1 !=$index">、</span>
                        </span>
                    </div>
                </div>

                <div class="oil-add-li" ng-if="info.showOtherTxt && isEdit">
                    <span class="tail-eng-title">其它油液渗漏部件<span class="red">*</span></span>
                    <input class="oil-input" ng-model="oilInfo.otherDescription" type="text" required
                           placeholder="请输入其它油液渗漏部件">
                </div>

                <div class="oil-add-li" ng-if="info.showOtherTxt && !isEdit">
                    <span class="tail-eng-title">其它油液渗漏部件</span>
                    <div class="inline-block">
                        {{oilInfo.otherDescription}}
                    </div>
                </div>

                <div class="oil-add-li" ng-if="isEdit">
                    <span class="tail-eng-title">油液渗漏点具体位置</span>
                    <input class="oil-input" ng-model="oilInfo.oilLeakPosition" type="text" placeholder="请输入具体位置">
                </div>
                <div class="oil-add-li" ng-if="!isEdit">
                    <span class="tail-eng-title">油液渗漏点具体位置</span>
                    <div class="inline-block">{{oilInfo.oilLeakPosition}}</div>
                </div>

                <div>
                    <div class="tail-eng-title">油液渗漏具体图片（最多5张）<span class="red">*</span></div>
                    <div class="p-image">
                        <img-sel img-arr="imgArr" file-arr="fileArr" del-img-id="delImgId" is-api-cloud="isApiCloud"
                                 attachvo="attachvo" is-edit="isEdit" max-img-count="maxImgCount" del-img-id="delImgId"></img-sel>
                    </div>
                </div>

                <div class="button-wrapper" ng-if='isEdit'>
                    <button class="submitAddMR ui-disabled"
                            ng-click="oilSure()"
                            ng-class="{'orange-button': myForm.$valid && imgArr.length > 0}"
                            ng-disabled="!myForm.$valid || imgArr.length == 0"
                    >
                        确定
                    </button>

                </div>

            </div>


        </form>

    </div>

</div>