<div class="ui-search mr-search-head search-btn-group">
    <div class="main">
        <i class="icon-maoc icon-flightSearch" ng-click="search()"></i>
        <div class="cont" moac-auto-focus="searchVal" >
            <input type="text"
                   ng-model="searchVal"
                   name="searchVal"
                   moac-ref="searchVal"
                   ng-attr-placeholder="{{placeholder}}"
                   ng-keypress="keyEvent($event)"
                   style="padding: 0 0rem 0 0rem;width: 100%;margin-left: 1.7rem;text-align: left; "/>
            <div class="div-accurate">
                <label  for="accurate" ng-class="{'accurate-label': isAccurate, 'accurate-label-nocheck': !isAccurate }"></label>
                <input type="checkbox" ng-model="isAccurate" id="accurate">精确搜索
            </div>
        </div>
        <!--<div class="btn" ng-click="search()"><i class="icon-search"></i></div>-->

    </div>

</div>