<div class="datebox-wrap" style="width: 100%;height: 1.7rem;">
    <div class="approver-title" style="float: left;width: 22%;vertical-align: middle">ATA<span class="red">*</span></div>
    <input type="tel"  ata-input-title name="ata" style="float: right;width:77%;" class="form-control search-textbox framecolor"
           ng-paste="searchPartNoTitle(ataInfo)"
           ng-blur="focusLost()"
           ng-keyup="setPartNo($event)"
           ng-model="ataInfo"
           ng-disabled="isDisable"
           maxlength="4"
           placeholder="{{point ? point :'请选择ATA'}}"
           required
    />
    <span class="loading-approver" ng-show="loadPartNo">
        <i class="fa fa-spin loading-spinner">
            <img src="dist/images/loading.png" width="60%">
        </i>
    </span>
    <ul ng-show="dropdown && partNoList.length" class="dropdown-menu mr-dropdown" style="z-index:99999999;overflow:scroll;overflow-x:hidden;">
        <li ata-info-select-title  ng-repeat="item in partNoList">
            <a>{{ item.label }}</a>
        </li>
    </ul>

    <input type="hidden" ng-model="ataInfo"/>
</div>