<div class="datebox-wrap">
    <div class="approver-title" style="float: left">ATA<span class="red">*</span></div>
    <input type="tel" ata-input name="ata" class="form-control search-textbox framecolor"
           ng-paste="searchPartNo(ataInfo)"
           ng-blur="dropdown = false"
           ng-keyup="setPartNo($event)"
           ng-model="ataInfo"
           ng-disabled="isDisable"
           maxlength="4"
           placeholder="请输入"
           required
    />
    <span class="loading-approver" ng-show="loadPartNo">
        <i class="fa fa-spin loading-spinner">
            <img src="dist/images/loading.png" width="60%">
        </i>
    </span>
    <ul ng-show="dropdown && partNoList.length" class="dropdown-menu mr-dropdown" style="z-index:99999999;">
        <li ata-info-select  ng-repeat="item in partNoList">
            <a>{{ item}}</a>
        </li>
    </ul>

    <input type="hidden" ng-model="ataInfo"/>
</div>