
<div class="datebox-wrap pad-style" style="width: 100%">
    <div class="approver-title" ng-hide="$parent.hideApproverTitle">Zone<span class="red">*</span></div>
    <input type="text" on-input class="form-control search-textbox framecolor"
           placeholder="Zone"
           ng-paste="getZone()"
           ng-blur="checkZone($event)"
           ng-keyup="getZone()"
           ng-change="getZone()"
           ng-model="zoneInfo.zone_no"
           required />
    <span class="loading-approver" ng-show="loadApprover">
						<i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
    <span class="red require-date-err" ng-show="diffName" translate="mr.inputNameErr"></span>
    <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
    <ul ng-show="dropdownStation && zoneList.length" class="dropdown-menu mr-dropdown">

        <li ng-repeat="item in zoneList" class="station-li" ng-touchstart="startSelect()"
            ng-touchend="clickSelectStation(item.zone_id,item.zone_no)">
            <a>{{ item.zone_no}}&nbsp;&nbsp;{{item.zone_area}}</a>
        </li>
    </ul>

</div>