<div class="datebox-wrap pad-style">
    <div class="approver-title" ng-hide="$parent.hideApproverTitle">{{title}}<span class="red" ng-if="isRequired">*</span></div>
    <input type="text" on-input class="form-control search-textbox framecolor"
           ng-paste="searchNameOrId(nameAndId)"
           ng-class="{'fixedType' : fixedType}"
           ng-blur="blurEvent($event)" ng-keyup="setNameId($event)" ng-change="changeEvent($event)"
           ng-model="personInfo.nameAndId"
           ng-attr-placeholder="{{holderValue}}" ng-required="isRequired" />
					<span class="loading-approver" ng-show="loadApprover">
						<i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
    <span class="red require-date-err" ng-show="diffName" translate="mr.inputNameErr"></span>
    <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
    <ul ng-show="dropdown && workInfoList.length" class="dropdown-menu mr-dropdown">
        <li work-info-select ng-repeat="item in workInfoList">
            <a>{{ item.name }} {{item.sn}}</a>
        </li>
    </ul>

    <input type="hidden" ng-model="personInfo.approverName" />
    <input type="hidden" ng-model="personInfo.approverSn" />
    <input type="hidden" ng-model="personInfo.approverId" />

</div>