<div class="mr-station">
    <div class="approver-title" ng-if="!title">航站/飞机仓</div>
    <div class="datebox-wrap">
        <input type="text" on-input-station class="form-control search-textbox"
               placeholder="三字码/飞机仓"
               ng-paste="getStation()"
               ng-keyup="getStation()"
               ng-blur="checkStation($event)"
               ng-model="stationInfo.station" required ng-readonly="stationInfo.is_bool">
					<span class="loading-approver" ng-show="loadStation">
						<i class="fa fa-spin loading-spinner">
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
        <!--<span class="red require-date-err ng-scope ng-hide" ng-show="diffName" translate="mr.inputNameErr"></span>-->
        <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
        <ul ng-if="!isAndroid" ng-show="dropdownStation && stationList.length" class="dropdown-menu mr-dropdown" style="min-width: 5.5rem">
            <li ng-repeat="item in stationList" class="station-li" ng-touchstart="startSelect()"
                ng-touchend="clickSelectStation(item.location,item.ac,item.description,item.storeLoc)" ng-touchmove="scrollStationList()">
                <a style="padding: .3rem;font-size: .67rem">{{ (item.location || item.ac) + '(' + item.description + ')'}}</a>
            </li>
        </ul>
        <ul ng-if="isAndroid" ng-show="dropdownStation && stationList.length" class="dropdown-menu mr-dropdown" style="min-width: 5.5rem">
            <li ng-repeat="item in stationList" class="station-li"
                ng-click="clickSelectStation(item.location,item.ac,item.description,item.storeLoc)">
                <a style="padding: .3rem;font-size: .67rem">{{ (item.location || item.ac) + '(' + item.description + ')'}}</a>
            </li>
        </ul>

        <!--<input type="hidden" ng-model="mrInfo.approverName" class="ng-pristine ng-untouched ng-valid needsclick ng-empty">-->
        <!--<input type="hidden" ng-model="mrInfo.approverSn" class="ng-pristine ng-untouched ng-valid needsclick ng-empty">-->

    </div>
</div>