<div class="datebox-wrap mr-station" style="margin-left: 0">
    <div class="approver-title" ng-if="!title" style="margin: 0">STA</div>
    <div class="datebox-wrap" style="margin: 0;border: none; width: calc(100% - 50px)">
        <input type="text" on-input-station class="form-control search-textbox" style="width: 100%;text-transform: uppercase"
               placeholder="三字码"
               ng-paste="getStation()"
               ng-keyup="getStation()"
               ng-blur="checkStation($event)"
               ng-model="stationInfo.station" required ng-disabled="stationInfo.item.length">
					<span class="loading-approver" ng-show="loadStation">
						<i class="fa fa-spin loading-spinner">
                            <img src="dist/images/loading.png" width="60%">
                        </i>
					</span>
        <!--<span class="red require-date-err ng-scope ng-hide" ng-show="diffName" translate="mr.inputNameErr"></span>-->
        <!--<span class="error yellow" ng-init='empty=false' ng-show="empty">搜索条件不能为空</span>-->
        <ul ng-if="!isAndroid" ng-show="dropdownStation && stationList.length" class="dropdown-menu mr-dropdown">
            <li  ng-repeat="item in stationList track by $index" class="station-li" ng-touchstart="startSelect()" ng-touchend="clickSelectStation(item)" ng-touchmove="scrollStationList()">
                <a>{{item}}</a>
            </li>
        </ul>
        <ul ng-if="isAndroid" ng-show="dropdownStation && stationList.length" class="dropdown-menu mr-dropdown">
            <li  ng-repeat="item in stationList track by $index" class="station-li"  ng-click="clickSelectStation(item)">
                <a>{{item}}</a>
            </li>
        </ul>

        <!--<input type="hidden" ng-model="mrInfo.approverName" class="ng-pristine ng-untouched ng-valid needsclick ng-empty">-->
        <!--<input type="hidden" ng-model="mrInfo.approverSn" class="ng-pristine ng-untouched ng-valid needsclick ng-empty">-->

    </div>
</div>