<div class="ui-sound-item" ng-repeat="item in uploadSoundArr">
    <div class="item" ng-click="playSound(item, $index)">
        <div ng-style="{width:(3+item.length/5)+'rem'}">
            <i class="icon-play" ng-show="!isPlay || lastPlayIndex != $index"></i>
            <img src="dist/images/shape@2x.gif" class="sound-gif"  ng-show="lastPlayIndex == $index && isPlay">
            <p ng-click="delete($index)"></p>
        </div>
        <span>{{item.length}}<sup>〃</sup></span>
    </div>
</div>