<div class="ui-sound" ng-show="isSound">
    <div class="main">
        <div class="sound-process" ng-class="{show:soundState}"></div>
        <div class="sound-block" ng-if="soundArr.length>0">
            <div class="ui-sound-item" ng-repeat="item in soundArr">
                <div class="item" ng-click="playSound(item , $index)">
                    <div ng-style="{width:(3+item.length/5)+'rem'}">
                        <i class="icon-play" ng-show="!isPlay || lastPlayIndex != $index"></i>
                        <img src="dist/images/shape@2x.gif" class="sound-gif" ng-show="lastPlayIndex == $index && isPlay">
                    </div>
                    <span>{{item.length}}<sup>〃</sup></span>
                </div>
            </div>
        </div>
        <div class="name">按住说话</div>
        <div class="cont">
            <div class="item">
                <div ng-if="soundArr.length<=0" class="btn" ng-click="changeSound()">
                    <i class="icon-Shape"></i>
                </div>
                <div class="btn" ng-if="soundArr.length>0" ng-click="cancelSound()">取消</div>
            </div>
            <div class="ht" ng-touchstart="soundTouchStart()" ng-touchend="soundTouchEnd()">
                <i class="icon-ht"></i>
            </div>
            <div class="item">
                <div class="btn" ng-if="soundArr.length>0" ng-click="saveSound()">上传</div>
            </div>
        </div>
    </div>
</div>