
<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center" translate="tool.record">
	</div>

	<div class="btn-group btn-group-left">
		<div class="btn" ng-click="go('back')">
			<i class="icon-maoc icon-back" ></i>
		</div>
	</div>
</div>
<div class="scrollable ng-scope">
	<div class="scrollable-content flight-detail-wrap">
		<div class="backup-airport no-data" ng-if="myRecordList && !myRecordList.length && !netWorkErr" no-data-load>
			<translate>tool.noData</translate>
	    </div>
		<div class="flight-wrap tool-wrap">
			
			<div class="pubFlightList" ng-repeat="myRecordInfo in myRecordList" on-finish-render-filters>
				<div class="first-row record-tool-name">  
					{{myRecordInfo.nameZhcn}}<span ng-hide="myRecordInfo.nameEnus=='N/A'"> {{myRecordInfo.nameEnus}}</span>
				</div>
				<div class=" clearfix second-row">
					<div class="pull-left tool-pn"> 
						PN:{{myRecordInfo.pn}}
					</div>
						
				</div>
				<div class="stock-third-row">
					<div class="pull-left tool-code">
						Code:{{myRecordInfo.code}}
					</div>
					<div class="pull-right tool-station">{{myRecordInfo.station}}</div>
				</div>
				<div class="record-fourth-throw">
					<div class="pull-left tool-size">Size:{{myRecordInfo.size}}</div>
					<div class="pull-right unify-position tool-num">
						{{myRecordInfo.qty}}{{myRecordInfo.unit}}
					</div>
				</div>
				<div class="last-row">
					<div class="pull-left record-machine-num">{{myRecordInfo.acReg}}</div>
					<div class="pull-right borrow-time">{{myRecordInfo.lendDate | date:'yyyy-MM-dd'}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
