<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{isEdit ? '编辑' : '新增APU使用记录'}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content fault p-newFault">
    <form name="myForm" novalidate>
        <div class="damage-draft-detail">
            <div class="section-1" style="font-size: .7rem">
                <div class="item clearfix" style="overflow: hidden;">
                    <span class="p-fl">时段：{{workType}}</span>
                    <span class="p-fr">使用时长：{{info.timeDif}}</span>
                </div>
                <div class="item" style="overflow: hidden;padding-right: 0">
                    <div class="title" style="width: 35%!important;">
                        <span class="">开启时间</span>
                        <span class="red">*</span>
                    </div>
                    <div class="right" style="width: 63%!important;overflow: hidden;text-align: right">
                        <div class="check-method">
                            <input style="padding-left:0;" ng-if="!android"   name="dateFound" type="datetime-local" class="fount-date form-control select-require-date framecolor padding-fixed" ng-model="info.startDate" step="1800">
                            <input style="padding-left:0;width: 12em" ng-if="android"   name="dateFound" type="datetime-local" class="fount-date"  ng-model="info.startDate" step="1800">
                        </div>
                        <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">

                    </div>
                </div>
                <div class="item" style="overflow: hidden;padding-right: 0">
                    <div class="title" style="width: 35%!important;">
                        <span class="">结束时间</span>
                        <!--<span class="red">*</span>-->
                    </div>
                    <div class="right" style="width: 63%!important;overflow: hidden;text-align: right">
                        <div class="check-method">
                            <input style="padding-left:0;" ng-if="!android"   name="dateFound" type="datetime-local" class="fount-date form-control select-require-date framecolor padding-fixed" ng-model="info.endDate" step="1800">
                            <input style="padding-left:0;width: 12em" ng-if="android"   name="dateFound" type="datetime-local" class="fount-date"  ng-model="info.endDate" step="1800">
                        </div>
                        <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">

                    </div>
                </div>
                <div class="textarea-item" ng-show="(workType == 'Po/F' && overFifteen)|| (workType == 'Pr/F' && overNinty) || workType == 'O/G'">
                    <div class="title" style="padding: 10px 0">
                        <span>备注</span>
                        <span class="red">*</span>
                    </div>
                    <div>
                        <textarea maxlength="200" ng-model="info.remark" placeholder="因为APU使用时长超过阈值，请填写超时原因（限200字）" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="save-button-section" style="margin-top: 5rem">
        <button style="border-radius: 10px" class="button-active" ng-click="submit()">
            {{isEdit ? '保存' : (isFirst ? showText : '添加记录')}}
        </button>
    </div>
</div>
