<!--Add MR-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        APU使用列表
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
    <div class="btn-group btn-group-right" ng-click="go('addOrEditApu','',{jobType:workType,apuInfo:apuInfo,isSec:true})">
        <div class="btn record-btn">
            <span class="record">添加</span>
        </div>
    </div>
</div>
<div class="scrollable-content">
    <div class="no-sv" ng-if="dataList.length == 0">
        <div>
            <!--<img src="dist/images/special-vehicle/no-sv.png">-->
            暂无APU信息
        </div>
    </div>
    <div class="sv-list-wrapper">
        <ul>
            <li ng-repeat="item in dataList" ng-click="goToSvDetail(item,$event)" swipe-delete-sv-started>
                <div class="start-edit">
                    <span class="edit" ng-click="editSv(item,$event)">编辑</span>
                    <span class="started-delete" ng-click="deleteSv(item,$event,$index)">删除</span>
                </div>
                <div class="first-line ">
                    <div class="clearfix" style="width: 100%">
                        <span class="p-fl" style="font-size: 14px">时段：{{workType}}</span>
                        <span style="color: red;padding-left: .8rem" ng-if="item.status == 1" class="time-length p-fr">未关闭</span>
                        <span class="time-length p-fr">使用时长：{{item.timeDif}}</span>
                    </div>
                </div>
                <div class="sec-line">
                    <span>起始时间：</span>
                    <span>{{item.startTime | date:'yyyy-MM-dd HH:mm' }} — {{item.endTime | date:'yyyy-MM-dd HH:mm' }}</span>
                    <!--<img src="dist/images/special-vehicle/shijian@2x.png">-->
                </div>
                <div class="third-line" style="line-height: 27px;height: 27px">
                    <p style="color: #333;padding-bottom: 0" class="text-ellipsis">
                      <span ng-if="workType == 'O/G' || (workType == 'Po/F' && item.overFifteen) || (workType == 'Pr/F' && item.isAdvance)"> 备注：{{item.remark || ''}}</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>