<!--status-->
<!--<div ui-content-for="title"></div>-->
<div class="navbar navbar-app navbar-absolute-top">
	<div class="clearfix top-title">
		<div class="navbar-brand navbar-brand-center" >
			<!--<span>Status({{acReg}})</span>-->
			<span>{{acReg}}</span>
			<span ng-click="watchPdf()" style="position: absolute;right: 4.5rem;z-index: 14;font-size: .65rem">凹坑</span>
			<span ng-click="go('pitRepairList','slideLeft',{ac:acReg})" style="position: absolute;right: 2.5rem;z-index: 14;font-size: .65rem">EWIS</span>
		</div>
		<div class="btn-group btn-group-left">
			<div class="btn" ng-click="go('back')">
				<i class="icon-maoc icon-back" ></i>
			</div>
		</div>
		<div class="btn-group btn-group-right">
			<div class="btn" ng-click="changeTipState()" style="padding-right: .5rem">
				<i class="icon-maoc icon-so"></i>
			</div>
		</div>
	</div>
</div>
<ul class="flight-nav-status">
	<li ng-class="{'selected': seltedIndex == 1}" ng-click="changeIndex(1)">
		全部({{allList.length}})
	</li>
	<li ng-class="{'selected': seltedIndex == 2}" ng-click="changeIndex(2)">
		转MCC({{mccList.length}})
	</li>
	<li ng-class="{'selected': seltedIndex == 3}" ng-click="changeIndex(3)">
		DDI({{ddiList.length}})
	</li>
	<li ng-class="{'selected': seltedIndex == 4}" ng-click="changeIndex(4)">
		Pending({{pedingList.length}})
	</li>
	<li ng-class="{'selected': seltedIndex == 5}" ng-click="changeIndex(5)">
		Monitor({{monitorDefList.length}})
	</li>
	<li ng-class="{'selected': seltedIndex == 6}" ng-click="changeIndex(6)">
		NRC({{nrcList.length}})
	</li>
</ul>
<div class="flightInfo app-body">
	<div class="scrollable">
		<div class="scrollable-content">
			<!-- 数据为空时显示 -->
			<div class="backup-airport no-data"
				ng-hide="backRouter || (acStatus.length) || netWorkErr">
				<img src="dist/images/no-found.png" width="256" alt="未找到数据" />
			</div>
			<!--on-finish-render-filters-->
			<div class="flight-wrap">
				<div class="pubFlightList flightListStatus" ng-repeat="status in acStatus " on-finish-render-filters>
					<div>
						<div class="status-identifier">
							{{ status.identifier }}
						</div>
						<div class="status-main-mess">
							<div class="first-row defect">
								<span class="jh cardType" ng-if="!status.showNrc" ng-click="toDetail(status)">defectNo: {{ status.defectNo }}</span>
								<span class="jh cardType" ng-if="status.showNrc && status.defectNo" ng-click="toDetail(status)">NRC No: {{ status.defectNo }}</span>
								<span class="pull-right">{{ status.status }}</span>
								<span class="pull-right" ng-if="status.showNrc">{{ status.isSuspending == 'y' ? '推迟':'' }}</span>
							</div>
							<div class="first-row ddi-no">
								<span ng-if="status.showNrc && status.relateCard">关联故障：{{status.relateCard}}</span>
								<span ng-if="status.showDDno && status.ddNo">DDI NO: {{status.ddNo}}</span>
								<span ng-if="status.showPendingno && status.pendNo">Pending NO: {{status.pendNo}}</span>
								<div class="pull-right flight-date">{{ status.dateFound | date:'yyyy-MM-dd'}}</div>
								<div class="flight-date" ng-if="status.showNrc && status.dueDate">到期时间：{{ status.dueDate | date:'yyyy-MM-dd'}}</div>
							</div>
						</div>
					</div>

					<div class="status-description" ng-hide="!status.faultReportChn">
					 	<span>Desc: </span>
					 	<p >{{status.faultReportChn}}</p>
					</div>

					<div class="status-description">

					 	<switch-Log ng-show="status.logList.length">
					 		<div class="dash-border"></div>
						 	<span>Log:</span>
						 	<p>{{status.logList[0].workLog}}</p>
						 	<span class="angle-down"><i class="fa fa-angle-down"></i></span>
						 	<ul ng-show="isLogDisplayed">
						 		<li ng-repeat="workLog in status.logList" ng-show="$index > 0">{{workLog.workLog}}</li>
						 	</ul>
					 	</switch-Log>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div ng-show="showTipState">-->
<div ng-show="showTipState">
	<div class="ui-tip-bg" ng-click="changeTipState()"></div>
	<div class="ui-tip" ng-click="changeTipState()">
		<div>
			<div>
				<span ng-click="go('searchFault', 'slideLeft', {fromIndex: false,searchTxt: acReg})">故障搜索</span>
				<span ng-click="go('searchTlb','slideLeft',{searchTxt: acReg,from: 'status'})">TLB搜索</span>
			</div>
		</div>
	</div>
</div>
