<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        领料
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<form name="myForm" style="overflow: auto;height:100%;">
<div class="take-materis-firstrow">
    <div class="ui-list-item ui-ipt-item pull-left disabled pad-style">
        <span>Location</span>
        {{takeMaterisInfo.station}}
    </div>
    <select-person person-info="personInfo" show-title="true" person-title="Issue to"></select-person>
</div>
<div ng-repeat="materis in materisList" style="overflow: hidden;width: 100%;">
    <div class="take-materis-mrno">
        <div class="ui-list-item ui-ipt-item pull-left" style="width: auto">
            <span>MR No.</span>
            <div class="ng-binding">{{materis.no | limitTo:-9}}</div>
        </div>
        <!--<div class="pull-right wrap-switch">-->
            <!--<ui-switch ng-model="isCheckAll">-->
                <!--<div class="switch-handle"></div>-->
            <!--</ui-switch>-->
        <!--</div>-->
    </div>

    <div class="item-wrap" ng-repeat="pnItem in materis.itemList">
        <div class="take-materis-mrno-item">
            <div class="ui-list-item pull-left">
                <div class=" pn-no">PN {{pnItem.pn}}</div>
            </div>
            <div class="ui-list-item pull-middle pull-left">
                <div class="ng-binding">Required Qty: {{pnItem.qty}}</div>
            </div>
            <!--<div class="pull-right wrap-switch" ng-click="checkOne(ischecked, isCheckAll)">-->
                <!--<i class="checkbox-custom" ng-class="{'icon-materis-checkbox': isCheckAll || ischecked}"></i>-->
            <!--</div>-->
            <div class="add-icon pull-right" ng-click="goSearchMateris(pnItem.pn)">
                <i class="icon-maoc icon-plus"></i>
            </div>
        </div>

        <!--添加的航材-->
        <div class="take-materis-mrno-item" ng-repeat="material in takeMaterisInfo.item | filter: pnItem.pn">
            <div class="ui-list-item pull-left">
                <div class="ng-binding">Serial No: {{material.serialNum}}</div>
            </div>
            <div class="ui-list-item pull-middle pull-left">
                <div class="ng-binding">Batch No: {{material.lotNum}}</div>
            </div>

            <div class="maintenance-edit pull-right">
                <span class="minus" ng-click="minusmaterials(material.availableQty,material.qty,material,1,$event,$index)" ng-class="{'forbidColorMinus':material.qty==0}">－</span>

                <input type="text" ng-model="material.qty" min="0" input-material-num
                       ng-change="overStock(material,$event,$index)" ng-focus="rememberNumber(material,$event,$index)"
                       ng-blur="returnLastNumber(material,$event,$index)" required />

                <span class="plus" ng-click="plusmaterials(material.availableQty,material.qty,material,1)" ng-class="{'forbidColorAdd':material.qty==material.availableQty}">＋</span>
            </div>

        </div>
        <!--航材结束-->
    </div>

</div>
    <button class="materis-submit"
            ng-class="{active: myForm.$valid}"
            ng-disabled="!myForm.$valid"
            ng-click="submit()">确定
    </button>
</form>

