<!--card-form-5-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{nonRoutineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="" autocomplete="off">
            <div class="approver-content-wrap approver-padding">
                <div class="position-relative inline-block">
                    <input type="datetime-local" ng-if="!android" class="form-control select-require-date framecolor mask-date"
                           ng-blur="checkDate()" required ng-model="$parent.completeDate2"/>
                    <input ng-if="android" type="datetime-local" class="form-control select-require-date framecolor mask-date"
                           ng-change="checkDate($event)" required ng-model="$parent.completeDate2"/>
                    <input type="text" class="form-control"  value="{{completeDate2 | date:'yyyy-MM-dd HH:mm'}}">
                    <div class="triangle-down"></div>
                </div>
                <div class="position-relative pull-right border-outline-fixed">
                    <input type="tel" id="T1" ng-change="T1_onkeyup()" ng-model="releaseHours" placeholder="00" required ng-focus="selectAll($event)">:
                    <input type="tel" id="T2" ng-change="T2_onkeyup()" ng-model="releaseMinutes" placeholder="00" required ng-focus="selectAll($event)" ng-keyup="cursorForward($event)">:
                    <input type="tel" id="T3" ng-change="T3_onkeyup()" ng-model="releaseSeconds" placeholder="00" required ng-focus="selectAll($event)" ng-keyup="cursorForward($event)">
                </div>
            </div>

            <div class="approver-content-wrap approver-padding">
                <div class="position-relative">
                    <input type="text" on-input-inspector class="form-control search-textbox framecolor inspector" ng-paste="setRiierSn(formData.inspectorAndName)"
                           ng-blur="dropdown=false;" ng-keyup="setInspector($event)" ng-model="formData.inspectorAndName"
                           required placeholder="Inspector"/>
                    <span class="loading-approver" ng-show="loadApprover">
                        <i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
                    </span>

                    <ul ng-show="dropdown && workInfoList.length" class="dropdown-menu mr-dropdown inspector-ul">
                        <li work-info-select-dd ng-repeat="item in workInfoList">
                            <a>{{ item.cnName }} {{item.workNo}}</a>
                        </li>
                    </ul>

                    <input type="hidden" ng-model="formData.inspector" />
                </div>
            </div>

            <div class="card-title-wrap">Corrective Action(CHN)</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.rectChn" required></textarea>
            </div>
            <div class="card-title-wrap">Corrective Action(ENG)</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.rectEn" required></textarea>
            </div>
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.feedBack"></textarea>
            </div>


            <div upload-attachments>+</div>
            <!--<ul>
            	<li ng-repeat="src in imgSrcArr" class="pull-left">
            		<img ng-src="{{src}}" width="50" height="50">
            	</li>
            </ul>-->
        </form>
     
        <button class="card-sumbmit"
                ng-class="{'orange-button': myForm.$valid &&  formData.rectChn && formData.rectEn && formData.inspector && ((hasAttachment==true && routineRequireFeedback==true) || routineRequireFeedback==false)}"
                ng-disabled="!myForm.$valid || !formData.rectChn || !formData.rectEn || !formData.inspector || ((routineRequireFeedback==true && hasAttachment==false))"
                ng-click="submitForm(formData)">
            Submit
        </button>
    </div>
</div>
