<!--card-form-8-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        DD-{{nonRoutineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
    	<form name="myForm" action="">
        <div class="flb-double">
            <div class="flb-to">
                Mechanic
            <span class="pull-right">{{ddInspect.technician}} {{ddInspect.staffNo}}</span></div>
            <div class="flb">
                RepairDate
            <span class="pull-right">{{ddInspect.completeDate | date:'yyyy-MM-dd HH:mm'}}</span></div>
        </div>
        <div class="card-title-wrap">Corrective Action(CHN)</div>
        <div class="flb-to">{{ddInspect.rectChn}}</div>
        <div class="card-title-wrap">Corrective Action(ENG)</div>
        <div class="flb-to">{{ddInspect.rectEn}}</div>
        <div class="card-title-wrap">Remark</div>
        <div class="flb-to">{{ddInspect.remark}}</div>
        <div class="card-title-wrap">Inspector Remark</div>
        <div class="card-remark-content">
            <textarea ng-model="feedBack"></textarea>
        </div>
        <p class="attachmentTips" ng-show="ddInspect.extToAttachmentVOs&&ddInspect.extToAttachmentVOs.length>0">附件内容请通过ME系统查看</p>
        </form>
        <button class="card-sumbmit orange-button" ng-click="submitForm(formData)">Submit</button>
    </div>
</div>
