<!--card-form-9-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{nonRoutineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="">
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.feedBack"></textarea>
            </div>
            <div upload-attachments>+</div>
        </form>
   
        <button class="card-sumbmit" ng-class="{'orange-button': myForm.$valid && ((nonHasAttachment==true && nonRoutineRequireFeedback==true) || nonRoutineRequireFeedback==false)}"
        	ng-disabled=" !myForm.$valid || ((nonRoutineRequireFeedback==true && nonHasAttachment==false))" ng-click="submitForm(formData)">
        	Submit
        </button>
    </div>
</div>
