<!--card-form-4-->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{routineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="" autocomplete="off">
            <div class="approver-content-wrap approver-padding">
                <div class="position-relative inline-block">
                    <input type="datetime-local" ng-if="!android" class="form-control select-require-date framecolor mask-date"
                           ng-blur="checkDate()" required ng-model="formData.completeDate"/>
                    <input ng-if="android" type="datetime-local" class="form-control select-require-date framecolor mask-date"
                           ng-change="checkDate($event)" required ng-model="formData.completeDate"/>

                    <input type="text" class="form-control"  value="{{formData.completeDate | date:'yyyy-MM-dd HH:mm'}}">
                    <div class="triangle-down"></div>
                </div>
                <!--  onblur="if(this.value.match(/^\.$/))formData.manHours=this.value.replace('.','')"-->
                <div class="position-relative pull-right">
                    <label class="label-addon left-zero-addon" for="manHours">MH</label>
                    <input type="text" required ng-model="formData.manHours" class="manHours" id="manHours" mh-limit
                           ng-blur="pointCheck($event)"/>
                </div>
            </div>

            <div class="border-fixed" ng-show="routineRequireLicense">
                <div class="input-list">
                    <label class="label-addon top-zero-fixed" for="licenseNo">License No.</label>
                    <input type="text"  on-input-license-limit
                           class="form-control search-textbox framecolor licenseNo"
                           ng-model="formData.licenseNo" id="licenseNo" placeholder="18位 选填"
                           ng-disabled="licenseExist" ng-class="{'disableColor':licenseExist}" maxlength="18" />
                </div>
            </div>
            <div class="border-fixed">
                <div class="input-list">
                    <p ng-show="formData.licenseNo.length<18 && licenseNoRequired==true" class="red" translate="me.licenseLimit"></p>
                </div>
            </div>
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.feedBack"></textarea>
            </div>

            <div upload-attachments>+</div>

        </form>
        
        <button class="card-sumbmit"
                ng-class="{'orange-button': formData.manHours && myForm.$valid && ((hasAttachment==true && routineRequireFeedback==true) || routineRequireFeedback==false) && ((licenseNoRequired==true && formData.licenseNo.length==18) || licenseNoRequired==false)}"
                ng-disabled="!formData.manHours || !myForm.$valid || ((routineRequireFeedback==true && hasAttachment==false)) || (licenseNoRequired==true && formData.licenseNo.length!=18)"
                ng-click="submitForm(formData)">
            Submit
        </button>
    </div>
</div>
