<!--card-form-8-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{nonRoutineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="">
            <div class="debar-fault-wrap">
            	<dl ng-repeat="stepItem in formData.toTroubleShootingVOS">
            		<dt>{{stepItem.step}}.{{stepItem.suggestion}}</dt>
            		<!--<dd contenteditable="true"><textarea ng-model="stepItem.actionAndFeedback" required></textarea></dd>-->
            		<dd><textarea ng-model="stepItem.actionAndFeedback" required class="editeWrap"></textarea></dd>
            		<input type="hidden" ng-model="stepItem.id" />
            		<!--<dt>步骤二</dt>
            		<dd><textarea>排故内容二</textarea></dd>--> 
            	</dl>
            </div> 
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.feedBack"></textarea>
            </div>
            <div upload-attachments>+</div>

        </form>
        <button class="card-sumbmit"
                ng-class="{'orange-button': myForm.$valid && ((nonHasAttachment==true && nonRoutineRequireFeedback==true) || nonRoutineRequireFeedback==false)}"
        	    ng-disabled=" !myForm.$valid || ((nonRoutineRequireFeedback==true && nonHasAttachment==false))" ng-click="submitForm(formData)">
        	    Submit
        </button>
    </div>
</div>
