<!--card-form-5-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{routineCardNumber}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background" style="position:relative">
        <form name="myForm" action="" autocomplete="off">
            <div class="approver-content-wrap approver-padding">
                <div class="position-relative inline-block">
                    <input ng-if="!android" type="datetime-local" class="form-control select-require-date framecolor mask-date"
                           ng-blur="checkDate('nrcTime')" required ng-model="formData.nrcTime"/>
                    <input ng-if="android" type="datetime-local" class="form-control select-require-date framecolor mask-date"
                           ng-change="checkDate('nrcTime')" required ng-model="formData.nrcTime"/>
                    <input type="text" class="form-control time-selector"  value="{{formData.nrcTime | date:'yyyy-MM-dd HH:mm'}}">
                    <div class="triangle-down"></div>
                </div>
                <div class="position-relative inline-block pull-right">
                    <input ng-if="!android" type="time" class="form-control select-require-date framecolor mask-date"
                           ng-blur="checkDate('nrcAcTime')" required ng-model="formData.nrcAcTime"/>
                    <input ng-if="android" type="time" class="form-control select-require-date framecolor mask-date"
                           ng-change="checkDate('nrcAcTime')" required ng-model="formData.nrcAcTime"/>
                    <input type="text" class="form-control time-selector"  value="{{formData.nrcAcTime | date:'HH:mm'}}">
                    <div class="triangle-down"></div>
                </div>
            </div>

            <div class="approver-content-wrap approver-padding">
                <div class="position-relative">
                    <label class="label-addon left-zero-addon" for="mh">MH</label>
                    <input type="text" required ng-model="formData.mh" class="mh" id="mh" mh-limit ng-blur="pointCheck($event)"/>
                </div>
                <div class="position-relative pull-right">
                    <label class="label-addon left-zero-addon" for="station">STA</label>
                    <input type="text" id="station" required ng-model="formData.sta" chn-limit/>
                </div>
              
            </div>

            <div class="approver-content-wrap approver-padding" ng-show="isRiiRequired">
                <div class="position-relative">
                    <!--<label class="label-addon" for="rii">RII</label>-->
                    <input type="text" on-input-nrc class="form-control search-textbox framecolor rii" ng-paste="setRiierSn(formData.nameAndId)"
                           ng-blur="dropdown=false;" ng-keyup="setRiier($event)" ng-model="formData.nameAndId"
                           ng-required="isRiiRequired" placeholder="RII"/>
                    <span class="loading-approver" ng-show="loadApprover">
                        <i class="fa fa-spin loading-spinner" >
                            <img src="dist/images/loading.png" width="60%">
                        </i>
                    </span>

                    <ul ng-show="dropdown && workInfoList.length" class="dropdown-menu mr-dropdown">
                        <li work-info-select-nrc ng-repeat="item in workInfoList">
                            <a>{{ item.cnName }} {{item.workNo}}</a>
                        </li>
                    </ul>

                    <input type="hidden" ng-model="formData.riierSn" />
                </div>
            </div>

			<div class="card-title-wrap">Rectifiction Chinese</div>
			<div class="card-remark-content">
                <textarea ng-model="formData.rectChn" required></textarea>
            </div>
            <div class="card-title-wrap">Rectifiction English</div>
			<div class="card-remark-content">
                <textarea ng-model="formData.rectEn" required></textarea>
            </div>
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.remark"></textarea>
            </div>
            <div upload-attachments>+</div>
            
            
            <!--<ul>
            	<li ng-repeat="src in imgSrcArr" class="pull-left">
            		<img ng-src="{{src}}" width="50" height="50">
            	</li>
            </ul>-->
        </form>
        
        <button class="card-sumbmit"
                ng-class="{'orange-button': formData.mh && myForm.$valid &&  formData.rectChn && formData.rectEn && ((hasAttachment==true && routineRequireFeedback==true) || routineRequireFeedback==false)}"
                ng-disabled="!formData.mh || !myForm.$valid || !formData.rectChn || !formData.rectEn || ((routineRequireFeedback==true && hasAttachment==false))"
                ng-click="submitForm(formData)">
            Submit
        </button>
    </div>
    
</div>
<!--公共me遮罩层-->
	<div class="meMask" ng-style="{'display': 'block'}" ng-show="showAttachment"></div>
<form class="upload">
	<div class="attachment-type-wrap" ng-show="showAttachment" ng-class="{'attachment-slide-up': showAttachment,'ios-hack':!android}">
		<input type="file" name="file[]" data="CWS" nrc-file-select="onFileSelect($files, $event)" multiple>
		<div class="attachment-border-bottom">CWS</div>
		<input type="file" name="file[]" data="工卡" nrc-file-select="onFileSelect($files, $event)" multiple>
		<div class="attachment-border-bottom" translate="me.card"></div>
		<input type="file" name="file[]" data="手册/图片" nrc-file-select="onFileSelect($files, $event)" multiple>
		<div translate="pic"></div>
		<div class="attachment-border-top" cancel-attachments><translate>cancel</translate></div>
	</div>
</form>	
