<!--card-form-2-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{acReg}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="" autocomplete="off">
            <div class="approver-content-wrap approver-padding">

                <div class="position-relative inline-block">
                    <input type="datetime-local" ng-if="!android" class="form-control select-require-date framecolor mask-date"
                           ng-blur="checkDate()" required ng-model="formData.taskVO.completeDate"/>
                    <input ng-if="android" type="datetime-local" class="form-control select-require-date framecolor mask-date"
                           ng-change="checkDate($event)" required ng-model="formData.taskVO.completeDate"/>
                    <input type="text" class="form-control"  value="{{formData.taskVO.completeDate | date:'yyyy-MM-dd HH:mm'}}">

                    <div class="triangle-down"></div>
                </div>
                <!--<div class="position-relative" id="PSI">-->
                <!--<input type="text" placeholder="Crew Oxygen Pressure" required />-->
                <!--</div>-->
            </div>

             <div class="border-fixed margin-fixed">
                <div class="input-list">
                   <!--  <div class="raft-wrap">
                        两套救生筏是否在位
                        <input type="checkbox" id="raftYes">
                        <label class="raft-yes" for="raftYes">yes</label>
                        <input type="checkbox" id="raftNo">
                        <label class="raft-no" for="raftNo">no</label>
                    </div> -->
                    <label class="label-addon label-flbNo" for="flbNo">FLB NO</label>
                    <input type="tel" required ng-model="formData.flbNo" on-input-no-limit class="flbNo" id="flbNo"
                    ng-disabled="isFlbEdited" ng-class="{'disableColor':isFlbEdited}" maxlength="10">
                    <label class="label-addon" for="touchGo">Touch & Go</label>
                    <input type="tel" required ng-model="formData.touchgo" on-input-no-limit class="touchGo" id="touchGo" maxlength="3">
                </div>
            </div>
            <div class="card-title-wrap">Remaining</div>
            <div class="approver-content-wrap approver-padding">

                <div class="position-relative margin-bottom-5">
                    <label class="label-addon-short" for="oilRemainL">ENG1</label>
                    <input type="tel" required ng-model="formData.oilRemainL" on-input-no-limit
                           class="oilRemainL" id="oilRemainL" maxlength="3">
                </div>
                <div class="position-relative margin-bottom-5">
                    <label class="label-addon-short" for="oilRemainR">ENG2</label>
                    <input type="tel" required ng-model="formData.oilRemainR" on-input-no-limit
                           class="oilRemainR" id="oilRemainR" maxlength="3">
                </div>
                <div class="position-relative" ng-if="show747Engin">
                    <label class="label-addon-short" for="oilRemain3">ENG3</label>
                    <input type="tel" required ng-model="formData.oilRemain3" on-input-no-limit
                           class="oilRemainL1" id="oilRemain3"  maxlength="3">
                </div>
                <div class="position-relative" ng-if="show747Engin">
                    <label class="label-addon-short" for="oilRemain4">ENG4</label>
                    <input type="tel" required ng-model="formData.oilRemain4" on-input-no-limit
                           class="oilRemainR1" id="oilRemain4" maxlength="3">
                </div>

            </div>
            <div class="border-fixed">
                <div class="input-list">
                    <p ng-show="!show747Engin && (formData.oilRemainL==0 || formData.oilRemainR==0)" class="red " translate="me.oilLimit"></p>
                    <p ng-show="show747Engin && (formData.oilRemainL==0 || formData.oilRemainR==0 || formData.oilRemain3==0 || formData.oilRemain4==0)" class="red " translate="me.oilLimit"></p>                </div>
            </div>
            <div class="card-title-wrap">Uplift(QTS)</div>
            <div class="approver-content-wrap approver-padding">
                <div class="position-relative margin-bottom-5">
                    <label class="label-addon-short" for="oilUpliftL">ENG1</label>
                    <input type="tel" required ng-model="formData.oilUpliftL" ng-blur = "inputOilPrompt('oilUpliftL',formData.oilUpliftL)" on-input-no-limit class="oilUpliftL"
                           id="oilUpliftL" maxlength="2">
                </div>
                <div class="position-relative margin-bottom-5">
                    <label class="label-addon-short" for="oilUpliftR">ENG2</label>
                    <input type="tel" required ng-model="formData.oilUpliftR" ng-blur = "inputOilPrompt('oilUpliftR',formData.oilUpliftR)" on-input-no-limit class="oilUpliftR"
                           id="oilUpliftR" maxlength="2">
                </div>
                <div class="position-relative" ng-if="show747Engin">
                    <label class="label-addon-short" for="oilUplift3">ENG3</label>
                    <input type="tel" required ng-model="formData.oilUplift3"  ng-blur = "inputOilPrompt('oilUplift3',formData.oilUplift3)" on-input-no-limit class="oilUpliftL1"
                           id="oilUplift3" maxlength="2">
                </div>
                <div class="position-relative" ng-if="show747Engin">
                    <label class="label-addon-short" for="oilUplift4">ENG4</label>
                    <input type="tel" required ng-model="formData.oilUplift4"  ng-blur = "inputOilPrompt('oilUplift4',formData.oilUplift4)"  on-input-no-limit class="oilUpliftR1"
                           id="oilUplift4" maxlength="2">
                </div>
            </div>
            <div class="border-fixed">
                <div class="input-list">
                    <label class="label-addon label-apu" for="oilUpliftApu">APU</label>
                    <input type="tel" required ng-model="formData.oilUpliftApu"  ng-blur = "inputOilPrompt('oilUpliftApu',formData.oilUpliftApu)"  on-input-no-limit class="oilUpliftApu"
                    id="oilUpliftApu" maxlength="2">
                </div>
            </div>
<!--            <div class="border-fixed">-->
<!--                <div class="input-list">-->
<!--                    <p ng-show="!show747Engin && (formData.oilUpliftL>=10 || formData.oilUpliftR>=10 || formData.oilUpliftApu>=10)" class="red" translate="me.oilUpliftLimit"></p>-->
<!--                    <p ng-show="show747Engin && (formData.oilUpliftL>=10 || formData.oilUpliftR>=10 || formData.oilUpliftApu>=10 ||formData.oilUplift3>=10 || formData.oilUplift4>=10)" class="red" translate="me.oilUpliftLimit"></p>-->
<!--                </div>-->
<!--            </div>-->
            <div ng-if="interAirline" class="tail-eng-title" style="padding-left: .6rem">驾驶舱国际航班随机电脑包是否在位<span class="red">*</span></div>
            <div ng-show="interAirline" class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.6rem;padding-right: .3rem;width: 25%" >
                <div class="tail-eng-button averageArange">
                    <button  style="margin-top:.6rem;width: 100%;height: 2rem;line-height: 2rem;border-radius: .3rem" type="button"  ng-class={'beClicked':isInter} ng-click="isInter ? isInter = false : isInter =  true">YES</button>
                </div>
            </div>
            <div class="card-title-wrap">Remark</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.taskVO.remark"></textarea>
            </div>
            <div class="tail-eng-wrap fault-check-button inline-block" style="padding-left: 0.6rem;padding-right: .3rem;width: 25%" >
                <!--<div class="tail-eng-title">必检/互捡<span class="red">*</span></div>-->
                <div class="tail-eng-button averageArange">
                    <button  style="margin-top:.6rem;width: 100%;height: 2rem;line-height: 2rem;border-radius: .3rem" type="button"  class='beClicked'>互检</button>

                    <!--<button ng-disabled="isFlbEdited" style="margin-top:.6rem;width: 100%;height: 2rem;line-height: 2rem;border-radius: .3rem" type="button" ng-class={'beClicked':isRci} ng-click="isRci ? isRci = false : isRci =  true">互检</button>-->
                </div>
            </div>
            <div class="fault card-remark-content" ng-if="isRci">
                <div class="approver-content-wrap" style="margin: 0">
                    <div class="zhezhao" ng-if="formData.taskVO.checkName"></div>
                    <select-person person-info="inspector" show-title="false" person-title="责任放行工程师"  fixed-type = true></select-person>
                </div>
            </div>

            <div class="p-image">
                <div>附件</div>
                <newimg-upload is-api-cloud="false"  nrc-id="nrcId" is-edit="true" up-way="taskupWay" file-list = "fileList" img-array="imgArr" file-arr="fileArr" del-img-id="delImgId"  attachvo="attachvo"></newimg-upload>

            </div>
            <div class="card-title-wrap">无照片备注</div>
            <div class="card-remark-content">
                <textarea ng-model="formData.taskVO.mechanicNoPhotoRemark"></textarea>
            </div>
        </form>
        <button class="card-sumbmit"
        ng-class="{'orange-button': formData.flbNo && myForm.$valid}"
        ng-disabled="!formData.flbNo || !myForm.$valid"
                ng-click="submitForm(formData)">
            Submit
        </button>
        <input type="hidden" ng-model="formData.taskVO.status">
    </div>
</div>
