<!--O/G-->

<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{acReg}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content card-background">
        <form name="myForm" action="" autocomplete="off">
            <div class="border-fixed">
                <div class="input-list">
                    <div class="raft-wrap" ng-if="!isEdited">
                        <translate>me.raft</translate>
                        <label class="raft-yes" check-raft ng-class="{'raft-checked': formData.taskVO.hasLifeRaft=='YES'}">yes</label>
                        <label class="raft-no" check-raft ng-class="{'raft-checked': formData.taskVO.hasLifeRaft=='NO'}">no</label>
                        <input type="hidden" ng-model="formData.taskVO.hasLifeRaft">
                    </div>
                    <!--编辑的时候不能点击-->
                    <div class="raft-wrap" ng-if="isEdited">
                        <translate>me.raft</translate>
                        <label class="raft-yes" ng-class="{'raft-checked': formData.taskVO.hasLifeRaft=='YES'}">yes</label>
                        <label class="raft-no" ng-class="{'raft-checked': formData.taskVO.hasLifeRaft=='NO'}">no</label>
                        <input type="hidden" ng-model="formData.taskVO.hasLifeRaft">
                    </div>
                </div>
                <div class="border-fixed">
                    <div class="input-list">
                        <p class="red" translate="me.raftLimit"></p>
                    </div>
                </div>
            </div>
        </form>

        <button class="card-sumbmit"
                ng-class="{'orange-button': myForm.$valid && formData.taskVO.hasLifeRaft}"
                ng-disabled="!myForm.$valid || !formData.taskVO.hasLifeRaft"
                ng-click="submitForm(formData)">
            Submit
        </button>
        <input type="hidden" ng-model="formData.taskVO.status">
    </div>
</div>
