<div>
	<ul class="upload-view-ul">
		
		<li ng-repeat="src in imgSrcArr" class="pull-left" ng-click="delCurUpload(src)"  
			ng-class="{'row-last': (($index+1) % 5==0)}">
			<span>x</span>
			<em ng-if='nrc'>{{formData.attachvo[$index].attachmentType}}</em>
			<img ng-src="{{src}}">
		</li>
		<div class="attachment" pop-type-select ng-if="nrc">+</div>
		
		<div class="attachment" ng-if="!nrc">
			+
			<form class="upload">
				<input type="file" name="file[]"  nrc-file-select="onFileSelect($files, $event)" multiple>
			</form>
		</div>
	</ul>
	
		
		
		<!--<p class="bg-danger" ng-show="sameImg && !isAdded">{{fileName}}文件已选择！</p>
	<p class="bg-success" ng-show="isAdded">{{addedFileName}}文件已添加到此类型！</p>-->
	

</div>