<ui-view name="record"></ui-view>
<div ng-show="!recordView" style="height: 100%">
<div class="transfer-receiving">
    <div class="navbar navbar-app navbar-absolute-top fixbar" ng-if = "!searchPage">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                发料列表
                <span ng-click="showFlow()" style="position: absolute;right: 2.5rem;z-index: 14;font-size: 16px">{{staInfo.station}}</span>
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back"></i>
                </div>
            </div>
            <div class="btn-group btn-group-right">
                <div class="btn" style="width: 2.2rem;height: 2.2rem;margin-right: .5rem;" ng-click="tabHeader()">
                    <i class="icon-search-find"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-app navbar-absolute-top fixbar" ng-if = "searchPage">
        <div class="clearfix top-title flex-layout-between">
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="tabHeader()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div class="navbar-brand navbar-brand-center search-entry" style="width: 70%;text-align: center;background-color: #fff;height:1.6rem">
                <input type="text" ng-model="$parent.inputPn" class="form-control search-textbox framecolor" placeholder="请输入需求件号" style="width: 100%;border: none;text-align: center;" required />
            </div>
            <div class="btn-group btn-group-right">
                <div style="padding-top: .8rem" class="btn" ng-click="filterChange()">
                    搜索
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <div class="acSta clearfix" style="padding: 0;overflow: hidden">
            <div class="pull-left" style="width: 33.33%;position: relative; text-align: center">
                <div class="check-method" style="display: inline-block;height: 2rem;width: 100%;position: relative">
                    <span ng-if="fileTypeChosen.length > 0" style="display: inline-block;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;font-size: .65rem;text-align: center;line-height: 2.3rem;">
                        {{fileTypeChosen}}
                    </span>
                    <span ng-if="fileTypeChosen.length == 0 || !fileTypeChosen" style="display: inline-block;width: 100%;font-size: .65rem">
                        全部文件类型
                    </span>
                    <select ng-model="fileTypeChosen" style="z-index: 9; position: absolute;left: 0;top: 0;display: inline-block;height: 100%;width: 100%;border: none;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;opacity: 0"
                             ng-change="filterChange()" required>
                        <!--<option value="">全部</option>-->
                        <option value="{{fileType}}"
                                ng-repeat="fileType in mrInfo.fileType track by $index ">
                            {{fileType}}
                        </option>
                    </select>
                </div>
                <img class="triangle" style="width: 10px;margin-right: -0.5rem;float: right" src="dist/images/oil/Shape1@2x.png">
            </div>
            <div class="pull-left" style="width: 33.33%;position: relative; text-align: center">
                <div class="check-method" style="display: inline-block;height: 2rem;width: 100%;position: relative">
                    <span ng-if="airportChosen.length > 0" style="display: inline-block;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;text-align: center;font-size: .65rem;line-height: 2.3rem">
                        {{airportChosen}}
                    </span>
                    <span ng-if="airportChosen.length == 0 || !airportChosen" style="display: inline-block;width: 100%;font-size: .65rem">
                        全部文件编号
                    </span>
                    <select ng-model="airportChosen" style="z-index: 9; position: absolute;left: 0;top: 0;display: inline-block;height: 100%;width: 100%;border: none;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;opacity: 0"
                             ng-change="filterChange()" required>
                        <!--<option value="">全部</option>-->
                        <option value="{{flawTypeItem}}"
                                ng-repeat="flawTypeItem in mrInfo.fileNumber track by $index ">
                            {{flawTypeItem}}
                        </option>
                    </select>
                </div>
                <img class="triangle" style="width: 10px;margin-right: -0.5rem;float: right" src="dist/images/oil/Shape1@2x.png">
            </div>
            <div class="pull-left" style="width: 33.33%;position: relative;text-align: center">
                <div class="check-method" style="display: inline-block;height: 100%;width: 100%;font-size: .65rem">
                    <select  ng-model="mrInfo.status" style="display: inline-block;height: 100%;width: auto;border: none;"
                             ng-change="filterChange()">
                        <option value="O">open</option>
                        <option value="X">close</option>
                        <option value="">状态</option>
                    </select>
                </div>
                <img class="triangle" style="width: 10px" src="dist/images/oil/Shape1@2x.png">
            </div>
        </div>
        <!--        **********-->
        <div class="scrollable" style="position: absolute;top: 4.5rem">
            <div class="scrollable-content" ui-scroll-bottom="getNextPage()"
                 im-pull-to-refresh>
                <!--on-finish-render-filters-->
                <div class="backup-airport no-data" ng-hide=" !dataList || loading2 || dataList.length || netWorkErr">暂无任务</div>

                <div class="flight-wrap" ng-repeat="item in dataList track by $index" on-finish-render-filters >
                    <div class="pubFlightList" swipe-delete-sv ng-class="{'sv-swipe-left-hide': item.mrStatus == 'X'}">
                        <div class="delete-sv " >
                            <div class="apu"
                                 ng-click="goDispatch(item)">发料
                            </div>
                        </div>
                        <div class="top clearfix">
                            <span class="pull-left"  style="font-size: .75rem;font-weight: 600;display: inline-block;width: 60%">
                                MR:<span style="font-weight: 500">{{item.mrNo}}</span>
                                <span style="color: #ce1111" ng-if="item.prohibitedMark === 'JZ'">禁</span>
                                <span style="color:darkorange" ng-if="item.prohibitedMark === 'XZ'">限</span>
                            </span>
                            <span class="pull-right" style="font-size: .75rem;font-weight: 600;display: inline-block;width: 33.33%;text-align: right">
                                     <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #cc2131 ;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-show="item.mrStatus == 'X'">
                                        <span>Close</span>
                                    </span>
                                    <span style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;background-color: #5ddc71;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-show="!item.mrStatus" >
                                         <span>Open</span>
                                    </span>
                            </span>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求件号:</span>
                                <span style="width: 4rem">{{item.pn}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求数量:</span>
                                <span style="width: 4rem">{{item.needQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">需求单位:</span>
                                <span style="width: 4rem">{{item.unit}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">已发数量:</span>
                                <span style="width: 4rem">{{item.sentQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发料批次:</span>
                                <span style="width: 4rem">{{item.batchNo}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发料数量:</span>
                                <span style="width: 4rem">{{item.sendQty}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">文件编号:</span>
                                <span style="width: 4rem">{{item.workNumber}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">文件类型:</span>
                                <span style="width: 4rem">{{item.workType}}</span>
                            </div>
                        </div>

                        <div class="flex-layout-between"  style="margin: .1rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">发料序号:</span>
                                <span style="width: 4rem">{{item.sn}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">&nbsp;</span>
                                <span style="width: 4rem">&nbsp;</span>
                            </div>
                        </div>

                </div>
                </div>
<!--                <div class="text-center" ng-if="noMoreData" translate="loadingDone"></div>-->
            </div>
        </div>
    </div>
    <div class="more-operate">
        <div class="add-wrap operate" ng-click="showFlow()">
            <i class="icon-maoc icon-add">
<!--                <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
            </i>
        </div>
<!--        <div class="san text-center " >-->
<!--            <div class="sai-wrap ng-hide " ng-class="{'slide-up': operate}" ng-show="operate"  ng-click="go('me.meFilter', 'slideLeft')">-->
<!--                <i class="icon-maoc icon-sai">-->
<!--                    <span class="circle" ng-show="filterData.filterAirPorts.length || filterData.filterFlightNos.length || filterData.filterAcRegs.length|| filterData.direction"></span>-->
<!--                </i>-->
<!--                <br><translate>filter</translate>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="damage-confirm" ng-show="showFilter">
        <div class="background"></div>
        <div class="damage-confirm-box">
            <div class="damage-confirm-con new-cc" style="overflow: visible;padding: 0 15px;">
<!--                <div class="title text-center">筛选</div>-->
                <!--            <div class="advice">航站：</div>-->
                <div style="padding: 20px 0" class="cc-base">
                    <div class="category clearfix" style="border: none">
                        <div class="left p-fl" style="width: 50%">航站/飞机仓：</div>
                        <div class="right normal p-fl" style="width: 50%">
                            <select-station title="toStation" station-info="staInfo"></select-station>
                        </div>
                    </div>
<!--                    <span class="p-fl">航站：</span>-->
<!--                    <select-station-three title="toStation" station-info="staInfo"></select-station-three>-->
                    <!--                <textarea class="refuseText" placeholder="请输入驳回备注（限500字）" name="" maxlength="500" ng-model="$parent.refuseReasonPend"></textarea>-->
                </div>
                <!--            <div class="notice">*提交后将不能被修改</div>-->
                <div class="buttons">
                    <button class="ensure" ng-click="filterChange()">确认</button>
                    <button ng-click="showFilter = false">取消</button>
                </div>
            </div>
        </div>

    </div>

    </div>
</div>
