<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>无标题文档</title>


    <!--    amro-->
    <link href="/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dialog_default.css" rel="stylesheet" type="text/css"/>
    <link href="/css/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="/js/jquery/ztree/zTreeStyle.css" rel="stylesheet" type="text/css"/>
    <link href="/css/plugins/easyui/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common_qc.css" rel="stylesheet" type="text/css"/>

    <script src="/js/constants.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/layer/layer.js?style=default" type="text/javascript"></script>
    <script src="/js/core.min.js?v=4.1.0"></script>
    <script src="/js/contabs.min.js" type="text/javascript"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script src="/js/plugins/cookie/jquery.cookie.js" type="text/javascript"></script>
    <script src="/js/plugins/i18next/i18next.min.js"></script>
    <script src="/js/plugins/laytpl/laytpl.js" type="text/javascript"></script>

    <script src="/js/plugins/easyui/jquery.easyui.custom.min.js" type="text/javascript"></script>
    <script src="/js/plugins/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="/js/base64.js" type="text/javascript"></script>
    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/am_auth.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/sfa-query-1.0.js" type="text/javascript"></script>
    <script src="/js/jquery/jsapi.js" type="text/javascript"></script>
    <script src="/js/jquery/uds.js" type="text/javascript"></script>
    <script src="/js/jquery/chart.js" type="text/javascript"></script>
    <style>

    </style>
</head>

<body>
<input id="position" type="hidden"/>
<div class="subwin">
    <div>
        <table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" class="table-zi" width="100%">
            <tr>
                <!--
                <td class="td-line-hight-background"><div
                        align="center">Oils System</div></td>
                         -->
                <td class="td-line-hight-background">
                    <div align="center">P/N</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">S/N</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">A/C</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">Position</div>
                </td>
            </tr>
            <tr>
                <td align="center" class="td-line-hight-background"><span id="num1"></span></td>
                <td align="center" class="td-line-hight-background"><span id="seq1"></span></td>
                <td align="center" class="td-line-hight-background"><span id="tail1"></span></td>
                <td align="center" class="td-line-hight-background"><span id="position1"></span></td>
            </tr>
            <tr>
                <td align="center" class="td-line-hight-background"><span id="num2"></span></td>
                <td align="center" class="td-line-hight-background"><span id="seq2"></span></td>
                <td align="center" class="td-line-hight-background"><span id="tail2"></span></td>
                <td align="center" class="td-line-hight-background"><span id="position2"></span></td>
            </tr>
            <tr>
                <td align="center" class="td-line-hight-background"><span id="num3"></span></td>
                <td align="center" class="td-line-hight-background"><span id="seq3"></span></td>
                <td align="center" class="td-line-hight-background"><span id="tail3"></span></td>
                <td align="center" class="td-line-hight-background"><span id="position3"></span></td>
            </tr>
            <tr>
                <td align="center" class="td-line-hight-background"><span id="num4"></span></td>
                <td align="center" class="td-line-hight-background"><span id="seq4"></span></td>
                <td align="center" class="td-line-hight-background"><span id="tail4"></span></td>
                <td align="center" class="td-line-hight-background"><span id="position4"></span></td>
            </tr>
        </table>
    </div>
    <div id="condition" style="margin-top:20px;">
        <div class="field" style="height: 45px;">
            <div id="qc_table">

                &nbsp;
                <select id="srhtype" style="width: 120px;">
                    <option selected="selected" value="r">按日期段查询</option>
                    <option value="z">按周查询</option>
                    <option value="y">按月查询</option>
                    <option value="n">按年查询</option>
                </select>
                <span id="srhtype_r">
							<text>Start Date</text>
							<input class="t_input" id="sdate" name="pageModel.qvalue" type="text" value="2012-05-12">

							<text>截止日期</text>
							<input class="t_input" id="edate" name="pageModel.qvalue" type="text" value="2012-05-25">
						</span>


                <span id="srhtype_z" style="display: none;">

							<select id="year_0"> </select>
							<text>年</text>
							<select id="week">
							</select>
							<text>周</text>

						</span>
                <span id="srhtype_y" style="display: none;">

							<select id="year_1">

							</select>
							<text>年</text>
							<select id="month">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
							</select>
							<text>月</text>

						</span>
                <span id="srhtype_n" style="display: none;">

							<select class="year" id="year_2"></select>
							<text>年</text>

						</span>

                <input class="btn" id="find_btn" type="button" value="Search">
                <input id="sec" type="hidden"/>
            </div>
        </div>
    </div>
</div>


<div id="leftChart_div"></div>
<div id="rightChart_div"></div>
<div id="eng3Chart_div"></div>
<div id="eng4Chart_div"></div>


<script type="text/javascript">
    $(function () {
        $("#sdate").datebox({});
        $("#edate").datebox({});

        var date = new Date();
        for (var i = date.getFullYear(); i >= 2008; i--) {
            var option = '<option value=' + i + '>' + i + '</option>';
            $("[id^=year]").append(option);
        }

        for (var i = 1; i < 53; i++) {
            var option = '<option value=' + i + '>' + i + '</option>';
            $("#week").append(option);
        }

        // var sub_win = frameElement.api,
        //     P = sub_win.opener;
        var param = getParentParam_();
        var s_params = param.data;
        // console.log(s_params)
        var positionShow;
        if (s_params["position"] == 1) {
            positionShow = 'ENG1';
        } else if (s_params["position"] == 2) {
            positionShow = 'ENG2';
        } else if (s_params["position"] == 3) {
            positionShow = 'ENG3';
        } else if (s_params["position"] == 4) {
            positionShow = 'ENG4';
        }

        $("#tail").text(s_params["acReg"]);
        $("#position").val(s_params["position"]);
        $("#position_show").text(positionShow);

        $("#sdate").datebox('setValue', s_params["serStartDate"]);
        $("#edate").datebox('setValue', s_params["serEndDate"]);
        $("#sec").val(s_params["sec"]);

        $("#num").text(s_params["pn"]);
        $("#seq").text(s_params["sn"]);


        $("#find_btn").click(function () {
            // console.log('click')

            var actionUrl;
            var params;
            if ($("#srhtype").val() == 'r') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_R";

                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStartDate": $("#sdate").datebox('getValue'),
                    "serEndDate": $("#edate").datebox('getValue'),
                    "serStep": s_params["serStep"],
                    // "serPn": s_params["pn"],
                    // "serSn": s_params["sn"],
                    "SerDrawType": "tail",
                    "SerPnId": s_params["pnId"]
                };
            } else if ($("#srhtype").val() == 'z') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_Z";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    // "serPn": s_params["pn"],
                    // "serSn": s_params["sn"],
                    "SerDrawType": "tail",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_0").val(),
                    "serWeek": $("#month").val()
                };
            } else if ($("#srhtype").val() == 'y') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_Y";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    // "serPn": s_params["pn"],
                    // "serSn": s_params["sn"],
                    "SerDrawType": "tail",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_1").val(),
                    "serMonth": $("#month").val()
                };
            } else if ($("#srhtype").val() == 'n') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_N";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    // "serPn": s_params["pn"],
                    // "serSn": s_params["sn"],
                    "SerDrawType": "tail",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_2").val(),

                };
            }

            // var loading = $("<div class=\"panel-loading\" style='height:60px;text-align: center'></div>");
            // $("#chart_div").html(loading);
            // loading.show();


            $.ajax({
                url: actionUrl,
                data: params,
                dataType: "text",
                cache: false,
                beforeSend:function(){
                    ajaxLoading();
                },
                success: function (obj, textStatus) {
                    ajaxLoadEnd();
                    //  var data = JSON.parse(obj);
                    // data = JSON.parse(data.data)

                    obj = JSON.parse(obj);
                    if(obj.code != '200'){
                        MsgAlert({content: obj.msgData[0] ? obj.msgData[0] : obj.msg, type: 'error'});
                        return;
                    }
                    // console.log(obj)
                    if (obj.data == '') {

                        // drawTailOil(data, params);
                        alert('暂无数据');
                        return;
                    }
                    var data = JSON.parse(obj.data);
                    // console.log(JSON.parse(data.data))
                    if (data.ajaxResult == 'failure') {
                        alert('Data not found');
                        loading.hide();
                        return;
                    }
                    drawTailOil(data, params);


                },
                error:function () {
                    ajaxLoadEnd();
                }
            });
        });

        $("#find_btn").click();
    });

    //查看飞机所有发动机油耗图
    function drawTailOil(data, s_params) {
        // console.log('drawTailOil')
        var warn = data.warn;
        var redline = data.redline;

        var lEngOilList = [];
        var rEngOilList = [];
        var eng3OilList = [];
        var eng4OilList = [];

        //分离左发右发的油耗数据
        $.each(data.oilList, function (i, vo) {
            if (vo.position == '1') {
                lEngOilList.push(vo);
            } else if (vo.position == '2') {
                rEngOilList.push(vo);
            } else if (vo.position == '3') {
                eng3OilList.push(vo);
            } else if (vo.position == '4') {
                eng4OilList.push(vo);
            }
        });
        initEngNews(lEngOilList, rEngOilList, eng3OilList, eng4OilList, s_params);
        var lrows = []; //左发
        var rrows = [];//右发
        var rows3 = [];
        var rows4 = [];
        //左发油耗数据多于右发
        $.each(lEngOilList, function (i, vo) {
            var row = [];
            row.push(vo.flyDate);
            row.push(vo.averageOil);
            row.push(redline);
            row.push(warn);
            lrows.push(row);
        });
        //右发油耗数据多于左发
        $.each(rEngOilList, function (i, vo) {
            var row = [];
            row.push(vo.flyDate);
            row.push(vo.averageOil);
            row.push(redline);
            row.push(warn);
            rrows.push(row);
        });
        //左发油耗数据多于右发
        $.each(eng3OilList, function (i, vo) {
            var row = [];
            row.push(vo.flyDate);
            row.push(vo.averageOil);
            row.push(redline);
            row.push(warn);
            rows3.push(row);
        });
        //右发油耗数据多于左发
        $.each(eng4OilList, function (i, vo) {
            var row = [];
            row.push(vo.flyDate);
            row.push(vo.averageOil);
            row.push(redline);
            row.push(warn);
            rows4.push(row);
        });
        drawlEngChart(lrows);
        drawrEngChart(rrows);
        drawEng3Chart(rows3);
        drawEng4Chart(rows4);

    }

    //显示发动机信息
    function initEngNews(lEngOilList, rEngOilList, eng3OilList, eng4OilList, s_params) {
        //
        // console.log(s_params)
        var tail = s_params["serAcReg"];
        if (lEngOilList.length > 0) {
            $("#num1").text(lEngOilList[0].pn);
            $("#seq1").text(lEngOilList[0].sn);
            $("#tail1").text(tail);
            $("#position1").text("ENG1");

            $("#tail").val($("#tail1").text());
        } else {
            //没有左发
            $("#num1").text('');
            $("#seq1").text('');
            $("#tail1").text('');
            $("#position1").text('');
        }

        if (rEngOilList.length > 0) {
            $("#num2").text(rEngOilList[0].pn);
            $("#seq2").text(rEngOilList[0].sn);
            $("#tail2").text(tail);
            $("#position2").text("ENG2");

            $("#tail").val($("#tail2").text());
        } else {
            //没有右发
            $("#num2").text('');
            $("#seq2").text('');
            $("#tail2").text('');
            $("#position2").text('');
        }

        if (eng3OilList.length > 0) {
            $("#num3").text(eng3OilList[0].pn);
            $("#seq3").text(eng3OilList[0].sn);
            $("#tail3").text(tail);
            $("#position3").text("ENG3");
            $("#tail").val($("#tail3").text());
        } else {
            //没有左发
            $("#num3").text('');
            $("#seq3").text('');
            $("#tail3").text('');
            $("#position3").text('');
        }

        if (eng4OilList.length > 0) {
            $("#num4").text(eng4OilList[0].pn);
            $("#seq4").text(eng4OilList[0].sn);
            $("#tail4").text(tail);
            $("#position4").text("ENG4");
            $("#tail").val($("#tail4").text());
        } else {
            //没有左发
            $("#num4").text('');
            $("#seq4").text('');
            $("#tail4").text('');
            $("#position4").text('');
        }
    }

    //显示左发动机油耗图
    // draws it.
    function drawlEngChart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'ENG1AvgOils');
        data.addColumn('number', 'Red Line');
        data.addColumn('number', 'Warn');
        data.addRows(rows);
        // Set chart options
        var options = {
            'title': 'ENG1 Oil consume line Chart',
            'width': 850,
            'height': 300,
            'chartArea': {width: '70%', height: '40%'},
            'colors': ['blue', 'red', 'orange']
        };
        var chart = new google.visualization.LineChart(document.getElementById('leftChart_div'));
        chart.draw(data, options);
    }

    //显示右发动机油耗图
    // draws it.
    function drawrEngChart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'ENG2AvgOils');
        data.addColumn('number', 'Red Line');
        data.addColumn('number', 'Warn');
        data.addRows(rows);
        // Set chart options
        var options = {
            'title': 'ENG2 Oil consume line Chart',
            'width': 850,
            'height': 300,
            'chartArea': {width: '70%', height: '40%'},
            'colors': ['green', 'red', 'orange']
        };
        var chart = new google.visualization.LineChart(document.getElementById('rightChart_div'));
        chart.draw(data, options);
    }

    //显示发动机3油耗图
    // draws it.
    function drawEng3Chart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'ENG3AvgOils');
        data.addColumn('number', 'Red Line');
        data.addColumn('number', 'Warn');
        data.addRows(rows);
        // Set chart options
        var options = {
            'title': 'ENG3 Oil consume line Chart',
            'width': 850,
            'height': 300,
            'chartArea': {width: '70%', height: '40%'},
            'colors': ['blue', 'red', 'orange']
        };
        var chart = new google.visualization.LineChart(document.getElementById('eng3Chart_div'));
        chart.draw(data, options);
    }

    //显示发动机4油耗图
    // draws it.
    function drawEng4Chart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'ENG4AvgOils');
        data.addColumn('number', 'Red Line');
        data.addColumn('number', 'Warn');
        data.addRows(rows);
        // Set chart options
        var options = {
            'title': 'ENG4 Oil consume line Chart',
            'width': 850,
            'height': 300,
            'chartArea': {width: '70%', height: '40%'},
            'colors': ['green', 'red', 'orange']
        };
        var chart = new google.visualization.LineChart(document.getElementById('eng4Chart_div'));
        chart.draw(data, options);
    }
</script>

<script>
    $(function () {
        $("#srhtype").change(function () {
            $("span[id^=srhtype_]").hide();
            $("#srhtype_" + $("#srhtype").val()).show();
        });
    });
</script>

</body>

</html>
