
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>




<!--    amro-->
    <link href="/css/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dialog_default.css" rel="stylesheet" type="text/css"/>
    <link href="/css/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="/js/jquery/ztree/zTreeStyle.css" rel="stylesheet" type="text/css"/>
    <link href="/css/plugins/easyui/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common_qc.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/constants.js"></script>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/js/plugins/layer/layer.js?style=default"></script>
    <script src="/js/core.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.min.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script type="text/javascript" src="/js/plugins/cookie/jquery.cookie.js"></script>
    <script src="/js/plugins/i18next/i18next.min.js"></script>
    <script type="text/javascript" src="/js/plugins/laytpl/laytpl.js"></script>

    <script type="text/javascript" src="/js/plugins/easyui/jquery.easyui.custom.min.js"></script>
    <script type="text/javascript" src="/js/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/base64.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/am_auth.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/sfa-query-1.0.js"></script>
    <script type="text/javascript" src="/js/jquery/jsapi.js"></script>
        <script type="text/javascript" src="/js/jquery/uds.js"></script>
        <script type="text/javascript" src="/js/jquery/chart.js"></script>
    <style>

    </style>
</head>

<body>
<input id="position" type="hidden"/>
<div class="subwin">
    <div>
        <table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" class="table-zi" width="100%">
            <tr>
                <!--
                <td class="td-line-hight-background"><div
                        align="center">Oils System</div></td>
                         -->
                <td class="td-line-hight-background">
                    <div align="center">P/N</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">S/N</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">A/C</div>
                </td>
                <td class="td-line-hight-background">
                    <div align="center">Position</div>
                </td>
            </tr>
            <tr>
                <!--
                <td align="center" class="div_background">ENG1</td>
                 -->
                <td align="center" class="div_background" id="num"></td>
                <td align="center" class="div_background" id="seq"></td>
                <td align="center" class="div_background"><span id="tail"/></td>
                <td align="center" class="div_background"><span id="position_show"></span></td>
            </tr>
        </table>
    </div>
    <div id="condition" style="margin-top:20px;">
        <div class="field" style="height: 45px;">
            <div id="qc_table">

                &nbsp;
                <select id="srhtype" style="width: 120px;">
                    <option selected="selected" value="r">按日期段查询</option>
                    <option value="z">按周查询</option>
                    <option value="y">按月查询</option>
                    <option value="n">按年查询</option>
                </select>
                <span id="srhtype_r">
							<text>Start Date</text>
							<input class="t_input" id="sdate" name="pageModel.qvalue" type="text" value="2012-05-12">

							<text>截止日期</text>
							<input class="t_input" id="edate" name="pageModel.qvalue" type="text" value="2012-05-25">
						</span>


                <span id="srhtype_z" style="display: none;">

							<select id="year_0"> </select>
							<text>年</text>
							<select id="week">
							</select>
							<text>周</text>

						</span>
                <span id="srhtype_y" style="display: none;">

							<select id="year_1">

							</select>
							<text>年</text>
							<select id="month">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
							</select>
							<text>月</text>

						</span>
                <span id="srhtype_n" style="display: none;">

							<select class="year" id="year_2"></select>
							<text>年</text>

						</span>

                <input class="btn" id="find_btn" type="button" value="Search">
                <input id="sec" type="hidden"/>
            </div>
        </div>
    </div>
</div>


<div id="chart_div"></div>


<script type="text/javascript">
    $(function() {
        $("#sdate").datebox({});
        $("#edate").datebox({});

        var date = new Date();
        for (var i = date.getFullYear(); i >= 2008; i--) {
            var option = '<option value=' + i + '>' + i + '</option>';
            $("[id^=year]").append(option);
        }

        for (var i = 1; i < 53; i++) {
            var option = '<option value=' + i + '>' + i + '</option>';
            $("#week").append(option);
        }

        // var sub_win = frameElement.api,
        //     P = sub_win.opener;
        var param = getParentParam_();
        var s_params = param.data;
        // console.log(s_params)
        var positionShow;
        if (s_params["position"] == 1) {
            positionShow = 'ENG1';
        } else if (s_params["position"] == 2) {
            positionShow = 'ENG2';
        } else if (s_params["position"] == 3) {
            positionShow = 'ENG3';
        } else if (s_params["position"] == 4) {
            positionShow = 'ENG4';
        }

        $("#tail").text(s_params["acReg"]);
        $("#position").val(s_params["position"]);
        $("#position_show").text(positionShow);

        $("#sdate").datebox('setValue', s_params["serStartDate"]);
        $("#edate").datebox('setValue', s_params["serEndDate"]);
        $("#sec").val(s_params["sec"]);

        $("#num").text(s_params["pn"]);
        $("#seq").text(s_params["sn"]);


        $("#find_btn").click(function () {
            var actionUrl;
            var params;
            if ($("#srhtype").val() == 'r') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_R";
                // actionUrl = "OIL_SUMMARY_DRAW_R";

                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStartDate": $("#sdate").datebox('getValue'),
                    "serEndDate": $("#edate").datebox('getValue'),
                    "serStep": s_params["serStep"],
                    "serPn": s_params["pn"],
                    "serSn": s_params["sn"],
                    "SerDrawType": "eng",
                    "SerPnId": s_params["pnId"]
                };
            } else if ($("#srhtype").val() == 'z') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_Z";
                // actionUrl = "OIL_SUMMARY_DRAW_Z";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    "serPn": s_params["pn"],
                    "serSn": s_params["sn"],
                    "SerDrawType": "eng",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_0").val(),
                    "serWeek": $("#month").val()
                };
            } else if ($("#srhtype").val() == 'y') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_Y";
                // actionUrl = "OIL_SUMMARY_DRAW_Y";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    "serPn": s_params["pn"],
                    "serSn": s_params["sn"],
                    "SerDrawType": "eng",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_1").val(),
                    "serMonth": $("#month").val()
                };
            } else if ($("#srhtype").val() == 'n') {
                actionUrl = "/api/v1/plugins/OIL_SUMMARY_DRAW_N";
                // actionUrl = "OIL_SUMMARY_DRAW_N";
                params = {
                    "serAcReg": s_params["acReg"],
                    "serPosition": s_params["serPosition"],
                    "serStep": s_params["serStep"],
                    "serPn": s_params["pn"],
                    "serSn": s_params["sn"],
                    "SerDrawType": "eng",
                    "SerPnId": s_params["pnId"],
                    "serYear": $("#year_2").val(),

                };
            }

            // params = $.extend({}, params,{FunctionCode:actionUrl})
            // InitFuncCodeRequest_({
            //     data: params,
            //     successCallBack: function (obj) {
            //         if (jdata.code == RESULT_CODE.SUCCESS_CODE) {
            //             var data = JSON.parse(obj);
            //             $("#tail").text(data.tail);
            //             if (data.ajaxResult == 'failure') {
            //                 // alert('Data not found');
            //                 MsgAlert({content: $.i18n.t(jdata.data)});
            //                 loading.hide();
            //                 return;
            //             }
            //
            //             var warn = data.warn;
            //             var redline = data.redline;
            //
            //             var rows = [];
            //             $.each(data.oilList, function (i, vo) {
            //                 var row = [];
            //                 row.push(vo.flyDate);
            //                 row.push(vo.averageOil);
            //                 row.push(redline);
            //                 row.push(warn);
            //                 rows.push(row);
            //             });
            //
            //             drawChart(rows);
            //
            //         } else {
            //             MsgAlert({content: jdata.msg, type: 'error'});
            //         }
            //     }
            // });

            //
            $.ajax({
                url: actionUrl,
                data: params,
                dataType: "text",
                cache: false,
                success: function (obj, textStatus) {
                    // var data = JSON.parse(obj);
                    // console.log('daozhel')
                    // $("#tail").text(data.tail);
                    obj = JSON.parse(obj);
                    // console.log(obj)
                    if(obj.code != '200'){
                        MsgAlert({content: obj.msgData[0] ? obj.msgData[0] : obj.msg, type: 'error'});
                        return;
                    }
                    if (obj.data == '') {

                        drawChart([]);
                        alert('暂无数据');
                        return;
                    }
                    var data = JSON.parse(obj.data)

                    // console.log(JSON.parse(data.data))
                    if (data.ajaxResult == 'failure') {
                        alert('Data not found');
                        loading.hide();
                        return;
                    }

                    var warn = data.warn;
                    var redline = data.redline;

                    var rows = [];
                    $.each(data.oilList, function (i, vo) {
                        var row = [];
                        row.push(vo.flyDate);
                        row.push(vo.averageOil);
                        row.push(redline);
                        row.push(warn);
                        rows.push(row);
                    });

                    drawChart(rows);
                }
            });
        });

        $("#find_btn").click();
    });

    // draws it.       
    // draws it.
    function drawChart(rows) {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'AvgOils');
        data.addColumn('number', 'Red Line');
        data.addColumn('number', 'Warn');
        /*
        data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
        ]);
        */
        data.addRows(rows);
        // Set chart options
        var options = {
            'title': 'Oil consume line Chart',
            'width': 850,
            'height': 400,
            'colors': ['blue', 'red', 'orange']
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<script>
    $(function() {
        $("#srhtype").change(function() {
            $("span[id^=srhtype_]").hide();
            $("#srhtype_" + $("#srhtype").val()).show();
        });
    });
</script>

</body>

</html>
