<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        {{isEdit ? 'CC View' : 'Add CC'}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<moac-body>
    <div class=" p-cc" ng-class="{'cc-disabled cc-scrollable-content': !canEdit, 'ddi-scrollable-content': canEdit}">
        <div class="bgfff">
            <div class="box mg7" style="display: block">
                <div class="item bgcf3"  style="display: block;width: 100%;margin-bottom: 5px">
                    <label class="top" ng-if="docType=='TLB'|| docType=='tlb'" style="width: 100%">TLB NO：{{tlbNo}}</label>
                    <label class="top" ng-if="docType=='nrct'" style="width: 100%">NRC TASK NO：{{tlbNo}}</label>
                    <label class="top" ng-if="docType=='nrc'" style="width: 100%">NRC NO：{{tlbNo}}</label>
                </div>
                <div class="item bgcf3" style="display: block;width: 100%;margin-top: 5px"><label class="top">A/C No：{{initData.acNo}}</label></div>
            </div>
            <!--<div style="height:0.5rem;background-color: #f3f3f3;border-top:0.3px solid #dedede;border-bottom:0.3px solid #dedede;"></div>-->
        </div>

        <div class="box pd7">
            <div class="item solid" style="overflow: hidden">
                <label class="top">Date</label>
                <!-- <i style="padding-left:1.5rem">{{completeDate|date:'yyyy-MM-dd HH:mm:ss'}}</i>-->
                <!--<input type="datetime-local" ng-model="completeDate"  required/>-->
                <input type="datetime-local" ng-model="$parent.completeDate" style="position:relative;top:0rem;height: 1.5rem;background:transparent" required />

            </div>
            <div class="item solid" >
                <label class="top">Type</label>
                <select name="type"
                        class="b-select-mel b-flex-box"
                        ng-model="$parent.typeName"
                        ng-options=" x for x in typeData"
                        ng-change="refChange(typeName)"
                        required
                >
                </select>
            </div>
        </div>
        <cc-install source="insertJson"
                    submit="submitMethod()"
                    ng-if="typeName=='Install'" acid="acid" onoff="onoff"></cc-install>
        <cc-remove source="insertJson"
                   is-detail="detail"
                   is-blur="blur"
                   get-method="method()"
                   submit="submitMethod()"
                   acid="acid"
                   onoff="onoff"
                   ng-if="typeName=='Remove'"></cc-remove>
        <cc-replace source="insertJson"
                    is-detail="detail"
                    is-blur="blur"
                    get-method="method()"
                    submit="submitMethod()"
                    acid="acid"
                    onoff="onoff"
                    ng-if="typeName=='Replace'"></cc-replace>
        <cc-swap source="insertJson"
                 submit="submitMethod()"
                 acid="acid"
                 onoff="onoff"
                 ng-if="typeName=='Swap'"
                ></cc-swap>


    </div>
    <div class="p-cc" style="height: auto; background-color: #fff" ng-click="closeCC()" ng-show="!canEdit">
        <button class="cc-submit  mt135 active"  ng-if="isEdit">
            {{canEdit ? '保存' : '提交并关闭CC'}}
        </button>
    </div>
    <!--<div style="height:400px;background-color: #f8f8f8;"></div>-->
</moac-body>
