<form name="addCcInstall">
    <div class="b-form">
        <div class="ccOn">
            <p class="b-off">ON</p>
            <div class="box ">
                <div class="item solid">
                    <label>Name</label>
                    <input type="text" name="onName" ng-model="source.onName">
                </div>
                <div class="item solid">
                </div>
            </div>
            <div class="box">
                <div class="item solid">
                    <label class="db">P/N <i>*</i></label>
                    <div class="par">
                        <select-pn pn-info="onPn"></select-pn>
                        <!--<span class="pab db ac-icon"></span>-->
                    </div>
                </div>
                <div class="item solid">
                    <label>S/N <i>*</i></label>
                    <input type="text" name="onSn" ng-model="source.onSn" required>
                </div>
            </div>
            <div class="box ">

                <div class="item solid">
                    <label>构型</label>
                    <select
                            class="b-select-mel b-flex-box"
                            ng-model="source.onCin"
                            ng-options=" x for x in onoff.ongouxinlist"
                            ng-change="gouxinChange()"
                            style="right: 0"
                    >
                    </select>
                </div>
                <div class="item solid" ng-if="!inPosition_f">
                    <label>位置 <i>*</i></label>
                    <input type="text" name="onPosition" ng-model="source.onPosition" required/>
                </div>
                <div class="item solid" ng-if="inPosition_f">
                    <label>位置 <i>*</i></label>
                    <select name="onPosition"
                            class="b-select-mel b-flex-box"
                            ng-model="source.onPosition"
                            ng-options=" x for x in inPosition"
                            ng-change=""
                            style="right: 0"
                            required
                    >
                    </select>
                </div>
            </div>

        </div>
        <p class="b-remark">Remark</p>
            <textarea maxlength="500" class="solid c-textarea" name="remark" ng-model="source.remark"
                      placeholder="最多可输入500字"></textarea>
        <div class="p-image">
            <img-select img-arr="$parent.$parent.$parent.imgArr" file-arr="$parent.$parent.$parent.fileArr"
                        attachvo="attachvo" del-img-id="imgInfo.delImgId"></img-select>
        </div>

        <div class="ui-edit" ng-show="$parent.$parent.$parent.isEdit">
            <div class="add-cc-btn"
                 ng-click="$parent.$parent.$parent.switchEdit()">
                <p>
                    <i class="icon-edit"></i><span>{{!$parent.$parent.$parent.canEdit ? 'Edit' : 'Cancel Edit'}}</span>
                </p>
            </div>

            <div ng-click="$parent.$parent.$parent.delCcno($parent.$parent.$parent.ccId)">
                <p><i class="icon-del"></i><span>Delete</span></p>
            </div>

        </div>
    </div>

    <button class="cc-submit  mt135" ng-click="direcSubmit()" ng-show="$parent.$parent.$parent.canEdit"
            ng-class="{inactive:addCcInstall.$invalid,
		                    active: addCcInstall.$valid}"
            ng-disabled="addCcInstall.$invalid">保存
    </button>

</form>