
<form name="addCcRemove" ng-submit="ccSubmit(ccData)" >
    <div class="box pd7">
        <div class="item solid cc-material-status">
            <label class="top remove-top">Material status<span class="red">*</span> </label>
            <select name="Material status"
                    class="b-select-mel b-flex-box remove-type"
                    ng-model="source.airMaterialState"
                    ng-options=" v.value as v.name for v in statusData"
                    required
            >
            </select>
        </div>
    </div>
    <div class="b-form">
        <div class="ccOff">
            <p class="b-off">OFF</p>
            <div class="box ">
                <div class="item solid">
                    <label>Name</label>
                    <input type="text"  name="offName" ng-model="source.offName">
                </div>
                <div class="item solid">

                </div>
            </div>
            <div class="box">
                <div class="item solid">
                    <label class="db">P/N <i>*</i></label>
                    <div class="par">
                        <select-pn pn-info="offPn"></select-pn>
                        <!--<span class="pab db ac-icon"></span>-->
                    </div>
                </div>
                <div class="item solid">
                    <label>S/N <i>*</i></label>
                    <input type="text" name="offSn"
                           ng-model="source.offSn"
                           ng-init="isBlur = false"
                           ng-focus="isBlur = false"
                           ng-blur="offsn_blur()"
                           required>
                </div>
            </div>
            <div class="box ">
                <div class="item solid">
                    <label>构型</label>
                    <select
                            class="b-select-mel b-flex-box"
                            ng-model="source.cin"
                            ng-options=" x for x in onoff.offgouxinlist"
                            ng-change="gouxinChange()"
                            style="right: 0"
                    >
                    </select>
                </div>
                <div class="item solid" ng-if="!inPosition_f">
                    <label>位置 <i>*</i></label>
                    <input type="text" name="offPosition" ng-model="source.offPosition" required>
                </div>
                <div class="item solid" ng-if="inPosition_f">
                    <label>位置 <i>*</i></label>
                    <select name="offPosition"
                            class="b-select-mel b-flex-box"
                            ng-model="source.offPosition"
                            ng-options=" x for x in inPosition"
                            ng-change=""
                            style="right: 0"
                            required
                    >
                    </select>
                </div>
            </div>
        </div>
        <p class="b-remark">Remark</p>
    <textarea maxlength="500" class="solid c-textarea" name="remark" ng-model="source.remark"
              placeholder="最多可输入500字"></textarea>
        <div class="c-next-thing"  ng-show="isDetail.length">
            <p class="b-remark">该部件存在以下下级部件请核实是否一起拆换</p>
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="20%">Name</td>
                    <td width="15%">P/N</td>
                    <td width="15%">S/N</td>
                    <td width="20%">Position</td>
                </tr>
                <tr ng-repeat="data in isDetail">
                    <td>{{data.name}}</td>
                    <td>{{data.offPn}}</td>
                    <td>{{data.offSn}}</td>
                    <td>{{data.offPosition}}</td>
                </tr>
            </table>
        </div>
        <div class="p-image">
            <img-select img-arr="$parent.$parent.$parent.imgArr" file-arr="$parent.$parent.$parent.fileArr" attachvo="attachvo" del-img-id="imgInfo.delImgId"></img-select>
        </div>

        <div class="ui-edit" ng-show="$parent.$parent.$parent.isEdit">
            <div class="add-cc-btn"
                 ng-click="$parent.$parent.$parent.switchEdit()">
                <p><i class="icon-edit"></i><span>{{!$parent.$parent.$parent.canEdit ? 'Edit' : 'Cancel Edit'}}</span></p>
            </div>

            <div ng-click="$parent.$parent.$parent.delCcno($parent.$parent.$parent.ccId)">
                <p><i class="icon-del"></i><span>Delete</span></p>
            </div>
        </div>
    </div>
    <button class="cc-submit  mt135" ng-click="direcSubmit()" ng-show="$parent.$parent.$parent.canEdit"
            ng-class="{inactive:addCcRemove.$invalid,
                        active: addCcRemove.$valid}"
            ng-disabled="addCcRemove.$invalid" >保存</button>

    <!-- <div class="p-cc" style="height: auto; background-color: #fff" ng-click="$parent.$parent.$parent.closeCC()"
         ng-show="!$parent.$parent.$parent.canEdit">
        <button class="cc-submit  mt135 active">关闭CC</button>
    </div> -->
</form>


