
	<form name="addCcSwap" >
		<div class="b-form">
			<div class="ccOff" >
				<p class="b-off">OFF</p>
				<div class="box ">
					<div class="item solid">
						<label >Name</label>
						<input type="text" name="offName" ng-model="source.offName" >
					</div>
					<div class="item solid">

					</div>
				</div>
				<div class="box">
					<div class="item solid">
							<label class="db" >P/N <i>*</i></label>
						<div class="par">
							<select-pn pn-info="offPn"></select-pn>
							<!--<span class="pab db ac-icon"></span>-->
						</div>
					</div>
					<div class="item solid">
						<label >S/N <i>*</i></label>
						<input type="text"  name="offSn" ng-model="source.offSn" required>
					</div>
				</div>
				<div class="box ">

					<div class="item solid">
						<label>构型</label>
						<select
								class="b-select-mel b-flex-box"
								ng-model="source.cin"
								ng-options=" x for x in onoff.offgouxinlist"
								ng-change="offgouxinChange()"
								style="right: 0"
						>
						</select>
					</div>
					<div class="item solid" ng-if="!offPosition_f">
						<label>位置 <i>*</i></label>
						<input type="text" name="offPosition" ng-model="source.offPosition" required>
					</div>
					<div class="item solid" ng-if="offPosition_f">
						<label>位置 <i>*</i></label>
						<select name="offPosition"
								class="b-select-mel b-flex-box"
								ng-model="source.offPosition"
								ng-options=" x for x in offPosition"
								ng-change=""
								style="right: 0"
								required
						>
						</select>
					</div>
				</div>
			</div>
			<div class="ccOn" >
				<p class="b-off">ON</p>
				<div class="box " >
					<div class="item solid">
							<label class="db" >A/C<i>*</i></label>
						<div class="par">
							<div class="datebox-wrap">
								<input type="text"  class="form-control search-textbox"
									   ng-paste="getAc()"
									   ng-keyup="getAc()"
									   ng-blur="hideDrop()"
									   ng-model="source.onAc" required >
								<span class="loading-approver ng-hide" ng-show="loadAc">
									<i class="fa fa-spin loading-spinner">
										<img src="dist/images/loading.png" width="60%">
									</i>
								</span>
								<ul ng-show="dropdownAc && acList.length" class="dropdown-menu mr-dropdown">
									<li ng-repeat="item in acList" ng-touchend="selectAc(item.tail,item)">
										<a>{{ item.tail}}</a>
									</li>
								</ul>
								<!--<span ng-show="acList.length==0 || haveAC" class="cred  dropdown-menu mr-dropdown">输入飞机号</span>-->
							</div>
							<!--<span class="pab db ac-icon" ></span>-->
						</div>
					</div>
				</div>
				<div class="box " >
					<div class="item solid">
						<label >Name</label>
						<input type="text" name="onName" ng-model="source.onName" >
					</div>
					<div class="item solid">
					</div>
				</div>
				<div class="box" >
					<div class="item solid">
							<label class="db" >P/N <i>*</i></label>
						<div class="par">
							<select-pn pn-info="onPn"></select-pn>
							<!--<span class="pab db ac-icon"></span>-->
						</div>
					</div>
					<div class="item solid">
						<label >S/N <i>*</i></label>
						<input type="text"  name="onSn" ng-model="source.onSn" required>
					</div>
				</div>
				<div class="box ">

					<div class="item solid">
						<label>构型 </label>
						<select
								class="b-select-mel b-flex-box"
								ng-model="source.onCin"
								ng-options=" x for x in onoff.ongouxinlist"
								ng-change="ongouxinChange()"
								style="right: 0"

						>
						</select>
					</div>
					<div class="item solid" ng-if="!onPosition_f">
						<label>位置 <i>*</i></label>
						<input type="text" name="onPosition" ng-model="source.onPosition" required>
					</div>
					<div class="item solid" ng-if="onPosition_f">
						<label>位置 <i>*</i></label>
						<select name="onPosition"
								class="b-select-mel b-flex-box"
								ng-model="source.onPosition"
								ng-options=" x for x in onPosition"
								ng-change=""
								style="right: 0"
								required
						>
						</select>
					</div>
				</div>
			</div>
			<p class="b-remark">Remark</p>
			<textarea maxlength="500" class="solid c-textarea" name="remark"  ng-model="source.remark" placeholder="最多可输入500字"></textarea>
			<div class="p-image">
				<img-select img-arr="$parent.$parent.$parent.imgArr" file-arr="$parent.$parent.$parent.fileArr" attachvo="attachvo" del-img-id="imgInfo.delImgId"></img-select>
			</div>

			<div class="ui-edit" ng-show="$parent.$parent.$parent.isEdit">
				<div class="add-cc-btn"
					 ng-click="$parent.$parent.$parent.switchEdit()">
					<p><i class="icon-edit"></i><span>{{!$parent.$parent.$parent.canEdit ? 'Edit' : 'Cancel Edit'}}</span></p>
				</div>

				<div ng-click="$parent.$parent.$parent.delCcno($parent.$parent.$parent.ccId)">
					<p><i class="icon-del"></i><span>Delete</span></p>
				</div>

			</div>
		</div>

		<button class="cc-submit  mt135" ng-click="direcSubmit()" ng-show="$parent.$parent.$parent.canEdit"
			ng-class="{inactive:addCcSwap.$invalid ||!isSelectAc,
			active: addCcSwap.$valid &&isSelectAc}"
			ng-disabled="addCcSwap.$invalid || !isSelectAc" >保存</button>

      <!-- <div class="p-cc" style="height: auto; background-color: #fff" ng-click="$parent.$parent.$parent.closeCC()"
         ng-show="!$parent.$parent.$parent.canEdit">
        <button class="cc-submit  mt135 active">关闭CC</button>
      </div> -->
	</form>

