<ui-view name="record" ></ui-view>
<moac-header> CC </moac-header>

<div class="d-faultCC">
    <div class="ui-list">
        <div class="ui-list-item ui-ipt-item disabled">
            <span>CC No. </span>
            <div ng-bind="cc.ccNo"></div>
        </div>
        <div class="ui-list-item ui-ipt-item disabled">
            <span>Date Time.</span>
            <div ng-bind="cc.completeDate|formatDate"></div>
        </div>
    </div>
    <div class="ui-list">
        <div class="ui-list-item ui-ipt-item disabled" ng-switch="cc.ccType">
            <span>Type. </span>
            <div ng-switch-when="1">Remove</div>
            <div ng-switch-when="2">Install</div>
            <div ng-switch-when="3">Replace</div>
            <div ng-switch-when="4">Swap</div>
        </div>
        <div class="ui-list-item ui-ipt-item disabled">
            <span>Material status</span>
            <div ng-bind="cc.airMaterialState"></div>
        </div>
    </div>
    <div ng-switch="cc.ccType.toString()">
        <div ng-switch-when="1">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="cc.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.offPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{cc.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="next" ng-if="cc.componentCCSubSet.length>0">
                <div class="ui-list">该部件存在以下下级部件一起拆换：</div>
                <div>
                    <table border="0" class="ui-table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>P/N</td>
                            <td>S/N</td>
                            <td>Position</td>
                            <td>是否随上级母件一起拆下</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="n in cc.componentCCSubSet">
                            <td ng-bind="n.name"></td>
                            <td ng-bind="n.offPn"></td>
                            <td ng-bind="n.offSn"></td>
                            <td ng-bind="n.offPosition"></td>
                            <td>{{n.flag.toUpperCase()=='Y'?'YES':'NO'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-switch-when="2">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="cc.onName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.onPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{cc.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="3">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="cc.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.offPosition"></div>
                </div>
            </div>
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.onPosition"></div>
                </div>
            </div>
            <div class="next" ng-if="cc.componentCCSubSet.length>0">
                <div class="ui-list">该部件存在以下下级部件一起拆换：</div>
                <div>
                    <table border="0" class="ui-table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>P/N</td>
                            <td>S/N</td>
                            <td>Position</td>
                            <td>是否随上级母件一起拆下</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="n in cc.componentCCSubSet">
                            <td ng-bind="n.name"></td>
                            <td ng-bind="n.offPn"></td>
                            <td ng-bind="n.offSn"></td>
                            <td ng-bind="n.offPosition"></td>
                            <td>{{n.flag.toUpperCase()=='Y'?'YES':'NO'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <div>
                        <p class="ui-remark">{{cc.remark}}&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="4">
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">OFF</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="cc.offName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.offPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.offSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.cin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.offPosition"></div>
                </div>
            </div>
            <div class="ui-list" style="font-weight: bold;font-size:0.8rem;color:#666;">ON</div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>A/C.</span>
                    <div ng-bind="cc.onAc"></div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility">
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Name.</span>
                    <div ng-bind="cc.onName"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">

                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>P/N.</span>
                    <div ng-bind="cc.onPn"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N.</span>
                    <div ng-bind="cc.onSn"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>构型</span>
                    <div ng-bind="cc.onCin"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>位置</span>
                    <div ng-bind="cc.onPosition"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <p class="ui-remark">{{cc.remark}}&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn pull-right" ng-if="fromTlb" ng-click="go('tlbToccFileRecord', 'slideLeft', {interfaceName:'cc/findAttachmenByCCId', param:{ccId: cc.id}})">查看图片记录</div>
    <div class="btn pull-right" ng-if="!fromTlb" ng-click="go('searchFault.faultClose.ccInfo.fileRecord', 'slideLeft', {interfaceName:'cc/findAttachmenByCCId', param:{ccId: cc.id}})">查看图片记录</div>
</div>
<!--<fault-cc cc-info="cc" fault-info="cc"-->
          <!--cc-file="go('searchFault.faultClose.cc.fileRecord', 'slideLeft', {interfaceName:'cc/findAttachmenByCCId', param:{ccId: cc.id}})">-->

<!--</fault-cc>-->