<div class="datebox-wrap">
    <input type="text" pn-input class="form-control search-textbox framecolor"
           ng-paste="searchPartNo(partno)"
           ng-blur="dropdown = false"
           ng-keyup="setPartNo($event)"
           ng-model="pnInfo.partno"
           placeholder="请输入"
           ng-class="{'noBorder':pnInfo.noBorder}"
           required
    />
    <span class="loading-approver" ng-show="loadPartNo">
        <i class="fa fa-spin loading-spinner">
            <img src="dist/images/loading.png" width="60%">
        </i>
    </span>
    <ul ng-show="dropdown && partNoList.length" class="dropdown-menu mr-dropdown" style="z-index:99999999;">
        <li pn-info-select  ng-repeat="item in partNoList">
            <a>{{ item.partno }}</a>
        </li>
    </ul>

    <input type="hidden" ng-model="pnInfo.partno"/>
</div>