@charset "utf-8";
/*公共部分，以及各个页面头样式*/
td, th, li, p, span, input, textarea, select {
    font-size: 12px;
    font-family: "微软雅黑" ， "宋体", Verdana, Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

input, select, textarea {
    border: 1px solid #ccc;
    _border: none;
}

input[type="radio"], input[type="checkbox"] {
    border: none;
}

.td-font {
    font-size: 12px;
}

.td-font-red {
    color: #FF0000
}

input[type="submit"] {
    background: -moz-linear-gradient(center top, #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    letter-spacing: 3px;
    line-height: 1;
    overflow: visible;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

/*设定标题的样式*/
.tab_title_background {
    background: #f0f0f0;
}

.td-line-hight {
    height: 30px;
}

.td-line-hight-background {
    height: 30px;
    background: #f0f0f0;
    background: #f0f0f0;
    text-align: right;
}

.td-line-hight-update {
    height: 35px;
}

.td-line-hight-bg-update {
    height: 35px;
    background: #f0f0f0;
}

.td-line-hight-general {
    height: 30px;
}

.td-line-hight-bg-general {
    height: 25px;
    background: #f0f0f0;
}

.td-line-hight-25 {
    height: 25px;
}

.table-title-bold {
    font-size: 14px;
    font-weight: bold;
}

.table-zi td, .dwTable td, .dwTable th {
    padding: 3px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

a {
    color: #6e6e6e;
    text-decoration: none;
}

.table-title-hight-background {
    height: 20px;
    background: #f0f0f0;
}

li.title {
    list-style: none outside none;
}

li {
    font-size: 12px;
    list-style: circle outside none;
}

ul.ztree {
    background: none repeat scroll 0 0 #F0F6E4;
    border: 1px solid #617775;
    height: 360px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: scroll;
    width: 220px;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0em;
    padding: 0;
    overflow: auto;
    text-align: left;
}

.list_btn_row .right_button {
    list-style: none;
    float: right;
    margin-left: 5px;
    padding-right: 5px;
}

.btn {
    background: url(../../images/btn_bg.gif) repeat-x;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 15px;
    *padding: 1px 15px;
    cursor: pointer;
    _height: 23px;
}

.divOperator {
    cursor: pointer;
    text-align: center;
}

.viewIpt input {
    width: 100px;
    vertical-align: middle;
}

.viewIpt img {
    vertical-align: middle;
    padding-top: 2px;
}

form {
    overflow: auto;
}