<div>
    <div class="item">
        <div class="title" style="width: 30%">相关工卡</div>
        <input class="right" type="text" style="width: 60%;font-size: .7rem;"
               ng-blur="dropdown=false;loadApprover=false"
               placeholder="请填写相关工卡"
               ng-model="info.cardNo">
        <span class="loading-approver" ng-show="loadApprover">
            <i class="fa fa-spin loading-spinner" >
                <img src="dist/images/loading.png" width="60%">
            </i>
        </span>
        <ul ng-show="dropdown && list.length > 0 && !isDefault " class="dropdown-menu mr-dropdown">
            <li ng-click="selectItem(item)"
                ng-repeat="item in list|filter:{cardNo:info.cardNo}">
                <a>{{ item.cardNo }}</a>
            </li>
        </ul>
        <ul ng-show="dropdown && list.length > 0 && isDefault" class="dropdown-menu mr-dropdown">
            <li ng-click="selectItem(item)"
                ng-repeat="item in list">
                <a>{{ item.cardNumber }}</a>
            </li>
        </ul>

    </div>

</div>
