
<div>
    <div class="item">
        <div class="title">ATA章节号</div>
        <input class="right" type="text"
               ng-blur="dropdown=false;loadApprover=false"
               placeholder="请选择ATA章节号"
               ng-model="info.value">
        <span class="loading-approver" ng-show="loadApprover">
            <i class="fa fa-spin loading-spinner" >
                <img src="dist/images/loading.png" width="60%">
            </i>
        </span>
        <ul  ng-show="dropdown && list.length > 0" class="dropdown-menu mr-dropdown">
                <li ng-touchstart="startSelect()"  ng-touchend="selectItem(item)"
                    ng-repeat="item in list">
                    <a>{{ item.label }}</a>
                </li>
        </ul>
    </div>

</div>
