<div ng-show="showSizeTemplateState" class="damage-location-detail">
    <form name="myForm" novalidate>
        <div class="damage-location-content-wraper">
            <div class="damage-location-margin"></div>
            <div class="damage-location-content">
                <div class="header">
                    损伤位置
                    <i class="cancle" ng-click="hideSizeTemplate()"></i>
                </div>
                <div>
                    <div class="item">
                        <div class="title">
                            STA
                        </div>
                        <div class="item-input">
                            <div class="left">
                                <input class="sta-input" ng-model="info.staMin" type="text">
                            </div>
                            <div class="right">
                                <input ng-model="info.staMinOffset" type="text">
                                <label><input type="radio" value="+"  ng-model="info.staMinSymbol" ng-checked="info.staMinSymbol=='+'" name="staMinOffset"><i class="spot-passive"></i></label>
                                <label><input type="radio" value="-"  ng-model="info.staMinSymbol" name="staMinOffset"><i class="spot-minute"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            TO
                        </div>
                        <div class="item-input">
                            <div class="left">
                                <input class="to-input" ng-model="info.staMax" type="text">
                            </div>
                            <div class="right">
                                <input ng-model="info.staMaxOffset" type="text">
                                <label><input type="radio" value="+" checked ng-model="info.staMaxSymbol" name="staMaxOffset"><i class="spot-passive"></i></label>
                                <label><input type="radio" value="-" ng-model="info.staMaxSymbol" name="staMaxOffset"><i class="spot-minute"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="title">STR</div>
                        <div class="item-input">
                            <div class="left">
                                <input type="text" ng-model="info.strMin">
                                <label><input type="radio" value="+1" checked ng-model="info.strMinSymbol" name="strMin"><i class="spot-lh"></i></label>
                                <label><input type="radio" value="-1" ng-model="info.strMinSymbol" name="strMin"><i class="spot-rh"></i></label>
                            </div>
                            <div class="right">
                                <input type="text" ng-model="info.strMinOffset">
                                <label><input type="radio" value="+" checked ng-model="info.strMinOffsetSymbol" name="strMinOffset"><i class="spot-passive"></i></label>
                                <label><input type="radio" value="-" ng-model="info.strMinOffsetSymbol" name="strMinOffset"><i class="spot-minute"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">TO</div>
                        <div class="item-input">
                            <div class="left">
                                <input type="text" ng-model="info.strMax">
                                <label><input type="radio" value="+1" checked ng-model="info.strMaxSymbol" name="strMax"><i class="spot-lh"></i></label>
                                <label><input type="radio" value="-1" ng-model="info.strMaxSymbol" name="strMax"><i class="spot-rh"></i></label>
                            </div>
                            <div class="right">
                                <input type="text" ng-model="info.strMaxOffset">
                                <label><input type="radio" value="+" checked ng-model="info.strMaxOffsetSymbol" name="strMaxOffset"><i class="spot-passive"></i></label>
                                <label><input type="radio" value="-" ng-model="info.strMaxOffsetSymbol" name="strMaxOffset"><i class="spot-minute"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <div class="left-title">BL</div>
                            <div class="right-title">TO</div>
                        </div>
                        <div class="item-input">
                            <div class="left">
                                <input type="text" ng-model="info.blMin">
                                <label><input type="radio" value="+1" checked ng-model="info.blMinSymbol" name="blMin"><i class="spot-lh"></i></label>
                                <label><input type="radio" value="-1" ng-model="info.blMinSymbol" name="blMin"><i class="spot-rh"></i></label>
                            </div>
                            <div class="right">
                                <input type="text" ng-model="info.blMax">
                                <label><input type="radio" value="+1" checked ng-model="info.blMaxSymbol" name="blMax"><i class="spot-lh"></i></label>
                                <label><input type="radio" value="-1" ng-model="info.blMaxSymbol" name="blMax"><i class="spot-rh"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <div class="left-title">WL</div>
                            <div class="right-title">TO</div>
                        </div>
                        <div class="item-input">
                            <div class="left">
                                <input type="text" class="to-input" ng-model="info.wlMin">
                            </div>
                            <div class="right">
                                <input type="text" class="to-input" ng-model="info.wlMax">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="save-button-section" ng-if="isEdit" ng-click="hideSizeTemplate()">
                    <button class="button-active" ng-disabled="!myForm.$valid">保存</button>
                </div>
                <!--非编辑状态，用一个透明层遮住，防止编辑-->
                <div ng-if="!isEdit" class="cover"></div>
            </div>
        </div>
    </form>
</div>