<div>
    <div class="item">
        <div class="title">
            工作指令号
            <span class="red">*</span>
        </div>
        <input class="right" type="text"
               ng-blur="dropdown=false;loadApprover=false"
               placeholder="请填写工作指令号"
               ng-focus="search($event)"
               ng-model="info.woNo" required >
        <span class="loading-approver" ng-show="loadApprover">
            <i class="fa fa-spin loading-spinner" >
                <img src="dist/images/loading.png" width="60%">
            </i>
        </span>
        <ul ng-show="dropdown && list.length > 0" class="dropdown-menu mr-dropdown">
            <li ng-click="selectItem(item)"
                ng-repeat="item in list | filter:{woNo:info.woNo}">
                <a>{{ item.woNo }}</a>
            </li>
        </ul>
    </div>

</div>
