
<div>
    <div class="item">
        <div class="title">
            飞机号
            <span class="red">*</span>
        </div>
        <input class="right" type="text"
               ng-blur="dropdown=false;loadApprover=false"
               placeholder="请填写飞机号"
               ng-model="info.label" required>
        <span class="loading-approver" ng-show="loadApprover">
            <i class="fa fa-spin loading-spinner" >
                <img src="dist/images/loading.png" width="60%">
            </i>
        </span>
        <ul ng-show="dropdown && list.length > 0" class="dropdown-menu mr-dropdown">
            <!-- ng-if="item.level == 2"-->
            <li ng-click="selectItem(item)"
                ng-if="item.level > 2"
                ng-repeat="item in list">
                <a>{{ item.label }}</a>
            </li>
        </ul>
    </div>
</div>
