<moac-header>DDI审批</moac-header>
<moac-body>
	<div class="p-ddi-auto p-ddi p-approve-content">
		<form  name="myApproveForm" ng-submit="submit()">
			<div class="ddi-box mgb20">
				license No <i class="cred">*</i><input class="bdn approve-input" type="text" ng-model="approveData.formData.requesterLice" required/>
			</div>
			<p class="p-ddi-text">Remark</p>
			<textarea class="ddi-textarea" ng-model="approveData.formData.remark" id="" cols="30" rows="10"></textarea>
			<p class="p-ddi-text">Result<i class="cred">*</i></p>
			<div class="result-button">
				<button type="button"  ng-class="{active: resultActive==0}" ng-click="setResult($event);resultActive=0"
				>通过
				</button>
				<button type="button" ng-class="{active: resultActive==1}" ng-click="setResult($event);resultActive=1"
				>拒绝
				</button>
			</div>

		</form>
		<div class="ddi-submit mt434" ng-show="myApproveForm.$invalid" disabled="disabled" >提交</div>
		<div class="ddi-submit active mt434" ng-show="myApproveForm.$valid" ng-click="submit(approveData)" >提交</div>
	</div>
</moac-body>

