<div ng-show="!showEwis && !showOil" class="p-ddi-nav navbar-app navbar-absolute-top">
    <div class=" navbar-brand-center ">
        {{ddiTitle}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<moac-body ng-show="!showEwis && !showOil">
    <form name="formBase" style="height: 100%;">
        <div ng-show="!isNextStep && !isNextStep2" class="ddi-scrollable-content">
            <div class="p-base-cont p-ddi ">
                <div class="b-top">
                    <div class="p-base-box">
                        <span class="b-left">Defect No.</span>
                        <span class="b-right cblack"
                              type="text"
                              ng-bind="initData.defectId"></span>
                    </div>
                    <div class="p-base-box">
                        <span class="b-left">Total FLT Hours</span>
                        <span class="b-right"
                              type="text"
                              ng-bind="initData.totalFh"></span>
                    </div>
                    <div class="p-base-box">
                        <span class="b-left">Total FLT Cycle</span>
                        <span class="b-right"
                              type="text"
                              ng-bind="initData.totalCy"></span>
                    </div>
                    <div class="p-base-box">
                        <span class="b-left">飞机号</span>
                        <span class="b-right"
                              type="text"
                              ng-bind="initData.acId"></span>
                    </div>
                    <div class="p-base-box">
                        <span class="b-left">机型</span>
                        <span class="b-right"
                              type="text"
                              ng-bind="initData.minorModel"></span>
                    </div>
                    <div class="p-base-box">
                        <span class="b-left">Affected ENG</span>
                        <span class="b-right"
                              type="text"
                              ng-bind="initData.engSn"></span>
                    </div>
                </div>
                <div class="b-bottom">
                    <div class="tlb-box pad-style tlb-scan-wrapper" ng-if="isTlb">
                        <span>TLB No.<i class="cred">*</i></span>
                        <input name="tlbNo" type="text"
                               ng-change="change()"
                               ng-model="baseData.formData.tlbNo"
                               ng-minlength="6"
                               required
                               disabled="disabled"
                        />
                        <i class="tlb-scan" ng-click="scan()"></i>
                    </div>
                    <div class="tlb-box pad-style" ng-if="!isTlb">
                        <span>TLB No.<i class="cred">*</i></span>
                        <input name="tlbNo" type="text"
                               ng-model="baseData.formData.tlbNo"
                               ng-minlength="6"
                               required
                               style="padding-left: 0;padding-right: 1.3rem"
                        />
                        <i class="tlb-scan" ng-click="scan()"></i>
                        <!--<label class="is-fill-tlb">-->
                            <!--<input type="checkbox" class="ipt-no-tlb" ng-model="$parent.baseData.formData.noTlbNo" ng-click="baseData.formData.noTlbNo ? baseData.formData.tlbNo='' : ''" /> 无TLB-->
                        <!--</label>-->
                    </div>

                    <!--M-HRS-->
                    <div class="b-new-box">
                        <div class="b-flex mg14 m-margin">
                            <div class="b-flex-box border-color">
                                <span>M-HRS<i class="cred">*</i></span>
                                <input type="text" class="text-indent" ng-model="baseData.formData.manHours" required/>
                            </div>
                        </div>
                    </div>

                    <span class="cred" ng-show="formBase.tlbNo.$error.minlength">最少为6位数</span>

<!--                    <div class="b-new-box">-->
<!--                        <div class="ui-list-item ui-check-item inline-block" style="width: 49%">-->
<!--                            <span class="title">DLY/CNL<i class="cred">*</i></span>-->
<!--                            <div class="checkbox">-->
<!--                                <div class="item"-->
<!--                                     ng-class="{active: baseData.formData.dlyCnl=='y'}"-->
<!--                                     ng-click="baseData.formData.dlyCnl='y'"-->
<!--                                >YES-->
<!--                                </div>-->
<!--                                <div class="item"-->
<!--                                     ng-click="baseData.formData.dlyCnl='n'"-->
<!--                                     ng-class="{active: baseData.formData.dlyCnl=='n'}">-->
<!--                                    NO-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="b-new-box">
                        <!--RII-->
                        <div class="ui-list">
                            <div class="ui-list-item ui-check-item" >
                                <span>RII</span>
                                <div class="checkbox">
                                    <div class="item" ng-click="baseData.formData.rii='y';baseData.formData.rci='n'" ng-class="{active: baseData.formData.rii=='y'}">YES</div>
                                    <div class="item" ng-click="baseData.formData.rii='n'" ng-class="{active: baseData.formData.rii=='n'}">NO</div>
                                </div>
                            </div>
                            <div class="ui-list-item ui-check-item" ng-if="baseData.formData.rii == 'n'">
                                <span>RCI</span>
                                <div class="checkbox">
                                    <div class="item" ng-click="baseData.formData.rci='y'" ng-class="{active: baseData.formData.rci=='y'}">YES</div>
                                    <div class="item" ng-click="baseData.formData.rci='n'" ng-class="{active: baseData.formData.rci=='n'}">NO</div>
                                </div>
                            </div>
                            <div class="ui-list-item ui-ipt-item visibility" ng-if="baseData.formData.rii == 'y'"></div>
                        </div>

                        <div class="ui-list" ng-if="baseData.formData.rii.toUpperCase() == 'Y' || baseData.formData.rci.toUpperCase() == 'Y'">
                            <div class="ui-list-item">
                                <span class="name" ng-if="baseData.formData.rii=='y'">RII Sign.<span class="require">*</span></span>
                                <span class="name" ng-if="baseData.formData.rci=='y'">RCI Sign.<span class="require">*</span></span>
                                <div class="ipt">
                                    <select-person person-info="RiiSign"></select-person>
                                </div>
                            </div>
                        </div>
                    </div>
                    <select-zone zone-info="zoneInfo" > </select-zone>
                    <oil-ewis  edit="$parent.edit"
                               ac-reg="initData.acId"
                               is-has-ewis="$parent.isHasEwis" ewis-show="$parent.showEwis"
                               ewis-state="$parent.ewisState" ewis-dto="$parent.ewisDTO"
                               ewis-index="$parent.selectedEwisIndex" ewis-info="$parent.ewisInfo"
                               is-has-oil="$parent.isHasOil" oil-show="$parent.showOil"
                               oil-state="$parent.oilState" oil-dto="$parent.oilDTO"
                               oil-index="$parent.selectedOilIndex" oil-info="$parent.oilInfo"
                    ></oil-ewis>


                    <div>
                        <p class="tip-title">Reason<i class="cred">*</i></p>
                        <div class="reason-button">
                            <button type="button" ng-class="{active: baseData.formData['lackMater']=='y'}"
                                    ng-click="selectTab('lackMater')">Material
                            </button>
                            <button type="button" ng-class="{active: baseData.formData['lackTime']=='y'}"
                                    ng-click="selectTab('lackTime')">
                                Ground Time
                            </button>
                            <button type="button" ng-class="{active: baseData.formData['lackTool']=='y'}"
                                    ng-click="selectTab('lackTool')">
                                Tooling
                            </button>
                            <button type="button" ng-class="{active: baseData.formData['lackTech']=='y'}"
                                    ng-click="selectTab('lackTech')">
                                Engineering
                            </button>
                        </div>
<!--                        <input ng-model="baseData.formData.reasonOther"-->
<!--                               type="text" placeholder="Others" name="Others"-->
<!--                               maxlength="200"-->
<!--                               ng-change="reasonOtherChange()"-->
<!--                               class="b-others"/>-->
                    </div>
                    <div class="ui-list">
                        <div class="ui-list-item ui-textarea-item">
                            <span>FAULT REPORT(CHN)<span class="require">*</span></span>
                            <div class="textarea">
                            <textarea name="faultReportChn" ng-model="baseData.formData.faultReportChn" required placeholder="FAULT REPORT(CHN)"
                                      cols="30" maxlength="500" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-list">
                        <div class="ui-list-item ui-textarea-item">
                            <span>FAULT REPORT(ENG)<span class="require">*</span></span>
                            <div class="textarea">
                            <textarea name="faultReportEng" maxlength="500" ng-model="baseData.formData.faultReportEng" placeholder="FAULT REPORT(ENG)"
                                      required cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="b-reference ">
                        <span class="b-flex-box">Reference<i class="cred">*</i></span>
                        <select name="" class="b-select-mel b-flex-box"
                                ng-model="reference"
                                ng-init="reference = ''"
                                ng-options="x for x in referenceData"
                                ng-change="refChange(reference)"
                                required
                        >
                        </select>
                        <!--<i class="cred">*</i>&ndash;&gt;-->
<!--                        <input type="text"-->
<!--                               placeholder="{{selectRefData}}"-->
<!--                               ng-model="baseData.formData.referItem"-->
<!--                               name="referencsNo"-->
<!--                               class="b-mel b-flex-box"-->
<!--                               required/>-->
<!-- 下拉选择-->
                        <div class="" style="width: 50%;position: relative;border-radius: 4px;border: 1px solid #e6e6e6;"  >
                                <input type="text"
                                       placeholder="{{selectRefData}}"
                                       lass="b-mel b-flex-box"
                                       ng-model="baseData.formData.referItem"
                                       ng-change="searchByInput()"
                                       ng-blur="lostFocus()"
                                       name="referencsNo"
                                       style="width: 100%; border: none;"
                                       required/>
                            <ul ng-show="dropdown && logChapterData.length > 0" class="dropdown-menu mr-dropdown" style="z-index:1000;max-height: 10rem">
                                <li  ng-repeat="numberList in logChapterData" style="margin: .02rem 0 .02rem 0" ng-click="onclickListData(numberList)">
                                    <a >{{ numberList.melNumber }}</a>
                                </li>
                            </ul>
                        </div>

                    </div>

<!--                    <div class="b-reference ">-->
<!--                        <span class="b-flex-box">Reference <i class="cred">*</i></span>-->
<!--                        <select name="" class="b-select-mel b-flex-box"-->
<!--                                ng-model="reference"-->
<!--                                ng-options="x for x in referenceData"-->
<!--                                ng-change="refChange(reference)"-->
<!--                                required-->
<!--                        >-->

<!--                        </select>-->
<!--                        <select name="" class="b-select-mel b-flex-box"-->
<!--                                ng-model="pendingData.referItem"-->
<!--                                ng-init="referencsNo = ''"-->
<!--                                ng-options="x for x in mel_cdl"-->
<!--                                required-->
<!--                                ng-show="mel_true"-->
<!--                        >-->
<!--                        &lt;!&ndash;</select><i class="cred">*</i>&ndash;&gt;-->
<!--                        <input type="text"-->
<!--                               placeholder="{{selectRefData}}"-->
<!--                               ng-model="baseData.formData.referItem"-->
<!--                               name="referItem"-->
<!--                               class="b-mel "-->
<!--                               required-->
<!--                        />-->
<!--                    </div>-->
                </div>
            </div>
            <div class="p-measure-cont p-ddi">
                <p class="b-deferral" style="margin-bottom: 5px;">
                    Deferral Action
                </p>
                <div class="b-must-select">
                    <div class="measure-box">
                        <span class="b-text">Placard</span>
                        <ui-switch ng-class="{active: baseData.formData['isPlacard']=='y'}" ng-model="isPlacard"
                                   ng-click="deferral('isPlacard')">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">Maintenace Caution Item</span>
                        <ui-switch ng-class="{active: baseData.formData['isCaution']=='y'}" ng-model="isCaution"
                                   ng-click="deferral('isCaution')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">(M)Item</span>
                        <ui-switch ng-class="{active: baseData.formData['isM']=='y'}" ng-model="isM"
                                   ng-click="deferral('isM')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">Special Requirement</span>
                        <ui-switch ng-class="{active: baseData.formData['isSpecial']=='y'}" ng-model="isSpecial"
                                   ng-click="deferral('isSpecial')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
<!--                        <span class="b-text">Review Before Each Take Off</span>-->
                        <span class="b-text">REVIEW EACH PREFLIGHT</span>
                        <ui-switch ng-class="{active: baseData.formData['isCheck']=='y'}" ng-model="isCheck"
                                   ng-click="deferral('isCheck')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
<!--                        <span class="b-text">Review During Transit</span>-->
                        <span class="b-text">REVIEW EACH FLYING DAY</span>
                        <ui-switch ng-class="{active: baseData.formData['isReview']=='y'}" ng-model="isReview"
                                   ng-click="deferral('isReview')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">(O)Item</span>
                        <ui-switch ng-class="{active: baseData.formData['isO']=='y'}" ng-model="isO"
                                   ng-click="deferral('isO')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">Fight Crews Notified</span>
                        <ui-switch ng-class="{active: baseData.formData['isNotify']=='y'}" ng-model="isNotify"
                                   ng-click="deferral('isNotify')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                    <div class="measure-box">
                        <span class="b-text">(DM)Dual Maintenance</span>
                        <ui-switch ng-class="{active: baseData.formData['dm']=='y'}" ng-model="dm"
                                   ng-click="deferral('dm')" class="b-select">
                            <div class="switch-handle"></div>
                        </ui-switch>
                    </div>
                </div>
                <p class="b-author" style="margin-bottom: 5px; padding-top: 0px; height: 30px;">
                    Authorization
                </p>
                <div class="b-authorization">
                    <div class="b-flex">
                        <div class="b-flex-box">
                            <span>Apply Date <i class="cred">*</i>
                                <i style="padding-left:1.5rem">{{applyDate|date:'yyyy-MM-dd HH:mm:ss'}}</i></span>
                        </div>
                        <div class="b-flex-box">
                            <span>Category <i class="cred">*</i></span>
                            <div class="ddi-par">
                                <select
                                        ng-model="$parent.category"
                                        ng-change="categoryChange($parent.category)"
                                        class="b-border"
                                        ng-options="obj.key as obj.value for obj in categoryData"
                                ></select>
                            </div>
                        </div>
                    </div>
                    <!--选择A或OTHER有弹窗点击确定后不显示b-expired,选其他几个选项后显示截止日期-->
                    <div class="b-conform" ng-show="expiredDate != '' ">
                        Expired Date: <span style="padding-left:4.3rem;">{{expiredDate}}截止</span>
                    </div>
                    <div class="b-flex mg14">
                        <div class="b-flex-box">
                            <span style="display: inline">Requested by <i class="cred">*</i></span>
                            <div class="ddi-par">
                                <select-person class="select-person db"
                                               name="requester"
                                               person-info="requested"
                                               is-auto-loginercode="true"
                                ></select-person>
                                <!--<span class="pab db"></span>-->
                            </div>
                        </div>
                        <div class="b-flex-box">
                            <span>License No.<i class="cred">*</i></span>
                            <input type="text"
                                   ng-model="baseData.formData.requesterLice"
                                   required
                            />
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="ddi-submit mt135"
                     ng-if="baseData.formData.rii == 'y'"
                     ng-class="{active:reference != '' &&(baseData.formData.tlbNo!='' && baseData.formData.tlbNo!=undefined) &&
                     ((isHasEwis == 'y' && ewisDTO.length > 0) || isHasEwis == 'n' ) && ((isHasOil == 'y' && oilDTO.length > 0) || isHasOil == 'n' ) &&
                     (baseData.formData.manHours!=''&&baseData.formData.manHours!=undefined)&&
                     (baseData.formData.referItem!=''&&baseData.formData.referItem!=undefined) &&
                     (zoneInfo.zone_no!=''&& zoneInfo.zone_no!=undefined) &&
                     (baseData.formData.requesterLice!=''&&baseData.formData.requesterLice!=undefined) &&
                     (category!=null && category!=''&&category!=undefined&&category!=4) &&
                     (requested.approverName!=''&&requested.approverName!=undefined)&&
                     (requested.approverSn!=''&&requested.approverSn!=undefined)&&
                     (RiiSign.approverName!=''&&RiiSign.approverName!=undefined)&&
                     (RiiSign.approverSn!=''&&RiiSign.approverSn!=undefined)&&
                     (baseData.formData.faultReportChn!=''&&baseData.formData.faultReportChn!=undefined)&&
                      (baseData.formData.faultReportEng!=''&&baseData.formData.faultReportEng!=undefined)&&
                     (baseData.formData['lackMater']=='y'||baseData.formData['lackTech']=='y' || baseData.formData['lackTime']=='y' || baseData.formData['lackTool']=='y')}"
                     ng-click="goNextYes()"
                >下一步</div>
                <div class="ddi-submit mt135"
                     ng-if="baseData.formData.rii != 'y'"
                     ng-class="{active: reference != '' &&(baseData.formData.tlbNo!='' && baseData.formData.tlbNo!=undefined) &&
                      ((isHasEwis == 'y' && ewisDTO.length > 0) || isHasEwis == 'n' ) && ((isHasOil == 'y' && oilDTO.length > 0) || isHasOil == 'n' ) &&
                     (baseData.formData.manHours!=''&&baseData.formData.manHours!=undefined)&&
                     (zoneInfo.zone_no!=''&& zoneInfo.zone_no!=undefined) &&
                     (baseData.formData.referItem!=''&&baseData.formData.referItem!=undefined) &&
                     (baseData.formData.requesterLice!=''&&baseData.formData.requesterLice!=undefined) &&
                     (category!=null && category!=''&&category!=undefined&&category!=4) &&
                     (requested.approverName!=''&&requested.approverName!=undefined)&&
                     (requested.approverSn!=''&&requested.approverSn!=undefined)&&
                     (baseData.formData.faultReportChn!=''&&baseData.formData.faultReportChn!=undefined)&&
                     (baseData.formData.faultReportEng!=''&&baseData.formData.faultReportEng!=undefined)&&
                     (baseData.formData['lackMater']=='y'||baseData.formData['lackTech']=='y' || baseData.formData['lackTime']=='y' || baseData.formData['lackTool']=='y')}"
                     ng-click="goNextNo()"
                >下一步</div>
            </div>
        </div>

        <div ng-show="isNextStep" class="damage-detail-wrapper p-pendng ddi-scrollable-content">
            <div class="damage-draft-detail">
                <div class="section-1">
                    <div class="item">
                        <span class="title">TLB NO</span>
                        <div class="right">{{baseData.formData.tlbNo}}</div>
                    </div>

                    <div class="item" ng-if="baseData.formData.rii == 'y' && baseData.formData.rci == 'n'">
                        <span class="title">RII</span>
                        <div class="right">YES</div>
                    </div>

                    <div class="item" ng-if="baseData.formData.rci == 'y' && baseData.formData.rii == 'n'">
                        <span class="title">RCI</span>
                        <div class="right">YES</div>
                    </div>

                    <div class="item" ng-if="baseData.formData.rii == 'n' && baseData.formData.rci == 'n'">
                        <span class="title">RII/RCI</span>
                        <div class="right">NO</div>
                    </div>

                    <div class="item">
                        <span class="title">Reason</span>
                        <div class="right">
                            {{selReasonStr}}
                        </div>
                    </div>

<!--                    <div class="item" ng-if="baseData.formData.reasonOther && baseData.formData.reasonOther != ''">-->
<!--                        <span class="title">Other</span>-->
<!--                        <div class="right">-->
<!--                            {{baseData.formData.reasonOther}}-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="item">
                        <span class="title">Reference</span>
                        <div class="right">{{reference}}&nbsp;{{baseData.formData.referItem}}</div>
                    </div>

                    <div class="item">
                        <span class="title">Category</span>
                        <div class="right">
                            <span ng-repeat="categoryItem in categoryData" ng-if="categoryItem.key == category">
                                {{categoryItem.value}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="section-2" ng-if="baseData.formData['isPlacard']=='y' ||
                                    baseData.formData['isCaution']=='y'
                                    || baseData.formData['isM']=='y'
                                    || baseData.formData['isSpecial']=='y'
                                    || baseData.formData['isCheck']=='y'
                                    || baseData.formData['isReview']=='y'
                                    || baseData.formData['isO']=='y'
                                    || baseData.formData['isNotify']=='y'
                                    || baseData.formData['dm']=='y'">
                    <div class="header">Deferral Action</div>
                    <div class="whole-top-line"></div>

                    <div class="item" ng-if="baseData.formData['isPlacard']=='y'">
                        <span class="title">Placard</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>
                    <div class="item" ng-if="baseData.formData['isCaution']=='y'">
                        <span class="title">Maintenace Caution Item</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>
                    <div class="item" ng-if="baseData.formData['isM']=='y'">
                        <span class="title">(M)Item</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>

                    <div class="item" ng-if="baseData.formData['isSpecial']=='y'">
                        <span class="title">SPECIAL Requirement</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>
                    <div class="item" ng-if="baseData.formData['isCheck']=='y'">
                        <span class="title">REVIEW EACH PREFLIGHT</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>
                    <div class="item" ng-if="baseData.formData['isReview']=='y'">
                        <span class="title">REVIEW EACH FLYING DAY</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>
                    <div class="item" ng-if="baseData.formData['isO']=='y'">
                        <span class="title">(O)Item</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>

                    <div class="item" ng-if="baseData.formData['isNotify']=='y'">
                        <span class="title">Fight Crews Notified</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>

                    <div class="item" ng-if="baseData.formData['dm']=='y'">
                        <span class="title">(DM)Dual Maintenance</span>
                        <img class="sel-image" src="dist/images/ddi-select.png">
                    </div>

                </div>
                <div class="section-3">
                    <div class="header">故障报告</div>
                    <div class="whole-top-line"></div>
                    <div class="textarea-item">
                        <div class="title"></div>
                        <div>
                            <p style="border: 1px solid #d3dbdf;padding: 4px;">
                                {{baseData.formData.faultReportChn}}
                            </p>
                            <!--<textarea disabled style="height: auto !important;" ng-model="baseData.formData.faultReportChn"></textarea>-->

                        </div>
                    </div>
                </div>
            </div>
            <button class="ddi-submit mt434 active"
                    ng-click="baseNextStepNo()"
            >下一步</button>
        </div>

        <div class="p-ddi-auto p-ddi ddi-scrollable-content" ng-show="isNextStep2">
            <div class="ddi-box mgb20">
                Auditor<i class="cred">*</i>
                <select-person class="search-input "
                               placeholder="Auditor"
                               name="requester"
                               person-info="Auditor"
                ></select-person>
                <span class="search-icon"></span>
            </div>
            <p class="p-ddi-text">Remark</p>
            <textarea class="ddi-textarea" ng-model="baseData.formData.remark" name="proofRemark" cols="30"
                      rows="10"
                      onkeyup=""></textarea>
            <p class="p-ddi-text">Attach File</p>
            <div class="ui-list">
                    <img-select img-arr="imgInfo.imgArr"
                                file-arr="imgInfo.fileArr"
                                attachvo="imgInfo.attachvo"
                                del-img-id="imgInfo.delImgId">
                    </img-select>
                </div>
            <button class="ddi-submit mt434 "
                    ng-class="{active: formBase.$valid
                               && (Auditor.approverName!='' && Auditor.approverName!=undefined
                               && Auditor.approverSn!=''&&Auditor.approverSn!=undefined
                               && ((baseData.formData.rii == 'y' && RiiSign.approverName!='' && RiiSign.approverName!=undefined)
                                    || baseData.formData.rii != 'y'))
                               }"
                    ng-disabled="!formBase.$valid &&
                                 !(Auditor.approverName!=''&&Auditor.approverName!=undefined
                                 &&Auditor.approverSn!=''&&Auditor.approverSn!=undefined
                                 && ((baseData.formData.rii == 'y' && RiiSign.approverName!='' && RiiSign.approverName!=undefined)
                                    || baseData.formData.rii != 'y')) "
                    ng-click="submit()"
            >提交</button>
        </div>


        <div class="b-base-prop" ng-show="isProp">
            <div class="b-content">
                <div class="b-title">DD Due Date</div>
                <div class="b-form">
                    <div class="p-flex-box">
                        <span class="b-db">FH</span>
                        <input class="b-db" type="number" ng-model="ddDueDatas.fh" placeholder="请输入"/>
                    </div>
                    <div class="p-flex-box">
                        <span class="b-db">FC</span>
                        <input class="b-db" type="number" ng-model="ddDueDatas.fc" placeholder="请输入"/>
                    </div>
                    <div class="p-flex-box">
                        <span class="b-db">日历日</span>
                        <input class="b-db" type="number" ng-model="ddDueDatas.calendarDay" placeholder="请输入"/>
                    </div>
                    <div class="p-flex-box">
                        <span class="b-db">飞行日</span>
                        <input class="b-db" type="number" ng-model="ddDueDatas.flightDay" placeholder="请输入"/>
                    </div>
                    <p class="red"> 请至少填写一项数据</p>
                </div>
                <div class="p-flex-box p-flex-btn">
                    <div class="btn-s" ng-click="okProp()">确定</div>
                    <div class="btn-s" ng-click="cleanProp()">取消</div>
                </div>
            </div>
        </div>
    </form>
</moac-body>
<ewis ac-reg="initData.acId" ng-show="showEwis" ewis-show="showEwis" state="ewisState" ewis-dto="ewisDTO" index="selectedEwisIndex" ewis-info="ewisInfo" is-edit="edit"></ewis>
<oil ng-show="showOil" oil-show="showOil" state="oilState" oil-dto="oilDTO" index="selectedOilIndex" oil-info="oilInfo" is-edit="edit"></oil>
