
	<div>
		<div class="p-base-cont p-ddi ">
			<div class="b-top">
				<div class="p-base-box">
					<span class="b-left">DDI No.</span>
					<span class="b-right cblack"
						  type="text"
						  ng-bind="paddingInfo.deferredNo"></span>
				</div>
				<div class="p-base-box">
					<span class="b-left">Total FLT Hours</span>
					<span class="b-right"
						  type="text"
						  ng-bind="faultInfo.totalFh"></span>
				</div>
				<div class="p-base-box">
					<span class="b-left">Total FLT Cycle</span>
					<span class="b-right"
						  type="text"
						  ng-bind="faultInfo.totalCy"></span>
				</div>
			</div>

			<!--详情-->
			<div class="b-bottom" ng-show="!isEdit">
				<p class="tip-title">Reason</p>
				<div class="reason-button mb35">
					<button class=" bg-gray" type="button" ng-class="{active: isYes = (paddingInfo.lackMater==='y'?true:false) }">
						Material
					</button>
					<button class=" bg-gray" type="button " ng-class="{active: isYes = (paddingInfo.lackTime==='y'?true:false)}">
						Ground Time
					</button>
					<button class=" bg-gray" type="button " ng-class="{active: isYes = (paddingInfo.lackTool==='y'?true:false)}">
						Tooling
					</button>
					<button class=" bg-gray" type="button " ng-class="{active: isYes = (paddingInfo.lackTech==='y'?true:false)}">
						Engineering
					</button>
				</div>
				<div class="ui-list">
					<div class="ui-list-item ui-ipt-item disabled">
						<span>Others Reason</span>
						<div ng-bind="paddingInfo.reasonOther" class="ng-binding">{{paddingInfo.reasonOther}}</div>
					</div>
				</div>
				<!--<input style="background:#f3f3f3;" ng-show="paddingInfo.reasonOther != null"  ng-model="paddingInfo.reasonOther" value="paddingInfo.reasonOther" type="text" disabled="disabled" class="cblack b-others bg-gray"/>-->
				<div class="b-reference ">
					<span class="b-flex-box" >Reference</span>
					<div class="b-select-mel cblack bg-gray" style="text-align:center;text-indent: 0;width: 30%;">{{paddingInfo.reference}}</div>
					<div class="b-mel  bg-gray" style="width: 50%;">{{paddingInfo.referItem}}</div>
				</div>
			</div>
		</div>
		<!--详情-->
		<div class="p-measure-cont p-ddi"  ng-show="!isEdit" >
			<div class="b-authorization" style="border-top:none;" >
				<div class="b-flex">
					<div class="b-flex-box bg-gray">
						<span>Apply Date</span>
						<span class="cblack" >{{paddingInfo.applyDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
					<div class="b-flex-box bg-gray">
						<span>Category</span>
						<span class="cblack">{{paddingInfo.dfralCategory}}</span>
					</div>
				</div>

				<!--选择A或OTHER有弹窗点击确定后不显示b-expired,选其他几个选项后显示截止日期-->
				<div class="b-conform bg-gray"  >
					Expired Date:
					<span style="padding-left:2.7rem;" ng-style="styleCss" >
					{{paddingInfo.expiredDate|date:'yyyy年MM月dd日'}}截止
					</span>
				</div>

			</div>
			<p class="b-deferral">
				Deferral Action
			</p>
			<div class="b-must-select">
				<div class="measure-box">
					<span class="b-text">Placard</span>
					<span class="b-text" ng-bind="paddingInfo.isPlacard"></span>
				</div>
				<div class="measure-box">
					<span class="b-text">Maintenace Caution Item</span>
					<span class="b-text" ng-bind="paddingInfo.isCaution"></span>
				</div>
				<div class="measure-box">
					<span class="b-text">(M)Item</span>
					<span class="b-text" ng-bind="paddingInfo.isM"></span>
				</div>
				<div class="measure-box">
					<span class="b-text">Special Requirement</span>
					<span class="b-text" ng-bind="paddingInfo.isSpecial"></span>
				</div>
				<div class="measure-box">
<!--					<span class="b-text">Review Before Each Take Off</span>-->
					<span class="b-text">REVIEW EACH PREFLIGHT</span>
					<span class="b-text" ng-bind="paddingInfo.isCheck"></span>
				</div>
				<div class="measure-box">
<!--					<span class="b-text">Review During Transit</span>-->
					<span class="b-text">REVIEW EACH FLYING DAY</span>
					<span class="b-text" ng-bind="paddingInfo.isReview"></span>
				</div>
				<div class="measure-box">
					<span class="b-text">(O)Item</span>
					<span class="b-text" ng-bind="paddingInfo.isO"></span>
				</div>
				<div class="measure-box">
					<span class="b-text">Fight Crews Notified</span>
					<span class="b-text" ng-bind="paddingInfo.isNotify"></span>
				</div>
			</div>
			<div class="b-authorization-edit">
				<div class="b-flex mg14">
					<div class="b-flex-box bg-gray">
						<span>Requested by</span>
						<div class="ddi-par">
							<span class=" db cblack" > {{requested.nameAndId}} </span>
							<!--<span class="pab db"></span>-->
						</div>
					</div>
					<div class="b-flex-box bg-gray">
						<span>License No.</span>
						<div class="ddi-par">
							<span class=" db cblack" > {{paddingInfo.requesterLice}} </span>
						</div>
					</div>
				</div>
			</div>
			<div class="b-authorization-edit pad0" >
				<!--审批之后才显示-->
				<div class="b-form-pc" ng-if="paddingInfo.approverNo.length >0&&(paddingInfo.approver!=''||paddingInfo.approver!=undefined)"  >
					<div class="b-flex mg14">
						<div class="b-flex-box bg-gray">
							<span>Approved by</span>
							<div class="ddi-par ">
								<span class="select-person db cblack" >{{auditor.nameAndId}}</span>
								<!--<span class="pab db"></span>-->
							</div>
						</div >
						<div class="b-flex-box bg-gray" ng-if="paddingInfo.auditorLice != null" >
							<span>License No.</span>
							<div class="ddi-par">
								<span class=" db cblack" > {{paddingInfo.auditorLice}} </span>
							</div>
						</div>
					</div>
				</div>
				<!--以下数据都是pc传的，有就显示没有就不显示-->
				<div class="b-form-pc"  ng-if="
				(paddingInfo.qualApprover!=null && paddingInfo.qualApprover!=''&& paddingInfo.qualApprover!=undefined)
				 && (paddingInfo.caacApprover!=null && paddingInfo.caacApprover!=''&&paddingInfo.caacApprover!=undefined)
				  && (paddingInfo.extentionDate !=null && paddingInfo.extentionDate !=''&&paddingInfo.extentionDate !=undefined)">
					<div class="b-conform bg-gray" >
						<!--质量审查者-->
						Approval by Quality Management DEPT <span class="cblack" style="padding-left:1.2rem;">{{paddingInfo.qualApprover}} {{paddingInfo.qualApproverNo}}</span>
					</div>
					<div class="b-conform bg-gray" >
						<!--局方批准人-->
						Approval by CAAC  <span class="cblack" style="padding-left:1.2rem;">{{paddingInfo.caacApprover}}</span>
					</div>
					<div class="b-conform bg-gray" >
						<!--续保时间-->
						Extention Date:  <span class="cblack" style="padding-left:1.2rem;">{{paddingInfo.extentionDate | date:'yyyy年MM月dd日'}}</span>
					</div>
				</div>
			</div>
			<!--续保原因-->
			<div class="bg-gray" ng-if="paddingInfo.extentionReason !=null && paddingInfo.extentionReason !=''&& paddingInfo.extentionReason !=undefined" >
				<p class="b-deferral">
					Extention Reason
				</p>
				<div class="extention-reason">{{paddingInfo.extentionReason}}</div>
			</div>
		</div>
	</div>

