<div class="p-ddi-nav navbar-app navbar-absolute-top">
	<div class=" navbar-brand-center">
		DDI申请检验
	</div>
	<div class="btn-group btn-group-left">
		<div class="btn" ng-click="go('back','slideRight')">
			<i class="icon-maoc icon-back"></i>
		</div>
	</div>
</div>
<div class="p-ddi-auto p-ddi">
	<form ng-submit="submit()" name="myProofreaderForm">
		<div class="ddi-box mgb20">
			<select-person class="search-input "
						   placeholder="Auditor"
						   name="requester"
						   required
			></select-person>
			<span class="search-icon"></span>
		</div>
		<p class="p-ddi-text">Remark</p>
		<textarea class="ddi-textarea" ng-model="proofData.proofRemark" name="" id="" cols="30" rows="10" onkeyup=""></textarea>
		<p class="p-ddi-text">Attach File</p>
		<div class="ui-edit-img" upload-attachments>
			<div class="item" ng-repeat="i in [1,2,3,4,5]">{{i}}</div>
			<div class="item edit">
				<input type="file" accept="image/*" multiple="multiple" ng-change="changeImageEvent($event)"/>
			</div>
		</div>
	</form>
	<div class="ddi-submit mt434" ng-show="myProofreaderForm.$invalid" disabled="disabled" >提交</div>
	<div class="ddi-submit mt434 active" ng-show="myProofreaderForm.$valid" ng-click="submit(proofData)" >提交</div>
</div>
