<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView" class="transfer-receiving">
    <div class="navbar navbar-app navbar-absolute-top fixbar">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                跟机前准备
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="go('back')">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <!--        **********-->
        <div class="scrollable flight-check-self" style="position: absolute;top: 2rem">
            <div class="scrollable-content">
                <!--on-finish-render-filters-->
                <div class="flight-wrap"  >
                    <div class="pubFlightList" style="margin: .25rem 0;width: 100%;box-sizing: border-box;">
                        <div class="top clearfix" >
                            <div class="pull-left"  style="border-left: #c22460 2px solid;height: .5rem;margin-top: .3rem;margin-left: -.1rem;" >&#8197;</div>
                            <span class="pull-left"  style="display: inline-block;width: 60%;">航班信息</span>
                        </div>
                        <div class="flex-layout-between"  style="margin: .2rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">航班日期:</span>
                                <span style="width: 4rem">{{flightData.flightDate | date:'yyyy/MM/dd' }}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">航班号:</span>
                                <span style="width: 4rem">{{flightData.flightNo}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .2rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">起始地:</span>
                                <span style="width: 4rem">{{flightData.fromStation}}-{{flightData.toStation}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">飞机号:</span>
                                <span style="width: 4rem">{{flightData.acReg}}</span>
                            </div>
                        </div>
                        <div class="flex-layout-between"  style="margin: .2rem 0;padding: 0 0;">
                            <div class="flex-layout-between" style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">机型:</span>
                                <span style="width: 4rem">{{flightData.modelSeries}}</span>
                            </div>
                            <div class="flex-layout-between"  style="width: 7.5rem; justify-content: flex-start;">
                                <span style="width: 3.5rem;color: #C2C2C2">&nbsp;&nbsp;</span>
                                <span style="width: 4rem">&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkList-group" >
                    <div class="top clearfix" style="padding-left: .5rem;padding-top: .5rem;">
                        <div class="pull-left"  style="border-left: #c22460 2px solid;height: .5rem;margin-top: .3rem;margin-left: -.1rem;" >&#8197;</div>
                        <span class="pull-left"  style="display: inline-block;width: 60%">检查项信息</span>
                    </div>
                    <span style="margin-left: .5rem;margin-top:.7rem;color: #C2C2C2; ">Check List</span>
<!--国内航班:D标签-->
                       <ul class="list-group" ng-if="flightData.dOrI == 'D' || !flightData.dOrI">
                           <li class="list-group-item checklist-item"  >
                               <div class="check-list-title pull-left">身体状况自查是否健康</div>
                               <div class="pull-right wrap-switch">
                                   <ui-switch ng-model="checkItem.health" ng-disabled="disabledFlage">
                                       <div class="switch-handle"></div>
                                   </ui-switch>
                               </div>
                           </li>
                           <li class="list-group-item checklist-item"  >
                               <div class="check-list-title pull-left">是否已经阅读飞机技术状态</div>
                               <div class="pull-right wrap-switch">
                                   <ui-switch ng-model="checkItem.technology" ng-disabled="disabledFlage">
                                       <div class="switch-handle"></div>
                                   </ui-switch>
                               </div>
                           </li>
                           <li class="list-group-item checklist-item"  >
                               <div class="check-list-title pull-left">是否携带【身份证】【内场证】【空勤证】</div>
                               <div class="pull-right wrap-switch">
                                   <ui-switch ng-model="checkItem.certificate" ng-disabled="disabledFlage">
                                       <div class="switch-handle"></div>
                                   </ui-switch>
                               </div>
                           </li>
                           <li class="list-group-item checklist-item"  >
                               <div class="check-list-title pull-left">是否携带【航线工卡】【飞行任务书】【工具箱（视情）】</div>
                               <div class="pull-right wrap-switch">
                                   <ui-switch ng-model="checkItem.tool" ng-disabled="disabledFlage">
                                       <div class="switch-handle"></div>
                                   </ui-switch>
                               </div>
                           </li>
                       </ul>
<!-- 国际航班:I为国际标签，R为港澳台标签-->
                    <div style="padding-bottom: 1.5rem;" ng-if="flightData.dOrI == 'I'||flightData.dOrI == 'R'">
                        <ul class="list-group">
                            <li class="list-group-item checklist-item" >
                                <div class="check-list-title pull-left">身体状况自查是否健康</div>
                                <div class="pull-right wrap-switch">
                                    <ui-switch ng-model="checkItem.health" ng-disabled="disabledFlage">
                                        <div class="switch-handle"></div>
                                    </ui-switch>
                                </div>
                            </li>
                            <li class="list-group-item checklist-item" >
                                <div class="check-list-title pull-left">是否已经阅读飞机技术状态</div>
                                <div class="pull-right wrap-switch">
                                    <ui-switch ng-model="checkItem.technology" ng-disabled="disabledFlage">
                                        <div class="switch-handle"></div>
                                    </ui-switch>
                                </div>
                            </li>
                            <li class="list-group-item checklist-item" >
                                <div class="check-list-title pull-left">是否携带【身份证】【内场证】【空勤证】</div>
                                <div class="pull-right wrap-switch">
                                    <ui-switch ng-model="checkItem.certificate" ng-disabled="disabledFlage">
                                        <div class="switch-handle"></div>
                                    </ui-switch>
                                </div>
                            </li>
                            <li class="list-group-item checklist-item" >
                                <div class="check-list-title pull-left">是否携带【航线工卡】【飞行任务书】【工具箱（视情）】</div>
                                <div class="pull-right wrap-switch">
                                    <ui-switch ng-model="checkItem.tool" ng-disabled="disabledFlage">
                                        <div class="switch-handle"></div>
                                    </ui-switch>
                                </div>
                            </li>
                        </ul>
                        <span style="padding: 1rem .5rem;">个人物品申报（多个物品请用英文逗号 隔开）</span>
                        <div class="list-group" style="display: flex;flex-direction: column;padding: .1rem 0rem .8rem 0rem;">
                            <div style="width: 98%;margin: .3rem 0;">手表<span style="color: red;">*</span></div>
                            <textarea style="width: 98%;height: 2.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="inputData.watch" ng-disabled="disabledFlage"></textarea>
                            <div style="width: 98%;margin: .3rem 0;">手机<span style="color: red;">*</span></div>
                            <textarea style="width: 98%;height: 2.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="inputData.mobile" ng-disabled="disabledFlage"></textarea>
                            <div style="width: 98%;margin: .3rem 0;">平板<span style="color: red;">*</span></div>
                            <textarea style="width: 98%;height: 2.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="inputData.ipad" ng-disabled="disabledFlage"></textarea>
                            <div style="width: 98%;margin: .3rem 0;">笔记本电脑<span style="color: red;">*</span></div>
                            <textarea style="width: 98%;height: 2.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="inputData.laptop" ng-disabled="disabledFlage"></textarea>
                            <div style="width: 98%;margin: .3rem 0;">其他<span style="color: red;">*</span></div>
                            <textarea style="width: 98%;height: 2.5rem;overflow:scroll; overflow-x:hidden; border-color: #C2C2C2;" maxlength="40" ng-model="inputData.other" ng-disabled="disabledFlage"></textarea>
                        </div>
                        <ul class="list-group" >
                                <li class="list-group-item checklist-item">
                                    <div class="check-list-title pull-left">特殊检查单是否已经执行</div>
                                    <div class="pull-right wrap-switch">
                                        <ui-switch ng-model="checkItem.carried" ng-disabled="disabledFlage">
                                            <div class="switch-handle"></div>
                                        </ui-switch>
                                    </div>
                                </li>
                        </ul>
                        <div style="margin: .5rem .7rem;color: #1a87ff;display: flex;justify-content:center;" ng-repeat="pdfData in pdfList"  ng-disabled="disabledFlage">
                           <span class="view-pdf" style="width:98%;word-wrap:break-word;text-align: justify;text-justify: newspaper;"  ng-if = "pdfData.type =='application/pdf' " ng-click="openNewPageWithData(pdfData)">{{pdfData.name}}</span>
                           <span class="view-pdf" style="width:98%;word-wrap:break-word;text-align: justify;text-justify: newspaper;"  ng-if = "pdfData.type !='application/pdf' && pdfData.type.indexOf('image') == '-1' " ng-click="alertFileTypeTips()">{{pdfData.name}}</span>
                        </div>


                    </div>
                </div>
                <div style="width: 95%;display: flex;justify-content:center;">
                    <button class="submitAddMR "
                            ng-disabled="disabledFlage || ((flightData.dOrI == 'I'||flightData.dOrI == 'R') && (!inputData.watch||!inputData.mobile||!inputData.ipad||!inputData.laptop||!inputData.other||!checkItem.carried)) || !checkItem.health || !checkItem.technology || !checkItem.certificate || !checkItem.tool "
                            ng-click="submitFlightCheck()"
                            style="background-color: #00b4ff;display: block;width: 80%;border-radius: 1rem;"
                            ng-class="{'flightCheckSubmitingColor':!!disabledFlage || ((flightData.dOrI == 'I'||flightData.dOrI == 'R') && (!inputData.watch||!inputData.mobile||!inputData.ipad||!inputData.laptop||!inputData.other||!checkItem.carried))  || !checkItem.health || !checkItem.technology || !checkItem.certificate || !checkItem.tool }">提交</button>
                </div>
            </div>

        </div>
        <!--        **********-->
    </div>


</div>