<moac-header>{{mrInfo.no}}</moac-header>
<moac-body>
	<div class="mr-approve">
		<div class="ui-list-table" style="background: #f8f8f8">
			<div class="item" ng-if="mrInfo.tail">
				<span>A/C:</span>
				<div ng-bind="mrInfo.tail"></div>
			</div>
			<div class="item">
				<span>Card No.</span>
				<div>{{mrInfo.cardType}} {{mrInfo.cardNo}}</div>
			</div>
			<div class="item">
				<span>RequireDate:</span>
				<div ng-bind="mrInfo.requireDate | limitTo : 10"></div>
			</div>
			<div class="item">
				<span>Reportor:</span>
				<div ng-bind="mrInfo.reportorName"></div>
			</div>
			<div class="item">
				<span>AOG:</span>
				<div>
					<input type="checkbox" class="ipt-no-tlb"  ng-click="aogChange()" style="width: auto;-webkit-appearance:checkbox" >
				</div>
			</div>
			<div class="item" ng-repeat="oneMr in mrInfo.items">
				<span>PN:</span>
				<div>{{oneMr.pn}} &nbsp; {{oneMr.qty}}{{oneMr.unit}} &nbsp;
					{{oneMr.isSatisfy == 0 ? 'Waiting Process' : '' }}
					{{oneMr.isSatisfy == 1 ? 'Not Satisfied' : '' }}
					{{oneMr.isSatisfy == 2 ? 'Satisfied' : '' }}
					{{(oneMr.isSatisfy != 0 && oneMr.isSatisfy != 1 && oneMr.isSatisfy != 2) ? 'Partially Satisfied' : '' }}<br>
					{{oneMr.pnname}}
				</div>
			</div>

			<div class="item" ng-if="mrInfo.reason">
				<span>Reason</span>
				<div ng-bind="mrInfo.reason"></div>
			</div>
			<div class="item" ng-if="mrInfo.mrRemark">
				<span>Remark:</span>
				<div ng-bind="mrInfo.remark"></div>
			</div>

			<div class="add-remark-wrap">
				<div class="add-remark-title">Approve Opinion</div>
				<div class="add-remark-content">
					<textarea ng-model="$parent.approveOpinion"></textarea>
				</div>
			</div>
		</div>
		<button class="ddi-submit mt434" ng-class="{'active': !loading}" ng-click="mrApprove()">Approve</button>
	</div>

</moac-body>

