@charset "utf-8";

input[type="submit"] {
    background: -moz-linear-gradient(center top, #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    letter-spacing: 3px;
    line-height: 1;
    overflow: visible;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

/*设定标题的样式*/
.tab_title_background {
    height: 30px;
    background: #f0f0f0;
}

.td-font-red {
    color: #FF0000;
}

a {
    text-decoration: none;
}

.table-zi td, .dwTable td, .dwTable th {
    padding: 3px;
    border: 1px solid #ccc;
}

/*td的高度，文字位置样式*/
.td-line30-center {
    height: 30px;
    text-align: center;
}

/*td的高度，背景颜色，文字位置样式*/
.td-line30-with-bg-center {
    height: 30px;
    background: #f0f0f0;
    text-align: center;
    border-top: none;
}

.ui_buttons input {
    background: -moz-linear-gradient(center top, #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    letter-spacing: 3px;
    line-height: 1;
    margin-left: 6px;
    overflow: visible;
    padding: 3px 10px 3px 12px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

.ui_buttons_upload input {
    background: -moz-linear-gradient(center top, #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 1;
    margin-left: 6px;
    overflow: visible;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

table {
    border-collapse: collapse;
}

img {
    cursor: pointer;
}

input {
    margin: 0;
    padding: 0;
}

input {
    min-height: 20px;
    line-height: 100%!important;
    vertical-align: middle;
}

select {
    height: 20px;
    vertical-align: middle;
}

/*元素的字体大小*/
td, th, li, p, span, input, textarea, select {
    font-size: 12px;
}

input, select, textarea {
    border: 1px solid #ccc;
    _border: none;
}