@charset "utf-8";

/*设定标题的样式*/
.tab_title_background {background:#f0f0f0;}

.table-zi td,.dwTable td,.dwTable th{padding:3px;border: 1px solid #ccc;}

table {
    border-collapse: collapse;
}

.td-font-red {color: #FF0000}

td,th,li,p,span,input,textarea,select{font-size:12px;}

input ,select,textarea{border: 1px solid #ccc;_border:none;}

.ui_buttons_revise input {
    background: -moz-linear-gradient(center top , #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    letter-spacing: 3px;
    line-height: 1;
    margin-left: 6px;
    overflow: visible;
    padding: 3px 10px 3px 12px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

.ui_buttons input {
    background: -moz-linear-gradient(center top , #FAFAFA, #E4E4E4) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 1;
    margin-left: 6px;
    overflow: visible;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    transition: box-shadow 0.2s linear 0s;
}

a{text-decoration:none;}

.td-line30{
	height:30px;
}

.td-line30-center{
	height:30px;
	text-align: center;
	vertical-align: middle;
}

.td-line30-with-bg{
	height:30px;
	background:#f0f0f0;
}

.td-line30-with-bg-center{
	height:30px;
	background:#f0f0f0;
	text-align: center;
	border-top: none;
}
.errorMessage{color: red;}

.hidden{
	display:none;
}

table.table-logger tr td{
	
	height: 30px;
}