
.prodTitle{
    text-align: right;
}
.materialTitle{
    text-align: center;
}
.materialTitle a{
    color: #0033FF;
}


.propContent tr{
    height: 37px;
}
.propContent{
    border: 1px solid #ccc;
}

#materialTrBorder td{
    border-color:#fff;
}

.materialTitle td{
    border: 1px solid #ccc;
}

.chechBoxs{
    vertical-align: middle;
}



/*  排故类*/
.isolate_prodPrep{
    margin-right: 10px;
}

.contentText{
    cursor: pointer;
}