<ui-view></ui-view>
<div  style="position: relative;width: 100%;background: #4b5e76;z-index: 9">
    <div class="clearfix">
        <fixed-search search-val="searchVal"  show-tip="showTip" search-name="searchName" placeholder="{{holderValue}}" changetip="changeTipState()"  search="clickBtnSearch()"></fixed-search>
        <div class="" style="position: absolute;top:0.3rem;left: 0">
            <div class="btn" ng-click="go('back')">
                <i class="icon-maoc icon-back" ></i>
            </div>
        </div>
    </div>
</div>
<div ng-show="showTip">
    <div class="ui-tip-bg" ng-click="changeTipState()"></div>
    <div class="fix-tip" ng-click="changeTipState()">
        <div>
            <div>
                <span ng-click="chooseFlight()">飞机号</span>
                <span ng-click="choosePack()">工包编号</span>
            </div>
        </div>
    </div>
</div>
<div class="scrollable  fixed-fault">
    <div class="scrollable-content" ui-scroll-bottom="getNextPage()">
<!--        <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}"-->
<!--             class="refresh text-center">-->
<!--            <i class="fa fa-refresh fa-spin fa-fw"></i>-->
<!--            <translate>loading</translate>-->
<!--            ...-->
<!--        </div>-->
<!--    <div class="scrollable-content">-->
        <div class="material-content-wrap">

            <div class="list-group material-content">
<!--                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">-->
                <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">
                    <div ng-hide= "!firstInit">
                        <img src="dist/images/no-result.png" width="256" style="max-width: 100%" alt="未找到数据" />
                    </div>
                    <p ng-hide = "firstInit" style="font-size: .8rem;text-align: center;color:#999 ">暂无相关数据</p>
                </div>
                <!--                    <div class="list-group-item materialitem"-->
                <!--                         ng-click="go('searchFault.faultClose','',{defectId: item.id, pt: true, defectInfo: item, fromSearch: true})"-->
                <!--                         ng-repeat="item in balanceInfo | orderBy:'-defectNo'" ng-if="!item.delCard" on-finish-render-filters>-->
                <div class="list-group-item materialitem" ng-repeat="item in balanceInfo" ng-click="go('fixedDetail','',{
                fixedId :item.revno,
                acReg:item.msgrp,
                fixModel:item.stort,
                fixAcid:item.acid,
                fixWorkId:item.workId,
                fixedFlightId:item.flightId,
                fixStatus:item.status,
                fixedFlightNo:item.flightNo,
                fixedJobDate:item.jobDate,
                fixedStation:item.station,
                fixedDmStatus:item.dmStatus,
                fixedRevtp:item.revtp})" on-finish-render-filters>
                    <div class="material-content-top materialname">
                        <div class="pull-left ">{{item.msgrp}}  <span class="acModel">{{item.stort}}</span></div>

                        <div class="pull-right">
                            <span class="fir">{{item.checkLevel}}</span>
                            <span class="sec">{{item.revtp}}</span>
                        </div>

                    </div>
                    <div class="material-content-middle materialdescript ">
                        <div class="pull-left materialname fixed-descript">工包编号:{{item.revno}}</div>
                        <!--                            <div class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>-->
                        <div class="pull-right fixedTime"><img src="dist/images/special-vehicle/shijian@2x.png">{{item.planstd | date:'yyyy-MM-dd'}} - {{item.planend | date:'yyyy-MM-dd'}}</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
    </div>
</div>