<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView">
    <div class="navbar navbar-app navbar-absolute-top fixbar">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                {{title}}
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div class="group-right">
                <div class="btn record-btn" ng-show="fixedRevtp == '定检'" ng-click = "showDefect()">
                    <span class="record">+D</span>
                </div>
                <div  class="btn record-btn" ng-click="addNrc()">
                    <span class="record">+N</span>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-his">
        <div class="acSta" ng-click="go('me.meStatus','slideLeft',{acReg: title})">
            A/C Status
            <div class="next-fault-info icon-maoc icon-next-flight "></div>
        </div>
        <div class="main-tab">
            <div class="acsta" ng-class="{active:navIdx==1}" ng-click="changeMainNav(1)">例行任务</div>
            <div class="acsta" ng-class="{active:navIdx==2}" ng-click="changeMainNav(2)">非例行任务</div>
        </div>
        <div class="scrollable" style="position: absolute;top: 7.15rem">
            <div id="scroll" class="scrollable-content" ui-scroll-bottom="getNextPage()">
                <div class="material-content-wrap">
                    <div class="list-group material-content">
                        <div class="backup-airport no-data" ng-hide=" !dataList || loading2 || dataList.length || netWorkErr">暂无任务</div>
                        <div class="list-group-item materialitem" ng-repeat="item in dataList"  ng-click="toDetail(item)">
                            <div class="material-content-top materialname">
                                <div class="pull-left ">{{item.workType}}  <span class="acModel">{{item.cardNumber}}</span></div>

                                <div class="pull-left " style="margin-left: 1rem">{{item.cardProcessStatus || ''}}</div>

                                <div class="pull-right">
                                    <span class="sec">{{item.status}}</span>
                                </div>

                            </div>

                            <div class="material-content-middle clearfix">
                                <div class="fixed-descript pull-left">{{item.description}}</div>
                                <div class="pull-right" ng-if="item.status == '已下发' && item.workType == 'NRC'">
                                    <span ng-click="toProcess(item.id,$event)" class="" style="display: inline-block;color: #fff;background-color: #1a87ff;border-radius: 0.25rem;text-align: center;height: 1.3rem;line-height: 1.3rem;font-size: .6rem;width: 2.5rem">
                                        Process
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="text-center" ng-if="noMoreData && dataList.length" translate="loadingDone"></div>
            </div>
        </div>
    </div>

</div>