<!--<ui-view name="faultInfo"></ui-view>-->
<div ng-show="!faultInfoView && !ccInfoView && !recordView">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">
                定检管理
            </div>
            <div class="btn-group btn-group-left">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div class="btn-group btn-group-right" ng-click="go('fixedSearch','',{})">
                <div class="btn record-btn">
                    <span class="record">搜索</span>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable fixed-fault">
        <div class="scrollable-content" >
            <div class="material-content-wrap">
                <div class="list-group material-content">
<!--                    <div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">暂无定检任务</div>-->
                    <div class="backup-airport no-data" ng-hide="dataList == 'undefined' || dataList.length || loading2  || netWorkErr">暂无定检任务</div>
<!--                    <div class="list-group-item materialitem"-->
<!--                         ng-click="go('searchFault.faultClose','',{defectId: item.id, pt: true, defectInfo: item, fromSearch: true})"-->
<!--                         ng-repeat="item in balanceInfo | orderBy:'-defectNo'"on-finish-render-filters on-finish-render-filters>-->
                    <div class="list-group-item materialitem" ng-repeat="item in dataList"  ng-click="go('fixedDetail','',{ fixStatus:item.status,
                                                                                                                            fixedId :item.revno,
                                                                                                                            acReg:item.msgrp,
                                                                                                                            fixModel:item.stort,
                                                                                                                            fixAcid:item.acid,
                                                                                                                            fixWorkId:item.workId,
                                                                                                                            fixedFlightId:item.flightId,
                                                                                                                            fixedFlightNo:item.flightNo,
                                                                                                                            fixedJobDate:item.jobDate,
                                                                                                                            fixedStation:item.station,
                                                                                                                            fixedDmStatus:item.dmStatus,
                                                                                                                            fixedRevtp:item.revtp,
                                                                                                                            })">
                        <div class="material-content-top materialname">
                            <div class="pull-left ">{{item.msgrp}}  <span class="acModel">{{item.stort}}</span></div>

                            <div class="pull-right">
                                <span class="fir">{{item.checkLevel}}</span>
                                <span class="sec">{{item.revtp}}</span>
                            </div>

                        </div>

                        <div class="material-content-middle materialdescript ">
                            <div class="pull-left materialname fixed-descript">工包编号:{{item.revno}}</div>
<!--                            <div class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>-->
                            <div class="pull-right fixedTime"><img src="dist/images/special-vehicle/shijian@2x.png">{{item.planstd | date:'yyyy-MM-dd'}} - {{item.planend | date:'yyyy-MM-dd'}}</div>
                        </div>

                    </div>
                </div>
            </div>
<!--            <div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>-->
        </div>
    </div>

<!--    <div class="wonomber-wrap" ng-class="{'displayBlock':showMask}">-->
<!--        <div class="wonomber-title material-alert-title" translate="mr.blockNum" translate-values="blockNum"></div>-->
<!--        <div class="confirm-cancle">-->
<!--            <div class="confirm" ng-click="showMask = false" translate="confirm"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    /sfamemb.sf-express.com/attachement/mobile/guide/09-TDMS生产模块产品说明书-定检管理-V1.0.pdf-->
    <div class="mask" ng-class="{'displayBlock':showMask}"></div>
</div>