<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        修理补片信息
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('back')">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content">
    <form name="nrcPhysicalInfoEdit" novalidate>
        <div class="damage-draft-detail">
            <div class="box ">
                <div class="item">
                    <span class="title">长（inch）</span>
                    <input class="right" ng-if="isEdit" ng-model="physicalInfo.length" type="text" placeholder="请填写长" >
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.length}}</span>
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="item">
                    <span class="title">宽（inch）</span>
                    <input ng-if="isEdit" class="right" ng-if="isEdit"  ng-model="physicalInfo.wide" type="text" placeholder="请填写宽">
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.wide}}</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <span class="title">厚度（inch）</span>
                <input class="right" ng-if="isEdit"  ng-model="physicalInfo.thickness" type="text" placeholder="请填写厚度">
                <div class="right" ng-if="!isEdit">
                    <span>{{physicalInfo.thickness}}</span>
                </div>
            </div>

            <div class="box ">
                <div class="item">
                    <span class="title">面积（in²）</span>
                    <input class="right" ng-if="isEdit"  ng-model="physicalInfo.area" type="text" placeholder="请填写面积">
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.area}}</span>
                    </div>
                </div>
            </div>

            <div class="box ">
                <div class="item">
                    <span class="title">材料</span>
                    <input class="right" ng-if="isEdit"  ng-model="physicalInfo.material" type="text" placeholder="请填写材料">
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.material}}</span>
                    </div>
                </div>
            </div>

            <div class="box ">
                <div class="item">
                    <span class="title">重量（g）</span>
                    <input class="right" ng-if="isEdit"  ng-model="physicalInfo.weight" type="text" placeholder="请填写重量">
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.weight}}</span>
                    </div>
                </div>
            </div>

            <div class="box ">
                <div class="item">
                    <span class="title">力矩变化（LBS）</span>
                    <input class="right" ng-if="isEdit"  ng-model="physicalInfo.torqueChange" type="text" placeholder="请填写力矩变化">
                    <div class="right" ng-if="!isEdit">
                        <span>{{physicalInfo.torqueChange}}</span>
                    </div>
                </div>
            </div>

            <div class="box ">
                <div class="item">
                    <div class="title" style="width: 35%!important;">
                        <span class="">内外补</span>
                    </div>
                    <div ng-show="isEdit"  class="right" style="width: 63% !important;">
                        <label>
                            <input type="radio" name="way" value="1" ng-if="isEdit"  ng-model="physicalInfo.inorout"
                                      ng-checked="physicalInfo.inorout==1">内补</label>
                        <label>
                            <input type="radio" name="way" value="2" ng-if="isEdit"  ng-model="physicalInfo.inorout"
                                   ng-checked="physicalInfo.inorout==2">
                            外补
                        </label>
                    </div>
                    <div class="right" ng-show="!isEdit">
                        <span ng-if="physicalInfo.inorout==1">内补</span>
                        <span ng-if="physicalInfo.inorout==2">外补</span>
                    </div>
                </div>

                <div class="box ">
                    <div class="header"></div>
                    <div class="textarea-item">
                        <div class="title">
                            <span>备注</span>
                        </div>
                        <div>
                            <textarea ng-if="isEdit"  ng-model="physicalInfo.remark"></textarea>
                        </div>
                        <div class="right" ng-if="!isEdit">
                            <span>{{physicalInfo.remark}}</span>
                        </div>
                    </div>
                </div>
                <div class="p-image" ng-if="isEdit">
                    <img-select  img-arr="$parent.imgArr" file-arr="$parent.fileArr" is-api-cloud="isApiCloud" del-img-id="delImgId"  attachvo="attachvo"  ></img-select>
                </div>

                <div class="ui-select-image" ng-if="!isEdit">
                    <div class="img-item" ng-repeat="src in imgArr track by $index">
                        <div ng-click="showBig(src)">
                            <img ng-src="{{src}}">
                        </div>
                    </div>
                </div>


                <div class="ui-edit" ng-if=" operate != 'add'">
                    <div class="add-cc-btn" ng-click="switchNrcPhysicalEdit()">
                        <p><i class="icon-edit"></i>{{ isEdit ? 'Cancel Edit' : 'Edit' }}</span> </p>
                    </div>

                    <div ng-click="del_NrcPhysicalInfo(physicalInfo.id)">
                        <p><i class="icon-del"></i><span>Delete</span></p>
                    </div>
                </div>

                <div class="p-cc" style="height: auto; background-color: #fff" ng-click="edit_nrcPhysicalInfo()" ng-if="isEdit">
                    <button class="cc-submit  mt135 active"  >
                        保存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>