<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        打卡反馈
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="goHome()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="new-cc fixed-his">
    <div class="main-tab" style="margin-top: 0">
        <div class="acsta" ng-class="{active:navIdx==1}" ng-click="changeMainNav(1)">2天记录</div>
        <div class="acsta" ng-class="{active:navIdx==2}" ng-click="changeMainNav(2)">7天记录</div>
    </div>
    <div class="scrollable" style="position: absolute;top:4.5rem;">
        <div class="scrollable-content">

            <div class="cc-base" style="padding-top: 0;background-color: #fff;">
                <div class="category clearfix" ng-repeat="item in dataList"  ng-click="toFeedbackPage(item)">
                    <div class="left p-fl" style="width: 80%">
                        打卡时间
                        {{item.recordDate | date:'yyyy-MM-dd HH:mm'}}
                        <span ng-show="item.recordType == 'PUNCH_IN' || item.recordType == 'PUNCH_OUT' || item.recordType == 'REPEAT'" style="font-size: .6rem;color:#fff;display: inline-block;height:1rem;line-height: 1rem;width:1rem;background-color: #1a87ff ;text-align: center;padding: 0 .15rem;border-radius: .1rem" ng-show="item.workType=='1'">
                            <span>{{item.recordType=='PUNCH_IN'?'上':item.recordType=='PUNCH_OUT'?'下':'重'}}</span>
                        </span>
                    </div>
                    <div ng-class="{blue:item.confirm=='N'||!item.confirm}" class="right normal p-fl" style="text-align: right;position: relative;width: 20%;">
                        <div style="margin-right: 19px;">{{item.confirm=='Y'?'已反馈':'未反馈'}}</div>
                        <img style="width: 9px;top:.9rem;right:8px;" class="triangle" src="dist/images/Shape@2x.png">
                    </div>
                </div>
            </div>
            <div class="no-sv" ng-if="dataList.length == 0">
                <div>
                    暂无数据
                </div>
            </div>
        </div>
    </div>
</div>
