<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
       反馈信息
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('clockInFeedbackList', 'slideLeft', {navIdx:navIdx})">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="new-cc" ng-class="">
    <form name="myForm" novalidate>

        <div class="cc-base" style="padding-top: 0;background-color: #fff;">
            <div class="category clearfix" style="border: none">
                <div class="left p-fl">打卡时间</div>
                <div class="right normal p-fl" style="text-align: right;position: relative;">
                    {{recordDate | date:'yyyy-MM-dd HH:mm'}}
                </div>
            </div>

            <div class="category clearfix">
                <div class="left p-fl">打卡类型</div>
                <div class="right p-fl" style="text-align: right;padding-right: 14px;">
                    <select ng-show ="!isEdit" ng-model="feedbData.cardTypeId"
                            class="cateSel"
                            ng-class = "{'noPick':isEdit}"
                            ng-options=" v.id as v.title for v in cardType"
                            ng-style="{'color' : feedbData.cardTypeId ? '#333':'#999'}"
                            required
                    >
                        <option  disabled selected value="">请选择打卡类型</option>
                    </select>

                </div>
                <img style="width: 9px;top:.9rem;right:8px;" class="triangle" src="dist/images/oil/Shape1@2x.png">
            </div>

            <div class="category clearfix">
                <div class="left p-fl" style="width: 20%;">工作类型</div>
                <div class="right p-fl" style="text-align: left;width: 80%;padding: 0">
                    <label class="feedback-card-station" style="font-weight: normal;padding: 0 0;"><input required type="radio" name="way" value="0" ng-model="feedbData.workType" ng-checked=" feedbData.workType === 0">维修保障</label>
                    <label class="feedback-card-station" style="font-weight: normal;padding: 0 0;">
                        <input type="radio" name="way" value="1" ng-model="feedbData.workType" ng-checked=" feedbData.workType === 1">
                        非维修保障(如:培训等)
                    </label>
                </div>
            </div>

            <div class="category clearfix">
                <div class="left p-fl">打卡航站</div>
                <div class="right p-fl " style="text-align: right;padding-right: 14px;">
                    <select-station-three title="toStation" station-info="staInfo"></select-station-three>
                </div>
                <img style="width: 9px;top:.9rem;right:8px;" class="triangle" src="dist/images/oil/Shape1@2x.png">
            </div>
        </div>

        <!--其他信息-->
        <div class="cc-base" style="padding-top: 0;margin-top: 5rem">
            <div class="save-button-section">
                <button ng-class="{'button-active':myForm.$valid}"
                        ng-disabled="!myForm.$valid "
                        ng-click="checkFunc(false)">
                    提交反馈
                </button>

            </div>

        </div>
    </form>
</div>
