<moac-header>TLB</moac-header>
<moac-body>
    <div class="p-tlbAdd" ng-class="{'tlb-view-status': isViewStatus}">
        <form name="tlbAdd" novalidate>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Flight No.</span>
                    <div>{{faultInfo.flightNo || 'N/A' }}</div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Station.</span>
                    <div ng-bind="faultInfo.station"></div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>A/C No.</span>
                    <div ng-bind="faultInfo.acNo"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>机型</span>
                    <div ng-bind="faultInfo.minorModel"></div>
                </div>
            </div>

            <!--pad下结构-->
            <div class="pad-show" style="width: 100%">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item">
                        <span>TLB No<span class="require">*</span></span>
                        <div moac-auto-focus="tlbNo" class="tlb-scan-wrapper">
                            <input name="tlbNo" type="text"
                                   ng-change="change()"
                                   ng-model="info.tlbNo"
                                   placeholder="请输入TLB No"
                                   moac-ref="tlbNo" required/>
                            <i class="tlb-scan" ng-click="scan()"></i>
                        </div>
                        <!--<label class="is-fill-tlb"><input type="checkbox" ng-model="isFillTlb" /> 无TLB </label>-->
                    </div>
                    <div class="ui-list-item ui-ipt-item">
                        <span>Complete Date</span>
                        <div>
                            <input name="completeDate" type="datetime-local" ng-model="info.completeDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pad-show" style="width: 100%">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item">
                        <span>Found Date</span>
                        <div>
                            <input name="found Date" type="datetime-local" ng-model="info.dateFound"/>
                        </div>
                    </div>
                    <div class="ui-list-item ui-ipt-item visibility"></div>
                </div>
            </div>
            <!-- mobile下html结构 -->
            <div class="mobile-show pad-style">
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item">
                        <span>TLB No<span class="require">*</span></span>
                        <div moac-auto-focus="tlbNo">
                            <input name="tlbNo" type="text" ng-model="info.tlbNo" placeholder="请输入TLB No"
                                   moac-ref="tlbNo" required/>
                            <i class="tlb-scan" ng-click="scan()"></i>
                        </div>
                        <!--<label class="is-fill-tlb"><input type="checkbox" ng-model="isFillTlb" /> 无TLB </label>-->
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item">
                        <span>Action Date</span>
                        <div>
                            <input name="completeDate" type="datetime-local" ng-model="info.dateAction"/>
                        </div>
                    </div>
                </div>
                <div class="ui-list">
                    <div class="ui-list-item ui-ipt-item">
                        <span>Found Date</span>
                        <div>
                            <input name="foundData" type="datetime-local" ng-model="info.dateFound"/>
                        </div>
                    </div>
                </div>
            </div>



            <div class="ui-list">
                <!--ATA-->
                <div class="ui-list-item ui-ipt-item">
                    <span>ATA<span class="require">*</span></span>
                    <div moac-auto-focus="ata">
                        <input type="tel" name="ata" placeholder="4~8位"  maxlength="8" moac-ref="ata" required
                               ng-model="info.ata" ng-pattern="/^[\w|-]{4,8}$/">
                    </div>

                </div>

                <!--<div class="ui-list-item ui-ipt-item disabled">-->
                    <!--<span>ATA</span>-->
                    <!--<div ng-bind="faultInfo.ata"></div>-->
                <!--</div>-->
                <div class="ui-list-item ui-ipt-item">
                    <span>M-HRS<span class="require">*</span></span>
                    <div moac-auto-focus="manHours">
                        <input name="manHours" type="text" ng-model="info.manHours" required moac-ref="manHours"
                               style="width:3.5rem;"/>小时
                    </div>
                </div>
            </div>

            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>DM</span>
                    <div ng-bind="faultInfo.dmValue | uppercase"></div>
                </div>
            </div>

            <!--Report By, DLY/CNL查看状态-->
            <div class="ui-list" ng-if="isViewStatus">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Reported By</span>
                    <div ng-bind="info.reported"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
<!--                    <span>DLY/CNL</span>-->
<!--                    <div ng-bind="info.dlyCnl"></div>-->
                </div>
            </div>
            <!--Report By, DLY/CNL编辑状态-->
            <div class="ui-list" ng-if="!isViewStatus">
                <div class="ui-list-item ui-check-item">
                    <span>Reported By</span>
                    <div class="checkbox">
                        <div class="item" ng-click="info.reported='PILOT'" ng-class="{active:info.reported=='PILOT'}">PILOT
                        </div>
                        <div class="item" ng-click="info.reported='GND'" ng-class="{active:info.reported=='GND'}">Ground
                        </div>
                    </div>
                </div>
                <div class="ui-list-item ui-check-item">
<!--                    <span>DLY/CNL</span>-->
<!--                    <div class="checkbox">-->
<!--                        <div class="item" ng-click="info.dlyCnl='y'" ng-class="{active:info.dlyCnl=='y'}">YES</div>-->
<!--                        <div class="item" ng-click="info.dlyCnl='n'" ng-class="{active:info.dlyCnl=='n'}">NO</div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item">
                    <span>Affected ENG</span>
                    <div>
                        <div class="ui-select">
                            <select ng-model="info.position" ng-change="findSn()">
                                <option value="1">ENG1</option>
                                <option value="2">ENG2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>S/N</span>
                    <div ng-bind="info.sn"></div>
                </div>
            </div>

            <!--RII iphone-->

            <div class="ui-list" ng-if="isViewStatus">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>RII</span>
                    <div ng-bind="faultInfo.rii.toUpperCase()"></div>
                </div>
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>RCI</span>
                    <div ng-bind="faultInfo.rci.toUpperCase()"></div>
                </div>
            </div>

            <div class="ui-list" style="margin-bottom:0px" ng-if="!isViewStatus">
                <div class="ui-list-item ui-check-item">
                    <span>RII</span>
                    <div class="checkbox">
                        <div class="item" ng-click="faultInfo.rii='y';faultInfo.rci='n'" ng-class="{active:faultInfo.rii=='y'}">YES
                        </div>
                        <div class="item" ng-click="faultInfo.rii='n'" ng-class="{active:faultInfo.rii=='n'}">NO
                        </div>
                    </div>
                </div>
                <div class="ui-list-item ui-check-item" ng-if="faultInfo.rii == 'n'">
                    <span>RCI</span>
                    <div class="checkbox">
                        <div class="item" ng-click="faultInfo.rci='y'" ng-class="{active:faultInfo.rci=='y'}">YES
                        </div>
                        <div class="item" ng-click="faultInfo.rci='n'" ng-class="{active:faultInfo.rci=='n'}">NO
                        </div>
                    </div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility" ng-if="faultInfo.rii == 'y'"></div>
            </div>

            <div class="ui-list-ex" ng-if="faultInfo.rii=='y' || faultInfo.rci=='y'">
                <div class="ui-list-item"  ng-if="faultInfo.rii=='y'">
                    <span class="name">RII Sign.<span class="require">*</span></span>
                    <div class="ipt">
                        <select-person person-info="info.inspector"></select-person>
                    </div>
                </div>
                <div class="ui-list-item"  ng-if="faultInfo.rci=='y'">
                    <span class="name">RCI Sign.<span class="require">*</span></span>
                    <div class="ipt">
                        <select-person person-info="info.inspector"></select-person>
                    </div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility pad-show"></div>
            </div>

            <div class="ui-list">
                <div class="ui-list-item ui-ipt-item disabled">
                    <span>Control Doc No.</span>
                    <div ng-bind="faultInfo.cdnType"></div>
                </div>
                <!--EO.JC-->
                <div class="ui-list-item ui-ipt-item disabled" ng-if="faultInfo.cdnType !='TO'">
                    <span></span>
                    <div ng-bind="faultInfo.cdnNo"></div>
                </div>
                <!--TO-->
                <div class="ui-list-item ui-ipt-item disabled" ng-if="faultInfo.cdnType =='TO'">
                    <span></span>
                    <div ng-bind="faultInfo.docNo"></div>
                </div>
            </div>
            <div class="ui-list-ex">
                <div class="ui-list-item">
                    <span class="name">Mech Sign.<span class="require">*</span></span>
                    <div class="ipt">
                        <select-person person-info="info.mech" is-auto-loginercode="true"></select-person>
                    </div>
                </div>
                <div class="ui-list-item ui-ipt-item visibility pad-show"></div>
            </div>

            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>FAULT REPORT(CHN)<span class="require">*</span></span>
                    <div class="textarea">
                            <textarea name="faultReportChn" ng-model="info.faultReportChn" required placeholder="FAULT REPORT(CHN)"
                                      cols="30" maxlength="500" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>FAULT REPORT(ENG)<span class="require">*</span></span>
                    <div class="textarea">
                            <textarea name="faultReportEng" maxlength="500" ng-model="info.faultReportEng" placeholder="FAULT REPORT(CHN)"
                                      required cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>

            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>处理措施<span class="require">*</span></span>
                    <div class="textarea">
                        <textarea name="takenActionChn" ng-model="info.takenActionChn" required placeholder="处理措施"
                                  cols="30" rows="10" maxlength="500"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Taken Action<span class="require">*</span></span>
                    <textarea name="takenActionEng" ng-model="info.takenActionEng" placeholder="Taken Action" required
                              cols="30" rows="10" maxlength="500"></textarea>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <span>Remark</span>
                    <textarea name="feedBack" ng-model="info.feedBack" cols="30" rows="10" maxlength="1000"></textarea>
                </div>
            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-check-item">
                    <span>特定反馈要求(参照打印文件要求上传指定页扫描件)</span>
                    <div class="checkbox">
                        <div ng-repeat="DetailList in jcFeedbackDetailList track by $index" class="item" ng-click="cheon_click(DetailList)" ng-class="{active:DetailList.viNo==activeid}" style="width: 100%" ng-bind="DetailList.conditionDesc">
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui-list">
                <div class="ui-list-item ui-textarea-item">
                    <textarea  ng-model="$parent.kbbhValue" cols="30" rows="10" maxlength="1000"></textarea>
                </div>
            </div>

            <div>
                <p style="margin:.5rem 0 -.3rem;" ng-if="faultInfo.requireFeedback"><span class="red">*</span>此类型附件必填</p>
                <img-select img-arr="imgInfo.imgArr" file-arr="imgInfo.fileArr"
                            attachvo="imgInfo.attachvo" del-img-id="imgInfo.delImgId"></img-select>
            </div>

            <div class="ui-edit ng-scope" ng-show="tlbId">
                <div class="add-cc-btn" ng-show="isViewStatus"
                     ng-click="goAddOrDetail({}, tlbId, {tlbNo: info.tlbNo, acReg: faultInfo.acNo, flightId: faultInfo.flightId,
                            itemId: faultInfo.itemId, docNo: faultInfo.cdnNo }, faultInfo.cdnType)"
                >
                    <p><i class="icon-add-cc"></i><span>Add CC</span></p>
                </div>
                <div ng-click="$parent.isViewStatus = !$parent.isViewStatus" >
                    <p><i class="icon-edit"></i><span>{{!$parent.isViewStatus ? '取消编辑' : '编辑'}}</span></p>
                </div>
            </div>

            <!--ccNo信息 -->
            <div class="ccno-info" ng-if="isViewStatus">
                <div class="ccno-btn" ng-class="{'shake': longTouched && cc.middleStatus == 'O'}" ng-repeat="cc in ccList | filter: {tlbId: tlbId}" >
                    <span  ng-touchstart="ccTouchstart()" ng-touchend="ccTouchend()"
                           ng-click="goAddOrDetail(cc, tlbId, {tlbNo: info.tlbNo, acReg: faultInfo.acNo, flightId: faultInfo.flightId,
                            itemId: faultInfo.itemId, docNo: faultInfo.cdnNo }, faultInfo.cdnType)"  >
                    CC No. {{cc.ccNo || 'view' + ($index + 1)}}
                </span>
                    <!--<i class="ui-del cc-del" ng-if="cc.middleStatus == 'O'" ng-show="longTouched" ng-click="delCcno(cc.id)"></i>-->
                </div>
            </div>

            <div class="ui-list" ng-if="!isViewStatus">
                <button ng-click="saveMethod()" class="ui-submit tlb-submit-btn"
                        ng-class="{'ui-disabled':!tlbAdd.$valid || (faultInfo.requireFeedback && imgInfo.fileArr.length==0)}"
                        ng-disabled="!tlbAdd.$valid || (faultInfo.requireFeedback && imgInfo.fileArr.length==0)">保存TLB

                </button>
            </div>
            <!--查看状态时提交包括CC的数据并关闭相应的process-->
            <div class="ui-list" ng-if="isViewStatus">
                <button class="ui-submit tlb-submit-btn"
                        ng-click="submitMethod()">提交数据
                </button>
            </div>
        </form>

        <!--<div ng-include="'tlb/me-edit.html'"></div>111-->
    </div>

</moac-body>