
<div class="navbar navbar-app navbar-absolute-top">
	<div class="clearfix top-title">
		<div class="navbar-brand navbar-brand-center">
			DOC信息
		</div>
		<div class="btn-group btn-group-left">
			<div class="btn" ng-click="go('tlbDetail','slideRight',
						{getOtherInfo: true, formData: formData, finderInfo: finderInfo,
						 riiSingerInfo: riiSingerInfo,
						 MECHSiner: MECHSiner})">
				<i class="icon-maoc icon-back" ></i>
			</div>
		</div>
	</div>

	<header class="datebox">
		<div class="btn-group search-btn-group">
			<div class="datebox-wrap flight-datebox-wrap pull-left">
				<input type="text" style="background-color: #5ab6ff;width:7.8rem"
					   class="form-control select-flight-date search-flight-date" ng-value="ctrlDocType" disabled >
			</div>
			<div class="datebox-wrap pull-left wrap-right" style="margin-left: -.9rem">
				<form action="">
					<input type="search" required class="form-control search-textbox fault-search-input" placeholder="TLB号码/关键字"
						   ng-model="searchTxt" ng-keypress="enter($event,searchTxt)">
				</form>
				<i class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch(searchTxt)"></i>
			</div>
		</div>
	</header>


</div>
<div class="scrollable search-fault">
	<div class="scrollable-content" ui-scroll-bottom="getNextPage()">
		<div class="material-content-wrap">
			<div class="list-group material-content">
				<div class="backup-airport no-data" ng-hide="!balanceInfo || loading2 || balanceInfo.length || netWorkErr">未搜索到相应的信息</div>
				<div class="list-group-item materialitem" style="padding-right: .3rem;"
					 ng-click="goTlbDetail(item)"
					 ng-repeat="item in balanceInfo" on-finish-render-filters>
					<!--EO,JC类型-->
					<div ng-if="item.docType == 'EO' || item.docType == 'JC'">
						<div class="material-content-top materialname">
							<div class="pull-left ">{{item.docNo}}</div>
							<div class="pad-show"> <!--此行在pad上显示-->
								<div class="pull-left">A/C:{{item.model}}</div>
								<div class="pull-left ">ATA:{{item.ata}}</div>
							</div>
							<div class="pull-right"><span class="blue">{{item.status}}</span></div>

						</div>
						<!--此行在手机上显示-->
						<div class="material-content-top mobile-show">
							<div class="pull-left">A/C:{{item.model}}</div>
							<div class="pull-left ">ATA:{{item.ata}}</div>
						</div>

						<div class="material-content-middle materialdescript ">
							<div class="pull-left materialname fault-descript">Description:{{item.subject}}</div>
							<!--<div ng-if="item.docType == 'NRC'" class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>-->
						</div>
					</div>

					<!--NRC/WO-->
					<div ng-if="item.docType == 'WO' || item.docType == 'NRC'">
						<div class="material-content-top materialname">
							<div class="pull-left ">{{item.docNo}}</div>
							<div class="pull-left">{{item.type}}</div>
							<div class="pull-left" ng-if="item.docType == 'NRC'">{{item.repTime | date:'yyyy-MM-dd'}}</div>
							<div class="pad-show"> <!--此行在pad上显示-->
								<div class="pull-left">A/C:{{item.tail}}</div>
								<div class="pull-left" ng-if="item.docType == 'WO'">flightNo:{{item.flightno}}</div>
								<div class="pull-left" ng-if="item.docType == 'NRC'">{{item.itemCat}} &nbsp;&nbsp; {{item.mrNo}} </div>
							</div>
							<div class="pull-right"><span class="blue">{{item.status}}</span></div>

						</div>
						<!--此行在手机上显示-->
						<div class="material-content-top mobile-show">
							<div class="pull-left">A/C:{{item.tail}}</div>
							<div class="pull-left" ng-if="item.docType == 'WO'">flightNo:{{item.flightno}}</div>
							<div class="pull-left" ng-if="item.docType == 'NRC'">{{item.itemCat}} &nbsp;&nbsp; {{item.mrNo}} </div>
						</div>

						<div class="material-content-middle materialdescript ">
							<div class="pull-left materialname">
								<span ng-if="item.docType == 'WO'">
									{{item.planstartdate | date: 'yyyy-MM-dd'}}  至 {{item.planenddate | date: 'yyyy-MM-dd'}}
								</span>

							</div>
							<div class="pull-left materialname fault-descript" ng-if="item.docType == 'WO'">{{item.unit}}</div>

						</div>
					</div>

					<!--TO类型-->
					<div ng-if="item.docType == 'TO'">
						<div class="material-content-top materialname">
							<div class="pull-left ">{{item.docNo}}</div>
							<div class="pad-show" ng-if="item.tail || item.ata"> <!--此行在pad上显示-->
								<div class="pull-left" ng-if="item.tail">A/C:{{item.tail}}</div>
								<div class="pull-left" ng-if="item.ata">ATA:{{item.ata}}</div>
							</div>
							<div class="pull-right"><span class="blue">{{item.status}}</span></div>

						</div>
						<!--此行在手机上显示-->
						<div class="material-content-top mobile-show" ng-if="item.tail || item.ata">
							<div class="pull-left" ng-if="item.tail">A/C:{{item.tail}}</div>
							<div class="pull-left" ng-if="item.ata">ATA:{{item.ata}}</div>
						</div>

						<div class="material-content-middle materialdescript ">
							<div class="pull-left materialname fault-descript">Description:{{item.subject}}</div>
							<!--<div ng-if="item.docType == 'NRC'" class="pull-right materialname">{{item.dateFound | date:'yyyy-MM-dd'}}</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center" ng-if="noMoreData && balanceInfo.length" translate="loadingDone"></div>
	</div>
</div>

