<ui-view name="tlbDetail"></ui-view>
<div ng-show="!tlbDetailView">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="clearfix top-title">
            <div class="navbar-brand navbar-brand-center">TLB
            </div>
            <div class="btn-group btn-back" style="z-index: 1000">
                <div class="btn" ng-click="goBack()">
                    <i class="icon-maoc icon-back" ></i>
                </div>
            </div>
            <div class="btn-group btn-group-right" ng-click="go('tlbDetail')">
                <div class="btn record-btn">
                    <span class="record">新建</span>
                </div>
            </div>
        </div>
        <!--搜索页头-->
        <header class="datebox">
            <div class="btn-group search-btn-group">
                <div class="datebox-wrap flight-datebox-wrap pull-left">
                    <i class="icon-maoc icon-search-flight-date"></i>
                    <input ng-if="!android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.foundDate" >
                    <input ng-if="android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.foundDate" >
                </div>
                <div class="datebox-wrap pull-left wrap-right">
                    <form action="">
                        <input type="search" required class="form-control search-textbox fault-search-input" placeholder="TLB号码/关键字"
                               ng-model="searchTxt" ng-keypress="enter($event,searchTxt)">
                    </form>
                    <i class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch(searchTxt)"></i>
                </div>
            </div>
        </header>
    </div>

    <div class="scrollable search-fault">
        <div class="scrollable-content" ui-scroll-bottom="getNextPage()">
            <div class="material-content-wrap">
                <div class="list-group material-content">
                    <div class="backup-airport no-data" ng-hide="!tlbList || loading2 || tlbList.length || netWorkErr">未搜索到相应的数据</div>
                    <div class="list-group-item materialitem"
                         ng-click="goToDetail(item)"
                         ng-repeat="item in tlbList" ng-if="item.tlbNo" on-finish-render-filters>
                        <div class="material-content-top materialname">
                            <div class="pull-left">Tlb NO: {{item.tlbNo}}</div>
                            <!--此行在pad上显示-->
                            <div class="pad-show">
                                <div class="pull-left">A/C:{{item.acReg}}</div>
                            </div>
                            <div class="pull-right">{{item.dateFound | date:'yyyy-MM-dd'}}</div>
                        </div>
                        <!--此行在手机上显示-->
                        <div class="material-content-top mobile-show">
                            <div class="pull-left">A/C:{{item.acReg}}</div>
                        </div>
                        <div class="material-content-middle materialdescript ">
                            <div class="pull-left materialname fault-descript">Description:{{item.takenActionChn}}</div>
                        </div>

                        <!-- 右侧图标 -->
                        <div class="next-fault-info icon-maoc icon-next-flight"></div>
                    </div>
                </div>
            </div>
            <div class="text-center" ng-if="noMoreData && tlbList.length" translate="loadingDone"></div>
        </div>
    </div>
</div>
