
<div class="flightInfo app-body" >
	<div class="navbar navbar-app navbar-absolute-top" >
		<div class="clearfix top-title">
			<div class="navbar-brand navbar-brand-center" >
				StaTask
				<!-- <span ng-if="isFavorite">收藏</span> ng-click="goTopRootViewController()"-->
			</div>
			<div class="btn-group btn-group-left">
				<div class="btn" ng-click="go('tlbDetail','slideRight',
						{getOtherInfo: true, formData: formData, finderInfo: finderInfo,
						 riiSingerInfo: riiSingerInfo,
						 MECHSiner: MECHSiner})">
					<i class="icon-maoc icon-back" ></i>
				</div>

			</div>

		</div>
		<!-- 列表页头 -->
		<header class="datebox">
			<div class="btn-group search-btn-group">
				<div class="datebox-wrap flight-datebox-wrap pull-left">
					<i class="icon-maoc icon-search-flight-date"></i>
					<input ng-if="!android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.searchDate" >
					<input ng-if="android" type="date" class="form-control select-flight-date search-flight-date" ng-model="$parent.searchDate" >
				</div>
				<div class="datebox-wrap pull-left wrap-right">
					<form>
						<input type="search" required class="form-control search-textbox fault-search-input" placeholder="飞机号/航班号"
							   ng-model="searchTxt" ng-keypress="enter($event,searchTxt)">
					</form>
					<i class="icon-maoc icon-flightSearch" ng-click="clickBtnSearch(searchTxt)"></i>
				</div>
			</div>
		</header>

	</div>

	<div class="scrollable">
		<div class="scrollable-content" ui-scroll-bottom="getNextPage()">
			<!-- 数据为空时显示 -->
			<div class="backup-airport no-data" ng-if="flights && !flights.length && !loading && !netWorkErr">
				<div class="imgDeclare declareRotate" translate="flight.noFlight"></div>
				<img src="dist/images/no-favorite-flight.png" width="256" alt="No Data" />
			</div>
			<!--on-finish-render-filters-->
			<div class="flight-wrap" ng-repeat="flight in flights"  on-finish-render-filters>
				<div class="pubFlightList">
					<div class="first-row fixedHeight">
						<span class="jh">{{flight.flight}}</span>
						<span class="deviceNumber">{{flight.acReg}}</span>
						<div class="pull-right flight-date">{{ flight.jobDate | date:'yyyy-MM-dd'}}</div>
					</div>
					<div class="flight-time clearfix second-row">
						<div class="pull-left unify-line-position">
							<span  >{{(flight.planTakeoffDate || flight.ctime) | date:'HH:mm'}}</span>

						</div>
						<div class="line pull-left maintenance-line"
							 ng-class="{'gray-line':flight.flgCs, 'yellow-line':!flight.flgCs && !flight.flgVr && flight.flgDelay,'red-line': !flight.flgCs && flight.flgVr}"
							 ng-show="flight.type != 2 && flight.jobType!='O/G'">

						</div>
						<div class="pull-right unify-position" ng-class="{'noFlight':flight.type == 2}">
							<span ng-show="flight.type == 1 || flight.type == -1">{{flight.toStation || flight.station}}</span>
							{{(flight.planLandingDate || flight.ctime) | date:'HH:mm'}}

						</div>

					</div>

					<div class="place clearfix">
						<div class="pull-left place-offsetRight">
							<div class=" text-ellipsis  inline-block vertical-bottom  city-width">
								{{ flight.fromStation || flight.station }}
							</div>
							<!--<i class="air-position" ng-if="flight.departurePosition">{{ flight.departurePosition }}</i>-->
						</div>


						<div class="pull-right place-offsetLeft">
							<div class=" text-ellipsis inline-block vertical-bottom city-width">
								{{ flight.toStation || flight.station}}
							</div>
							<!--<i class="air-position" ng-if="flight.arrivalPosition">{{ flight.arrivalPosition }}</i>-->
						</div>
					</div>
					<div class="dash-border" ng-hide="flight.type == 2"></div>
					<div class="task-button"  ng-hide="flight.type == 2">
						<button type="button" ng-if="flight.checkType"
								ng-click="getFlightNo(flight,flight.checkType)" class="pull-left unfinishColor">
							{{flight.checkType}}
						</button>
						<button type="button" ng-if="flight.pofCheckType"
								ng-click="getFlightNo(flight, 'pof')" class="pull-right unfinishColor">
							{{flight.pofCheckType}}
						</button>
					</div>
				</div>
			</div>

			<div class="text-center" ng-if="noMoreData && flights.length" translate="loadingDone"></div>
		</div>
	</div>

</div>

