<!--tlb新建、展示、编辑页-->
<ui-view name="record" ></ui-view>
<div ng-show="!recordView" style="height: 100%">
<div ng-show="!oilEwisInfo.showEwis && !oilEwisInfo.showOil" class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" >
        TLB
    </div>
    <!--<div class="navbar-brand navbar-brand-center" ng-if="!isNewFault">-->
    <!--编辑故障-->
    <!--</div>-->
    <div class="btn-group btn-group-left">
        <!--<div class="btn" ng-click="go('back','slideRight')">-->
        <!--<div class="btn" ng-click="go('searchTlb','slideLeft',{from:'tlbDetail'})">-->
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>

    <!--<div class="btn-group btn-group-right" ng-if="!isCreatTLB && !dataBody.actionDTO.defectId">-->
        <!--<div  class="btn" ng-click="edit()" style="font-size: 16px;padding-right: 15px;text-transform: none;" >编辑</div>-->
    <!--</div>-->
</div>
<div ng-show="!oilEwisInfo.showEwis && !oilEwisInfo.showOil" class="scrollable-content fault p-newFault">
    <form name="myForm" actionDTO="" novalidate>
        <div class="approver-content-wrap">
            <!--Found Date-->
            <div class="select-require-date-wrap pad-style" ng-class="{'no-edit': !isCreatTLB}">
                <div class="require-date-title">Found Date</div>
                <input type="datetime-local"
                       style="float: left"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateFound"
                       ng-model="foundDate"
                       ng-max="today"
                       ng-blur="checkDate()" required ng-disabled="!isCreatTLB"/>
                <div class="triangle-down"></div>
            </div>

            <!--TLB NO-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">TLB NO<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor tlb-width" style="margin-left: 5px;text-align: left" name="tlb-number"  required maxlength="8"
                       ng-model="dataBody.tlbDTO.tlbNo" ng-disabled="!isCreatTLB" ng-pattern="/^[\w|-]{4,8}$/" >
                <i class="tlb-scan tlb-img" ng-if ='isCreatTLB' ng-click="scan()"></i>
            </div>
            <!--FLT No.-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">FLT No<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="flight-number"  required maxlength="8"
                       ng-model="dataBody.tlbDTO.flightNo" ng-disabled="!isCreatTLB" ng-blur="isGo">
                <i class="icon-maoc icon-flightSearch pull-right" ng-if="isCreatTLB" ng-show="xianshi"
                   ng-click=" goAirInfoList({formData: dataBody, finderInfo: finderInfo, riiSingerInfo: riiSingerInfo, MECHSiner: MECHSiner,zoneInfo:zoneInfo,oilEwisInfo:oilEwisInfo});"></i>
            </div>
            <!--A/C-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">A/C<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="ac-reg"  required maxlength="8"
                       ng-model="dataBody.tlbDTO.acReg" ng-disabled="!isCreatTLB">

            </div>

            <!--STA No.-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">STA No<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="station" required maxlength="4"
                       ng-model="dataBody.tlbDTO.staAction" ng-disabled="!isCreatTLB" >
            </div>
            <!--飞机号-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">机型<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="ac-reg"  required maxlength="8"
                       ng-model="dataBody.tlbDTO.minorModel" ng-disabled="!isCreatTLB">

            </div>
            <!--ATA-->
<!--            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">-->
<!--                <select-ata ata-info="dataBody.tlbDTO.ata" is-disable = "!isCreatTLB"></select-ata>-->

<!--&lt;!&ndash;                <div class="approver-title">ATA</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="tel" class="form-control search-textbox framecolor" name="ata" placeholder="4~8位"  maxlength="8"&ndash;&gt;-->
<!--&lt;!&ndash;                       ng-model="dataBody.tlbDTO.ata" ng-disabled="!isCreatTLB" ng-pattern="/^[\w|-]{4,8}$/" ng-blur="checkError(!myForm['ata'].$error.required && myForm['ata'].$invalid, 'ata')">&ndash;&gt;-->
<!--            </div>-->
            <div class="datebox-wrap" style="width: 100%;" ng-class="{'no-edit': !isCreatTLB}">
                <select-ata-title is-disable = "!isCreatTLB" ata-info="dataBody.tlbDTO.ata" model="acModel"></select-ata-title>
            </div>

<!--            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">-->
<!--                <div class="approver-title">航班类型</div>-->
<!--                <input type="text" class="form-control search-textbox framecolor" name="ac-reg"  required maxlength="8"-->
<!--                       ng-model="z_type" ng-disabled="true">-->

<!--            </div>-->
            <select-zone zone-info="zoneInfo" ng-if="isCreatTLB"> </select-zone>
            <div class="datebox-wrap pad-style" ng-if="!isCreatTLB" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">Zone<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="finderinfo"
                       ng-model="zoneInfo.zone_no" ng-disabled="!isCreatTLB">
            </div>

            <!--Finder Sign-->
            <select-person person-info="finderInfo" show-title="false" ng-if="isCreatTLB" person-title="Finder Sign" is-auto-loginercode="true"></select-person>
            <!--Finder Sign-->
            <div class="datebox-wrap pad-style" ng-if="!isCreatTLB" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">Finder Sign<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="finderinfo"
                       ng-model="finderInfo.nameAndId" ng-disabled="!isCreatTLB" ng-pattern="/^[\w|-]{4,8}$/" ng-blur="checkError(!myForm['ata'].$error.required && myForm['ata'].$invalid, 'ata')">
            </div>

            <!--Control Document No.-->
<!--            <div class="pad-style position-relative" ng-class="{'no-edit': !isCreatTLB}">-->
<!--                <div class="approver-title">Document No</div>-->
<!--                <div class="datebox-wrap pull-left">-->

<!--                    <select class="tlb-select-width" ng-model="dataBody.tlbDTO.ctrlDocType"-->
<!--                            ng-disabled="!isCreatTLB" >-->
<!--                        <option value=""></option>-->
<!--                        <option value="EO">EO</option>-->
<!--                        <option value="JC">JC</option>-->
<!--                        <option value="WO">WO</option>-->
<!--                        <option value="NRC">NRC</option>-->
<!--                        <option value="TO">TO</option>-->
<!--                    </select>-->
<!--                    <div class="triangle-down"></div>-->
<!--                </div>-->

<!--                <input type="text" class="form-control search-textbox framecolor pull-left"-->
<!--                       ng-model="dataBody.tlbDTO.ctrlDocNo" ng-disabled="!isCreatTLB" style="width: 8rem">-->
<!--                <i class="icon-maoc icon-flightSearch pull-right" ng-if="isCreatTLB && dataBody.tlbDTO.ctrlDocType"-->
<!--                   ng-click="go('docNoList','slideLeft',{formData: dataBody, finderInfo: finderInfo, riiSingerInfo: riiSingerInfo, MECHSiner: MECHSiner,zoneInfo:zoneInfo,oilEwisInfo:oilEwisInfo})"></i>-->
<!--            </div>-->


        </div>

        <div class="tlb-oil-wrapper">
            <oil-ewis  edit="isCreatTLB"
                       ac-reg="dataBody.tlbDTO.acReg"
                       is-has-ewis="oilEwisInfo.isHasEwis" ewis-show="oilEwisInfo.showEwis"
                       ewis-state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO"
                       ewis-index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo"
                       is-has-oil="oilEwisInfo.isHasOil" oil-show="oilEwisInfo.showOil"
                       oil-state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO"
                       oil-index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo"
            ></oil-ewis>
        </div>

        <!--Type-->
<!--        <div class="tail-eng-wrap pull-left fault-check-button">-->
<!--            &lt;!&ndash;ng-init="active1 = dataBody.tlbDTO.faultType ==='O' ? 0 : 1;"&ndash;&gt;-->
<!--            <div class="tail-eng-title">Type</div>-->
<!--            <div class="tail-eng-button averageArange" ng-model="dataBody.tlbDTO.faultType"  required>-->
<!--                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.faultType==='O'}" ng-click="reviewType($event);"-->
<!--                        ng-disabled="!isCreatTLB">O-->
<!--                </button>-->
<!--                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.faultType ==='S'}" ng-click="reviewType($event);"-->
<!--                        ng-disabled="!isCreatTLB">S-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

        <!--Report By-->
        <div class="tail-eng-wrap pull-left fault-check-button" ng-init="active= dataBody.tlbDTO.defectOrigin === 'GND' ? 0 : 1;">
            <div class="tail-eng-title">Report By</div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.defectOrigin=='PILOT'}" ng-click="reportType($event);active=0"
                        ng-disabled="!isCreatTLB">PILOT
                </button>
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.defectOrigin=='GND'}" ng-click="reportType($event);active=1"
                        ng-disabled="!isCreatTLB">Ground
                </button>
            </div>
        </div>

        <!--DM-->
        <div class="clearfix">

            <div class="tail-eng-wrap pull-left fault-check-button block" >
                <div class="tail-eng-title">DM<i class="red" ng-if="dataBody.tlbDTO.dmStatus == 0">*</i></div>
                <div class="tail-eng-button averageArange" required>
                    <button type="button" ng-class="{beClicked: dataBody.tlbDTO.dm=='y'}" ng-click="dataBody.tlbDTO.dm = dataBody.tlbDTO.dm === 'y' ?  '' : 'y'"
                            ng-disabled="!isCreatTLB || dmDisable">YES
                    </button>
                    <button type="button" ng-class="{beClicked: dataBody.tlbDTO.dm=='n'}" ng-click="dataBody.tlbDTO.dm = dataBody.tlbDTO.dm === 'n' ?  '' : 'n'"
                            ng-disabled="!isCreatTLB || dmDisable">NO
                    </button>
                </div>
            </div>

        </div>

        <!--Affected ENG-->
        <div class="approver-content-wrap">
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">Affected ENG</div>
                <select class="form-control review-type-select" ng-model="dataBody.tlbDTO.engineType"
                        ng-disabled="!isCreatTLB" ng-change="getSn()">
                    <option value=""></option>
                    <option value="1">ENG1</option>
                    <option value="2">ENG2</option>
                    <option value="4">ENG3</option>
                    <option value="5">ENG4</option>
                    <option value="3">APU</option>
                </select>
                <div class="triangle-down"></div>
            </div>
            <div class="select-require-date-wrap no-edit">
                <div class="require-date-title">SN</div>
                <input type="text" class="form-control framecolor padding-fixed" disabled
                       ng-model="dataBody.tlbDTO.engineSN"/>

            </div>
        </div>

        <!--故障报告(Chinese)-->
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">故障报告(Chinese)<span class="red">*</span></div>
            </div>
            <div class="add-remark-content" >
                <textarea ng-model="dataBody.tlbDTO.faultReportChn" ng-disabled="!isCreatTLB" maxlength="1500"  ng-change="faultReportChnChange()" required></textarea>
            </div>
        </div>
        <!--故障报告(English)-->
        <div class="add-remark-wrap">
            <div class="add-remark-title">Fault Report(English)<span class="red">*</span></div>
            <div class="add-remark-content">
                <textarea ng-model="dataBody.tlbDTO.faultReportEng" required ng-disabled="!isCreatTLB" maxlength="3000"  ng-change="faultReportEngChange()" ></textarea>
            </div>
        </div>

        <!---------------------------------------------------------------------->
        <div class="approver-content-wrap">

            <!--	STA-->
            <!--<div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">-->
                <!--<div class="approver-title">STA</div>-->
                <!--<input type="text" class="form-control search-textbox framecolor" name="station"  maxlength="8"-->
                       <!--ng-model="dataBody.actionDTO.staAction" ng-disabled="!isCreatTLB" >-->
            <!--</div>-->

            <!--增加航站-->
            <select-station-three station-info="staInfo"></select-station-three>

            <!--	M-HRS-->
            <div class="datebox-wrap" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">M-HRS</div>
                <input type="number" class="form-control search-textbox framecolor" name="m-hrs"    maxlength="8"
                       ng-model="dataBody.tlbDTO.manHours" ng-disabled="!isCreatTLB">
            </div>

            <!--	MECH.Sign*-->
            <select-person person-info="MECHSiner" ng-if="isCreatTLB" show-title="false" person-title="MECH.Sign"></select-person>
            <div class="datebox-wrap pad-style" ng-if="!isCreatTLB" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title">MECH.Sign<span class="red">*</span></div>
                <input type="text" class="form-control search-textbox framecolor" name="MECHSign"
                       ng-model="MECHSiner.nameAndId" ng-disabled="!isCreatTLB" ng-pattern="/^[\w|-]{4,8}$/" ng-blur="checkError(!myForm['ata'].$error.required && myForm['ata'].$invalid, 'ata')">
            </div>

            <!--RII Sign-->
            <select-person ng-class="{ 'no-trpo': hasAps }"  person-info="riiSingerInfo" ng-if="isCreatTLB && dataBody.tlbDTO.rii == 'y'" show-title="false" person-title="RII Sign"></select-person>
            <select-person  ng-class="{ 'no-trpo': hasAps }"  person-info="riiSingerInfo" ng-if="isCreatTLB && dataBody.tlbDTO.rci == 'y'" show-title="false" person-title="RCI Sign"></select-person>
            <div class="datebox-wrap pad-style" ng-if="!isCreatTLB && (dataBody.tlbDTO.rii == 'y' || dataBody.tlbDTO.rci == 'y')" ng-class="{'no-edit': !isCreatTLB}">
                <div class="approver-title" ng-if="dataBody.tlbDTO.rii == 'y'">RII Sign
                    <span class="red">*</span>
                </div>
                <div class="approver-title" ng-if="dataBody.tlbDTO.rci == 'y'">RCI Sign
                    <span class="red">*</span>
                </div>
                <input type="text" class="form-control search-textbox framecolor" name="finderinfo"
                       ng-model="riiSingerInfo.nameAndId" ng-disabled="!isCreatTLB" ng-pattern="/^[\w|-]{4,8}$/" ng-blur="checkError(!myForm['ata'].$error.required && myForm['ata'].$invalid, 'ata')">
            </div>

        </div>

        <!--RII-->
        <div class="tail-eng-wrap pull-left fault-check-button">
            <div class="tail-eng-title">RII</div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.rii == 'y'}" ng-click="setRii($event);"
                        ng-disabled="!isCreatTLB || hasAps">YES
                </button>
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.rii == 'n'}" ng-click="setRii($event);"
                        ng-disabled="!isCreatTLB || hasAps">NO
                </button>
            </div>
        </div>

        <!--RCI-->
        <div class="tail-eng-wrap pull-left fault-check-button">
            <div class="tail-eng-title">RCI</div>
            <div class="tail-eng-button averageArange">
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.rci == 'y'}" ng-click="setRci($event);"
                        ng-disabled="!isCreatTLB || hasAps">YES
                </button>
                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.rci == 'n'}" ng-click="setRci($event);"
                        ng-disabled="!isCreatTLB || hasAps">NO
                </button>
            </div>
        </div>

        <!--DLY/CHL-->
<!--        <div class="tail-eng-wrap pull-left fault-check-button">-->
<!--            <div class="tail-eng-title">DLY/CNL</div>-->
<!--            <div class="tail-eng-button averageArange">-->
<!--                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.dlyCnl == 'y'}" ng-click="setDly($event);"-->
<!--                        ng-disabled="!isCreatTLB">YES-->
<!--                </button>-->
<!--                <button type="button" ng-class="{beClicked: dataBody.tlbDTO.dlyCnl == 'n'}" ng-click="setDly($event);"-->
<!--                        ng-disabled="!isCreatTLB">NO-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

        <!--Action Date-->
        <div class="approver-content-wrap">
            <div class="select-require-date-wrap pad-style" ng-class="{'no-edit': !isCreatTLB}">
                <div class="require-date-title">Action Date</div>
                <input type="datetime-local"
                       style="float: left"
                       class="form-control select-require-date framecolor padding-fixed"
                       name="dateAction"
                       ng-model="actionDate"
                       ng-max="today"
                       ng-blur="checkDate()" ng-disabled="!isCreatTLB"/>
                <div class="triangle-down"></div>
            </div>
        </div>

        <!--处理措施 (Chinese)-->
        <div class="add-remark-wrap">
            <div class="p-name">
                <div class="name">处理措施(Chinese)</div>
            </div>
            <div class="add-remark-content">
                <textarea ng-model="dataBody.actionDTO.takenActionChn" ng-disabled="!isCreatTLB" maxlength="200"  ng-change="takenActionChn()"></textarea>
            </div>
        </div>
        <!--TAKEN ACTION(English)-->
        <div class="add-remark-wrap">
            <div class="add-remark-title">TAKEN ACTION(English)</div>
            <div class="add-remark-content">
                <textarea ng-model="dataBody.actionDTO.takenActionEng"  ng-disabled="!isCreatTLB" maxlength="400"  ng-change="takenActionEng()"></textarea>
            </div>
        </div>
        <div class="p-image" ng-show="(dataBody.tlbDTO.rci == 'y' || dataBody.tlbDTO.rii == 'y') && isCreatTLB">
            <p>
                附件
            </p>
            <newimg-upload is-api-cloud="false"  nrc-id="actionId" is-edit="isCreatTLB" up-way="taskupWay" file-list = "fileList" img-array="imgArr" file-arr="fileArr" del-img-id="delImgId"  attachvo="attachvo"></newimg-upload>

        </div>

        <div class="p-image" ng-show="!isCreatTLB">
            <p>
                反馈图片
            </p>
        </div>
        <div class="p-closeFaultDtl">
            <div class="p-dtl">
                <div class="p-main clearfix" style="overflow: visible" ng-show="!isCreatTLB">
                    <div style="float: left;position: relative" class="btn" ng-click="goImg('feedback')">
                        <i ng-if="dataBody.actionDTO.attachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                        查看APS图片记录
                    </div>
                </div>
            </div>
        </div>


        <div class="damage-draft-detail" ng-show="dataBody.tlbDTO.rci == 'y' || dataBody.tlbDTO.rii == 'y'" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">无照片备注</div>
            </div>
        </div>
        <div class="add-remark-wrap" ng-show="dataBody.tlbDTO.rci == 'y' || dataBody.tlbDTO.rii == 'y'">
            <div class="add-remark-content">
                <textarea ng-model="mechanicNoPhotoRemark" ng-disabled="!isCreatTLB" maxlength="500"></textarea>
            </div>
        </div>



        <div class="p-image" ng-show="!isCreatTLB && dataBody.tlbDTO.checked">
            <p>
                互/必检结果
            </p>
        </div>
        <div class="p-closeFaultDtl">
            <div class="p-dtl">
                <div class="p-main clearfix" style="overflow: visible" ng-show="!isCreatTLB && dataBody.tlbDTO.checked">
                    <div style="float: left;position: relative" class="btn" ng-click="goImg('aps')">
                        <i ng-if="dataBody.tlbDTO.apsAttachmentList.length > 0" style="position: absolute;display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #ff3b30;top: -3px;right: 1px"></i>
                        查看图片记录
                    </div>
                </div>
            </div>
        </div>

        <div class="damage-draft-detail" ng-show="(dataBody.tlbDTO.rci == 'y' || dataBody.tlbDTO.rii == 'y') && !isCreatTLB && dataBody.tlbDTO.checked" style="margin-bottom: 5px;margin-top: 5px">
            <div class="section-1">
                <div class="header" style="color: #000">无照片备注</div>
            </div>
        </div>
        <div class="add-remark-wrap" ng-show="(dataBody.tlbDTO.rci == 'y' || dataBody.tlbDTO.rii == 'y') && !isCreatTLB && dataBody.tlbDTO.checked">
            <div class="add-remark-content">
                <textarea ng-model="dataBody.actionDTO.inspectorNoPhotoRemark" ng-disabled="!isCreatTLB" maxlength="500"></textarea>
            </div>
        </div>

    </form>

    <div class="ui-edit ng-scope" ><!--    ng-if="!dataBody.actionDTO.defectId"-->
<!--        <div class="add-cc-btn" ng-if="!isCreatTLB"-->
<!--             ng-click="$root.go('cc', 'slideLeft', {defectInfo: dataBody.tlbDTO, tlbId: tlbId, docType: 'TLB', docNo: dataBody.tlbDTO.tlbNo})">-->
<!--            <p><i class="icon-add-cc"></i><span>Add CC</span></p>-->
<!--        </div>-->
        <div class="add-cc-btn" ng-if="!isCreatTLB"
             ng-click="$root.go('newcc', 'slideLeft', {defectInfo: dataBody.tlbDTO, tlbId: tlbId, docType: 'TLB', docNo: dataBody.tlbDTO.tlbNo})">
            <p><i class="icon-add-cc"></i><span>Add CC</span></p>
        </div>
        <div ng-click="edit()" class="edit-tlb-btn" ng-show="tlbId && !dataBody.tlbDTO.defectId">
            <p>
                <i class="icon-edit"></i><span>{{isCreatTLB ? '取消编辑' : '编辑'}}</span>
            </p>
        </div>
    </div>
    <!--ccNo信息 -->
    <div class="ccno-info" ng-if="!isCreatTLB">
        <div class="ccno-btn" ng-class="{'shake': longTouched && cc.middleStatus == 'O'}" ng-repeat="cc in ccList | filter: {tlbId: tlbId}" >
                <span  ng-touchstart="ccTouchstart()" ng-touchend="ccTouchend()"
                       style="font-size: .53rem;border-radius: 1rem"
                       ng-click="goAddOrDetail(cc, tlbId, dataBody.tlbDTO, 'TLB')"  >
                    CC No.{{cc.ccNo || 'view' + ($index + 1)}}
                    <i ng-if="cc.middleStatus != 'C'">待提交</i>
                    <i ng-if="cc.middleStatus == 'C' && cc.status =='n'">待确认</i>
                    <i ng-if="cc.middleStatus != 'C' && cc.status =='y'">已确认</i>
                </span>

            <!--<i class="ui-del cc-del" ng-if="cc.middleStatus == 'O'" ng-show="longTouched" ng-click="delCcno(cc.id)"></i>-->
        </div>
    </div>

    <button class="submitAddMR"
            ng-class="{'orange-button': myForm.$valid && ((oilEwisInfo.isHasEwis == 'y' && oilEwisInfo.ewisDTO.length > 0) || oilEwisInfo.isHasEwis == 'n' ) && ((oilEwisInfo.isHasOil == 'y' && oilEwisInfo.oilDTO.length > 0) || oilEwisInfo.isHasOil == 'n' ) && (dataBody.tlbDTO.dmStatus == 1 || (dataBody.tlbDTO.dmStatus == 0 && dataBody.tlbDTO.dm) || !dataBody.tlbDTO.dmStatus)}"
            ng-click="summitTlbData()"
            ng-if ='isCreatTLB'
            ng-disabled="!myForm.$valid || (dataBody.tlbDTO.dmStatus == 0 && !dataBody.tlbDTO.dm)||oilEwisInfo.isHasEwis ==''||oilEwisInfo.isHasOil=='' || (oilEwisInfo.isHasEwis=='y' && oilEwisInfo.ewisDTO.length==0)||(oilEwisInfo.isHasOil == 'y'&& oilEwisInfo.oilDTO.length==0)">
        Submit
    </button>
</div>
<ewis ac-reg="dataBody.tlbDTO.acReg" ng-show="oilEwisInfo.showEwis" ewis-show="oilEwisInfo.showEwis" state="oilEwisInfo.ewisState" ewis-dto="oilEwisInfo.ewisDTO" index="oilEwisInfo.selectedEwisIndex" ewis-info="oilEwisInfo.ewisInfo" is-edit="isCreatTLB"></ewis>
<oil ng-show="oilEwisInfo.showOil" oil-show="oilEwisInfo.showOil" state="oilEwisInfo.oilState" oil-dto="oilEwisInfo.oilDTO" index="oilEwisInfo.selectedOilIndex" oil-info="oilEwisInfo.oilInfo" is-edit="isCreatTLB"></oil>
</div>