<ui-view name="pdf-detail"></ui-view>
<div class="navbar navbar-app navbar-absolute-top file-mess-header">
    <div class="navbar-brand navbar-brand-center over-flow-hidden" >
        {{title}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="go('messageList','',{navIndex: navIndex})">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="scrollable-content file-mess-cont">
    <div class="pdf-content-wrapper">
        <div class="file-mess-header">
            <div class="title">
                {{messBody.title}}
            </div>
            <p class="sub-title">【{{messBody.fileCode}}】 &nbsp; &nbsp;【{{messBody.fileOwn}}】</p>
        </div>
        <div class="file-mess-summary">
            <div class="summary">
                <p>{{messBody.summary}}</p>
                <!--<button class="more">更多</button>-->
            </div>
            <p class="date">
                生效日期 &nbsp;{{messBody.effectDate | date:'MM-dd'}}
            </p>
        </div>
        <div class="file-mess-pdflist">
            <ul>
                <li ng-repeat="pdf in messBody.files">
                    <div class="first-line" ng-click="gotoPdf(pdf)">
                        <img src="dist/images/file-mess/pdf-file-img.png" alt="">
                        <p>{{pdf.attachmentTitle}}</p>
                    </div>
                    <div class="sec-line">
                        <span>阅读进度</span>
                        <div class="progress-bottom">
                            <div class="progress-up" ng-if="pdf.finishRate" ng-style="{width:pdf.finishRate}"></div>
                            <div class="progress-up" ng-if="!pdf.finishRate" ng-style="{width: 0}"></div>
                        </div>
                        <span ng-if="pdf.finishRate">{{pdf.finishRate}}</span>
                        <span ng-if="!pdf.finishRate">0%</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>