<ui-view name="fileMessPdf"></ui-view>
<div class="navbar navbar-app navbar-absolute-top file-mess-header">
    <div class="navbar-brand navbar-brand-center over-flow-hidden" >
        {{title}}
    </div>
    <div class="btn-group btn-group-left">
        <div class="btn" ng-click="goBack()">
            <i class="icon-maoc icon-back"></i>
        </div>
    </div>
</div>
<div class="mess-pdf">
    <button class="left-button" ng-if="pdfLoaded && currentPage > 1 " ng-click="pdfGoPrevious()"></button>
    <button class="right-button" ng-if="pdfLoaded && currentPage < pageTotal" ng-click="pdfGoNext()"></button>

    <div class="wrapper">
        <ng-pdf template-url="viewer.html" scale="1"></ng-pdf>
    </div>
</div>