<ui-view ng-class="pageAnimationClass"></ui-view>
<!--<div>-->
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <div class="ui-nav">
                <div class="main">
                    <div ng-class="{active:navIdx==1}" class="position-relative" ng-click="changeMainNav(1)">
                        通知
                    <i ng-if="systemUnreadCount > 0" class="mess-badge"></i>
                    </div>
                    <div ng-class="{active:navIdx==2}" class="position-relative" ng-click="changeMainNav(2)">
                        重要文件
                    <i ng-if="fileUnreadCount > 0" class="mess-badge"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable list-scrollable">
        <div class="scrollable-content mess-con" ng-show="navIdx == 1"
             im-pull-to-refresh
             refresh-function="getSystemMessList()">
            <!--下拉刷新时显示 -->
            <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
                <i class="fa fa-refresh fa-spin fa-fw"></i> <translate>loading</translate>...
            </div>
            <ul class="mess-list">
                <li ng-click='gotoDetail(item)'
                    swipe-cancel-focus
                    ng-repeat="item in sysMessList" class="li-list">
                    <img src="../image/message/PH.png" alt="">
                    <i class="badge" ng-if="item.unreadNumber > 0">{{item.unreadNumber}}</i>
                    <div class="mess-con-r">
                        <div class="mess-delete" ng-show="true"
                             ng-click="cancelFavorite(item.flightId,item,$event)"> 取消关注
                        </div>

                        <div class="baseData">
                            <p class="ac"><span>{{item.flightNo}}</span>&nbsp;&nbsp;<span class="note">{{item.acReg}}</span>&nbsp;&nbsp;<span class="note">{{item.departureAirport}}-{{item.arrivalAirport}}</span></p>
                            <span class="mess">{{item.content}}</span>
                        </div>
                        <div class="time">
                            <p class="date">{{item.flightDate | date:'MM-dd'}}</p>
                            <p class="state"
                               ng-class="{0:'statusStandBy',
                                          1:'statusTakeOff',
                                          2:'statusLandOff',
                                          3:'statusDelay',
                                          4:'statusAlternate',
                                          5:'statusCourse',
                                          6:'statusCancel',
                                          7:'statusError'}[item.stateCode]"
                            >{{getFlightState(item)}}</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="scrollable-content mess-con" ng-show="navIdx == 2"
             ui-scroll-bottom="getNextFileMessagePage()"
             im-pull-to-refresh refresh-function="getFileMessagePage()">
            <!--下拉刷新时显示 -->
            <div ng-show="pullToRefreshActive" ng-class="{'refresh-hide': !pullToRefreshActive}" class="refresh text-center">
                <i class="fa fa-refresh fa-spin fa-fw"></i> <translate>loading</translate>...
            </div>
            <div class="list-content">
                <ul class="mess-list">
                    <li ng-click="gotoFileMessDetail(item)" ng-repeat="item in fileMessList" class="li-list">
                        <!--<img src="../image/message/PH.png" alt="">-->
                        <img src="dist/images/file-mess/file-mess-icon.png" alt="">
                        <i class="badge" ng-if="item.unReadCount > 0">{{item.unReadCount}}</i>
                        <div class="mess-con-r">
                            <div class="baseData ">
                                <p class="title over-flow-hidden">{{item.title}}</p>
                                <p class="mess over-flow-hidden">{{item.summary}}</p>
                            </div>
                            <div class="time">
                                <p class="date">{{item.pushDate | date:'MM-dd'}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

<!--</div>-->